[2017-08-02 03:56] eneim commented on #235
@toidv I also push a new demo along with release 3.0.0, please take a look :D.

[2017-08-02 10:44] AniketBito opened #242 "Video becomes black once I return back to video after scrolling."
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2017-08-02 14:14] toidv commented on #239
Thank you, @eneim  it looks great! but it pauses right after play ~1 second. I'm investing now

[2017-08-02 14:29] toidv commented on #235
@eneim : Thank for your great support. Currently, I discover one more problem, for example. we have 5 Tablayouts: `|NEW|HOT|FITNESS|HAIR MARKE|MAKE UP|`  currently `NEW` is selected then user click to `MAKE UP` so `setUserVisibleHint` doesn't work correctly `isVisibleToUser` is false. To make it works, we have to add to parent fragment logic as below
[code]

[2017-08-03 00:43] eneim commented on #235
@toidv I think everytime you switch page, the "setUserVisibleHint" is called, but it is not following life cycle. I wonder if your problem is "setUserVisibleHint" is not called? or it is called at the wrong timing?

[2017-08-03 00:45] eneim commented on #242
@AniketBito In that case, please provide more information. Also if possible please help to give me a snapshot of code that doesn't work for you if possible (using dummy video/big buck bunny for your content as well).

[2017-08-03 02:40] eneim commented on #239
@toidv Please get logcat information if possible. FYI It works well on my Nexus 5X, maybe something related to Device, platform, etc ...

[2017-08-03 04:12] AniketBito commented on #242
@eneim please check this class. This is the code which I have used
[Java Class.docx](https://github.com/eneim/toro/files/1195957/Java.Class.docx)

[2017-08-03 04:12] AniketBito commented on #242
Ideally the video should stop the the focus is gone and should resume when I come back but this doesn't happen

[2017-08-03 04:49] eneim commented on #242
@AniketBito Thanks. What do you mean by "the focus is gone" (the actual Android system event or UI event?). Also your comment doesn't match your issue title. Can you clarify about the following thing:

- What is your expected behaviour using your class above?
- What is actually happening?

Also please avoid setting toroStrategy from ViewHolder.

[2017-08-03 04:54] AniketBito commented on #242
Focus is gone mean when I scroll the video up and the video moves out of the screen.
Expected behaviour :  When the scroll up and if the video moves out of the screen then the video should stop or pause and once I scroll down to come back to the same video then it should start from the very same point.

What is happening : When I come back the next time video is showing me black screen and until a

[2017-08-03 05:06] eneim commented on #242
@AniketBito Ok, it is more clear for me. About the focus thing, the reason I ask is a ViewGroup will have a focused child event though the un-focused children is still visible, so I want to make sure we are on the same page. Let me investigate your case.

Also I understand that migration is hard, but if you need my help I can provide a few advice to move from ver 2 to ver 3 :D.

[2017-08-03 05:15] AniketBito commented on #242
Please try to help me with this case first.

Then if there seems no solution then we will think of moving to ver 3

[2017-08-03 05:19] eneim commented on #242
@AniketBito Of course.

One question: ```return (ExoVideoView) itemView.findViewById(R.id.btnRecord);``` <-- Is ```R.id.btnRecord``` is the Id for the VideoView? (Just be curious).

[2017-08-03 05:22] AniketBito commented on #242
Yes. It's the ID of exovideo view(im.ene.toro.exoplayer2.ExoVideoView)

[2017-08-03 05:27] eneim commented on #242
@AniketBito Also I see that you are manually starting the playback in onPlaybackComplete. Do you want to loop the player?

[2017-08-03 05:29] AniketBito commented on #242
Yes.

[2017-08-03 05:32] eneim commented on #242
@AniketBito I think a will have a few question, if you feel not convenience here in issue, we can move to ```https://gitter.im/eneim/Toro``` (the chat channel for this repo) for better responsive :D.

My next question is which specific version of Toro are you using now? If it is not 2.3.0 (latest v2 release), don't you mind migrate to 2.3.0?

[2017-08-03 05:34] AniketBito commented on #242
Yeah sure why not.

Let's move there

[2017-08-13 02:06] lumyus opened #244 "Video looping"
Apparently there is no more looping for videos supported in the newest version 3.0.0.
Are there any plans in bringing it back?

Cheers

[2017-08-13 06:28] eneim commented on #244
@lumyus If you are using toro 3 and ExoPlayer then using LoopingMediaSource is the way to go. There is an example for it: [here](https://github.com/eneim/toro/blob/dev-v3/app/src/main/java/im/ene/toro/sample/custom/CustomExoPlayerViewHolder.java#L38)

[2017-08-13 11:48] eneim commented on #239
@toidv Any luck with latest sample? Can I close this issue for now?

[2017-08-15 03:44] #244 closed

[2017-08-15 03:44] #239 closed

[2017-08-15 03:45] #235 closed

[2017-08-17 04:16] nagendraK6 opened #245 "Black screen while scrolling the screen."
What kind of issue is this?
I see black screen couple of seconds when i scroll the screen.

Blank screen while scrolling the
- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.
Cloned the source, build and deployed on  Nexus 6. Even i can see this problem with emulator code.

- [ ] Bug report. If so, please supply the way to repro

[2017-08-18 00:30] eneim commented on #245
@nagendraK6 It is due to loading behaviour, you can implement a workaround by putting an imageview on top of your VideoView ...

[2017-08-18 04:15] nagendraK6 commented on #245
Right..that is what i am thinking..but how do we find on state change..like whether player is playing or on pause...and then state change from on buffering to on playing. Any code pointer ?

[2017-08-26 09:52] sharmadev419 opened #246 "java.lang.IllegalStateException: Player is playing while it is not in managed state: ViewHolder{3cb12e84 position=9 id=-1, oldPos=-1, pLpos:-1}"
I am facing this issue while scrolling after using your updated library 3.0.0-B1.

logcat-
Player is playing while it is not in managed state: ViewHolder{11638295 position=11 id=-1, oldPos=-1, pLpos:-1}
                                         java.lang.IllegalStateException: Player is playing while it is not in managed state: ViewHolder{11638295 position=11 id=-1, oldPos=-1, pLpos:-1}

[2017-08-28 01:17] eneim commented on #246
@sharmadev419 Can you give me more information on how can you reproduce this? And which version of Android you use? Thanks.

[2017-08-30 07:26] jemshit opened #247 "Support Library 26.0.0 conflict"
Hi, i am trying to add Toro 3.0.0 to a project which targets Sdk version 25 and uses Support Library version 25.3.1. Toro 3.0.0 needs Support Library version 26.0.0 i guess so i get this error while building the project:

![screen shot 2017-08-30 at 10 23 27](https://user-images.githubusercontent.com/1948828/29860068-62833fe2-8d6d-11e7-8d0a-c2820c85a9cb.png)

I have tried this but still can't comp

[2017-08-30 07:37] jemshit commented on #247
I forgot brackets :
[code]

[2017-08-30 07:37] #247 closed

[2017-08-30 10:22] jemshit opened #248 "Video not playing with RecyclerView"
Hi, i have a classic `Activity` and `RecyclerView` inside it to populate list. Now i am trying to add Toro Video Player into my custom `ViewHolder`. I have written same code for ViewHolder as [this](https://github.com/eneim/toro/blob/dev-v3/app/src/main/java/im/ene/toro/sample/basic/BasicPlayerViewHolder.java) and for[ xml](https://github.com/eneim/toro/blob/dev-v3/app/src/main/res/layout/view_hol

[2017-08-30 10:31] eneim commented on #248
@jemshit Do you have any logcat that sounds to be telling you something wrong? Can you try to clone my project, run the demo and see if it could play or not?

[2017-08-30 10:32] jemshit commented on #248
Example apps need AS 3 i guess, could not run them on 2.3.3

[2017-08-30 10:34] eneim commented on #248
@jemshit Ah Ok. First please help by information from logcat if there is any suspiciously. Also, ExoPlayer 2.5.1 has some changes internally, so I suggest you to test with 2.4.x too if possible.

[2017-08-30 10:36] jemshit commented on #248
Nothing on logcat, nothing. I Log inside ViewHolder class (ToroPlayer interface methods), non of them are being called. Let me try changing expolayer version

[2017-08-30 10:42] eneim commented on #248
Ok. That sounds pretty weird to me. But please try it first.

[2017-08-30 11:06] jemshit commented on #248
Here is [sample project](https://github.com/jemshit/ToroSample) with my configurations.

[2017-08-30 13:04] eneim commented on #248
@jemshit Hmm just found the problem. You need to use **Container** in place of RecyclerView. Because it is where my logic works :).

[2017-08-30 13:40] jemshit commented on #248
Works now. I'll return if i have other issues :)

[2017-08-30 13:40] #248 closed

[2017-08-31 20:28] DannaMa commented on #117
same error anybody has a fix?

[2017-09-01 00:03] eneim commented on #117
@DannaMa which version are you using?

[2017-09-01 15:05] jonathansds opened #249 "java.lang.NoClassDefFoundError: Failed resolution of: Lim/ene/toro/exoplayer/ExoPlayerHelper$EventListener"
Toro Version: im.ene.toro3:toro:3.0.1-B1

I just implemented my viewholder as suggested in the README file:

    private class FeedItemViewHolderVideo extends RecyclerView.ViewHolder implements ToroPlayer{
        @Nullable
        SimpleExoPlayerViewHelper helper;
        FeedViewHolderHelper feedViewHolderHelper;

        FeedItemViewHolderVideo(View itemView) {
            super(itemView);

[2017-09-04 00:53] eneim commented on #249
@jonathansds How many methods you have on your build? Also did you change ExoPlayer version?

You can use this to check method count at build time: https://github.com/KeepSafe/dexcount-gradle-plugin

[2017-09-04 06:49] jonathansds commented on #249
@eneim I was using Android VideoView so I changed to the Exoplayer version to 2.5.1 now the error is:

                                                                Process: com.jd.myworld, PID: 23770
                                                                java.lang.NoSuchMethodError: No virtual method addListener(Lcom/google/android/exoplayer2/ExoPlayer$EventListener;)V in class Lcom/go

[2017-09-04 06:53] eneim commented on #249
@jonathansds ExoPlayer 2.5.1 has a few changes that is not really binary backward compatible. If you can stay with 2.4.x, please. I will push 3.1.0 that depends on 2.5.+ to fix this first.

[2017-09-04 07:29] jonathansds commented on #249
Thanks @eneim , I changed the Exoplayer version to 2.4.4 and it is working fine now. Thanks a lot!

[2017-09-04 07:29] #249 closed

[2017-09-06 06:35] jonathansds opened #251 "SimpleExoPlayerView Height Wrap_Content + RESIZE_MODE_FIXED_WIDTH"
Hi @eneim ,

I'm trying to automatically resize my SimpleExoPlayerView view according to its width. So that's my layout:

    <RelativeLayout
            android:id="@+id/item_feed_square"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginTop="@dimen/maxplore_spacing_title_content_horizontal">

            <com.google.

[2017-09-06 08:23] eneim commented on #251
@jonathansds I made a comment else where. But to make it clear, a surface need an init height. If you own your server, please specify all available Video ratio, and then make a specific ViewHolder for each ratio (using ViewType). That is the best way I can think of. If you don't own your Video but you can get the video width, height from API request, you can dynamically setup your width/height bef

[2017-09-06 15:46] jonathansds commented on #251
@eneim according to the solved issue 1827 ( https://github.com/google/ExoPlayer/issues/1827#issuecomment-251790658 ) I should be able to use:

    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    app:resize_mode="fixed_width"

[2017-09-07 00:38] eneim commented on #251
@jonathansds I see, let me take a look and try the suggested way by ExoPlayer.

[2017-09-07 01:27] eneim commented on #251
@jonathansds Still finding time to try this, but looking at your layout xml, I think you don't need to have another AspectRatioFrameLayout to wrap your SimpleExoPlayerView, because internally SimpleExoPlayerView use an AspectRatioFrameLayout to hold its content.

[2017-09-07 07:02] jonathansds commented on #251
@eneim I just include the AspectRatioFrameLayout as a try to make it works but originally I didn't have it, just the SimpleExoPlayerView itself.

[2017-09-08 23:59] jeremy-jamez opened #252 "How to display images and videos like Instagram"
I'm trying to achieve a list of videos and photos which are retrieved from `Firebase` using `FirebaseRecyclerAdapter`. It should operate like Instagram, where you scroll and when a video comes into view, it plays and the user can interact with it and when they continue scrolling the video should stop and display whatever is next in the list, whether photo or video.
I've searched everywhere for thi

[2017-09-10 16:48] lumyus opened #253 "RTMP Extension Support"
Hey @eneim ,

I was wondering if and when you will support RTMP which was recently added in Exoplayer 2.5.

Thanks

[2017-09-10 20:29] lumyus commented on #253
I was able to retrieve a stream from an rtmp// url however the app crashes with the following error from time to time:

`A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x0 in tid 17672 (Loader:Extracto)
02-22 20:05:53.086 509-509/? A/DEBUG: *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
02-22 20:05:53.086 509-509/? A/DEBUG: Build fingerprint: 'google/angler/angler:6.0.1/MMB

[2017-09-11 02:15] eneim commented on #253
@lumyus I just release 3.1.0 last week to update ExoPlayer to 2.5.1, can you take a look. Generally I don't touch the player level, so you will get whatever ExoPlayer supports. If you need help on creating custom MediaSource I will have a deep dive into it :D.

[2017-09-11 02:17] eneim commented on #252
Hi @jeremy-jamez what you want is exactly what toro does for you, please give it a shot and tell me what you feel. If it doesn't feel right for you just get back here and we will talk about that.

[2017-09-11 02:18] eneim commented on #251
@jonathansds I see. Sorry I had no time this weekend, will look into this as soon as possible.

[2017-09-11 02:22] lumyus commented on #253
@eneim
Thanks man! Yes I already updated to 2.5.1 however there is still some
issue. I get this in the logcat that I posted. Any idea on what might be
the problem?

Keep up the good work

Am 10.09.2017 21:15 schrieb "Nam Nguyen Hoai" <notifications@github.com>:

[2017-09-11 04:09] eneim commented on #253
@lumyus Got it. Seems that current helpers doesn't help you to create non-Default DataSource Factory. There is a plan to make my helpers more generic, seems that it is time to speed it up.

[2017-09-11 14:23] lumyus commented on #253
@eneim great! Ping me if you need more detailed logcat or when you are done with the more generic helpers. :D

[2017-09-11 17:37] hiennguyen1001 opened #254 "Support scale video: fitCenter, Centercrop..."
Hi @eneim
Currently, Your ExoPlayerHelper class use SimpleExoPlayerView which just allow scale video with: fit_width, fix_height, fill, fit.
So, I can not scale my video with scale type: fitCenter, Centercrop...
Can you update your library to support a Player View have scale type above. Thank your

[2017-09-11 21:18] jeremy-jamez commented on #252
I've tried it out but the images and videos don't load.
Here is my implementation.

**PostsRecyclerAdapter:**
[code]

**PostsViewHolder:**
[code]
**FeedListActivity:**
[code]
**feed_item.xml:**
[code]
There are other views which I've omitted from the above code because they load perfectly, only videos and images are not loaded.

[2017-09-12 04:57] eneim commented on #253
@lumyus It turns out that ExoPlayer by default will detect your source if it is RTMP or not, and if you also include the rtmp extension (seems that you did), it will use rtmp as normal. In your case, I guess the cause is closer to the ExoPlayer/rtmp extension. Can you ask for that issue on ExoPlayer repository first? The logcat actually tells something about native code error which maybe the hardw

[2017-09-12 04:59] eneim commented on #254
@hiennguyen1001 Currently I only support SimpleExoPlayerView as it comes from ExoPlayer officially. To support more ability, either you create your own widget or you request ExoPlayer team for that. Creating one is not in my plan sadly. I suggest you to refer to the code made by SimpleExoPlayerView and create your own version.

[2017-09-12 05:00] #254 closed

[2017-09-12 05:30] eneim commented on #251
@jonathansds So what I have now is: using SimpleExoPlayerView as a single View, **NOT** in a RecyclerView -->it will behave as expected (resize_mode works and so on), but RecyclerView somehow prevent it from correctly resize the Content. I will need to read how the LayoutManager force the measurement internally first to help you, but at least we know there is something we don't know yet ...

[2017-09-12 12:52] lumyus commented on #253
Acutally the update of the Exoplayer and the extension to 2.5.2 fixed the
issue. Everything is working fine now!
Thanks for the help :)

Am 12.09.2017 06:57 schrieb "Nam Nguyen Hoai" <notifications@github.com>:

[2017-09-13 01:45] eneim commented on #253
@lumyus that sounds great!

[2017-09-13 01:45] #253 closed

[2017-09-14 11:24] bnap00 opened #255 "Feature request:- Need for an upgrade guide."
A lot of the users like me might have integrated v2 of the project in their own project. I was not able to find any upgrade guide or guidelines for upgrading to v3.
This document can have.
* Which methods have been removed. (What can it be replaced with).
* New best practices that could be implemented with the new version.
* Minimum changes require changes to update the library.
* In which case on

[2017-09-18 08:28] eneim commented on #255
Hi @bnap00 , I acknowledge of the concern, and I'm making a simple tutorial for that. Just right now I'm a bit busy so it may take time, but let wait for a bit more. Thanks for using toro :D.

[2017-09-18 12:54] Anilugale opened #256 "Getting crash on resume"
java.lang.IllegalStateException: Player is playing while it is not in managed state: ViewHolder{4538d43 position=0 id=-1, oldPos=-1, pLpos:-1 invalid update undefined adapter position}
                                                                 at im.ene.toro.widget.Container.onChildDetachedFromWindow(Container.java:183)

[2017-09-19 00:38] eneim commented on #256
@Anilugale How often this issue happen to you? On Every "onResume" ? Do you have any special setting for your Device? (for example 'Don't save Activity state' setting in Developer Setting)?

[2017-09-19 04:46] Anilugale commented on #256
it happen when I am open full screen from the recyclerview item in separate activity. and when i am back to screen my recycler adapter is notified that time it give the exception.

[2017-09-19 05:47] eneim commented on #256
I see. Does the full screen activity trigger a Configuration changes? (for example: you open the full screen in landscape mode). Let me investigate this case.

[2017-09-19 06:51] Anilugale commented on #256
not it is in portrait mode

[2017-09-19 11:00] eneim commented on #256
@Anilugale Can you give me a snapshot of code where you setup your RecyclerView? Is it inside your onCreate or onResume? Thanks.

[2017-09-19 13:17] thanhbinh84 opened #257 "[Question] how to mute on version 3.1"
Hi @eneim,

I am using version 3.1, I searched in sample project but didn't found the way to mute.

`MyViewHolder extends RecyclerView.ViewHolder implements ToroPlayer`

` @Override
    public void initialize(@NonNull Container container, @Nullable PlaybackInfo playbackInfo) {
        if (!URLUtil.isValidUrl(mVideoUrl)) return;
        if (helper == null) {
            helper = new LoopingExoPlaye

[2017-09-19 13:41] eneim commented on #257
@thanhbinh84 if you are using SimpleExoPlayerView then after you setup, you can call ```playerView.getPlayer().setVolume(0.0);``` to mute. You can check null for safety of course.

[2017-09-19 13:53] thanhbinh84 commented on #257
Perfect. Thanks a lot.

[2017-09-19 13:53] #257 closed

[2017-09-19 13:59] thanhbinh84 commented on #133
It is possible now with version 3.1

[https://github.com/eneim/toro/blob/dev-v3/app/src/main/java/im/ene/toro/sample/complex/ComplexListFragment.java](url)

Thanks a lot, @eneim, you are the man.

[2017-09-19 13:59] #133 closed

[2017-09-20 11:36] Anilugale commented on #256
@eneim thanks for the support. find the reason of crash. it due to wrong implementation of ToroPlayer. i have 2 holder with video and without video. i am implemented both ToroPlayer in both player that why it occur

[2017-09-20 11:38] #256 closed

[2017-09-20 11:39] Anilugale opened #258 "Auto Playing not work when Container inside of NestedScrollView"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [x] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [x] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [x] Dev

[2017-09-21 02:24] eneim commented on #256
@Anilugale Sounds great.

[2017-09-21 05:01] Anilugale commented on #258
There is structure like tweeter details view. tweet with video + and it comments with video.

<NestedScrollView>
 <Header of tweet>
   <RecyclerView -- video or image multiple
   </ RecyclerView>
<Header/>
<RecyclerView  -- comments list
  <recycler item -- comment with multile video />
</RecyclerView>

<NestedScrollView/>

[2017-09-21 07:43] zhoushuqiang opened #259 "GaussianBlur mode in VideoView"
how can i use GaussianBlur mode in VideoView?

thanks

[2017-09-21 08:20] eneim commented on #259
@zhoushuqiang toro doesn't support Video manipulation. Please find other libraries for this purpose. [This](https://github.com/MasayukiSuda/ExoPlayerFilter) may help.

[2017-09-21 08:20] #259 closed

[2017-09-21 08:28] eneim commented on #258
@Anilugale What makes you think they use NestedScrollView for it? Actually they use ListView for the Tweet detail. I suggest you not to nest a RecyclerView inside a ScrollView. For this purpose you can always have a RecyclerView as your Header (the Tweet content), this one is one ViewHolder for the main RecyclerView, other ViewHolders are the comment as well. The imagine is as below:

[code]

[2017-09-21 08:45] Anilugale commented on #258
thanks for replay let me try this @eneim

[2017-09-21 09:14] eneim commented on #258
@Anilugale Sure, let me know if you have trouble with that. Actually my suggestion is not only for my library :D, generally putting a RecyclerView inside a NestedScrollView with the same scroll direction is somehow not a good idea. But let's see if your code works first.

[2017-09-22 06:21] Anilugale commented on #258
yup sure @eneim and thanks for support

[2017-09-27 02:47] eneim commented on #258
@Anilugale any chance this issue will be closed? Do you need further help for your usecase?

[2017-09-27 15:20] Anilugale opened #260 "handler crash after notifying adapter"
`Handler (com.google.android.exoplayer2.upstream.Loader$ReleaseTask) {1c9c728} sending message to a Handler on a dead thread
                                                             java.lang.IllegalStateException: Handler (com.google.android.exoplayer2.upstream.Loader$ReleaseTask) {1c9c728} sending message to a Handler on a dead thread

[2017-09-28 06:01] Anilugale commented on #258
yes it had closed. thanks for replay

[2017-09-28 06:02] #258 closed

[2017-10-13 12:52] MaheshK224 commented on #220
will you please post answer to this error.(I am getting error while setup the project)

[2017-11-04 19:33] vtproduction opened #263 "PlayerSelector.NONE make current playing video paused when recyclerView scroll"
In your BasicListActivity, I just set the PlayerSelector to NONE and manually play/pause the video with the click on ViewHolder. However, when the recyclerView finish scroll (just a little bit, to make sure that the current playing video is fully visible), the player pause automatically.

Could you please tell me how to fix this issue ? I just want to only play video by click on it. Thanks a lot.

[2017-11-05 04:48] eneim commented on #263
@vtproduction Currently manually start/pause the Player will not talking to Container. Which means that once you set the selector to "NONE", every Scroll will end up pausing all Players (which is expected). If you need something complicated, you may need a customized selector.

[2017-11-06 02:29] vtproduction commented on #263
@eneim can you give me some instruction to customize it ?

[2017-11-06 07:06] eneim commented on #263
@vtproduction Hi, this is not trivial, but can be done with the following steps:

0. I assume that you are using SimpleExoPlayerView (SEPV), because my tutorial below base on that. Using other Widget needs your own work.

1. You need to intercept in the manual play/pause trigger (i.e User click to play/pause from SEPV). To do this, you can use [this method from SEPV](https://github.com/google/ExoP

[2017-11-06 07:19] vtproduction commented on #263
@eneim Thank you so much!  I will follow your steps and tell you soon.
'Cám ơn rất nhiều'

[2017-11-08 21:33] mpainenz commented on #211
When I compile the sample app, this same effect occurs. Just pulled the repo and tried this right now.

[2017-11-10 04:10] vtproduction commented on #263
@eneim Your solution basically worked. Thanks again !

[2017-11-10 04:10] #263 closed

[2017-11-13 19:33] pro-softs commented on #242
@AniketBito Hi, I am facing the same black screen problem on scrolling. How did u solved the issue??

[2017-11-20 08:11] vivekebics opened #266 "Playing in recyclerview"
How to play all the visible item in recyclerview automatically ?

[2017-11-20 08:14] vivekebics opened #267 "App Crashes"
I am trying to play video from my local vlc via streaming. URL : http://192.168.1.30:1234

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.endsWith(java.lang.String)' on a null object reference

[2017-11-22 00:40] eneim commented on #266
@vivekebics There is interface "PlayerSelector", it is feed by a list of Players and asked to select from there some player to start playback. You can simply returns all Player from the list.

[Here](https://github.com/eneim/toro/blob/dev-v3/app/src/main/java/im/ene/toro/sample/complex/ComplexListFragment.java#L116) Is an example of creating a custom PlayerSelector and set it to the RecyclerView.

[2017-11-22 00:41] eneim commented on #267
@vivekebics I don't believe this crash is caused by Toro, can you send here more from crash logcat? ExoPlayer or MediaPlayer should be the one to handle the playback. Also I don't use any "endsWith" method in the library.

[2017-11-28 22:54] kodlayanzi commented on #117
I get the same mistake.

android 4.1.2
Toro3.1.1

[2017-11-30 13:34] FranciscoNin opened #268 "Playing videos in LinearLayout won't work, but it works on a GridLayout"
Testing on a Samsung Galaxy S6 Edge+, Toro version 3.1.1 and Android 7.0

Videos won't play in a recyclerview with LinearLayout. When it gets to that position on the list, bind is executed but it won't initialize inside the viewholder. It works normally when using GridLayout with the same adapter and list. I really don't know what to do to make it work. Is it possible that it won't play if there's

[2017-11-30 14:28] FranciscoNin commented on #268
Apparently it's something with both of the .xml files that I used in each Layout, Linear and Grid.

[2017-11-30 14:28] #268 closed

[2017-12-04 03:39] vivekebics commented on #266
@eneim Playing all the players is bad practice. If i want to show all the CCTV Footage in Android TV. How to achieve these ? Do we have any other possibilities ? Please let me know.

[2017-12-04 04:44] eneim commented on #266
@vivekebics What is your use case by the way? If you want all the visible Video to start playback, you can have a custom "PlayerSelector", from "select" method you can just return all the player. It will use all players to play.

[2017-12-04 09:54] vivekebics commented on #266
@eneim My use case CCTV Camera Monitoring in Android TV

[2017-12-05 16:30] yankelandroid opened #269 "java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.String.toLowerCase()' on a null object reference"
It works and then sudenly I have this error.

Toro version---3.0.0-beta1.
Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
Device name  Nexus 5X, Samsung Galaxy S8

I have a list that contain image or video or text

FATAL EXCEPTION: main
                                                              Process: com.wheelook, PID: 13995

[2017-12-06 06:21] eneim commented on #269
@yankelandroid The issue caused by Null media Uri. Please double check your content sent to the Player first.

[2017-12-06 09:10] amitsharma492 opened #270 "Video Still Playing after switching to new Tab Fragment inside ViewPager"
Hey,

Thank you for this Awesome Lib I am trying to implement this in my App having:

1. Three  Tabs in Viewpager
2.  First Tab having video Recylerview using Toro
3. Rest two also have Recylerview inside them

Problem: -
1. While Playing video inside first Tab and switch to 2nd Tab, video inside 1st Tab is still playing.
2. When I go to Another Activity by click on toro Video to open it in new Ac

[2017-12-06 09:28] eneim commented on #270
@amitsharma492 Can you show me the setup code for your RecyclerView in first tab of ViewPager?

About the performance in low-spec devices, it depends on the Video source I think. So if you own the media server, you can encode the video into various resolution whose lowest one should be fine for low-spec devices and slow network. The playback is handle by ExoPlayer so it should be fine if the sourc

[2017-12-06 10:15] yankelandroid commented on #269
i ckeck if the url not null in the viewHolder;

   @Override
        public void initialize(@NonNull Container container, @Nullable PlaybackInfo playbackInfo) {
            if (video_path != null) {
                if (helper == null) {
                    helper = new SimpleExoPlayerViewHelper(container, this, Uri.parse(video_path));
                }
                if (helper != null && playbac

[2017-12-06 10:36] amitsharma492 commented on #270
[code]

[2017-12-06 12:47] eneim commented on #269
@yankelandroid Can you debug that method and see what happened?

[2017-12-06 13:52] yankelandroid commented on #269
the debug not work

[2017-12-06 13:52] yankelandroid commented on #269
can you help me its urgent thx a lot

[2017-12-06 14:01] eneim commented on #269
@yankelandroid How your link looks like. I think the Uri has no "extension" that cause the NPE. (for example: http://www.sample.com/video-with-no-extension <-- if your link has this format, it may through NPE)

Also, you can update toro to 3.2.0 although it needs some modification.

[2017-12-06 20:34] yankelandroid commented on #269
and the version of exoplayer ?

[2017-12-06 23:16] yankelandroid commented on #269
i fixed the problem but know i want to listen the status of the video if its playing , in pause or charging with the getplay may view is SimpleExoplayerView like you but the getplayer return null alwyas

[2017-12-07 00:16] eneim commented on #269
@yankelandroid There is "ToroPlayer.EventListener" interface for this. Usage is to use your "SimpleExoPlayerViewHelper" to call "addPlayerEventListener". See [this](https://github.com/eneim/toro/blob/dev-v3/app/src/main/java/im/ene/toro/sample/facebook/playlist/MoreVideoItemViewHolder.java#L113) for a sample.

[2017-12-07 10:13] yankelandroid commented on #269
thanks a lot !!!!!

[2017-12-08 03:00] eneim commented on #269
@yankelandroid you are welcome. Don't you mind closing this issue if you are fine now? You can open new issue always.

[2017-12-08 10:20] amitsharma492 commented on #270
@eneim  Hey, What else I need to setup for Viewpager to pause the video when the user switches to another tab?

[2017-12-08 11:59] eneim commented on #270
Hey @amitsharma492 , using Pager is tricky, because of its item cycle. You can refer to [this sample](https://github.com/eneim/toro/tree/dev-v3/app/src/main/java/im/ene/toro/sample/pagers) for how I'm doing. Hope this help you. Please ask question if you find this a bit too complicated.

[2017-12-09 23:06] denno640 opened #271 "SimpleExoPlayerView streams video alright but i can only hear the audio but SimpleExoPlayerView is black itself"
i'm using Toro version 3.2.0 its an excellent library so thaaanks. i'm trying to stream video in recyclerview and load images as well all coming from local server(XAMPP)-for now. i have 3 viewholder classes, one for the images, one for video(i implement this using Toro) and one for a progressbar which is inflated at the end of a list. im also using exoplayer version r2.5.4. everything works perfec

[2017-12-11 02:35] eneim commented on #271
@denno640 Hi there, thanks for the detail. Do you see any weird logcat when the Video turns black? Something looks like error from decoder or ExoPlayer renderer, etc?

[2017-12-11 05:37] denno640 commented on #271
@eneim  here is the logcat.
[code]
my logging level was set at error. i can see some UNSUPPORTED THINGS in my logs now and it freaks me. sorry for  the late response.

[2017-12-11 08:26] yankelandroid commented on #269
Im so sorry but I have always this problem java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.endsWith(java.lang.String)' on a null object reference
                                                                  at com.google.android.exoplayer2.util.Util.inferContentType(Util.java:899)
                                                                  at i

[2017-12-11 08:26] yankelandroid commented on #269
Ust When i make my holder not recyclable its fine

[2017-12-11 08:32] eneim commented on #269
@yankelandroid which version of ExoPlayer you are using?

[From here](https://github.com/google/ExoPlayer/blob/r2.5.4/library/core/src/main/java/com/google/android/exoplayer2/util/Util.java#L899) It infers that your fileName returns Null. Can you post your URL here? (You can remove the host name part for privacy).

[2017-12-11 09:12] yankelandroid commented on #269
http://../content/1553090/9240/3080/9240/c_185899_65035201_2973328.mp4?token=f62a2cc07952ccd5386583e7f14461296bb46584

[2017-12-11 09:16] eneim commented on #269
@yankelandroid Let me double check this case real quick.

[2017-12-11 09:52] yankelandroid commented on #269
ok thaks

[2017-12-11 12:09] MayankSoni commented on #235
Hello friends. I am facing same problem. here first video play successfully but next video not play what should i do ? please help me.

[2017-12-11 13:42] yankelandroid commented on #269
So ?

[2017-12-11 14:18] eneim commented on #269
@yankelandroid Not any clue. Can you show me the code you use to init the SimpleExoPlayerViewHelper? Using the link above is fine. Also do you know how to Debug using Android Studio?

[2017-12-11 14:18] eneim commented on #269
@yankelandroid And also, please try to use 3.2.0 if possible.

[2017-12-11 15:44] jemshit opened #272 "Proguard issue"
Lib version: 3.2.0
compileSdkVersion: 26
buildToolsVersion: '26.0.2'

I get this error when enabling proguard:
[code]

[2017-12-12 02:52] eneim commented on #272
@jemshit Please give me your proguard setup :D.

[2017-12-12 06:44] jemshit commented on #272
@eneim i don't have anything related to Exoplayer or toro. https://gist.github.com/jemshit/767ab25a9670eb0083bafa65f8d786bb

[2017-12-12 09:37] yankelandroid commented on #269
I always updtae it to 3.2.0
Here my holder where i init the SimpleExoPlayViewHelper

[2017-12-12 09:37] yankelandroid commented on #269
private class ContentHolder extends RecyclerView.ViewHolder implements View.OnClickListener, View.OnLongClickListener, ToroPlayer {

        TextView textUserOwner;
        TextView textTime;
        TextView textTitleContent;
        TextView textContentText;
        TextView textContentTextNoMedia;
        TextView textRateNumber;
        TextView textViewsNumber;
        TextView textRepliesNum

[2017-12-12 10:22] eneim commented on #272
@jemshit put ``-dontwarn com.google.android.exoplayer2.**`` ??

[2017-12-12 10:35] eneim commented on #266
@vivekebics try the following code for your container:

[code]

[2017-12-12 12:16] jemshit commented on #272
that fixed, thanks

[2017-12-12 12:16] #272 closed

[2017-12-13 08:22] oneeall opened #278 "java.lang.AbstractMethodError: abstract method "void com.google.android.exoplayer2.Player$EventListener.onPositionDiscontinuity(int)""
hi, I'm using toro version 3.2.0 its very cool lib thank you for this awesome lib.
I just trying to stream video in recyclerview, I follow basic usage and its running well until when the video finish and goes crash
can you give me any advice?

Logcat
[code]

[2017-12-13 09:37] AlaaAlShammaa commented on #270
Hey @eneim, I've a ViewPager that has two fragments one with a Container and the other is just a normal view. I want to pause the playing video when I swipe to the next tab. What should I do?

[2017-12-13 10:26] AlaaAlShammaa commented on #270
Changing onWinowsVisibilityChanged from protected to public and calling it like this ` @Override
    public void setUserVisibleHint(boolean isVisibleToUser) {
        super.setUserVisibleHint(isVisibleToUser);
        if (feedRVAdapter != null && mRecyclerView != null) {
            mRecyclerView.onWindowVisibilityChanged(View.GONE);
        }
    }`
would solve your problem.

[2017-12-13 15:50] denno640 commented on #271
@einem after many hours of scrutinizing my code i found the culprit. I had previously set hardware acceleration to false. I activated hardware acceleration in my application manifest and now its working perfectly.

[2017-12-13 16:22] yankelandroid commented on #269
You have a solution please ?

[2017-12-14 01:51] eneim commented on #278
@oneeall 3.2.0 is not updated with ExoPlayer 2.6.0, please wait a few days for 3.3.0 artifact. Sorry for this inconvenience.

[2017-12-14 01:51] #278 closed

[2017-12-15 00:34] eneim commented on #271
@denno640 sounds good to hear that.

[2017-12-25 13:49] jemshit commented on #278
so exoplayer r2.5.4 is used?

[2017-12-26 03:44] eneim commented on #278
@jemshit Yes :).

[2017-12-26 10:09] jemshit commented on #225
@eneim v3.2, this example https://github.com/eneim/toro/blob/ecb535a1e723043b9b2493b45368bc2335b9cace/app/src/main/java/im/ene/toro/sample/basic/BasicPlayerViewHolder.java
Couldnt find any setter method to disable auto play

[2017-12-26 10:18] eneim commented on #225
@jemshit in 3.2.0, you must control this by a PlayerSelector :(

[2017-12-26 10:21] jemshit commented on #225
@eneim Any example, my use case is disabling or enabling auto play on recyclerview depending on wifi connection?

[2017-12-27 19:52] amitsharma492 commented on #270
@AlaaAlShammaa Thanks its working and how can we solve the second problem
Problem: Click on video open it in new Activity and when back to previous (fragment having Recyclerview with Toro Video ) the video become white blank only audio is playing.

[2017-12-28 07:50] burakiren opened #279 "Black background before play video"
- [ ] Question.

Hi friend. Firstly thanks for this library. It is really good but I have a question. I use Toro 3.0.0-beta1 with your Container class. All videos were recorded with FFmpeg, which is a faststart feature. But in recyclerView, after the video starts, it shows a black background behind the view for 2 3 seconds. How to minimize this video starting period.

My second question is how to

[2017-12-28 23:36] nabeelazam commented on #245
@eneim first I tried setting default art work for shutter view but black screen still appears.

I am using SimpleExoPlayerView in view holder. I tried using my own image view to handle this issue but unable to catch where I can get callback if the video has started. Can you please elaborate where I can catch that event to handle my own custom image.

[2018-01-01 11:14] anthony3444 opened #280 "Read a remote mp4 (streaming)"
Hi all!

First at all, thank you very much for this awesome library!
My question is very simple: is it possible to read remote video (streaming) stored on my server?

I followed this tutorial: https://eneim.github.io/2017/07/09/toro-101-how-to-1/

Unfortunately the player doesn't show anything (still black).

Thank you very much and Happy New Year guys!

[2018-01-01 13:29] eneim commented on #280
Hi @anthony3444 , thanks for using Toro and Happy New Year.

I have using both remote video and it works as expected. If you can find some logcat that is helpful for the investigation please give me. Also, make sure the remote mp4 codec is supported by Android framework (if you are unclear, please send the file to me privately, I can help the investigation).

You can also try to download the file

[2018-01-01 15:59] anthony3444 commented on #280
Hi @eneim

I understood why:

[code]
It returns always here because with main holder doesn't implement ToroPlayer.

I have this structure:

It's my main holder. And it contains some other child holders according the newsfeed content type:

[code]

And the holder which implements ToroPlayer is here:

[code]

So how can I do, from onChildAttachedToWindow(), retrieve my video holder?

I tried this, b

[2018-01-02 01:54] eneim commented on #280
@anthony3444 The ViewHolder that is directly added to RecyclerView must implement ToroPlayer interface ... Is "getChildViewHolder()" your own interface? or RecyclerView has new API that I have not know?

You can still fix this by implement the NewsFeedViewHolder with ToroPlayer, and make it as the proxy for the inner mContentVideoViewHolder, which means that inside NewsFeedViewHolder's method, jus

[2018-01-02 02:03] eneim commented on #279
Hi @burakiren , thanks for using Toro.

For your second question, there is interface ```ToroPlayer.EventListener``` that you can use to catch the events. Please take a look here: [Facebook Playlist sample](https://github.com/eneim/toro/blob/dev-v3/app/src/main/java/im/ene/toro/sample/facebook/playlist/MoreVideoItemViewHolder.java#L113)

Let me take a look on your first question :D.

[2018-01-02 02:07] eneim commented on #279
@burakiren Also, please try latest release if possible, many improvement has been made since beta :D.

For the first question, I think it may depends on the video source, cannot tell much. If possible can you send me one Video that can reproduce the issue (privately, of course)? Let me see its meta as well :D.

[2018-01-02 06:39] anthony3444 opened #282 "getAdapterPosition() returns always -1"
Hi!

I've implemented CacheManager with this example: https://github.com/eneim/toro/blob/dev-v3/app/src/main/java/im/ene/toro/sample/facebook/timeline/TimelineAdapter.java

Unfortunately there is no change. The playback restarts at each time. I put a breakpoint and the problem is in this call:

[code]

getAdapterPosition() returns always -1, I can't understand why? Have you got a special implement

[2018-01-02 10:42] shikha7763 opened #283 "Recyclerview scoll to top after orienation change in tablayout with viewpager"
I am using timeline adapter for video list and its working fine on orientation change but when i use tablayout with viewpager and Fragment, on fullscreen it works fine but after exiting to potrait view, the list scroll to top n plays first video from the start.

[2018-01-03 06:16] eneim commented on #282
@anthony3444 Did you set the CacheManager to Container? As you can see [here](https://github.com/eneim/toro/blob/dev-v3/toro-core/src/main/java/im/ene/toro/widget/Container.java#L371) , both CacheManager and the Order are taken into account :). Please double check and let me know. Also you can show me your implementation of CacheManager as well.

[2018-01-03 06:18] eneim commented on #283
@shikha7763 I guess your RecyclerView (Container) needs an extra step to save and restore the last location in the Fragment. And also make sure the LayoutManager used in both orientation are of the same type.

[2018-01-03 08:23] anthony3444 commented on #260
I have the same error. @Anilugale : did you resolve it?

[2018-01-03 08:38] anthony3444 commented on #282
@eneim : I found my problem. It's a viewholder inside a parent viewholder. So I just gave this viewholder parent and it works like a charm!

[code]

[2018-01-03 08:41] anthony3444 opened #284 "ExoPlayer2 crash: sending message to a Handler on a dead thread"
Hi!

Often, when I scoll in my recyclerview the player doesn't work... And the trace related to this problem is:

[code]
My config:

implementation "im.ene.toro3:toro:3.2.0"
implementation "com.google.android.exoplayer:exoplayer:r2.5.4"

Thank you very much for your support!

[2018-01-03 09:08] anthony3444 commented on #284
Ok, I've migrated to the new Toro version 3.3.0 and it works now without this crash!

Perfect!

[2018-01-03 12:10] DummyCo opened #285 "ToroPlayerHelper & ExoPlayerHelper acquiring & releasing performance"
Hi there! Thank you for great implementation.
As far as I can see, player & helper releasing/creating on view detach & init while using players in RecyclerView is quite expensive.
Would it be wise to suggest implementation with reused players (pool?) among helpers or something like that?

[2018-01-03 12:31] dishantkawatra opened #286 "When i change the view of video from recycler view to dialog then audio is good but sometimes frames are not set properly on new video"
openFullScreenPlayer(videoView, videoView.getPlayer());

private void openFullScreenPlayer(final SimpleExoPlayerView videoView, final SimpleExoPlayer player)
        {
            mContext.setRequestedOrientation(ActivityInfo.SCREEN_ORIENTATION_SENSOR);
            final Dialog videoDialog = new Dialog(mContext, R.style.full_screen_dialog){
                @Override
                public boolean

[2018-01-03 13:06] #282 closed

[2018-01-03 13:07] eneim commented on #284
@anthony3444 I guess this doesn't crash your App but the logcat shows yellow warning? It is a known issues of ExoPlayer actually, it should be fine I think.

[2018-01-03 13:07] #284 closed

[2018-01-03 13:09] eneim commented on #285
@DummyCo Hi there, this is actually the biggest homework I have with Toro. At the meantime I'm investing my time finding a good way to switch the player resource between ViewHolder (ToroPlayer) in safe way. No good result so far, but I'm still working on it.

[2018-01-04 02:51] eneim commented on #260
@Anilugale Do you still have this issue?

[2018-01-11 20:21] DummyCo opened #287 "[Question] Nested RecyclerView"
Hi there!
Are there any successful approaches of using toro in case when we're having RecyclerView with nested RecyclerView (or nested ViewPager) containing video views? It's still needed to play one video at time.
Should it be implemented with multiple helpers per nested RecyclerView? How is it possible to pass all the ToroPlayer events from parent ViewHolder to nested ViewHolders and helpers?
Th

[2018-01-12 00:31] eneim commented on #287
@DummyCo I have your use case covered here: [Nested Demo](https://github.com/eneim/toro/tree/dev-v3/app/src/main/java/im/ene/toro/sample/nested). It is more complicated than usual, but the idea is straight-forward: you need to have your nested RV as a ToroPlayer, and inside that, do some manual stuff (where the demo show you how to deal with the hard work).

[2018-01-12 00:56] DummyCo commented on #287
Oh, getPlayerView() is returning nested Container, got the point! Thank you.

[2018-01-12 01:09] eneim commented on #287
Yeah. I should have put more comments though, but if you found any issue just let me know.

[2018-01-15 12:22] shikha7763 opened #288 "Player.EventListener eventListener is called twice in the BigPlayerFragment"
I am implementing eventListener in the BigPlayerFragment but the eventListener  is called twice.

[2018-01-16 00:23] eneim commented on #288
@shikha7763 Can you show the part of code and the evident of the calling (logcat should be expected). Thanks.

[2018-01-16 04:54] shikha7763 commented on #288
@Override
    public void onStart() {
        super.onStart();
        if (playerHelper == null) {
            playerHelper = new ExoPlayerHelper(playerView,  //
                    DefaultRenderersFactory.EXTENSION_RENDERER_MODE_OFF, false);
            try {
                MediaSourceBuilder sourceBuilder = new MediaSourceBuilder(getContext(), Uri.parse(videoItem.getHlsurl()));

[2018-01-16 05:13] VuDung opened #289 "[Question] RecyclerView with item child is ViewPager"
Hi @eneim
Thanks for awesome library. I'm trying implement this with my application:
- My app has list video, with every item child which has list video inside(same structure).
- Current, i'm using ViewPager as item child of RecyclerView.
* Problem: Auto play video (item visible on ViewPager which visible on RecyclerView) when i scroll RecyclerView.
Can i try this library for support Video list au

[2018-01-16 05:27] shikha7763 commented on #288
How can we implement on continues video playing in the BigPlayerFragment  and then get to the same position in the video list.

[2018-01-16 05:43] eneim commented on #288
@shikha7763 Do you mean the code ``Log.v("TAG", "STATE_BUFFERING");`` shown twice every time in logcat?

Can you explain more about the second question: **continues video playing in the BigPlayerFragment** <-- do you mean to play many Videos by using one BigPlayerFragment?

[2018-01-16 05:44] eneim commented on #289
You mean your ViewHolder's itemView is a **ViewPager** ? How this **ViewPager** is used? using Fragments or just Views inside it? Why not using RecyclerView instead of ViewPager?

[2018-01-16 05:45] shikha7763 commented on #288
yes the log show Log.v("TAG", "STATE_BUFFERING"); and I want when one video completes the video and play next video in the list and on changing orientation list must be on the same position in the BigPlayerFragment.

[2018-01-16 06:51] VuDung commented on #289
Thanks for your reply.

=> Yes

=> i'm using view

For some reasons, i used ViewPager. If i change ViewPager to RecyclerView, can i use your library for support video list auto playback?

[2018-01-16 07:11] eneim commented on #289
Please take a look at this issue #287 , it is discussed about Nested RV (RV as Child of a big RV (Container)). Also there is a link to a demo I made for the case. Hope it helps.

[2018-01-16 07:54] eneim commented on #289
If you have any issue implementing it, let me know. When you find it has resolved your problem, please help to close this issue :D.

[2018-01-16 07:56] eneim commented on #288
@shikha7763 About the double event, let me investigate.

About the second one, it requires more implementation steps that current demo would not cover. Let me think about improve this. The supporting for many Video is easy part (using ConcatinatedMediaSource) but to obtain the data and pass it back when User close BigPlayerFragment is the non-trivial part.

[2018-01-16 08:22] shikha7763 commented on #288
hey can you explain the process how can i implement the fullscreen feature on click listener.

[2018-01-16 10:55] DummyCo commented on #287
@eneim that works like a charm, thank you so much.
During whole the development & testing process on last couple of days 4 crashes were spawned (I assume that's similar to #246). I'm still trying to investigate circumstances leading to that behavior and will open a new issue if that's needed:
[code]

[2018-01-16 11:01] eneim commented on #287
@DummyCo Sounds good (about that it works for you).

[Here](https://github.com/eneim/toro/blob/dev-v3/toro-core/src/main/java/im/ene/toro/widget/Container.java#L180) is the part throw the Exception. It is un-expected if the player is playing while Container doesn't manage it. I will try to reproduce this, but let's help by debugging if possible. Sorry I'm not super good at unit test :(.

[2018-01-16 11:11] DummyCo commented on #287
@eneim unfortunately that's not reproducing stably and spawns on random coincidences while high main thread load cases with intensive Container populating/recycling. Will try to do my best on acquiring any additional information, thank you!

[2018-01-16 11:39] eneim commented on #287
@DummyCo thanks. I also guess that this happen on nested RV, the case it is detached and the consequence after that. But let me also try the case. It might be reproducible :D.

[2018-01-17 02:58] #289 closed

[2018-01-17 04:35] eneim commented on #288
@shikha7763 Oh forgot this question.

There are 2 kinds of "full screen": (1) Always landscape full-screen, (2) Both landscape and portrait full-screen.

In either kinds, the flow is:

**<user action> --> <prepare media data> --> <open full-screen player>**

So what you need to know in order to implement the behavior is (I will use question/answer base to explain):

- How would you like your Full-

[2018-01-21 17:31] kodlayanzi opened #290 "toro player cache videos"
can we cache videos? every play is redownload video source so my website's bandwidth was gone away.

[2018-01-21 19:08] kodlayanzi opened #291 "toro player caching videos how can i do that?"
this is the big problem?? how can we fix this?

[2018-01-22 08:42] eneim commented on #290
@kodlayanzi Have you read this article: https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6

Hope this give you a solution. If it doesn't, please let me know.

[2018-01-23 00:38] kodlayanzi commented on #290
@eneim hi..

it is impossible to optimize that article to Toro.
Cache is the most important service in video player.

how can we fix this? This is important for my project.

[2018-01-23 01:05] eneim commented on #290
@kodlayanzi Got that, let me take a look on Cache mechanism and how to integrate it into my library.

[2018-01-23 01:08] kodlayanzi commented on #290
@eneim Iam waiting for your answer

[2018-01-23 19:44] kodlayanzi commented on #290
@eneim any suggestions?

[2018-01-24 00:38] eneim commented on #290
@kodlayanzi there is a few. I'm considering to bring CacheDataSourceFactory into the exoplayer extension. But to make it optional and abstract for many user, some more work need to be taken into account. At the mean time, you can manually copy-paste my helper class and replace the place using current DataSourceFactory with CacheDataSourceFactory. I will update this along with a better mechanism to

[2018-01-24 00:41] kodlayanzi commented on #290
@eneim can you send me an example?

[2018-01-24 00:46] eneim commented on #290
@kodlayanzi this is where the MediaSource is created (as of 3.3.0): [source code of MediaSourceBuilder](https://github.com/eneim/toro/blob/release/v3.3.0/toro-exoplayer/src/main/java/im/ene/toro/exoplayer/MediaSourceBuilder.java).

[This line](https://github.com/eneim/toro/blob/release/v3.3.0/toro-exoplayer/src/main/java/im/ene/toro/exoplayer/MediaSourceBuilder.java#L101) is where the DataSourceFa

[2018-01-24 00:48] kodlayanzi commented on #290
@eneim tanx bro.. Iam waiting for Toro’s official update :)

[2018-01-24 00:50] eneim commented on #290
@kodlayanzi I will gather stuff up and see if it can be quick :).

[2018-01-24 12:35] kodlayanzi commented on #290
@eneim how fast it is, how good it is.

[2018-01-25 10:07] vigneshr87 opened #292 "How to get video buffered percentage - i am using HLS video need to show a loader till the video buffered and goes to on playing state. It has been suggested to get by using ExoPlayer.getBufferedPercentage help me to get those value in toro player."
What kind of issue is this?

- [x] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2018-01-25 13:29] eneim commented on #292
@vigneshr87 as you are using SimpleExoPlayerView, you can get the SimpleExoPlayer instance and then get the Buffered percent from it. Don't forget to check null.

[2018-01-25 14:47] jemshit commented on #108
@eneim i couldn't found `getCurrentPosition ` on simpleExoPayer on v3.2.0, sth changed?

[2018-01-25 14:50] jemshit commented on #108
Found, i had to do `playerView.getPlayer().getCurrentPosition` 👍

[2018-01-26 08:50] jemshit commented on #108
Rxjava snippet:

[code]

[2018-01-26 09:00] jemshit commented on #210
@eneim Hi, is there any way to stop all videos inside recyclerView (Container) ? I have bound click listener to player (for manually starting to play) and it allows to play multiple videos (which i don't want). is there any way to stop all other videos i one started to play?

[2018-01-26 09:04] jemshit commented on #85
Here is the snippet using `PlayerSelector`:
[code]

ModelConnectivityChange is constructed using[ this lib](https://github.com/pwittchen/ReactiveNetwork)

[2018-01-28 09:00] #292 closed

[2018-01-28 09:01] eneim commented on #290
I have some issues implementing this for Toro using ExoPlayer (already file issue in that repo). Once it has been fixed or cleared, I think this use case can be shipped.

[2018-01-29 14:46] DummyCo opened #293 "Mixed ViewHolder types of nested ToroPlayer"
Hi there, @eneim!
I'm trying to apply logic mentioned in #287 for the case where nested _RecyclerView_ has not only _ToroPlayer_ _ViewHolders_ but also other types. Strange things happen in that case, initial position is damaged, some suspicious views appear in _LayoutManager_.
Any ideas? Do we have support of such case? Thank you!

[2018-01-30 02:36] eneim commented on #293
@DummyCo thanks. Can you help me a screenshot/screen record for this? At the moment I'm trying to bring ExoPlayer pool and cache to improve performance, which takes a lot of time. A really bad issues can be queued right after that one (the terrible issues can be put above it ...). So would like to know how terrible is this thing ^^!

[2018-01-30 14:29] DummyCo commented on #293
@eneim oh sorry. I've started deep investigation about this behavior and tried to implement same case on your _MediaListViewHolder_ with two hosted _ViewHolder_ types (with and without a video) and it worked great. As it turns out, having nested _ViewHolder_ (in nested _RecyclerView_) with nested _ViewStub_ where _ImageView_ backed with _Glide_ is inflated causes the situation where that _ImageVie

[2018-01-30 14:29] #293 closed

[2018-01-30 21:30] kodlayanzi commented on #290
@eneim when can we see Toro 4.0?

[2018-01-31 19:51] ajaystha005 opened #294 "How can I play multiple videos at once on visible screen?"
Any help??

Thank you

[2018-01-31 22:52] ajaystha005 opened #295 "How to loop video for forever?"
I want my video to loop for forever. How can I get that? I

Thank you

[2018-01-31 23:05] #295 closed

[2018-02-02 01:05] eneim commented on #294
@ajaystha005 You can implement your own ```PlayerSelector``` and return the list of Player you want to play there, set it to your Container and that it. See [this](https://github.com/eneim/toro/blob/dev-v3/app/src/main/java/im/ene/toro/sample/complex/ComplexListFragment.java#L78) for a demo.

[2018-02-02 01:06] eneim commented on #290
@kodlayanzi if it is about Cache, I'm fixing a bug on it, but it is quite 'rare' (~25% reproducible, at a certain condition) so I'm considering to push an alpha version for testing. But it is not 4.0 but 3.5.0. My draft for 4.0 is about completely different implementation :)

[2018-02-02 01:44] ajaystha005 commented on #294
Thank you

[2018-02-02 01:44] #294 closed

[2018-02-02 05:28] abhinav272 commented on #290
@eneim is 3.5.0 on maven..?
Not able to access it.

[2018-02-02 05:56] eneim commented on #290
@abhinav272 not yet ... but can be done for testing soon so you can try it i weekend.

[2018-02-02 09:36] jemshit commented on #290
@eneim hi, a question,. If i use `PlayerSelector.NONE` video is not playing. But it seems from data usage toro downloads whole video! (not even buffering) every time i refresh page. Is this correct behaviour ? `PlayerSelector.NONE` is used to stop auto playing on 3G, but it does not stop downloading video. Any solution to stop downloading whole video until is starts to play. To test, [check this a

[2018-02-02 11:42] jemshit commented on #290
@eneim or is there any way to limit buffer size (percent)?

[2018-02-02 11:57] jemshit commented on #290
I [found this](https://github.com/eneim/toro/blob/9308a85c380d7245af08c71990a7946152926973/toro-mopub/src/main/java/im/ene/toro/exoplayer/ExoPlayerHelper.java#L187), if i modify it with [CustomLoadController](https://github.com/Sriharia/ExoPlayer-StatsForNerds/blob/master/demo/src/main/java/com/google/android/exoplayer2/demo/CustomLoadControl.java) will it work?

[2018-02-02 16:00] yateeshkota commented on #270
if have similar issue I can change onWinowsVisibilityChanged  protected to public in android sdk 26 View.java class but it still showing me as protected access

[2018-02-02 17:01] AlaaAlShammaa commented on #270
@yateeshkota You need to import the library files into your project to be able to modify its code

[2018-02-05 01:38] eneim commented on #270
@AlaaAlShammaa you can extends my Container class and override methods instead.

@yateeshkota good point, let me double check the SDK later.

[2018-02-05 01:39] eneim commented on #293
@DummyCo Sounds to be a good investigation :D. In fact I need some doc telling user about many stuffs. I would include this into a blog post (if I can manage to make one, but sure I want to).

[2018-02-05 01:43] eneim commented on #290
@jemshit Hi, sorry for late reply.

About the PlayerSelector.NONE issue, what format of Video you are loading? I follow ExoPlayer definition, not make any customization, so it may be something to do with ExoPlayer lib. But loading the data may depend on the format itself. I will try to see if just "preparing" the source make the download start, or something else.

About other stuff, yeah the Helpe

[2018-02-05 13:50] FranciscoNin commented on #290
Hi @eneim, this cache update is coming anytime soon? I'm trying to cache hls videos.
Thanks!

[2018-02-05 13:52] jemshit commented on #290
mp4 files (for PlayerSelector.NONE case)

[2018-02-05 14:23] FranciscoNin opened #296 "Start video from where it stopped"
Is there any way I can start videos from where it stopped? I have a timeline full of videos, and when I scroll down than up again, I want it to play from where it stopped. Is it possible with Toro?

I followed that other issue about cache to do my own SimpleExoPlayerHelper to support cache. I don't know if it helps somehow.

Thanks!

[2018-02-05 16:07] FranciscoNin commented on #296
I implemented your Facebook sample and got it working. Thanks anyway! :)

[2018-02-05 16:07] #296 closed

[2018-02-06 05:30] eneim commented on #290
@FranciscoNin a alpha build will be released in one day or two, from there I'll get feedback as well as add improvement. If nothing goes wrong, this release will follow ExoPlayer 2.7.0 release (as there is one issue with broken cache file they are fixing).

[2018-02-06 13:58] FranciscoNin commented on #290
@eneim great! Thanks! Looking forward to test it.

[2018-02-07 10:15] sodiqOladeni opened #298 "video not display in Recyclerview from web url using Toro video library (Blank and Black screen)"
I'm working on a project that involves displaying a list of videos from the backend using retrofit, i want to display the video with some data on the UI using recyclerview, i'm trying to use TORO video labrary to handle the video but instead of displaying the video the video space is blank and black and other info apart the video was displayed successfully, when checking the logcat for error messa

[2018-02-07 12:58] eneim commented on #298
@sodiqOladeni Can you give me the info of your video? Its format, codec, profile, etc? A video that can reproduce the issue would be perfect.

[2018-02-07 13:46] sodiqOladeni commented on #298
@eneim the video format is mp4, i'm playing the video from url using retrofit. the video play when i tried to play it via the browser with the received url, im sure there is no issue with the video

[2018-02-07 13:51] eneim commented on #298
@sodiqOladeni mp4 is just the container, what I concern is the codec it is. Depends on what device (the Android phone) you are using, it could support the video codec or not. For example, Samsung S8 may support decoding HEVC but Nexus 5 may not, even though videos are mp4s. And you browser is just as powerful as your PC so it should be fine. If you can send me a part of your Video (make sure that

[2018-02-07 13:59] sodiqOladeni commented on #298
@eneim i dont know what you meant by part of the video, this is the url of the video
http://krystanet.com/auditions/98d5f481477281aadaEeYCbEqXXXebLE72%20-%20Recap.mp4

and the device i'm using for testing is Samsung S5 and Itel1409, will be glad if the issue can be resolved

[2018-02-07 14:01] eneim commented on #298
@sodiqOladeni Got it. I just download it and also change the link in comment for your privacy. Let me see.

[2018-02-07 14:06] sodiqOladeni commented on #298
ok, thanks for that

[2018-02-07 14:34] ismailtosun opened #299 "When I run the build gradle, I got this error"
**how to solve this ?**

[2018-02-07 18:10] sodiqOladeni commented on #298
@eneim check the below logcat error message for more understanding
 Source error.
                                                                       com.google.android.exoplayer2.upstream.FileDataSource$FileDataSourceException: java.io.FileNotFoundException: krystanet.com/auditions/98d5f481477281aadaEeYCbEqXXXebLE72 - Recap.mp4: open failed: ENOENT (No such file or directory)

[2018-02-07 23:26] eneim commented on #298
What version are you using? It says the file is not found. I have a Samsung S5 so let me see.

[2018-02-08 07:50] sodiqOladeni commented on #298
i'm using version 3.3.0

[2018-02-08 09:18] eneim commented on #298
@sodiqOladeni try putting "http" or "https" to your URL's scheme.

Long story short: your URL appears to have no scheme, and will be recognized as a local file --> it will create a FileDataSource but there is no actual file in your storage.

[2018-02-08 09:19] eneim commented on #299
@ismailtosun there is app-youtube demo app that requires your own youtube Api Key. Please search for how to create one (it is one of the Google API key), and replace it in gradle.properties-sample, and then rename that file to gradle.properties.

[2018-02-08 10:59] sodiqOladeni commented on #298
@eneim i dont get your suggestion, are you talking about the video URL and the server URL

[2018-02-08 11:39] eneim commented on #298
@sodiqOladeni Ok let me help you a walkthrough about the issue:

So here is our issue, taken from your error log:

[code]

It says that ExoPlayer is using a **FileDataSource** to read your Video, which supposes to be created to read local file only, which doesn't sound right to me because your file is from internet.

So here is where the DataSource got created by ExoPlayer (from DefaultDataSource.

[2018-02-08 11:45] eneim commented on #298
@sodiqOladeni FYI fixing your link to this:

``http://krystanet.com/auditions/98d5f481477281aadaEeYCbEqXXXebLE72%20-%20Recap.mp4``

works.

[2018-02-08 13:04] sodiqOladeni commented on #298
@eneim kindly drop your twitter handle, i need to follow you everywhere. The video is now working after
appending the schema, Thanks so much for your time.
Another thing is how can i put control on the videos for user to use ?

[2018-02-08 13:26] eneim commented on #298
@sodiqOladeni As you are using SimpleExoPlayerView, it has an option (in xml file) called 'user_controller'. See below snippet:

[code]

Using ``app:use_controller="true"`` will show the controller (default), set it to false will hide the controller.

Sorry I'm not an active Twitter user.

[2018-02-08 14:25] sodiqOladeni commented on #298
ok thanks, everything now work as expected

[2018-02-08 20:18] ismailtosun opened #300 "exception !!!!"
when i run sample app , I got this exception ?

[code]

[2018-02-09 02:31] eneim commented on #300
@ismailtosun Hi there. This is an error thrown by YouTubePlayerAPI, can you give me some information about: what Device you are using, Android version, Toro version, your Youtube App (in device) version (find it in Play Store).

[2018-02-09 02:32] #298 closed

[2018-02-09 02:42] maravilhosinga opened #301 "Video Not showing"
Videos not showing in RecyclerView.
It still black

Here is my code:

`public class VideoPayerAdapter extends RecyclerView.Adapter<VideoPayerAdapter.ViewHolder> {

    private Context context;
    private List<PostsClass> mPosts;

    public VideoPayerAdapter(Context context, List<PostsClass> mPosts) {
        this.context = context;
        this.mPosts = mPosts;
    }

    @Override
    public Vi

[2018-02-09 03:17] eneim commented on #301
@maravilhosinga do you hear any sounds? How your Video URL/URI looks like?

[2018-02-09 03:45] maravilhosinga commented on #301
No i'm not, since the video is not showing, the view still hidden
its mandatory to use container in recyclerView ?

<im.ene.toro.widget.Container
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/player_container"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    />

[2018-02-09 03:53] maravilhosinga commented on #301
I have tried with Container but still no sucess

[2018-02-09 04:27] eneim commented on #301
@maravilhosinga Container is just a RecyclerView, but required for Toro. No problem with it. Can you give me a Video that can reproduce this issue?

[2018-02-09 11:53] maravilhosinga commented on #301
Its working now.
Hot to cache videos please ?

[2018-02-12 05:12] Anilugale commented on #260
no i am not, It not that frequent

[2018-02-13 01:21] #299 closed, assigned to nobody

[2018-02-13 06:56] eneim commented on #285
@DummyCo can you take a look at 3.4.0-A1 and give it a try? This will slightly improve the performance of creating SimpleExoPlayer and stuff. It may not yet cover all performance-pain points, but the feedback will help me to bring them to the final release :D. The Changelog and demo-exoplayer is where you can find demo code.

[2018-02-13 06:57] eneim commented on #290
@jemshit @FranciscoNin it is a bit delayed, but you can now use Cache as well as new easy way to create SimpleExoPlayer. Also the Player instances are cache so that performance should be improved a little bit. Please let me know if you find it difficult to use, or anything else.

[2018-02-13 10:32] DummyCo commented on #285
Hi, @eneim!
Thank you for that efforts :tada:
Integrating'n'testing it now, will notify the results ASAP.

[2018-02-13 13:31] DummyCo commented on #285
@eneim tested it on Nexus 5X & Pixel XL.
I was experiencing 1-2 frames drop on 3.2.0 version during video item detaching, now it's completely gone, flow is average 60fps on any video items mess, testing it with devices side-to-side.
Thank you, looking forward to next releases.

[2018-02-13 17:10] maravilhosinga commented on #301
How to use it ?

[2018-02-15 07:29] eneim commented on #301
@maravilhosinga Update your gradle to use this:

[code]

And then take a look on this class: [DemoApp.kt - create Cache](https://github.com/eneim/toro/blob/dev-v3/demo-exoplayer/src/main/java/toro/demo/exoplayer/DemoApp.kt#L42) (sorry it is in Kotlin if you don't mind). Here I create a cache instance to use with the new **ExoCreator** Config. Taking a look around the demo-exoplayer package is a go

[2018-02-15 14:07] FranciscoNin opened #303 "ViewHolder initialized without calling bind on a RecycleView"
Hi @eneim! Again, thanks for this great library.

I'm having this issue where I have a timeline with pictures and videos. I'm using the same ViewHolder for both of them, as I need everything else that goes along with a Post, just changing if it's picture or video.

The thing is that when a video viewholder is recycled but now it's a picture, this viewholder is getting initialized again, playing th

[2018-02-16 00:52] eneim commented on #303
@FranciscoNin I guess when the bind() is called, you have not clear the Uri or something that holds information of your Video. When RecyclerView's onChildAttachedToWindow is called, if it detects that your ViewHolder is a **ToroPlayer** then it (the Container) will ask for all the initialization and playback stuff. I suggest to not use them together ... You can build a base ViewHolder whose main u

[2018-02-16 11:00] DummyCo opened #304 "ToroPlayer EventListener callbacks sequence"
Hi, @eneim.
Looks like _ExoPlayer 2.6.1 / Toro 3.4.0-A1_ introduced some changes to mentioned callbacks sequence or is it some kind of artifact we're getting with caching?
New sequence:

12:54:09.396 onPlaying() called
12:54:09.452 onBuffering() called
12:54:09.916 onPlaying() called

The problem is first _onPlaying()_ has nothing to show except the black screen actually and _onBuffering()_ is cal

[2018-02-16 13:09] eneim commented on #304
@DummyCo Good catch. What I found is a bit long, but hope it is clear enough. I made a quick debug on this case, part of the log as below:

[code]

(The number comes after the method call says 「how many milliseconds are there from now-the time this method is called-to the event before it」).

I also annotate how the app is started. When you do the Cold start, everything starts from zero, so it star

[2018-02-16 13:19] eneim commented on #304
@DummyCo Turn out ``stop()`` does the job. Will be in Alpha 2 soon :D.

[2018-02-16 14:16] FranciscoNin commented on #303
It makes sense!
Thanks, I'll try it out!

[2018-02-16 14:16] #303 closed

[2018-02-16 16:44] DummyCo commented on #304
@eneim in case _ViewHolders_ are reused among the _RecyclerView_ I assume the same problem spawns when  player with **STATE_READY** from one item is passed to another one, right?

[2018-02-17 05:46] eneim commented on #304
@DummyCo Sadly yes, the only way to reset the Player is to do it or recreate it (sounds obvious, but now I forgot to call it so ...). Player instance has no idea about which RecyclerView is using it (or actually the ViewHolder), so when you pass it around, it will be Ready at first (except for the very first time it is created).

Current implementation of Playable interface doesn't allow you to ex

[2018-02-21 08:19] sodiqOladeni opened #306 "Content below the video container not showing, (not recycled)"
Hi able boss @eneim

I'm using Toro version 3.3.0 in my project, the content below the video player is not showing up.
below is my XML code

[code]

Any code below the Video plater is not showing, kindly help check
Im using samsung S5 and the media container is ,mp4 or any video will produce the issue

[2018-02-21 08:38] eneim commented on #306
@sodiqOladeni Can you help me a screenshot of your UI that reproduce this issue?

[2018-02-21 08:39] eneim commented on #306
@sodiqOladeni Also, please try to set the height of first LinearLayout to "wrap_content" instead of "match_parent". This would help the Layout to respect its children height before returning the expected height to its parent.

[2018-02-21 09:22] sodiqOladeni commented on #306
Thanks @eneim, it working now after changing the layout to wrap content, but the videos are now playing in the background without showing to the screen. what can cause this ?

[2018-02-21 09:51] eneim commented on #306
Set your SimpleExoPlayerView’s resize mode to “fixed_width” should work I think. LinearLayout doesn’t respect child’s minHeight...

[2018-02-21 12:47] sodiqOladeni commented on #306
@eneim the video is still not working after changing app:resize_mode="fixed_height" to "fixed_width", will be glad if this issue can be solved.

[2018-02-21 13:59] sodiqOladeni commented on #306
@eneim  please dont give up yet, what is best layout to use for this to work

[2018-02-21 14:03] eneim commented on #306
@sodiqOladeni can you try with single SimpleExoPlayerView instead of your current layout? I don't think it is the library's issue, so we need to simplify the problem, start fresh until the issue is reproduced.

Please replace your layout with the one below

[code]

(I also fix the height so that it doesn't do anything stupid. If you layout works well, replace its height with "wrap_content" and the

[2018-02-21 16:45] kodlayanzi commented on #290
@eneim how can i implement cache to my app? any demo app?

[2018-02-22 02:27] eneim commented on #290
@kodlayanzi In 3.4.0-alpha release, I put a new package for it here: [demo-exoplayer](https://github.com/eneim/toro/tree/dev-v3/demo-exoplayer). Hope it helps. Specifically, using a ExoCreator with cache is described here: [DemoApp.kt](https://github.com/eneim/toro/blob/dev-v3/demo-exoplayer/src/main/java/toro/demo/exoplayer/DemoApp.kt#L42). So the idea is: have your global Config, setup Cache and

[2018-02-22 11:19] sodiqOladeni commented on #306
Boss @eneim i have tried the above code its not working, also have tried to restore the previous, it's no more working aswell. i dont know if i can give you access to private github repository to help look into it.

You could save soneone's job
Thanks

[2018-02-22 11:31] eneim commented on #306
@sodiqOladeni you can modify it (remove the private parts), download it as zip, or zip the local folder, then send me via nam@ene.im

[2018-02-22 12:14] sodiqOladeni commented on #306
@eneim have sent it, Thanks

[2018-02-23 21:04] FranciscoNin opened #307 "Center crop"
Hey eneim!

Is there any way to easily center crop the video?

Thanks!

[2018-02-24 00:16] eneim commented on #307
If you are using SimpleExoPlayerView, I remember they have the “fit” resize mode. Please have a look. I do not touch the View layer actually ^^!

[2018-02-25 19:03] premacck commented on #188
@eneim Any progress on this issue? I really need this feature

[2018-02-26 02:51] eneim commented on #304
@DummyCo Just figured out one point that current implementation may not good for cross-RecyclerView reusability.

Saying your ViewHolder is having a Helper initialized, it will hold an instance of "Container" which is the RecyclerView using the ViewHolder. Because this Helper is released only when the Container detaches the ViewHolder, or the Container is detached from Window, or the Activity is s

[2018-02-26 07:53] sodiqOladeni commented on #306
@eneim thanks for your support, i have logged the issue to Exoplayer and here is the link, you can help comment on it. https://github.com/google/ExoPlayer/issues/3901
Thanks

[2018-02-28 08:50] JaydeepRathod commented on #307
Hey, eneim!

Can you please explain to play video in the center crop which view need to implement.

Thank You

[2018-03-01 04:28] eneim commented on #307
@JaydeepRathod The SimpleExoPlayerView or the latest PlayerView has the "setResizeMode" method. It is the closest thing you want to see. Make sure you specify your View's width and/or height, so that the scale/crop works as expected.

[2018-03-04 23:54] #306 closed

[2018-03-04 23:55] #291 closed

[2018-03-07 06:42] yateeshkota opened #311 "if the first item of recycler view photo then all others video not play"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2018-03-07 12:58] yateeshkota commented on #311
it is version v2

[2018-03-07 13:03] eneim commented on #311
@yateeshkota By any chance it can be changed to v3?

[2018-03-07 13:06] yateeshkota commented on #311
I have not much more time to change  in v3

[2018-03-07 13:26] yateeshkota commented on #311
XML layout
`<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"

  <LinearLayout
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:orientation="vertical">

  <View
      android:layout_width="match_parent"
      android:layout_height="@dimen/activity

[2018-03-07 13:37] yateeshkota commented on #311
@eneim I am not able to upload my  XML code here

[2018-03-07 13:38] yateeshkota commented on #311
I am new in android and Github

[2018-03-07 13:41] eneim commented on #311
@yateeshkota Just open the xml file in android studio, copy paste it into the comment, remove the part you need.

[2018-03-07 13:43] yateeshkota commented on #311
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"

  <LinearLayout
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:orientation="vertical">

  <View
      android:layout_width="match_parent"
      android:layout_height="@dimen/activity_vertical_ma

[2018-03-07 13:46] yateeshkota commented on #311
@eneimI am just doing that but it will show the blank area means then I comment it will show blank comment

[2018-03-07 13:47] yateeshkota commented on #311
`<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"

[2018-03-09 10:27] navdroid opened #312 "Top part of current row video is covered with last row video?"
I am facing this issue when scrolling in the recyclerView, current row video upper part is covered with the last row video. This happens like 3 out of 5 times . Is there a way to fix this ?

![screenshot_20180309-144756](https://user-images.githubusercontent.com/1570679/37203075-7bd1f6b0-23b2-11e8-8074-e9e080141585.png)

[2018-03-09 13:32] eneim commented on #312
@navdroid Hi there, can you give me more information?

Toro version? Android device and version? ExoPlayer version? xml of your Video? There is a high chance it is ExoPlayer issue or TextureView issue, but let me know so I can help.

[2018-03-10 08:19] navdroid commented on #312
Hi @eneim ,

Toro version - v3.1.0.
Android Device - Nexus 6 Android 7.1.1
ExoPlayer - r2.5.1.

Xml of Video:

`<?xml version="1.0" encoding="utf-8"?>
<layout xmlns:app="http://schemas.android.com/apk/res-auto">

    <data>

        <import type="android.view.View" />
        <variable
            name="post"
            type="com.appster.turtle.network.response.Posts" />
    </data>

    <android

[2018-03-13 12:30] krupinder955 opened #313 "Player inside a view pager"
I have view pager in my recycler view item, and inside that view pager player is there, can it be managed by toro somehow?

[2018-03-14 01:54] eneim commented on #313
@krupinder955 How about using RecyclerView inside the RecyclerView instead of ViewPager inside RecyclerView? If you can consider this suggestion, take a look at this: [nested Container](https://github.com/eneim/toro/tree/dev-v3/app/src/main/java/im/ene/toro/sample/nested)

[2018-03-14 05:03] krupinder955 commented on #313
Below is what i want to acheive, i need to have a view pager in my recycler view item, so that user can scroll horizontally through the images and videos. View pager will be and SimpleExoplayerView. I need to pass that player's id in " getPlayerView" method i am doing it like this -

 @NonNull
        @Override
        public View getPlayerView() {
            View view=vpPostImage.getChildAt(vpPo

[2018-03-15 07:26] navdroid commented on #312
Got my mistake . Sorry for bothering you. I was not using :

` app:surface_type="texture_view"
android:minHeight="@dimen/media_height"`

[2018-03-15 07:26] #312 closed

[2018-03-15 07:32] eneim commented on #312
Hey, usng TextureView is not a good choice everytime. If you can give me the video file (either by file or url) that produces this issue I can continue the investigation.

[2018-03-16 05:17] eneim commented on #313
@krupinder955 Please consider to replace ViewPager by a RecyclerView (a Container) if possible.

[2018-03-20 19:03] osamaaftab opened #315 "java.lang.NullPointerException in Container.Java"
Process: com.topthat.android, PID: 26890
                                                                     java.lang.NullPointerException: Attempt to invoke virtual method 'int android.support.v7.widget.RecyclerView$LayoutManager.getChildCount()' on a null object reference
                                                                         at im.ene.toro.widget.Container.onScrollStateChang

[2018-03-20 21:26] eneim commented on #315
Can you post your code you setup Container (LayoutManager, Adapter, etc).

[2018-03-23 09:37] amanzan opened #316 "It should be easy to just clone and run samples"
First of all, thanks for the work. In my opinion, there should be changes in your repo to be able to clone it and run the samples with no hassle. Right now when you do it, you get multiple errors of needed youtube_apikey, fabric key, and some others, and it's quite complicated to make it run. This discourages people to test your library. Just something you should consider :)

[2018-03-24 12:38] eneim commented on #316
@amanzan Thanks, this is one of the things I'm trying to improve, with kind of check for empty fields at build time.

[2018-03-26 03:17] eneim commented on #316
@amanzan I have pushed the update to dev-v3. Only thing you should care about is to use Android Studio 3.1.0 (RC3+). Can you give it a try?

[2018-03-26 08:37] amanzan commented on #316
@eneim I upgraded to Android Studio 3.1.0 RC3 and I was getting this error after cloning: "Error:Could not find method crashlytics() for arguments [build_8xwqzk0zvu5p0umlalhr1pw55$_run_closure3@b0d35bc] on project ':app-youtube' of type org.gradle.api.Project."

Removing crashlytics lines from build.gradle in app-youtube fixes this issue.

Then I get this warnings:
[code]
I was able to run the app

[2018-03-26 08:41] eneim commented on #316
@amanzan Thanks for the try. Yeah I will take a look on the "crashlytic" block.

About the warnings, I doubt it is something about kotlin-kapt. It is no harm, but doesn't look good. Though you can try ``./gradlew clean`` to see if the warnings are gone.

The freezes may depend on other factor. If you can send me the detail about what device you use, Android version, video Url (if you made any cust

[2018-03-26 08:54] amanzan commented on #316
Yes I think freezing could be something unrelated to the build.

I run it again and now I am able to see the samples. Thanks, because I'm struggling to get smooth scrolling in a RecyclerView with videos, so I'll give your library a try.

One thing I noticed (it happens with all other libraries I used and I think with yours too) is that on flinging, at the exact moment the video gets off screen, th

[2018-03-26 09:18] eneim commented on #316
@amanzan It bothers me too, but sadly it is kind of unavoidable ... I will try to see if I can reduce the bad UX, but let's think it is difficult and low priority.

About the last question, by saying "the normal one" you mention the "MediaPlayer"? I have not tried it aggressively, but it has the issue of supporting many Android version. Also using TextureView is proved to improve the smooth scroll

[2018-03-27 08:15] BobFactory opened #318 "PLAYBACK ERROR"
Internal playback issue

Hi,

Thanks for this awesome library firstly.
I have been facing an issue in which if the user fastly scrolls to the last item in the recyclerview and then returns back to the first position and then minimizes the app and resumes it, then after some time there is an E/ExoPlayerImplInternal: Playback error. Below is the stacktrace of it.

After this, every exoplayer in the

[2018-03-27 09:34] eneim commented on #318
@BobFactory Can you also give me some info about the media file that can reproduce this issue? If the file need to be kept secret, please send it to me via nam@ene.im. Thanks.

[2018-03-27 11:13] eneim commented on #318
@BobFactory Do you mean that user pause the player by clicking to the button? This case requires more work actually. The good part is I'm preparing it in next release ...

[2018-03-27 11:24] BobFactory commented on #318
Yes, I need the player to work in a fashion that when the user comes to the recycler view then the video auto-plays but it should not start when the activity resumes it should maintain the state set by the mHelper.pause(); method. Is there any workaround I can have for this.

Can there be a method in which at least the video frame is retained when the user resumes the activity, I am noticing that

[2018-03-27 11:27] eneim commented on #318
@BobFactory Hmm. mHelper.pause() is called automatically. To sort out your thought, it would work as below:

- User open the app, the list has a Video on screen and it starts playing automatically.
- User do nothing, and press 'Home' so the App enters stopping state.
- User open the App again, and as the UI doesn't change, there will be the Video on screen, **But** Here you want the Video won't st

[2018-03-27 11:29] eneim commented on #318
@BobFactory About your second question, there is no trivial way to retain the video frame. It requires extra work and if you can try Facebook app, they put a thumbnail on top of it each time the Video pause/resume. I guess it is what I would try to do.

[2018-03-27 11:43] BobFactory commented on #318
@eneim : comment 1 is exactly what i want to achieve, right now the video auto-plays whenever there is any interaction in the recyclerview. I want such thing that if the user has paused it or we pause the player programmatically by calling pause() method, then the player should auto start as it does now when the user returns from the background.

About the second point is something that I think th

[2018-03-28 06:30] eneim commented on #318
@BobFactory FYI the first point is not the original intent of Toro. Also, it is not trivial to know your Activity/UI 'resumes for the first time' or 'resumes for the n-th time'. If you want to do this, sadly I can only have comment or suggestion, not a official support. And it is low priority as I'm finalizing 3.4.2 release.

[2018-03-28 06:59] BobFactory commented on #318
@eneim I have tweaked a little bit of your code implementation and with some manual handling, I was able to achieve the desired functionality. I have just one question for you, how many exoplayer instances are created when recyclerview is initialized ?

[2018-03-28 07:13] eneim commented on #318
@BobFactory The number of ExoPlayer instances equals to how many Video on screen you have that time. So if you have 10 Videos on screen, it will prepare 10 instances. Though, the actual resource consuming task is the call to ExoPlayer#prepare(MediaSource) and in 3.4.1 I make it to be lazy, so that those 10 instances won't start preparing resource all together. The less Video you have, the less ins

[2018-03-28 07:31] BobFactory commented on #318
@eneim 👍 Thanks for clarifying the logic, Clearly a good implementation, Although I am under the impression from the exoplayer docs that creating player instances holds resources such as MEDIA CODEC and other resources required for rendering. And form exoplayer issues people have suggested to create only 2 instances of exoplayer and switching media between them and playing. You should probably che

[2018-03-28 07:31] #318 closed

[2018-04-03 18:37] ishroid opened #320 "How to use Cache and Looping source [ requesting network URL ]"
This is most beautiful library for ExoPlayer lover.

Anyone please let me know, how to use Cache and Looping source in Toro Library.

Or if any expert know other link of related article or library please let me know.

thank you

[2018-04-04 16:27] osamaaftab commented on #315
public class ViewHolder extends RecyclerView.ViewHolder implements ToroPlayer {

        @Nullable
        ExoPlayerViewHelper helper;
        @Nullable
        private Uri mediaUri;
        @BindView(R.id.player)
        SimpleExoPlayerView playerView;
        @BindView(R.id.profile_img)
        ImageView profile_img;
        @BindView(R.id.name)
        TextView name;
        @BindView(R.id.date

[2018-04-04 16:45] osamaaftab commented on #315
It's working the issue was here
    `SimpleExoPlayerView playerView;`

[2018-04-05 09:08] ishroid commented on #320
THANK YOU IT WORKS 👍 💯 🥇

[2018-04-05 09:08] #320 closed

[2018-04-05 09:40] ishroid opened #321 "Black screen just before playing"
Anyone please help me to get this resolved?

[2018-04-05 11:24] ishroid commented on #321
Hi! Resolve it by overriding onRenderedFirstFrame by registering Playable.DefaultEventListener()
and hide thumb after 1st frame 👍

Thank you

[2018-04-05 11:24] #321 closed

[2018-04-12 09:43] prat-z commented on #290
@eneim I am using version 3.4.0 of Toro, for playing HLS video, but caching is not working. I can see the cache files being created in the specified directory, but the video is being played from Upstream source only.
Thanks in advance.

[2018-04-12 09:52] #285 closed

[2018-04-12 09:53] DummyCo commented on #304
Seems like it's safe to close now

[2018-04-12 09:53] #304 closed

[2018-04-12 09:53] eneim commented on #290
@prat-z can you reproduce this using ExoPlayer official demo app? I use its API so I guess something wrong is happening with it. I will double check the implementation of toro as well ...

[2018-04-12 09:54] eneim commented on #290
@prat-z Also, please update to at least 3.4.1 ... 3.4.0 is broken and I had to pull it down for that reason.

[2018-04-12 11:05] prat-z commented on #290
@eneim Tried with the demo app, it is the same behaviour, the problem must be with Exoplayer API. Thanks for your quick response!

[2018-04-12 11:08] ghataa commented on #245
@nabeelazam try to add ToroPlayer.EventListener to the ExoPlayerViewHelper class in your ViewHolder:
`static class ViewHolder extends RecyclerView.ViewHolder implements ToroPlayer {

        ...

        private ToroPlayer.EventListener toroPlayerEventListener = new EventListener() {
            @Override
            public void onBuffering() {
                // do something
            }

[2018-04-16 06:53] prat-z opened #328 "Playback issue, playback info resets to previous value"
Playback info is getting reset to previous value when setting the value in onActivityResult().

In my use case, I have 2 activities, one of them having a feed containing videos and other being the full screen video activity. When returning back from full screen to the feed, I want to save the playback info of the video. I am doing this in onActivityResult().

The problem is that the value gets rew

[2018-04-16 08:12] eneim commented on #328
@prat-z How you save and restore the PlaybackInfo using onActivityResult()? The tmpStates should do nothing related to the Activity I think.

[2018-04-16 09:00] prat-z commented on #328
@eneim I am calling the method `savePlaybackInfo()` of `Container` class in `onActivityResult()`.
The `onWindowVisibilityChanged` method of `Container` is called after that, which resets my change.

[2018-04-17 21:33] aldocano commented on #145
Any idea on a workaround for this issue?

[2018-04-17 23:34] eneim commented on #145
@aldocano sadly not yet. I spent a few hours looking around Overscroll API and it doesn't help. I will get back to this later when I could find a better way.

[2018-04-18 08:08] aldocano commented on #145
@eneim what do you suggest for a quick fix than, some view tweaks?

[2018-04-18 10:10] aldocano commented on #145
fixed it with

        @Override public boolean wantsToPlay() {
            return ToroUtil.visibleAreaOffset(this, itemView.getParent()) >= 1;
        }

[2018-04-18 10:13] eneim commented on #145
Your solutions doesn’t look elegant to me enough, but it gives me a hint. Let me take a look.

[2018-04-18 10:15] aldocano commented on #145
I didnt find any other idea on how to solve it, what do you suggest?

[2018-04-18 10:30] eneim commented on #145
A P/S: your code will not work if there are 2 or more ViewHolder those are fully visible. Also, if the list is infinited, I need a mechanism to handle the event your list is extended (data change callbacks). Will update here later what i can do.

[2018-04-18 11:51] aldocano commented on #145
I the moment of speaking i have 3 recyclerview items, it works. I dont know if some problems might occur if the list is longer. Maybe i might lower the visibleAreaOffset.

Can also help out on the black screen before playing video, is it exoplayer issue or toro's?

[2018-04-26 12:44] ritesh94 opened #329 "Display loading image till the video is loaded the first time in listview"
Thanks for such a powerful library. Saved lot of time. Complex work made easy.

My question is how do I display a loading image till the video is loaded the **first time**?

Once the video is loaded and playing
Either when the user scrolls the list or pauses the video or video is buffering the loading image shouldn't appear.

`addPlayerEventListener` is not helping for this requirement

[2018-04-27 03:49] eneim commented on #329
@ritesh94 Thanks for using Toro. Right now I'm thinking about using ExoPlayer and EventListener's onFirstFrameRendered, but need to try it first. You can setup the listener using ExoPlayerHelper and so on.

[2018-04-27 04:15] arthurmelo88 commented on #233
this worked for me ;)

[2018-04-27 08:07] maximus9600 opened #330 "Mute Audio"
Hi eneim
Thanks for your wonderful library. I am currently using version 3.4.2

I have  declared these on my app gradle
`implementation "im.ene.toro3:toro:3.4.2"
  implementation "im.ene.toro3:toro-ext-exoplayer:3.4.2"`

I am able to play videos on the recyclerview which works fine. But I have been trying another requirement which is to mute the audio of the video view. I tried doing the following

[2018-04-27 10:49] prat-z commented on #328
@eneim Yes, orientation change is happening in my case. The orientation of the next screen is fixed to Landscape, without setting flags 'configChange'.

[2018-04-27 12:39] eneim commented on #330
@maximus9600 Thanks for using Toro. I understand the requirement around setting volume. Next version will comes with demo and guideline as well. At the mean time, I will double check your question later and give some advice, please stay tune.

[2018-04-27 12:42] eneim commented on #328
@prat-z I see, so switching to full-screen = the App will switch to landscape mode? And if user turn off full-screen, does your app go back to portrait? Or it stays in landscape mode from there? Can you double check my CustomLayoutActivity demo? Of can you give a few lines of code of your Activity or Fragment where you start the full-screen? Especially the way you use onActivityResult. Will take s

[2018-04-27 12:59] maximus9600 commented on #330
Thank you for your reply @eneim . Since i had to figure out soon due to lack of time , i implemented my requirement in the following way:

`@Override
        public void onMuteClicked() {
            if(!feedItemImageViewModel.mute.get()) {
                feedItemImageViewModel.mute.set(false);
                helper.setVolumeInfo(new VolumeInfo(false, 1.0f);
            }
            else {

[2018-04-30 05:25] ritesh94 commented on #330
Guys, I did it in the below way and its working:

if (videoHolder.helper != null) {
                            if (videoHolder.helper.getVolume() == 0) {
                                videoHolder.helper.setVolume(1);
                            } else {
                                videoHolder.helper.setVolume(0);
                            }
                        }

[2018-05-11 06:12] Shakir4u commented on #246
I also facing the same issue. Its a random exception thrown somewhere. I am not even able to trace the problem when it comes.
My log is :

05-11 11:40:10.843 11747-11747/com.hiddenug E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.hiddenug, PID: 11747
    java.lang.IllegalStateException: Player is playing while it is not in managed state: ViewHolder{6ad59c3 position=8 id=-1, oldPos=-1, pL

[2018-05-11 06:28] sharmadev2506 commented on #246
@Shakir4u I have updated the player and used ExoPlayerHelper instead of ToroPlayerHelper. I was using it with Exoplayer Please check if this is the same issue with your code.

[2018-05-11 09:58] kaustubhamrit opened #332 "How do i mute youtube videos on autoplay..i know that the youtube api does not support muted videos but is there any way to mute the toro player so that if an external app is playing music..it doesnt stop when the muted youtube video starts on my app?"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2018-05-11 10:09] eneim commented on #332
Sorry, there is no way to mute Youtube video. I suppose it is a part of Youtube API TOS so even if you can do so, you will be against that term.

[2018-05-11 10:50] kaustubhamrit commented on #332
Thanks for the information.
Great work btw! :D

[2018-05-11 14:36] #332 closed

[2018-05-14 06:31] Anilugale commented on #256
it reproduces in android 7.1.1 samsung device. toro player implement in recycler view nested ways

Toro version 3.2.0
Exo player version 2.5.3

`java.lang.IllegalStateException: Player is playing while it is not in managed state: ViewHolder{2340423 position=8 id=-1, oldPos=-1, pLpos:-1}
        at im.ene.toro.widget.Container.onChildDetachedFromWindow(Container.java:182)
        at android.support

[2018-05-14 06:40] Anilugale commented on #246
it reproduces in android 7.1.1 samsung device. toro player implement in recycler view nested ways

Toro version 3.2.0
Exo player version 2.5.3

`java.lang.IllegalStateException: Player is playing while it is not in managed state: ViewHolder{2340423 position=8 id=-1, oldPos=-1, pLpos:-1}
        at im.ene.toro.widget.Container.onChildDetachedFromWindow(Container.java:182)
        at android.support

[2018-05-14 07:57] sharmadev2506 commented on #246
@Shakir4u For me, it was also happening in some specific android device. I just updated the player at my end. After updating the player, not only this issue gets resolved but its performance has also increased. You can share your code with me or I will share mine. I think this is the only way to get it resolved.

[2018-05-14 08:26] eneim commented on #246
@Anilugale can you share with me the code of your ViewHolder? Both the ViewHolder that is a nested RecyclerView, and the ViewHolder that is a Player.

There are some cases this issue were found but I could never reproduce them easily. If I can have some clue from your code it can be eliminated. Also, I guess 3.4.2 improve this a lot, though migration may be non-trivial, but please consider the lat

[2018-05-15 07:41] Shakir4u commented on #246
Dear all ,
I have added these dependencies version
  implementation 'im.ene.toro3:toro:3.4.1'
  implementation 'im.ene.toro3:toro-ext-exoplayer:3.4.1'

My ViewHolder is  -
[code]
I have used a toro player on a fragment inside viewPager. I actually throws exception randomly on every devices.

[2018-05-15 07:48] eneim commented on #246
@Shakir4u You have setup both the helper and exoplayer ... what does it mean?

[2018-05-15 08:50] Shakir4u commented on #246
sorry dear , Its a mistake of naming variable.
exoPlayer is SimpleExoPlayerView which is a view from com.google.android.exoplayer2.ui.SimpleExoPlayerView and
on this view I am setting a player as
[code]
Helper is object of  SimpleExoPlayerViewHelper  which is being used for managing state of player.

if I am not using right approch , please suggest the right one.

[2018-05-15 09:08] eneim commented on #246
@Shakir4u Well, when you create a SimpleExoPlayerViewHelper, you give it the ToroPlayer and there it will request for the same SimpleExoPlayerView instance. So all the setup is handled by SimpleExoPlayerViewHelper already. Do don't need the part using ExoPlayerFactory.newSimpleInstance above.

[2018-05-15 09:09] eneim commented on #246
@Shakir4u And I wonder which kind of user interaction (swipe the ViewPager? scroll the RecyclerView?) could reproduce the issue?

[2018-05-15 09:27] Shakir4u commented on #246
Hello ,
It is random crash ,When i scroll the recycler view.

[2018-05-16 07:51] brijhub commented on #270
I'm facing similar problem.
When the video is playing and If I go into new activity and return back then I scroll my lists to top(first) position.
Now after few seconds Video automatically start playing even it is not in visible area of current screen.

I just want to stop playing video when I return back to the activity where I have all the video lists.
As I scroll and If I get any video visible

[2018-05-16 07:55] brijhub opened #333 "Making video to play in loop"
I'm using below versions
 implementation "im.ene.toro3:toro:3.4.2"
 implementation "im.ene.toro3:toro-ext-exoplayer:3.4.2"

How can I play video in loop ?
I can't find any Lopping Helper class.

[2018-05-16 13:35] yateeshkota commented on #333
hi @brijhub  in your base app application class
`public class YOUR_APP_NAME extends Application {

    public static Config config = null;
    private static ExoCreator exoCreator = null;
    private static long cacheFile = 2 * 1024 * 1024;

    @Override
    public void onCreate() {
        super.onCreate();

        String PATH = Environment.getExternalStorageDirectory() + "/" + "YOUR_APP_NAME"

[2018-05-16 14:00] ritesh94 opened #334 "How to Release media player?"
I am using Toro player to play videos in list.. Its working fine.

When I go to other screen and try to play video in textureView the video is not playing; mediaPlayer is giving error code (1,38)

When I comment out the  toro player's implementation the video is playing in textureView.

How to release mediaPlayer while using Toro Player?

[2018-05-17 02:45] eneim commented on #334
@ritesh94 Can you give me below information?

- Toro version?
- Extension version if you are using one of them?
- Code of your ViewHolder/ToroPlayer is possible?

[2018-05-17 02:46] eneim commented on #333
Thanks @yateeshkota . @brijhub Please refer to the comment above. Also I plan to simplify this in upcoming release, hope it can reduce your amount of code.

[2018-05-17 06:52] brijhub commented on #333
Yippee! Thanks @yateeshkota for your time and effort and of course @eneim for such superb library.
It worked for me so closing this issue.

[2018-05-17 07:18] eneim commented on #334
@ritesh94 It should works ...

[code]

What is that "other screen" look like? It is a "Container" or just a single player view? This is a View used by Toro, or a separated View? And what is your code for it?
I remember "mediaPlayer is giving error code (1,38)" is an error code by MediaPlayer, not by ExoPlayer ... But please double check.

[2018-05-17 09:26] ritesh94 commented on #334
@eneim
Thanks for the explaination.

The other view is single custom textureView in which I am playing a video.
Below is my code for textureView.
Also is there any option in the Toro player through which I can use Exoplayer or mediaPlayer as required.?

[code]

[2018-05-17 09:33] eneim commented on #334
@ritesh94 Toro and ExoPlayer are separated concept, but they can work well with each others. This means:

[1] You can use Toro without ExoPlayer, and vice versa.
[2] You can use both, because I make it easy to do so.

So, in your case of playing a single video by TextureView, you can still use ExoPlayer **without breaking anything Toro is doing**.

And for your information, I made it easier for yo

[2018-05-17 09:34] eneim commented on #334
Also, choosing between ExoPlayer and MediaPlayer is your decision, but I strongly suggest you to use ExoPlayer if you target Android 16 and up.

[2018-05-17 16:26] ritesh94 commented on #334
@eneim
Thanks for the information and suggestion as well.

Is it possible If I want to use latest official-exoplayer with toro-player, without `toro-ext-exoplayer` ?

[2018-05-17 23:40] eneim commented on #246
Let me take a look ...

[2018-05-21 01:43] hafiz013 opened #335 "Scrolling video not fix the current video"
What kind of issue is this?
when i click on those list video and come back scrolling the video position which are previously on third row move to first row and first row goes to third row

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.
refer attachment code
[VideoListExo.zip](https://github.com/eneim/toro/files/2020947/VideoL

[2018-05-21 09:26] DummyCo opened #336 "Failed to resolve: im.ene.toro3:toro-core:3.5.0"
I'm afraid there is some kind of distribution problem with 3.5.0:
`Failed to resolve: im.ene.toro3:toro-core:3.5.0`

[2018-05-21 09:37] eneim commented on #336
Hm I think toro-core is module name but gradle should be im.ene.toro3:toro:3.5.0 only.

[2018-05-21 09:39] DummyCo commented on #336
@eneim, yep, that's it toro only:
[code]
maybe there is some kind of misconfigured internal module dependency?

[2018-05-21 09:40] eneim commented on #336
I see. Let me double check this after coming home >.<

[2018-05-21 09:47] DummyCo commented on #336
@eneim quite sure problem is somewhere around toro-ext-exoplayer toro-core dependency on second line:
[code]
Thank you!

[2018-05-21 10:19] maciekbaranowskiqq opened #337 "hello, here is the scenario I'm trying to solve."
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2018-05-21 10:51] eneim commented on #336
Got my hand on PC now, hope it is not caused by the changed in release script and Gradle 4.6. Will take a look now.

[2018-05-21 11:17] eneim commented on #336
@DummyCo A quick comment is the issue looks the same as [this one](https://stackoverflow.com/questions/37250675/how-to-setup-dependencies-in-a-multi-module-android-gradle-project-with-interdep) (but not identical). So the pom file generated for toro-ext-exoplayer will use toro-core as artifactId for its dependency, but then it is not the one to resolve from maven.

Still looking for a good solutio

[2018-05-21 13:13] eneim commented on #336
@DummyCo I guess I fix the issue by replacing it by 3.5.2 artifacts (no changes in functionality ...). Please update your gradle and see if it works.

[2018-05-21 13:18] eneim commented on #335
@hafiz013 Just have a quick look over your source code. One point is your implementation of ViewHolder and full-screen dialog doesn't take into account the 'recycle' characteristic of ViewHolder. But let me go deep into your code to make a better understanding of your use-case and think about some suggestion as well as improvement to my work.

[2018-05-21 13:19] eneim commented on #337
@maciekbaranowskiqq I'm trying to isolate the Helper from ViewHolder so that you can apply the same practice. It may not happen any time soon, but it will be my next high priority feature. Actually put it to roadmap of 3.5.0 but could not make it. Give me some time.

[2018-05-21 15:13] DummyCo commented on #336
@eneim yep, it's working now.
Thank you for first-class support as always :1st_place_medal:

[2018-05-21 15:13] #336 closed

[2018-05-22 06:44] brijhub opened #338 "Black background on Video while scrolling"
I have three categories of items (Text/Image/Video) in recyclerview.
For text and Image I'm showing Imageview in layout and for Video I'm showing PlayerView.

Now the problem is,
While scrolling, It shows blank screen on Playerview and after few seconds It start playing and even  sometimes It doesn't play (When scrolling up and down again and again)

Version I'm using
implementation "im.ene.toro3:

[2018-05-25 03:03] ritesh94 commented on #334
@eneim
Yes pause and resume are automatic.
I am using toro-ext-player, helpers are helpful to use.

I just asked to get the clarification on how updated the toro will be with exoplayer version.

I think I am good to go with toro.!! Thanks

[2018-05-25 03:03] #334 closed

[2018-05-25 03:05] ritesh94 commented on #329
@eneim
Yes thats perfect. Thanks..!!

[2018-05-25 03:05] #329 closed

[2018-05-25 03:12] ritesh94 opened #339 "Help with Exoplayer.getDuration();"
@eneim
Getting incorrect duration.

The actual video duration is **02:50 min**
But exoplayer.getDuration() gives **170859 ms = 2.84765 min**

[code]

**Listeners:**
[code]

[2018-05-25 03:15] eneim commented on #339
@ritesh94 Please clarify me: 2min50sec = ~ 170 seconds. So it should be a correct result.

Your are writing it in decimal for minute, which results in **2.84xx** min (it is the dot, not the ":" 😄). Converting to seconds they will be the same I suppose.

[2018-05-25 03:29] ritesh94 commented on #339
@eneim
My bad  ;/.

Anyways Thanks.

[2018-05-25 03:29] #339 closed

[2018-05-25 10:22] eneim commented on #338
@brijhub Do you have any further issue on this? Can I close the issue?

[2018-05-26 07:18] foodied commented on #338
@eneim  In my case, `PlayerView` is recycled when it goes out of screen hence `playerView.setArtwork(bitmap)` doesn't seem to be a seamless experience. What alternatives do I have other than having to keep an `ImageView` separately?

[2018-05-26 07:31] eneim commented on #338
@foodied In fact my current 'not worst practice' is to have an ImageView separately. Because PlayerView is a FrameLayout, you can put the ImageView as a child of PlayerView.

Config has a field for MediaSourceBuilder, which will be one to handle DASH media source.

Default one is already built-in: [see this line](https://github.com/eneim/toro/blob/dev-v3/toro-exoplayer/src/main/java/im/ene/toro/ex

[2018-05-26 07:35] foodied commented on #338
Yes that's what I did as an alternative to keep as a child of the `PlayerView`. I was thinking of making two adjacent players ready (like `ViewPager`) but now it seems like to be a bit heavy. This is a nice solution though.

Thanks for the `DASH` hint! :)

[2018-05-26 07:39] eneim commented on #338
Yeah the artwork is specified for audio playback though, when you have Video stream it is hidden by default and cannot be shown from out side.

There is “ShutterView” which is expected to be a solid color (or some ColorDrawable background. I’m about to create a PR to ExoPlayer lib to have this view accept an abitrary Drawable as shutter background. This can help to reduce the amount of View we nee

[2018-05-26 07:45] foodied commented on #338
So you're telling that the artwork is not advisable for video playback but then how would one show the player icon (especially the custom one set to the controller) over the bitmap?

`ShutterView` with drawable is a good idea though. I wish also we could somehow manage the visibility of the background dynamically.

[2018-05-26 07:53] eneim commented on #338
@foodied The player icon would be different. Saying I want it to be a part of Controller, I will make custom ControlView, make it height to match parent and put the icon to the center of it. ExoPlayer and PlayerView allow you to have [custom controller view](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerView.java#L148) so it is

[2018-05-26 07:55] eneim commented on #338
@foodied FYI this is the line about artwork view: [PlayerView.java#L1012](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerView.java#L1012)

[2018-05-26 08:02] foodied commented on #338
I understand but `ControlView` is not visible when the player has been recycled/ first time and is just peeking in the screen.

[2018-05-26 08:07] eneim commented on #338
@foodied I know what you mean. So yeah ControlView may not the one you want to use for a custom image when Video is not available. As I said before, keeping an ImageView on top is current way to go ... and If I can make it to have ShutterView to show custom image instead of solid color, also the ability to show/hide it on-demand, we can do much more :D.

[2018-05-26 08:09] foodied commented on #338
Absolutely... best solution!

[2018-05-29 06:13] brijhub opened #340 "Autoplay youtube videos"
Hi @eneim
I have a list which has both basic video (.mp4) and Youtube videos.
Basic video is playing properly but youtube videos are not playing. It just showing black screen.

Current version I'm using
 implementation 'im.ene.toro3:toro:3.4.2'
 implementation 'im.ene.toro3:toro-ext-exoplayer:3.4.2'

Layout file
[code]

Now my question is, You have already pushed app-youtube module in your repo bu

[2018-05-29 09:06] eneim commented on #340
@brijhub The power of Toro lies on Helper classes. In your case, you need 2 types of ViewHolder, one for mp4 videos and one for Youtube videos. Each type will work with one kind of Helpers and the code I push shows you how I designed the helper for Youtube videos.

You can combine them into one adapter to make it work for both mp4 and youtube :D. A lot of work I suppose, just let me know if you go

[2018-05-29 16:23] thealpha commented on #252
yo bro did you get the answer

[2018-05-30 02:13] hafiz013 commented on #335
yes sure because if you could solve my problem the other also use my suggestion as well. this is because the point of list is that user can click full screen of the video (in landscape) and shrink back (in portrait). Secondly what is the different between contain and recyclerview?

[2018-05-30 03:17] eneim commented on #335
@hafiz013 Container is a RecyclerView but has been empowered. You can see that Container extends RecyclerView.

[2018-05-30 07:22] thealpha commented on #252
did you use this library for video play

[2018-05-30 08:47] eneim commented on #252
@thealpha what is your requirement? Toro targets Video playback as first problem to solve. You can custom it to play whatever you want :).

[2018-05-30 08:50] jeremy-jamez commented on #252
Yes, works as expected

On Wed, 30 May 2018, 2:22 am thealpha, <notifications@github.com> wrote:

[2018-05-30 09:21] DummyCo opened #341 "savePlaybackInfo NPE"
Hi there! Getting rare crashes with next stacktrace:
Any suggestions?

[code]

[2018-05-30 12:04] eneim commented on #341
@DummyCo Hm, good found. Do you have "CacheManager" in your setup?

The problem comes from the SpareArray **tmpStates** contains null value. And this array is set to the result of ``playbackInfoCache.saveStates()``. So first i would like to investigate from the cache maps used in playbackInfoCache. Somehow it is updated with bad value ...

[2018-05-30 12:15] DummyCo commented on #341
@eneim using following configuration:

[code]
And

`container.setCacheManager(CacheManager.DEFAULT)`;

[2018-05-31 09:17] brijhub commented on #340
I'm still implementing this functionality.
Thanks for your words.
I let you know If I face any difficulties @eneim

[2018-05-31 11:35] eneim commented on #335
@hafiz013 So I just try to run your code and here is what I found:

**SimpleAdapter.java** line 136 (in ``closeFullscreenDialog()``):

[code]

Here you use mContext from Activity to find R.id.main_media_frame. In fact, RecyclerView holds 3 view that contains ``R.id.main_media_frame`` as its child. So using ``mContext.findViewById(R.id.main_media_frame)`` will find the first one, which is the view

[2018-06-01 06:37] hafiz013 commented on #335
can you do tutorial about video full screen in new post so that another user can refer to it

[2018-06-01 06:57] hafiz013 commented on #335
hi i still persistent to get landscape when full screen because this code still have bugs.

[2018-06-01 10:51] pankaj-pardhi commented on #301
@eneim
Hi

I am using Toro2
I want to play video in Recyclerview  from URL so I am providing converted Uri from URL

But It is showing only Black screen with audio after 3-4 sec

Please help me with that.
Thanks in advance

[2018-06-01 11:49] eneim commented on #335
@hafiz013 About the tutorial, I have one sample and also I try to not be opinionated about how to do this and that. But this is a good idea. About land scape mode, is it the same behaviour? Or what doesn't work well this time? Because switching to landscape mode depends so much on your setup, I cannot tell anything now.

[2018-06-01 11:52] thealpha commented on #252
bro  jeremy-jamez   the video is playing but I can't view both photo and video ....please can you help me ...or show your code please

[2018-06-01 11:58] eneim commented on #252
@thealpha Please try 2 ViewHolder types, one for Photo and one for Video

[2018-06-01 12:00] eneim commented on #301
@pankaj-pardhi can you create a new issue with detail? Focus on what you want to archive and your current code base/device model/Android version.

[2018-06-01 12:02] thealpha commented on #252
thanks a lot for responding ....eneim ...

[2018-06-01 12:35] pankaj-pardhi opened #342 "No Video only Black screen with Audio after 2-3 sec"
What kind of issue is this?

**There is Video Playing, I can see only Black screen and I can able hear only Audio. Help me with this issue**

  - [3.5.2 ] Toro version.
  - [7.0 ] Android version
  - [Moto G5 Plus ] Device name

**FeedAdapter.class**

[code]

And **BasicPlayerViewHolder.class** from app folder use provide the code.

Can you please help me with this.

[2018-06-01 13:17] eneim commented on #342
@pankaj-pardhi Try the Url on my Basic demo app and it works well. Can you try your code on Emulator for Pixel 2, running Android 8.1 with Google Store? I want to make sure it is device specific issue or library issue.

[2018-06-01 13:48] pankaj-pardhi commented on #342
It is Working in Demo Code...@Pixel 2...

[2018-06-02 01:08] eneim commented on #341
@DummyCo It is quite difficult to reproduce, and in fact I've seen it once before (before releasing 3.5.0) but that time it was caused by an internal modification of the SparseArray and I fix that one.

Don't want to have a bunch of null check (which is against the correctness of implementation, and just hide the actual issue), but I consider that losing PlaybackInfo cache of one or two playback i

[2018-06-02 07:36] pankaj-pardhi commented on #342
@eneim

could you suggest the resolution for that

Anything I am missing in code

[2018-06-02 07:40] eneim commented on #342
I wonder if it is an issue of ExoPlayer on Moto G Plus. Can you clone code of ExoPlayer, try their demo app and replace your url their?

[2018-06-02 07:59] pankaj-pardhi commented on #342
@eneim
Actually It is showing the same black screen with audio  on any device while I am running video in my app

[2018-06-02 08:11] eneim commented on #342
So, does your app runs normally on Pixel 2 emulator? Or it still shows black on Emulator? (your app but not my library’s demo).

Because your link and the ViewHolder works well on my code I need to break down your issue and I want to know if your app has any problem with devices different than Moto G Plus.

[2018-06-02 16:47] thealpha commented on #252
bro still struggling your video plays well but I can't use both photo and video ...

[2018-06-02 17:56] jeremy-jamez commented on #252
@thealpha could you show your ViewHolder and adapter code

On Sat, 2 Jun 2018, 11:47 am thealpha, <notifications@github.com> wrote:

[2018-06-03 08:43] thealpha opened #343 "Video does not resume"
Your library is really good it works fine ..ya thanks for creating this library it saved lot of time for me ...but I have a 2 issue 1) is video shows black screen while scrolling 2)video does not resume when scroll down and come back can u tell me how can I do this

[2018-06-03 08:45] thealpha commented on #343
1) video shows black screen while scrolling I fixed that issue by placing image in video view and load image from firebase ..when video starts playing I set image.visiblitiy to Gone it worked ..but I don't know 2) issue please help

[2018-06-03 10:12] eneim commented on #343
@thealpha Container doesn't save/restore playback info by default, this is intended. You can enable it by calling ``container.setCacheManager(CacheManager.DEFAULT)``. It will work most of the time (if you have custom caching logic, you need to provide custom CacheManager as well). About issue 1, yes current work around is to put an Image view as thumbnail and show/hide it at certain timing.

[2018-06-03 10:18] eneim commented on #252
@thealpha I suppose you have little experience working with multiple View types in RecyclerView, please refer to this for your app: [Heterogenous Layouts inside RecyclerView](https://guides.codepath.com/android/Heterogenous-Layouts-inside-RecyclerView).

[2018-06-03 13:15] thealpha commented on #343
should I initialize this method in    @Override
        public void initialize(@NonNull Container container, @Nullable PlaybackInfo playbackInfo) {
            if (helper == null) {
                helper = new SimpleExoPlayerViewHelper(container, this, mediaUri);
            }
            helper.initialize(playbackInfo);
            container.setCacheManager(CacheManager.DEFAULT)

[2018-06-03 13:21] thealpha commented on #343
thanks a lot it worked

[2018-06-03 13:28] eneim commented on #343
@thealpha You should call ``container.setCacheManager(CacheManager.DEFAULT)`` in your Activity/Fragment, not in your ViewHolder, and just need to call once.

[2018-06-03 13:29] thealpha commented on #343
ya it worked ..thanks man..

[2018-06-04 03:37] hafiz013 commented on #335
About land scape mode, is it the same behaviour?  nope. when landscape only one video play at the time and when go back shrink list video will appear

[2018-06-04 03:54] eneim commented on #335
@hafiz013 Can you take a look at my Facebook demo? Using DialogFragment for full-screen player there. Tell me if it makes sense to you.

[2018-06-04 08:10] DummyCo commented on #341
@eneim integrating & testing now, thank you, will share results ASAP!

[2018-06-06 05:52] foodied commented on #52
This intention of this library is to solely autoplay videos one at a time which it does nicely. Although If we want to temporarily disable autoplay, inside the viewholder that extends `ToroPlayer`, there a method `play()`. Just add `playerView.getPlayer().setPlayWhenReady(false)` after the `exoplayerViewHelper.play()`.

[2018-06-06 05:54] eneim commented on #52
@foodied You can always return a 'conditional false' from ``wantsToPlay`` (assuming that you are using Toro 3.x) ;). It will disable the auto play for a certain ToroPlayer. To disable that for all players, you can use ``PlayerSelector.NONE`` for the Container.

[2018-06-06 06:07] foodied commented on #52
I did set the `container.setPlayerSelector(PlayerSelector.NONE)` but it seems that video is not loaded as it comes to the center. It just shows the shutter view.

[2018-06-06 06:12] eneim commented on #52
@foodied Yep, it will not start loading (SimpleExoPlayer will not call 'prepare') if you don't have it starts. You can put a thumbnail view on top to hide the black screen though ... What is the behaviour you demand?

[2018-06-06 06:14] foodied commented on #52
Well, I guess immediate playback without any buffering when I click on play.

[2018-06-06 06:33] foodied commented on #52
`EventListeners` inside `Playable` is not public.

[2018-06-06 06:44] eneim commented on #52
@foodied which version of Java you are compiling with? Java 7+ will allow ``EventListeners`` to be accessible by default (it is a class inside a public interface).

[2018-06-06 07:46] hafiz013 commented on #335
may I know what is your facebook page. thank you

[2018-06-06 07:49] eneim commented on #335
@hafiz013 Do you mean Facebook demo? It is here: [link](https://github.com/eneim/toro/tree/dev-v3/app/src/main/java/im/ene/toro/sample/facebook).

If you want to ask for my personal Facebook then sorry ^^!

[2018-06-07 09:39] ductranit opened #344 "Should have an option to turn off toast message"
Hi @eneim,
I have a report from my users that sometime they see a toast message, like `Unable to instantiate decoder OMX.exynos.avc.dec` in production release.
When I checked your library code, I found that there are 2 places you used the `toast`:
[ToroExo](https://github.com/eneim/toro/blob/dev-v3/toro-exoplayer/src/main/java/im/ene/toro/exoplayer/ToroExo.java#L244) & [ExoPlayable](https://github

[2018-06-07 14:16] eneim commented on #344
@ductranit Your quick fix is actually my suggestion ... [see this comment](https://github.com/eneim/toro/blob/dev-v3/toro-exoplayer/src/main/java/im/ene/toro/exoplayer/ExoPlayable.java#L109). Though having an option for it makes sense, I would like the developer using Toro acknowledge about this. Will consider a better UX for this in next release.

[2018-06-07 14:29] ductranit commented on #344
Thank you, having an error callback would make sense.
And my quick fix can't work for [ToroExo.createDrmSessionManager()](https://github.com/eneim/toro/blob/dev-v3/toro-exoplayer/src/main/java/im/ene/toro/exoplayer/ToroExo.java#L244) because this class is final
Luckily my app doesn't use it.

[2018-06-07 20:02] sivakumar83 opened #345 "Caching HLS video"
Hi @eneim,
Big Thanks for Toro Library.
Working on HLS video streaming. How to cache HLS video for replaying video without streaming from the network. ExoPlayer support team published [Downloading Streams](https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95).  Is it implemented in Toro library to incorporate this feature?

[2018-06-09 05:57] eneim commented on #344
@ductranit Why would you need ``ToroExo.createDrmSessionManager()`` ? It is a util method to create the DrmSessionManager :-?

[2018-06-09 05:59] eneim commented on #345
@sivakumar83 I suppose it would work. Toro 3.5.2 compiles with ExoPlayer 2.7.1 and it comes with Cache mechanism and you can use it for caching HLS video I think.

[2018-06-09 06:45] ductranit commented on #344
@eneim No, I don't need it. Just make sure if someone else use it should have an option to turn toast off. You can throw an exception on it.
Btw thanks for your contribution and your support. Much appreciated.

[2018-06-11 08:05] shashankjamdade commented on #136
How can I get zoomed preview (Bitmap) of the video in textureview?? I used getBitmap() but it gives unprocessed bitmap i.e. before zoomed preview. I apply the transformed matrix on this bitmap it gives me zoomed preview starting from the (0,0) i.e. top left corner of bitmap only, not currently focused area of the bitmap (I used Bitmap.createBitmap(MyTextureView.this.getBitmap() , 0, 0, 1024, 768,

[2018-06-11 19:21] maxbaldrighi commented on #333
Hello, I'm sorry for continuing the thread, but I would really appreciate some help...
I'm using:
implementation "im.ene.toro3:toro:3.5.2"
implementation "im.ene.toro3:toro-ext-exoplayer:3.5.2"

What I'm trying to achieve is looping my videos.
I've already tried all the different solutions proposed in various thread, like this one, or [here](https://github.com/eneim/toro/issues/244) where, followi

[2018-06-12 02:52] eneim commented on #333
@brijhub Let me take a look.

[2018-06-12 12:15] eneim commented on #333
@brijhub Can you send me the Video Url that cause the error above?

Also, one design of Toro is to hide all direct interaction with PlayerView, so I will look into it to see if it can be done better. The LoopingMediaSource is used before setRepeatMode is implemented into ExoPlayer, so it will take some time. You can do it by yourself right now by implementing some classes by your own though. If yo

[2018-06-12 12:42] IgorKBigApps commented on #315
I get the same issue from time to time do you have any idea how to fix it?

[2018-06-12 12:54] eneim commented on #315
@IgorKBigApps How do you setup your Container? The issue is caused by null LayoutManager. Also, there was a fix for this in 3.5.2 so I suggest you to try it.

[2018-06-12 13:18] IgorKBigApps commented on #315
thanks the problem seems to be fixed :)

[2018-06-12 13:35] #315 closed

[2018-06-12 13:49] maxbaldrighi commented on #333
Thank you very much!
Thanks also for the insight regarding .
But that was just curiosity
Some snippet would be much appreciated! My `setRepeatMode()` question was just out of curiosity. I would be perfectly fine using `LoopingMediaSource`, as long as it works! ;)

Here's the link of the video btw:
https://s3.amazonaws.com/hl-media-storage/02a6d890-d233-4ace-984b-0463ba588536.m4v

[2018-06-12 14:11] eneim commented on #333
@maxbaldrighi I have working demo with LoopingMediaSource, so it would work if the source doesn't cause any internal issue (it happens sometime FYI).

Below is a step by step show you how to customer the behavior your way.

[1] Customize your ``ExoCreator``: Extend ``DefaultExoCreator``, override ``createPlayer()`` and then, you can get the result of ``super.createPlayer()``, call ``setRepeatMode(

[2018-06-12 14:17] maxbaldrighi commented on #333
Thank you!

Ah, ok, so you're saying that probably trying with another video the loop might work also with my current implementation, isn't it?

I'm gonna keep trying and keep you posted.

[2018-06-12 14:19] eneim commented on #333
@maxbaldrighi Yeah I guess the issue is caused by the Video. Trying to break it down now. But I suggest you to try with another one, better not m4v or mov (which is kind of close format).

[2018-06-12 14:24] eneim commented on #333
@maxbaldrighi FYI https://github.com/google/ExoPlayer/issues/3092

Maybe the Video file lacks of some header ... I will try to convert it to other container and double check a few times. But surely you should check your source too, if you control the source.

[2018-06-14 18:55] maxbaldrighi commented on #333
@eneim I'm sorry for getting back to you with such a delay.
I tested my current implementation with the LOOPING MediaSource directly put into the ExoPlayerHelper with a plain mp4 video and it works!

[2018-06-14 23:48] eneim commented on #333
@maxbaldrighi sounds good. I think current solution works at least for now. I will certainly update it with latest ExoPlayer spec and guideline. Please consider to close this. If you have further issue which may or may not related to looping playback, just create new issue.

[2018-06-15 01:31] maxbaldrighi commented on #155
Hello @eneim!

I'm facing the exact same issue trying to apply the same use-case as @iarchii 's.
The only difference is that i'm using toro version **3.5.2**

Is this still a known unsolved issue?

Here what I'm not understanding after some debugging: after switching Activity the boolean value *playWhenReady* in `onPlayerStateChanged()` method switches automatically to false and even explicitly fo

[2018-06-15 01:53] eneim commented on #155
@maxbaldrighi do you have any code that can reproduce the issue? For example: how you switch Activity, code of your current ViewHolder where it doesn't work well.

[2018-06-15 03:01] maxbaldrighi commented on #155
Sure, I will share with you some code as soon as I manage to put it together.
Thanks!

[2018-06-15 19:10] denno640 commented on #320
@ishroid @eneim I have been trying to use the caching as well as looping. I succeed in looping using ExoPlayerViewHelper in my viewholder class. How do I get the caching in my project? I have used the gradle dependencies to get Toro. I'm suspecting I have to change the way I'm importing the library? Please help

[2018-06-16 06:17] eneim commented on #320
Hey, there is a comment above about Cache, can you take a look?

[2018-06-17 10:56] maxbaldrighi commented on #155
ViewHolder source:

    public class FeedMemoryVideoVHToro extends FeedMemoryViewHolder implements ToroPlayer {

	private ExoPlayerViewHelper videoHelper;

	private PlayerView mainView;
	private ImageView thumbnailView;
	private View thumbnailViewLayout;

	private View playBtn;
	private View progressView;
	private TextView progressMessage;

	FeedMemoryVideoVHToro(View view, TimelineFragment fragme

[2018-06-17 12:19] eneim commented on #155
@maxbaldrighi will need some time to figure out the cleanest way. Right now, what I do on my demo app is to use startActivityForResult instead. And once the VideoViewActivity need to be finished, it tells the Activity started it about that event, and from there, reset the Container as below:

[code]

I will think about your case as well. What I'm working on now is to have the helper detachable, so

[2018-06-18 07:45] DummyCo commented on #341
@eneim seems like no new issues spawned

[2018-06-19 04:55] eneim commented on #341
Having not many time lately, I will consider to push something new in next few weeks ^^!

[2018-06-21 07:45] yankelandroid opened #347 "How can i mute video ?"
What kind of issue is this?

- [x] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2018-06-21 07:51] eneim commented on #347
@yankelandroid Can you answer the questions in template?

[2018-06-21 07:56] yankelandroid commented on #347
its done its just a question

[2018-06-21 08:06] eneim commented on #347
@yankelandroid Yeah, but I need to know which version of Toro you are using, therefore I know how you can mute the Video. Please help :D.

[2018-06-21 08:07] yankelandroid commented on #347
yes of course sorry haha :)

 'im.ene.toro3:toro:3.2.0'
 'com.google.android.exoplayer:exoplayer:r2.5.4'

[2018-06-21 08:12] eneim commented on #347
@yankelandroid Thanks.

Supposing that you are using ``ExoPlayerHelper`` for your ViewHolder, the ```player``` instances is not exposed, so it is not straight forward to mute. You can use your ```playerView`` instance, getPlayer() as ```SimpleExoPlayer``` and then call ```setVolume()``` from there.

In latest 3.5.2, there is interface to work with volume though. It is not trivial to update from 3.

[2018-06-21 08:29] yankelandroid commented on #347
i solved it thx , i change the volume in the func overrid play

[2018-06-21 08:32] eneim commented on #347
@yankelandroid Got it. Good to hear that. Please consider to close the issue as well :D.

[2018-06-21 09:13] #347 closed

[2018-06-22 15:47] lucazin opened #348 "Not Play two last visible itens"
Hello!

I'm using the last version of toro.

i'm using in recycleview and works perfect! but when i scroll and i have two last itens visible ..toro
not play the last video item

how can i fix that ?

Sorry for my poor english!
Thanks

[2018-06-24 19:39] sivakumar83 commented on #345
@eneim DownloadService, DownloadManager are added in [ExoPlayer 2.8.0](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#280) for HLS Video. How can I get Toro library for ExoPlayer 2.8.0?

[2018-06-24 23:37] eneim commented on #345
@sivakumar83 If you just need to cache for later playback (so next time it will use cache instead of using the Internet), I believe 2.7.1 works. DownloadManager and DownloadService will help you to download the media to save the whole file. If you really need 2.8.x, please wait a few days ...

[2018-06-26 12:45] fandygotama-tokobagus commented on #341
hi @eneim i'm getting the NPE for playback info

`java.lang.NullPointerException
        at im.ene.toro.ToroUtil.checkNotNull(ToroUtil.java:80)
        at im.ene.toro.widget.PlaybackInfoCache.savePlaybackInfo(PlaybackInfoCache.java:349)
        at im.ene.toro.widget.PlaybackInfoCache.restoreStates(PlaybackInfoCache.java:377)
        at im.ene.toro.widget.Container.onRestoreInstanceState(Container.

[2018-06-27 06:41] prat-z opened #349 "Laggy first scroll, because of player initialisation."
Whenever the first video view in a list is loaded on the application, the `initialize()` method of `ExoPlayerViewHelper` is called, which tries to create an instance of ExoPlayer. This operation is being performed on the main thread, which causes a slight scroll lag on medium-low performance devices(Deduced via profiling the application).

Is there something that the library provides to overcome t

[2018-06-27 06:53] DummyCo opened #350 "Pause selected & playing video on explicit PlayerView event"
Hi there, @eneim!
Is there any elegant solution to pause currently playing item(s) in case user is commanding another visible & selected item's _PlayerView_ to start playback explicitly via controller for instance?
Intercepting this event and notifying selected _ToroPlayers_ doesn't look like nice approach. Do you have any ideas here? Thank you!

[2018-06-27 07:40] Davidvete commented on #350
Loop through the recycler view that has the list of videos then pause them individually. Here is a snippet of my Kotlin code that does the same:
val activePlayers = timelineRecyclerView.filterBy(Container.Filter.PLAYING)
            activePlayers
                    .filterIndexed { index, item ->
                        index != adapterPosition && item.playerView !== simpleExoPlayerView

[2018-06-27 07:42] eneim commented on #349
@prat-z From 3.4.2, the Player instance will be created but there is option to skip the actual loading. I guess you mean that the Player instance initialization cause the lag? It should be really lightweight, but let me double check. I may consider to delay the Player instance creation as well if it is a huge impact to end user.

[2018-06-27 08:02] DummyCo commented on #350
@Davidvete so that's it, I'm not happy with that approach and wondering if that's possible to solve it with _PlayerSelector_ or something :D

[2018-06-27 08:14] eneim commented on #350
@DummyCo @Davidvete let me think about this. At the moment, it can think of ```container#filter()``` where you can get all current playing items, and then manually pause expected ones. But with this, once user scroll or just interact with the screen, it will refresh them all. Will see what I can do :-?.

[2018-06-28 09:12] eneim commented on #349
Got it. @prat-z profilling info is indeed super helpful.

[2018-06-29 12:55] sidndis commented on #252
i want to show a thumbnail as video preview until the video is loading or preparing. Once its prepared i want to remove the thumbnail and show the video running. When i scroll up to next video preview should be back over the video. I hope you understand what i am saying. Facebook, Instagram all are following same approach. Can you help me in this ?

[2018-06-29 13:14] prat-z commented on #349
Tried generating a .trace file but device performance itself deteriorates when method profile, due to `initialize()` is not showing up in the profiler. Attaching a screenshot of Logcat. This shows the time taken by `initialize()` method of ToroHelper in millisecs. You can see in the logs that the first call takes significantly more time than others, and thus causes the lag.
![screen shot 2018-06-2

[2018-06-30 01:19] eneim commented on #349
@prat-z Thanks for the input. I'm trying some local update. But next time it may just init the Player as lazy as possible. Will try the same methodology to check the performance.

[2018-07-01 05:21] fahmisdk6 commented on #340
hi @brijhub @eneim ,
any working example on how to use two helper classes and viewholders?

[2018-07-02 12:13] eneim commented on #341
@fandygotama-tokobagus I don't think manually call ``layoutManager.onSaveInstanceState()``, it is called by RecyclerView already. I will investigate the NPE :-/.

[2018-07-03 01:47] eneim commented on #348
@lucazin This is a known issue, though it is quite difficult to tell RecyclerVew "this is the video on the bottom, and you should play it", especially in the case you have more than one Video visible. Working on this is in process now, but I could not promise a neat solution yet ...

[2018-07-04 07:20] thealpha commented on #252
use glide for loading video thumbnail...set its path as video uri.....if you still don't understand use my code

[2018-07-04 07:20] thealpha commented on #252
`       @Override
        public void initialize(@NonNull Container container, @Nullable PlaybackInfo playbackInfo) {
            if (helper == null) {
                helper = new SimpleExoPlayerViewHelper(container, this, mediaUri);
            }
            helper.initialize(playbackInfo);
          //  container.setCacheManager(CacheManager.DEFAULT);
                RequestOptions requestOptio

[2018-07-04 07:21] thealpha commented on #252
`    @Override
           public void initialize(@NonNull Container container, @Nullable PlaybackInfo playbackInfo) {
            if (helper == null) {
                helper = new SimpleExoPlayerViewHelper(container, this, mediaUri);
            }
            helper.initialize(playbackInfo);
                RequestOptions requestOptions = new RequestOptions()
                        .placeholder(

[2018-07-04 09:03] #252 closed

[2018-07-04 10:38] alexglobalbit opened #352 "NullPointerException inside PlayerManager"
I have a nested recyclerview with videos and images, and some time when scrolling, this exception occur:

java.lang.NullPointerException: Attempt to invoke virtual method 'void android.os.Handler.removeCallbacksAndMessages(java.lang.Object)' on a null object reference
        at im.ene.toro.widget.PlayerManager.detachPlayer(PlayerManager.java:52)
        at im.ene.toro.widget.Container.onChildDeta

[2018-07-04 11:58] eneim commented on #352
@alexglobalbit Seem that it is called before RecyclerView is attached or after it is detached. And I have the null check for handler everywhere accept a few place ... Thanks for pointing this out I will fix it in next release.

[2018-07-05 12:49] eneim commented on #350
@DummyCo trying a few options including a customer ControllerDispatcher, what I'm wondering now is how to pack from 'manual control' to 'automatic control'. The behaviour is tight to UX, which is close to your app's requirement actually. Do you have some idea about how you would like it to behave?

[2018-07-08 10:48] Parag09 commented on #233
that worked for me too
thanks you very much

[2018-07-09 01:04] eneim commented on #352
@harshbhavsar011 fixed locally, I will consider to update a snapshot build soon.

[2018-07-12 08:44] harshbhavsar011 commented on #246
java.lang.IllegalStateException: Player is playing while it is not in managed state: ViewHolder{2b10cca position=11 id=-1, oldPos=-1, pLpos:-1 not recyclable(1)}

[2018-07-12 08:47] harshbhavsar011 commented on #256
`java.lang.IllegalStateException: Player is playing while it is not in managed state: ViewHolder{2b10cca position=11 id=-1, oldPos=-1, pLpos:-1 not recyclable(1)}` Any one found solution?

[2018-07-12 09:19] sharmadev2506 commented on #246
@harshbhavsar011  Could you post your adapter class here.

[2018-07-12 10:14] harshbhavsar011 commented on #246
`
@SuppressWarnings("WeakerAccess") //
public class NestedPlayerViewHolder extends BaseViewHolder implements ToroPlayer {

    static final int LAYOUT_RES = R.layout.view_holder_exoplayer_nested;

    ExoPlayerViewHelper helper;
    Uri mediaUri;

    @BindView(R.id.player)
    PlayerView playerView;

    @BindView(R.id.progress_bar)
    ProgressBar progress_bar;

    public NestedPlayerViewHolder

[2018-07-12 10:17] sharmadev2506 commented on #246
@harshbhavsar011  Is your holder global to the adapter or its local to the viewholder?

[2018-07-12 10:20] harshbhavsar011 commented on #246
Are you talking about `NestedPlayerView` Holder and `ImageViewHolder` ? Right ?
Its Local viewholder i Can not access to `MediaViewHolder`

[2018-07-12 10:23] sharmadev2506 commented on #246
Pardon. I was asking about helper.

[2018-07-12 10:44] prat-z opened #353 "Insufficient resources while initialising MediaCodec in Exoplayer"
After playing several videos in the same app session, `onPlayerError()` starts getting invoked with below error message
`com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: OMX.qcom.video.decoder.avc, Format(1/27, null, video/avc, -1, null, [1920, 1080, -1.0], [-1, -1])`

On further debugging, it was discovered that `MediaCodec.java` is

[2018-07-12 10:44] sharmadev2506 commented on #246
class ViewHolderVideo extends RecyclerView.ViewHolder implements ToroPlayer, ExoPlayer.EventListener {

        private ExoPlayerHelper helper;
        private SimpleExoPlayerView dialogPlayerView;

        ViewHolderVideo(View itemView) {
            super(itemView);
            ButterKnife.bind(this, itemView);

        }

        @NonNull
        @Override
        public View getDialogPlayerVie

[2018-07-12 11:05] sharmadev2506 commented on #246
/*
 * Copyright (c) 2017 Nam Nguyen, nam@ene.im
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distr

[2018-07-16 17:53] athysirus opened #354 "SubTitle json text for ExoVideoView"
How can I use subTitle json text for ExoVideoView?

[2018-07-18 15:53] dajver opened #355 "Does toro worksin child recyclerview inside parent recyclerview?"
@eneim Hi! I have found that if put toro into child recyclerview holder which will be in parent recyclerview holder, it is not working. For example

I have parent view holder where I waht to have list of all my videos in horizontal recycler view. Here I create anopther adapter with child view holder to show them in horizontal list.

`
public class ProcessedViewHolder2 extends RecyclerViewHolder {

[2018-07-19 07:21] dajver commented on #355
My stupidity, I tried to use recyclerview instead of container :D

[2018-07-20 16:45] bragonya1992 commented on #278
Sorry, someone know how to resolve abstract method issue in exoplayer?

Regards.

[2018-07-23 06:07] eneim commented on #278
@bragonya1992 There is a dependency relationship between Toro version and ExoPlayer version. Can you clarify which version of each you are having in your build.gradle?

[2018-07-23 06:39] eneim commented on #355
@dajver sounds good :D

[2018-07-23 06:39] #355 closed

[2018-07-24 06:34] harshbhavsar011 opened #356 "Nested Scroll not working with Container."
Toro version : v3

- CoordinatorLayout
     - AppBar Layout
            - CollpasableLayout
      - FrameLayout  ->  Nested scrollview -> Toro container
- /CoordinatorLayout

 I have a fragment that has 1 frame-layout container in bottom . I am replacing 3 framgments in that frame container (FrameLayout) . Nested scroll working with default recycleview but not working with toro container .

[2018-07-24 08:06] eneim commented on #356
@harshbhavsar011 Why do you need ``Nested scrollview -> Toro container`` ?

As far as I know, this is not really good in term of performance.
To make sure it is a bug, can you debug your app, and make sure that ``Container#onScrollChanged(int)`` is called or not being called?

Last but not least, I suggest to consider to remove the nested scroll view if it is not necessary :D.

[2018-07-24 08:44] harshbhavsar011 commented on #356
Have a look into this video.

[2018-07-24 08:59] eneim commented on #356
@harshbhavsar011 I see. How do you set the "app:behavior" for now? Can you share the xml with me? Email me if it need to be private --> nam@ene.im

[2018-07-24 09:53] harshbhavsar011 commented on #356
[code]

**fragment_media**

  `
  <RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:orientation="vertical">

        <com.inheritx.flair.customeviews.EmptyRecyclerView
            android:id="@+id/rvData"
            android:layout_width="match_p

[2018-07-24 09:56] eneim commented on #356
How about putting the Container out of LinearLayout (and even remove the LinearLayout)?

[2018-07-24 10:01] harshbhavsar011 commented on #356
Already tried all that possible XML changes. Also working in `MEDIA` recycleview.  Do you think This issue  can be occurs because of customized `container` (Toro recycleview) ?

[2018-07-24 10:03] eneim commented on #356
Hmm. I don’t remember touching anything with that behaviour. It should work just like any other RecyclerView. I may need some inside like which View is detected by the Behavior and etc. Did you try to change the tab order, making Container to be the first tab?

[2018-07-24 10:08] harshbhavsar011 commented on #356
Yes tried not working! I have to dig into touching behaviour now!

[2018-07-24 10:09] eneim commented on #356
Hmm. will try this as soon as I get home.

[2018-07-24 10:11] eneim commented on #356
I hope there is nothing use reflection to inject the behaviour, but I will take a look deep down inside :(.

[2018-07-26 04:41] castrokingjames opened #357 "VLC backend"
Can we add support for lib VLC?

[2018-07-27 03:42] eneim commented on #357
@castrokingjames If you know about a good java/kotlin wrapper of libvlc or alternatives, I can consider to support. Thinking about this already, but I'm not familiar with native development :(. There is ijkplayer but the interface is quite complicated. If ExoPlayer can be used as interface (see ExoPlayer ffmpeg extension), it is perfect.

[2018-07-30 12:25] eneim commented on #354
@athysirus Sorry for late reply. Which version of Toro you are using?

[2018-07-30 13:45] prat-z commented on #353
@eneim Any update on this?

[2018-07-30 13:54] eneim commented on #353
@prat-z really sorry. I may have forgotten this issue. Let me take a look. I think the number of MediaCodec is used up. Normally the MediaCodec is released if it is not in used. I will push some update in next few days ...

[2018-07-31 13:02] smithc42 opened #358 "Question: Support for ExoPlayer IMA extension"
Hi, I was wondering if Toro supports ad playback using the [ExoPlayer IMA extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ima)?

Thanks!

[2018-08-01 02:44] eneim commented on #358
Theoretically it should support this by default. Let me try this later.

[2018-08-01 09:52] smithc42 commented on #358
Great! If you have any questions let me know

[2018-08-01 12:27] mwshubham commented on #290
I got a folder created in my internal file dir. But there is no cache file. I guess there should be some cache video file whenever I play the file

[2018-08-03 03:16] eneim commented on #290
@mwshubham Can you show me the line you config Cache in your app?

[2018-08-03 06:00] mwshubham commented on #290
@eneim Thanks for your reply. Here is what I did https://hastebin.com/epekavubiz.sql

[2018-08-03 11:34] HemangiVekaria opened #359 "Playerview of one fragment show in other fragment"
I am using com.google.android.exoplayer2.ui.playerview in one of my app.
In my app i have tab bar with fragments and in first fragment of tab i am using recyclerview with this playerview.

This work fine in that fragment. Now when i switch to second tabs fragment there i also use RecyclerView with PlayerView. for both fragments recyclerView adapter and xml files are different. But still when secon

[2018-08-03 12:08] eneim commented on #359
@HemangiVekaria can you share with me how you setup your ViewPager (you are using it right?).

[2018-08-03 12:10] HemangiVekaria commented on #359
Thanks @eneim I am not using view pager. I have five tabs in my main activity. When activity open i replace FirstFragment with Recyclerview to one Frame. After that on click of other tab i replace SecondFragment in same frameLayout container.

[2018-08-03 12:29] eneim commented on #359
:-?

What do you mean by that? Any screenshot for easy to imagine result?

You replacing the Fragment using fragmentTransction.replace or fragmentTransaction.attach/detach or fragmentTransaction.add/remove?

(I suppose It will affect how RecyclerView is attached/detached)

[2018-08-03 12:49] HemangiVekaria commented on #359
I am using fragmentTransacton.replace for replacing fragment.

"same player view half" by mean when second fragment open with recyclerView with Playerview at that time Player view of that fragment is already there. Playerview of first fragment is upon current Playerview. When you scroll listview at that time current player view scroll up with recycler view while playerview from first is stick on s

[2018-08-03 14:23] smithc42 commented on #358
@eneim hey, just wondering if you got a chance to try this? I'd like to try it myself or implement the extension if possible. If you have any idea on where to start that'd be great!

[2018-08-06 06:34] eneim commented on #359
@HemangiVekaria I see. I think this is something with [1] PlayerView that use SurfaceView and [2] Artifact problem of old playback.

Can you verify the following things:

- [1] Using TextureView for PlayerView (set the xml attribute). It is not recommended to use TextureView though, I just want to verify my theory.

- [2] Change Container to RecyclerView in all your fragments (to make sure this is

[2018-08-07 03:01] dokiKit opened #360 "Video can only play once"
Thanks for the great library. I use this library for purpose of the ability to play video in a recyclerview. I disable auto play. But I found that when I play the video manually using the helper.play() and helper.pause() function, the first time the video is played normally. When the video is completed playing, and I try to play it again, the ToroPlayer.EventListener immediate called onComplete. W

[2018-08-07 06:25] dokiKit commented on #360
I found that if I seek the player to 0ms, the video can be played. Seems that oncomplete does not reset the seek progress

[2018-08-07 16:51] HemangiVekaria commented on #359
Using texture view for player view it's worked for me... Thank you so much @eneim

[2018-08-08 02:31] eneim commented on #290
@mwshubham I will take a look. Sorry so busy lately ...

[2018-08-08 02:35] eneim commented on #290
@mwshubham

Here is your code in VideHolder:

[code]

You are not using your exoCreator here, so it will not use the Cache.

Try these:

[code]

[2018-08-08 03:58] eneim commented on #359
@HemangiVekaria About the repeat mode, I need to figure out this field. For your information, current version of Toro still use LoopingMediaSource for looping the Video. I'm updating it to newer implementation of ExoPlayer. Though my time is quite tight lately, I will push some update soon.

[2018-08-08 04:00] eneim commented on #360
@dokiKit From what I remember now, after onComplete is called, the Player state becomes 'IDLE', which requires it to prepare again to be able to start another playback. If you use helper as standalone, try to call prepare/initialize again and see if it helps.

[2018-08-08 05:25] HemangiVekaria commented on #359
Thanks @eneim.... LoopingMediaSource for looping the Video worked for me.

[2018-08-08 05:25] #359 closed

[2018-08-08 11:07] smithc42 commented on #358
Hey, I've tried to get the IMA extension working with Toro. I've created a module ([toro-exoplayer-ima](https://github.com/smithc42/toro_ima/tree/feature_exoplayer_ima/toro-exoplayer-ima)) which is basically a copy of the existing toro-exoplayer module, except it uses [AdsMediaSource](https://google.github.io/ExoPlayer/doc/reference/index.html?com/google/android/exoplayer2/source/ads/AdsMediaSourc

[2018-08-09 05:05] mwshubham commented on #290
Thanks, @eneim I thought cache was enabled by default on configuration builder. Thanks for an easy library. It barely took any time to get the things ready.

[2018-08-10 00:07] eneim commented on #290
@mwshubham Will consider to make the configuration more obvious. Thanks for using toro :D.

[2018-08-10 00:07] #290 closed

[2018-08-13 10:41] aderinto05 opened #361 "preload source media video list."
can we preload source media for video list simultaneously?
- [ ] Question.

[2018-08-14 11:09] aderinto05 commented on #188
any update for this issue @eneim

[2018-08-14 12:12] aderinto05 opened #362 "can this library uses dynamic player from exoplayer for handling preload?"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

[2018-08-14 12:42] aderinto05 opened #363 "can we detect current player when user scroll / longpress on container ?"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

[2018-08-15 07:45] aderinto05 opened #364 "I have video list and I want to start play by index of lastVisiblePosition.?"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

[2018-08-17 03:56] eneim commented on #361
@aderinto05 Sorry for late reply, what do you mean by preload? Do you want the media to be prepared even if it is not visible yet?

[2018-08-17 03:56] eneim commented on #362
@aderinto05 Hi, what do you mean by "dynamic player"? Not really catch the point here ^^!

[2018-08-17 03:57] eneim commented on #363
@aderinto05 Container comes with the method "filter" where you can filter by a certain condition. Please give it a try :D.

[2018-08-17 07:56] eneim commented on #270
@brijhub Sorry for late reply. I tried to mimic the process, but my Videos stop playing after coming back as expected ... Can you send me a screen record of your issue, and if possible, simple source code to reproduce it? Also, can you tell me which toro version you used and Device info?

[2018-08-17 08:01] #333 closed

[2018-08-18 02:31] eneim commented on #350
@DummyCo @Davidvete Long time no update, can you take a look at [this commit](https://github.com/eneim/toro/commit/53c004ba65035676d346afb6320e8839a41abfb7)  and see if it works in your case?

[2018-08-18 11:58] gouravd opened #366 "How to pass custom AdaptiveTrackSelection or DefaultTrackSelector"
What kind of issue is this?

For our network conditions, we would like to have customized Values for AdaptiveTrackSelection (like Max default initial rate).

Currently I could not find a way to pass a custom AdaptiveTrackSelection or DefaultTrackSelector. Any suggestions would help.

[2018-08-20 04:04] aderinto05 commented on #362
https://medium.com/google-exoplayer/dynamic-playlists-with-exoplayer-6f53e54a56c0. @eneim

[2018-08-20 04:08] aderinto05 commented on #361
Yes exactly. @eneim

[2018-08-20 04:36] eneim commented on #363
@aderinto05 Sadly it is not supported by now. As you know 'touching' is quite tricky concept. If I refresh the player list on touching/dragging state, it will refresh quite aggressively (so many refresh happen in short amount of time). I will consider how to do this in performant way next major release, but it may not be there anytime soon :(.

[2018-08-20 04:47] eneim commented on #361
@aderinto05 I will consider to make this. But it may not be there soon :-? Performance and Stability are always my highest priority :D. Need to make this in a performant way.

[2018-08-20 06:06] imediabiz commented on #361
Same here. We would like to have similar like what facebook has lol

[2018-08-20 11:13] DummyCo commented on #350
@eneim sorry for such long response pause, there was no chance to check it out, will give a feedback ASAP.
Thank you so much for all the participation!

[2018-08-20 12:32] eneim commented on #350
@DummyCo It is fine. In fact I just make some update for this few days ago >.<. Would like to have this as an option for next release as well.

[2018-08-20 12:35] eneim commented on #366
@gouravd My default implementation use the following constructor:

[code]

Internally it will init a new AdaptiveTrackSelection using the BandwidthMeter.

The toro-exoplayer extension allows you to pass custom BandwidthMeter using BaseMeter.
So, currently, instead of passing custom AdaptiveTrackSelection, you can use custom BandwidthMeter to build your BaseMeter, pass it to Config to build Player

[2018-08-21 16:03] gouravd commented on #366
Thanks, I do use my own BandwidthMeter but we wanted to modify the additional settings for the AdaptiveTrackSelection.

So I will wait for the Factories to be available.

[2018-08-22 14:02] eneim commented on #358
@smithc42 I have put some updates to latest dev-v3, you can get it using version 3.6.0.2802-SNAPSHOT, there is also demo code at demo-ads. Please take a look :D.

[2018-08-22 14:02] #354 closed

[2018-08-22 15:52] aminm2a opened #370 "Cache next videos before playback them"
Does Toro supports caching next videos before even playing them ? This way we get seamless transition.
I know we can do that when using playlists (ConcatenatingMediaSource) in exoplayer.
Thanks,

[2018-08-23 00:51] eneim commented on #370
There is request for preload lately. I'm aware of the need and will implement this in next major release (after 3.6.0 which comes later this month).

About using ConcatenatingMediaSource, I'm reading the article and doc to figure out how it would fit my design and how should I change the design to be more flexible. It may take some time so please wait ^^).

[2018-08-23 06:00] eneim commented on #364
@aderinto05 What if you set the LinearLayoutManager to 'reverseLayout' to true?

Another options is, to use PlayerSelector.DEFAULT_REVERSE.

[2018-08-23 06:05] eneim commented on #352
Please try the fix in 3.6.0.2802-SNAPSHOT :D

[2018-08-23 08:56] eneim commented on #341
This issue should be fixed on 3.6.0.2802-SNAPSHOT.

[2018-08-23 08:56] eneim commented on #362
I will check this article out. Thanks.

[2018-08-23 09:25] smithc42 commented on #358
@eneim thanks for the update!

I had a quick test of the demo-ads module and the ads play, but there's the same issue I faced previously with the ad not resuming when the video comes back on screen.

**Steps to reproduce**

1. Play first video with ad
2. Scroll to second video before ad finishes on first video
3. Second video with ad starts playing
4. Scroll back to first video

**Expected result:

[2018-08-23 09:58] eneim commented on #358
I see. I will see what I can do, but it seems to be a ongoing issue with ExoPlayer too: https://github.com/google/ExoPlayer/issues/4300 and we may need to wait ^^!

[2018-08-23 16:39] smithc42 commented on #358
Ah, ok. Hopefully they look into the fixing the bug at some stage! Thanks

[2018-08-24 00:55] eneim commented on #358
@smithc42 So I take a look at the IMA Doc. If we intercept the AdEvent and make some customize, it may work: https://developers.google.com/interactive-media-ads/docs/sdks/android/v3/api/reference/com/google/ads/interactivemedia/v3/api/AdEvent.AdEventType

Honestly, I don't really understand how Ads should work in practice (there are many patterns ...). If you can take a look on this Doc, and give

[2018-08-24 10:39] smithc42 commented on #358
So after adding an AdEventListener to the ImaAdsLoader in the demo-ads sample, I can see when order of AdEvents.

**Currently**

1. Play first video with ad : **AdEventType.STARTED on first video**
2. Scroll to second video before ad finishes on first video : **AdEventType.PAUSED on first video**
3. Second video with ad starts playing : **AdEventType.STARTED on second video**
4. (1) Scroll back to

[2018-08-24 16:03] shubhubhosale commented on #370
https://github.com/danikula/AndroidVideoCache

Use this library, this will serve what you want to do

[2018-08-26 08:43] devingDev commented on #370
@shubhubhosale how do I use it with these

    private PlayerView playerView;
    private ExoPlayerViewHelper

And I also want this feature in this lib if that is possible.

[2018-08-27 09:19] androidvk opened #371 "Can we play just a single video without using container or recycler view and cache it position?"
What kind of issue is this?

- [x] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2018-08-27 14:31] eneim commented on #371
@androidvk about using this without Container, please take a look at this demo: [Playing single video using Playable](https://github.com/eneim/toro/tree/dev-v3/demo-exoplayer/src/main/java/toro/demo/exoplayer/playable) or this [Playing single video using PlayerView and ToroExo/ExoCreator](https://github.com/eneim/toro/blob/dev-v3/demo-exoplayer/src/main/java/toro/demo/exoplayer/creator/CreatorDemo

[2018-08-29 11:28] androidvk commented on #371
https://github.com/eneim/toro/blob/dev-v3/demo-exoplayer/src/main/java/toro/demo/exoplayer/DemoApp.kt @eneim  brother can you please convert this to java file.

[2018-08-30 08:06] aderinto05 commented on #371
can we play just a single video after click from list without buffer in begining and play from last position. @eneim

[2018-08-30 09:16] eneim commented on #371
@aderinto05 This is not supported by default now. I'm investigating a lot on this, even make a separated library for PoC, but the short answer is not right now :(.

@androidvk Please wait, gonna make a gist for you later.

[2018-09-04 03:30] aderinto05 opened #374 "Play auto next"
I use this version : im.ene.toro3:toro:3.5.2
Can this version use auto next in Playable?
When I use im.ene.toro2:toro-extended:2.3.0 for auto next, it's not compatible.

What kind of issue is this?

- [x] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

[2018-09-05 10:59] eneim commented on #374
@aderinto05 How would you describe the "auto next" you mention here?

[2018-09-06 12:35] shiv71 opened #375 "VIdeo thumbnail image"
How to add thumbnail image in video and how to add server video url in player

[2018-09-06 12:44] eneim commented on #375
@shiv71 Can you show me your xml of the PlayerView?

[2018-09-07 11:35] shiv71 commented on #375
<?xml version="1.0" encoding="utf-8"?>
<layout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto">

    <data>
        <variable
            name="avm"
            type="com.buddynation.DroneNation.view.newsfeed.PostViewModel" />
        <import
            type="android.view.View"/>
    </data>
<LinearLayout
    android:id="@+id/pare

[2018-09-07 11:42] shiv71 commented on #375
In your example your are using Uri object to play video .
 My requirement is that
1.I want to pass string url for video
2.How to add thumbnail string url with player.
3. How to show full screen video is there any option in player.
Its urgent please reply fast.
Thanks

[2018-09-07 11:51] eneim commented on #375
@shiv71 Just update your command with code highlight.

[Here](https://github.com/eneim/toro/blob/dev-v3/demo-ads/src/main/java/toro/demo/ads/mopub/VideoViewHolder.java#L43) is how I put the thumbnail. It requires an image url for the thumbnail, and also add an ImageView to your layout. Please see this [layout](https://github.com/eneim/toro/blob/dev-v3/demo-ads/src/main/res/layout/vh_video_player.x

[2018-09-07 12:48] aderinto05 commented on #374
I had found solution thanks @eneim

[2018-09-07 12:52] #374 closed

[2018-09-11 13:07] imran-samed opened #379 "cache videos from url"
I want to cache videos from url, videos are playing while is connected with internet, but videos are not playing in offline mode

  - [**3.6.1.2802** ] Toro version.

I used your facebook sample, and passed video URL instead of uri in **MediaUrl**

`public enum MediaUrl {
TEARS_OF_STEEL("http://xxxxxxxx.com/uploads/153634027269703.mp4", 2.4f), //
BIG_BUCK_BUNNY("http://xxxxxxxx.com/uploads/MOV_000

[2018-09-11 15:27] shiv71 commented on #375
I have 3 queries
1. Is there any way to autoplay even when scrolling ? It seems right now the video plays when user stops scrolling.
2. How can I add a full screen button along with default controls ?
3.How can i remove volume bar control.

[2018-09-12 11:36] eneim commented on #379
@imran-samed You can construct your Cache instance without limit of the storage. See [this line](https://github.com/eneim/toro/blob/dev-v3/demo-exoplayer/src/main/java/toro/demo/exoplayer/DemoApp.kt#L43) but instead of using LeastRecentlyUsedCacheEvictor you can use NoOpCacheEvictor. But make sure to read the javadoc in that class for the warning.

[2018-09-12 11:38] imran-samed commented on #379
@eneim  i tried that demo also, but  didn't work for me.

[2018-09-12 11:44] imran-samed commented on #379
while trying that, I'm getting  error.
See the ScreenShot

![image](https://user-images.githubusercontent.com/34650172/45422891-44868a00-b6af-11e8-9082-0381e100657e.png)

[2018-09-12 11:48] eneim commented on #375
@shiv71 Cannot have urgent answer for everything. About [1] It is not supported now. You need to wait for some future release. The reason is mostly about performance concern. [2] You need to customize your ControlView, just like how I do it with ```ToroControlView``. [3] If you are using PlayerView, there is an xml attribute: ```player_layout_id```. If it is set to ```toro_exo_player_view``` pleas

[2018-09-12 11:51] eneim commented on #379
@imran-samed About the error, it says you may have more than accepted number of parameter. The "NoOpCacheEvictor" doesn't have a parameterized constructor ...

[2018-09-12 11:52] eneim commented on #379
Let me check the NoOpCacheEvictor again on my demo.

[2018-09-12 11:54] eneim commented on #379
@imran-samed Can you share with me the ViewHolder where you implement ToroPlayer? Please make sure you have the right Config in your Helper class.

[2018-09-12 11:59] imran-samed commented on #379
I'm using user **demo-exoplayer** also, its same, nothing is changed.

[2018-09-12 12:28] eneim commented on #379
@imran-samed Having the following works in my demo, at least for one video of length 1:41

[code]

[code]

[2018-09-12 12:30] eneim commented on #379
<img width="454" alt="screen shot 2018-09-12 at 21 29 41" src="https://user-images.githubusercontent.com/1776230/45424966-00a57c00-b6d3-11e8-9d45-20827221db51.png">

Above is how the cache is done. Can you try that again and use Android Studio to double check the cache folder?

[2018-09-12 12:43] imran-samed commented on #379
@eneim  ok, let me try this.

[2018-09-12 13:06] imran-samed commented on #379
@eneim Thanks Man, its working absolutely fine.

[2018-09-12 13:06] #379 closed

[2018-09-12 14:04] thealpha opened #380 "CAN I USE VideoView or any other video player instead Exoplayer"
I need to use video view as a player ...how can I initialize it ??? please

[2018-09-12 15:04] eneim commented on #380
@thealpha [Here](https://github.com/eneim/toro/tree/dev-v3/app/src/main/java/im/ene/toro/sample/legacy) is the demo that use the normal VideoView and MediaPlayer. It requires you to extend VideoView, but no big deal. Please take a look.

[2018-09-12 16:44] thealpha commented on #380
@eneim thanks ..but I am facing a new unknown problem I can't able to see video ..

[2018-09-12 16:53] eneim commented on #380
@thealpha Please give more information. At least the video Uri, Toro version, Android version, Device name, Logcat stack.

[2018-09-13 05:37] shiv71 commented on #375
1. Is there any alternative way to start playing video when video player is about to enter on screen ? Like when we scroll and the player is about to appear from bottom.

2. I have added my own full screen button in toro_exo_control_view.xml and then on tap of full screen I open Dialog and add the player view on content view, but after this controls doesn't work but everything works as expected. O

[2018-09-13 11:16] devingDev commented on #361
like in a feed with lots videos and it preloads the 5 before/after from web/file so no wait time occurs.

[2018-09-14 09:39] thealpha commented on #380
@eneim  the demo code that u have shown as Class named  **LegacyVideoViewHelper** should I copy all the code ...??? ..Cause I am There is lot of errors LIKE OnErrorLIstner AND Lambda expression are not allowed  in language 1.7 ....PLEASE HELP

[2018-09-14 14:59] manu10 commented on #333
Hi, In my case, the first solution provided by @yateeshkota didn't work, but when tried creating the simpleCache this way:
`SimpleCache cache = new SimpleCache(new File(getCacheDir(), "/toro_cache"),`
it worked fine.

[2018-09-14 15:05] eneim commented on #380
@thealpha Please answer my previous question first.

Also, in your build.gradle inside app module, put the following inside the **android** block

[code]

Sorry but I will close this issue if you cannot answer my question above.

[2018-09-14 15:14] thealpha commented on #380
No its was working before while I was using exoplayer...but I need to use video view instead ..please help

[2018-09-15 01:06] eneim commented on #380
@thealpha This is the version of LegacyHelper that compatible to Java 7:
https://gist.github.com/eneim/b36c84fcd108eaf2361bd26cfb2c044e

If you want to copy paste the demo code of Legacy, you need to have your project compatible to Java 8 by adding the lines I comment above. Please google it yourself if it doesn't help yet, there is things you need to learn that my library has nothing to do with.

[2018-09-15 09:02] thealpha commented on #380
@eneim THANKS  ...U CAN CLOSE THIS ISSUE NOW..I NEED TO LEARN A LOT...THAT I KNOW ..I WILL BUILD MY OWN....

[2018-09-15 12:14] shiv71 commented on #375
I have resolve question no 2 and 1 want suggestion for above question 1, is there any alternative way to start playing video when video player is about to enter on screen ? Like when we scroll and the player is about to appear from bottom.

I sincerely request if I can get some help as I am blocked on this from last 3 days and have to deliver it asap.

Thanks

[2018-09-16 02:39] eneim commented on #375
@shiv71

About (3) You can just use default ExoPlayer's PlayerView without modifying the ``player_layout_id`` attribute. It doesn't have the Volume control by default.

About (2) If you still need my help, I will need more information about your expected behaviour and the UI.

[2018-09-16 02:41] eneim commented on #380
@thealpha I need the Video URL to test this. Please co-operate with my questions or else I cannot help you further: I need the video Uri, Toro version, Android version, Device name, Logcat stack.

[2018-09-16 14:31] Noam-Modai opened #381 "Video set/get Volume missing in latest version"
Hi, I'm using the latest version : (3.6.1.2802)
testing on Android 8.1 Nexus 6p.

It seems like there is no way to access the video's volume in the
in previous versions, this functionality was part of the exoplayer, then it was added to the ExoPlayerViewHelper class (currently it crashes) - helper.setVolume(0f);
so, how do i get the current volume?
how do i mute the video?

Thanks

[2018-09-17 03:03] eneim commented on #381
@Noam-Modai Please check out ``setVolumeInfo`` for more information.

[2018-09-17 09:05] Noam-Modai commented on #381
Thanks @eneim for the fast answer, i Tried your solution calling setVolumeInfo in initialize and i get a **player is null error** (  java.lang.NullPointerException: Playable#setVolumeInfo(): Player is null! )
on             helper.setVolumeInfo(vi);
 here is my code (any suggestions?) -
    @Override
        public void initialize(@NonNull Container container, @Nullable PlaybackInfo playbackInfo)

[2018-09-17 11:22] reshthedev opened #382 "Videos don't auto-play when setNestedScrollingEnabled is false on the container"
What kind of issue is this?

- [x] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2018-09-17 11:38] reshthedev commented on #382
Hello @eneim , many thanks for this library..
I tried using the container nested in a scrollview to load videos and it was so laggy and it doesn't play the last video on the list of URLs i passed, so i tried using the container.setNestedScrollingEnabled(false); and now it doesn't play at all and i don't understand why. Please help me as i'm still new to android development..

[2018-09-17 13:33] reshthedev commented on #382
Many thanks sir.. But i'm trying to implement the recyclerview on a profile page just like Facebook profile page on android which i can scroll to the posts after viewing the profile details of the user..

I'm thinking of switching to the CollapsingToolbarLayout to show the profile details and the Toro container under it.. Could you help me suggest another way to implement my design?

[2018-09-18 01:02] eneim commented on #382
@reshthedev Depending on how much experience in Android you have, I think you should try CollapsingToolbarLayout first. See if it works.

[2018-09-18 06:17] thealpha commented on #380
Please Close this issue I am not using toro library now ..I am facing lot issue with this ...

[2018-09-18 06:29] thealpha commented on #380
its playing in video view ....BY the way its not issue of your library its the issue of exoplayer ..I saw u have some other video view libraries can exFLoppyVideoView can this support toro

[2018-09-18 13:03] reshthedev commented on #382
Finally fixed it using CollapsingToolbarLayout and the recyclerview below it.. Thanks for the library, looking forward to seeing more new updates.

[2018-09-18 15:57] shiv71 commented on #375
@eneim the changes you suggested works but not as expected sometimes video doesn't start. Also if 2 video appears on screen then the video which is at the bottom doesn't start until the above video goes off the screen. Do you have any idea about this ?I'm looking for something similar to facebook where we scroll up/down and video autoplays even when scrolling.

[2018-09-19 00:03] eneim commented on #375
@shiv71

[1] About the video doesn't start, please help to take a screen record. The timing and position of Views are important for me to correctly implement this update. And yes because of this I have not added it to the lib from beginning.

[2] About 2 video appears, it is hard to say which one should be played, so I add the interface ``PlayerSelector``. In infinite list like Facebook, you can a

[2018-09-19 12:16] DummyCo commented on #341
Hi, @eneim. Tested new version for a week or two, still no related issues spawned.
Seems to be resolved, thank you!

[2018-09-19 12:16] #341 closed

[2018-09-19 13:49] Kitlabs opened #383 "Weird behaviour for video on scroll"
please check this recording
this is really unexpected behavior.

mtp://[usb:001,033]/Internal%20shared%20storage/AzRecorderFree/2018_09_19_19_13_12.mp4

[2018-09-19 14:29] shiv71 commented on #375
1)
I've uploaded a screen recording as you've requested. Please have a look.
[https://drive.google.com/file/d/17rptEps8-gPaFuO6_oEjt30SQd50-dpN/view?usp=drivesdk](url)

Found another unexpected behaviour -
Sometimes the video starts even before it appears on screen.This issue arose after I've used snapshot version (3.7.0.2804-SNAPSHOT). You can check the sound in video.

2)
Player selector I'll lo

[2018-09-20 04:50] Kitlabs commented on #383
@eneim  https://drive.google.com/file/d/1mfTkTlPFGxk90P1y4xr1VUBHQsN2UOXO/view?usp=sharing

[2018-09-20 04:52] eneim commented on #383
@Kitlabs Can you send me the xml layout of your ViewHolder, and the Video URL that can reproduce this? via email is fine: nam@ene.im

[2018-09-20 08:46] shiv71 commented on #375
@eneim
1. We have a infinite list like facebook.
2. Did you understand my 2nd point about player visibility ?
3. Are you aware of the issue which I mentioned below 1st point ?

[2018-09-20 08:56] eneim commented on #375
@shiv71

[code]

Let consider the following scenarios:

- The App starts with 2 video fully visible on screen <-- Which video would you start playback? The second one? If so how about the first one?

- In current screen you have one Video fully visible and in Playing state User drags his thumb from top to bottom, the content will appear from top. If there is a second Video appear from top, 65% vis

[2018-09-20 14:07] shiv71 commented on #375
@eneim
There is very rare chance of 2 videos fully visible on screen. In my case as you've seen on the video there is gap between posts and we have other UI components as well.

The same case applies for point 2 and 3 you have mentioned.

Which video clips URL's you are asking ? We are showing videos from AWS S3 Storage and the videos are HLS streams.If you need I'll email you 2-3 URL's. Let me kn

[2018-09-21 16:20] shiv71 commented on #375
@eneim
I agree that there won't be fixed width/height ratio for for video and device. But what we can do is if 2 videos appear at same time then in this case run the top one and when user scrolls and then obviously first video will have less visible area. This time we can play the second video.

The same case can be applied for 51% visible video which you're talking about. If 2 videos have full vi

[2018-09-23 03:05] eneim commented on #375
@shiv71 Ok I will take a look. At the moment there is a built-in PlayerSelector called ``BY_AREA``. It reads: 'of all the available ToroPlayer candidate, pick the one with highest area offset, play it'. Please try that one to see if it reflects your requirement. I will double check the video URL. Hope the CloudFront TTL is long enough :D.

[2018-09-25 11:19] eneim commented on #383
@Kitlabs really bad your email is filtered to spam ... Check it now.

[2018-09-25 12:39] Kitlabs commented on #383
Okay,thanx @eneim

[2018-09-27 11:03] uraddevendra opened #384 "playerview onHold open video in full screen and back to normal on Release of playerview"
Question:
I have one query about my project, In my project I am integrated your library and we need to add one feature that when user hold player view (onHold) then video should open in full screen and on release its come back to normal view . So please give me your suggestion on my query its really big help to me.

Thank You in advance...

[2018-09-28 05:47] shyakdas opened #385 "Question:-"
Suppose I have Fragment A, which contain Recycler View when the user clicks on any item of the View Holder, It will go to Fragment 2, But the video will continue the play.
How can I achieve this? Please help

[2018-09-29 03:09] eneim commented on #385
@shyakdas I think I had a response for you via email. Please take a look.

[2018-09-29 10:58] Kitlabs commented on #383
Hi @eneim ,Any Updates?

[2018-09-29 11:16] eneim commented on #383
@Kitlabs not much. I cannot reproduce the issue on Oreo Pixel XL emulator. Is this 100% happen on your test?

[2018-10-01 06:04] Kitlabs commented on #383
Yes @eneim, i have tested on one plus 3T (oreo),Motorola (oreo) ,Samsung(marshmallow),Redmi(Marshmallow),Sony(Lollipop) ,but the problem is only on oreo

[2018-10-03 13:29] Kitlabs commented on #383
Hi @eneim I hope you'll be looking for the bug

[2018-10-03 15:50] shalom365 commented on #358
Hi, Do you manage to show ima ads? or the bug still accures?
I tried to use im.ene.toro3:toro:3.6.0.2802-SNAPSHOT in order to try implementing ima ads and I could not sync gradle.

Thanks!

[2018-10-04 00:45] eneim commented on #383
Hey sorry for the lack of comment. Quite time issue. I can only use emulator to verify on Oreo and could not reproduce it yet. I will help create a demo so you can test on it. Maybe somewhere this weekend. (FYI living at UTC +9:00).

[2018-10-04 05:14] Kitlabs commented on #383
yes Please @eneim try to help me out in any way you can,Thank you for the efforts you are doing

[2018-10-05 09:12] Kitlabs commented on #383
@eneim i found a solution ,
The problem was with Surface_type of Exoplayer in xml .Firstly i was using surface_view but now i am using texture_view with hardwareAccelerated true in AndroidManifest.xml  it works :)

[2018-10-05 09:49] Kitlabs commented on #383
The problem still exists with surface_view but still, Thanks for you Time,You can close this issue if you want to.

[2018-10-05 16:43] congdanh1608 commented on #353
Did you solve this issue?

[2018-10-06 07:35] eneim commented on #353
@congdanh1608 Please try latest release to see if it resolves your case.

[2018-10-07 07:35] eneim commented on #383
@Kitlabs Good to hear. Though SurfaceView is superior over TextureView, I highly recommend you to consider this. I acknowledge that changing to use TextureView may help to resolve the issue temporarily, so if it works for you, no problem.

I will keep this issue alive, and still think it would be nice if you can give more information about the issue like: when it happens and how often it happens.

[2018-10-07 07:52] eneim commented on #358
@shalom365 Please try to refresh cache to something to make it syncs ... And see if it works for you.

[2018-10-08 09:04] Kitlabs commented on #383
@eneim The issue with SurfaceView is 100% ,i have tested on multiple oreo devices

[2018-10-08 09:32] Kitlabs commented on #383
@eneim,The problem is solved with surface_view as well :) actually i was missing to make the hardwareAccelerated true in case of surface_view
So the thing is  android:hardwareAccelerated="true" must be there in AndroidManifest.xml for surface_view and texture_view

[2018-10-08 09:34] Kitlabs commented on #383
Please make a note for this in your tutorial,if this is not mentioned Specifically

Thanks

[2018-10-09 06:25] sonalpatel22 opened #386 "how to Stop Buffering when data is not on wifi"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2018-10-10 03:52] congdanh1608 commented on #353
Thanks @eneim I will try.

[2018-10-10 05:57] eneim commented on #383
@Kitlabs Thanks. I will take this into account. Having hardwareAccelerated to true will affect battery usage so it should be careful. It is good to know it works well for your app.

[2018-10-10 16:06] bilboapps opened #387 "Question : How to set invisible progress bar"
i want to invisible progressbar in playerView
 **is it possible ?**

[2018-10-10 16:13] bilboapps commented on #387
i want to invisible progressbar in playerView
**is it possible ?**
### it is possible 👍
[code]

[2018-10-10 16:13] #387 closed

[2018-10-11 10:45] reshthedev commented on #386
* Check if there is any connectivity to a Wifi network
     */
    public static boolean isConnectedWifi(Context context){
        NetworkInfo info = Connectivity.getNetworkInfo(context);
        return (info != null && info.isConnected() && info.getType() == ConnectivityManager.TYPE_WIFI);
    }
//do some other stuffs like stop buffering

[2018-10-11 12:06] #382 closed

[2018-10-13 11:16] sonalpatel22 commented on #386
I know how to check wifi connectivity
I want to answer for " how to stop buffering "

[2018-10-15 02:13] eneim commented on #386
@sonalpatel22 Can you share with me your ViewHolder/ToroPlayer implementation?

I think with default helpers, it should just start preparing (= start buffering) when you start the Video. So by default no buffering of not-playing Video I think.

[2018-10-15 04:52] sonalpatel22 commented on #386
private ExoPlayerViewHelper helper;
    private Uri mediaUri;
    private PlayerView playerView;
    private static final int[] contents = {R.string.license_tos, R.string.license_bbb, R.string.license_cosmos};
    private Activity activity;

    private PostModel livePostModel;
    private OnPlayMediaListener onPlayMediaListener;

    public CompitiotionPlayerViewHolder(Activity act, View itemView

[2018-10-25 14:15] Mahmoud-S-Ali commented on #270
I had that same issue and followed @AlaaAlShammaa and @eneim comments and got it work but added a small change. I'm writing it here for future reference.

First, extend the Container class and override onWindowVisibilityChanged and set it to public as suggested and use it instead of Container:

public class PlayerViewContainer extends Container {

    public PlayerViewContainer(Context context) {

[2018-10-25 15:02] Mahmoud-S-Ali opened #388 "'Cannot access Hide' compilation error"
Hi eneim, Thanks for this great library. I'm getting a compilation error "cannot access Hide" only on versions higher than 3.5.2.

![capture](https://user-images.githubusercontent.com/13187144/47510076-abcf5680-d877-11e8-9d29-18bf79b4ef4a.PNG)

[2018-10-26 01:44] eneim commented on #388
@Mahmoud-S-Ali Hmm, I think Glide annotation processing doesn't work well. Can you clean your Project and make sure kotlin version are matched?

[2018-10-26 05:40] eneim commented on #263
@maxbaldrighi Which version of ExoPlayer/Toro you are using. I will look into the code and see what happens.

[2018-10-26 12:29] aderinto05 opened #389 "Async render recycle view"
Can we use async when load data ?

[2018-10-26 20:55] maxbaldrighi commented on #263
I was using the 3.5.2 version. Now I've just updated version.
Anyways, I couldn't write you before, but I basically managed to fully understand your steps.
Just to have your confirmation: the method call to intercept in SEPV you were referring to was about to manually dispatch the PLAY and PAUSE key events as the user used the controller, right?

Because, I managed to block the unwanted `onScrollC

[2018-10-27 11:51] eneim commented on #389
@aderinto05 What do you mean by 'async'? The data is always loaded using async be default (ExoPlayer).

[2018-10-27 13:17] maxbaldrighi commented on #263
Hello @eneim, just a quick update.

So, in the end yesterday I managed to solve the controller visibility issue (and I'm gonna post later my solution for anyone who may need it).

I noticed, though, one thing of more pressing concern for this library: the whole thing seems to work perfectly with Toro 3.5.2, but NOT with the latest release.
I didn't have the chance to debug attentively what's happe

[2018-10-27 13:32] eneim commented on #263
@maxbaldrighi Thanks so much for your information. It is definitely something wrong. I will find time to double check this.

[2018-10-27 22:16] maxbaldrighi commented on #263
As I promised, I'm gonna start with pasting my solution for using the manual controls without using the player's controller.

Subclassing PlayerView, I just overrode this method:

    override fun dispatchMediaKeyEvent(event: KeyEvent?): Boolean {
        useController = true
        val bool = super.dispatchMediaKeyEvent(event)
        useController = false
        return bool
    }

and used thi

[2018-10-28 20:17] maxbaldrighi commented on #263
I finally had the time to properly debug.
During helper initialization, `ExoPlayerViewHelper.prepare(boolean)` gets called with `false` passed as argument. Then `ExoPlayable.prepare(boolean)` -> `PlayableImpl.prepare(boolean)`

Here lies the "problem" emerged because of the different implementation between the two versions of toro of `PlayableImpl.prepare(boolean)`:

**3.5.2**: no matter what valu

[2018-10-29 00:10] eneim commented on #263
@maxbaldrighi Thanks so much for your investigation. The change in "when Player instance is created" is a correct found. And at the time I wrote it, it is by intended. The reason is: the flag in "prepare" method suggests client that it can initialize playback resource lazily, which save some frame from dropping. This was half done in 3.5.2, the Player instance is created there, which in turns, ini

[2018-10-29 14:58] maxbaldrighi commented on #263
Perfect, thanks!

Looking forward to it!

On Sun, Oct 28, 2018 at 8:10 PM Nam Nguyen Hoai <notifications@github.com>
wrote:

[2018-10-30 17:53] Mahmoud-S-Ali commented on #388
It worked fine after upgrading to sdk 28 and to glide version 4.8.0. Thanks

[2018-10-31 10:58] iamkurtgoz opened #390 "Exoplayer 2.9.0 nusuchmethod error"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2018-10-31 19:55] omidraha opened #391 "Does toro support image and video slider?"
Does `toro` support image and video slider
Something like this:

https://github.com/firdausmaulan/GlideSlider

But also support for both image and video.

[2018-10-31 20:18] omidraha opened #392 "The apk file of demo?"
Where is the `apk` file of [demo](https://www.youtube.com/watch?v=gw0awL_89V4)?

[2018-11-01 04:32] #388 closed

[2018-11-01 04:33] eneim commented on #390
@iamkurtgoz ExoPlayer 2.9.0 is not yet supported. This release is not binary compatible with ExoPlayer 2.8.2. Please wait.

[2018-11-01 04:35] eneim commented on #391
@omidraha This is in fact a ViewPager rather than a RecyclerView. toro doesn't support this yet. It can be done by the way. If you are not in super hurry please wait, I can write something in next few days.

[2018-11-01 04:36] eneim commented on #392
You need to build it :(. I will upload one later if you want.

[2018-11-01 13:20] iamkurtgoz commented on #390
@eneim Will it come soon

[2018-11-01 18:33] omidraha commented on #391
Thank you so much, I'm so eager for it. and I will wait for that.

[2018-11-02 17:05] omidraha commented on #392
I built it, thanks.
Also may be it's good idea to put it to the google play.

[2018-11-03 08:07] eneim commented on #390
@iamkurtgoz Hopefully. I'm working on it, but it still has some issues.

[2018-11-03 20:01] vikasgupta4190 opened #393 "Audio Continue play after deleting video from recycler view"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev