[2018-11-03 20:03] vikasgupta4190 commented on #393
Audio Continue Play After Deleting Video from List and notify adapter .

[2018-11-04 01:33] eneim commented on #393
@vikasgupta4190 Can you share with me how you remove it and how you notice the Adapter? Does Audio keep playing for long after that?

[2018-11-04 04:01] vikasgupta4190 commented on #393
This is my Holder class -

public class KhojPostHolder extends RecyclerView.ViewHolder implements ToroPlayer  , ToroPlayer.EventListener {
    ToroPlayerHelper helper;

    @Nullable private Uri mediaUri;

    public PlayerView playervideo;

    public KhojPostHolder(View view) {
        super(view);

        playervideo;= view.findViewById(R.id.playervideo);

    }
    @NonNull @Override public V

[2018-11-04 04:13] vikasgupta4190 commented on #393
<com.google.android.exoplayer2.ui.PlayerView
                android:id="@+id/playervideo"
                android:layout_width="match_parent"
                android:layout_height="250dp"
                android:layout_marginTop="4dp"
                android:layout_marginBottom="4dp"
                android:visibility="gone"
                android:minHeight="250dp"
                app:resize_mod

[2018-11-04 04:42] vikasgupta4190 commented on #393
@Override
    public void onBindViewHolder(final KhojPostHolder holder,final int position) {

        final PostPojoData postPojo = postlist.get(position);
        // delete portaion
        holder.bind(null);

 if (isVideoFile(arrayList.get(0))) {

                    holder.playervideo.setVisibility(View.VISIBLE);

                    holder.bind(Uri.parse(arrayList.get(0).toString()));

[2018-11-05 10:10] vikasgupta4190 commented on #393
Can you please help me. Thank for make this awesome library.

[2018-11-05 10:21] eneim commented on #393
Hey. Sure. I’m looking into it. It’s Monday here so I need to secure a few hours first.

Just want to make sure, on the UI the ViewHolder is correctly disappear right? And if possible please try with “notifyItemRemove...” call and see if it is better?

I will still investigate with all case.

[2018-11-05 23:37] wvmoreira opened #394 "NullPointerException: IN -> im.ene.toro.widget.Container.setLayoutManager"
Hi guys,

I'm trying to use the TOTO version:
[code]

ext.supportLibraryVersion = '27 .1.1 '
**ext.latest_release = '3.6.0.2802';** // - SNAPSHOT '; //' 3.5.2 '// // TODO check above for latest version
ext.constrainLayoutVersion = '1.1.3'
ext.exoPlayer2Version = '2.8.2'
ext.glide = '4.8.0'

But every time it arrives in that part of the code the APP is interrupted.
[code]

**My layoutManager = null

[2018-11-07 02:05] eneim commented on #393
@vikasgupta4190 Can you share with me a video Url that can produce this issue? Via email is OK: nam@ene.im . Tried with my default URL and it works fine :(.

[2018-11-07 12:42] wvmoreira commented on #394
@eneim my friend was able to solve it!
Failed to put butterknife annotationProcessor

Now I need a lot of help!
In your facebook example you use an ENUM, how can I use a LIST obtained through JSON?

I'll buy you a Coffee! The library is very good!

[2018-11-07 13:21] eneim commented on #394
@wvmoreira Haha Ok. Enum is just a way to make things simpler.

Saying you have the following json from network:

[code]

You will need a java object class (POJO) or a kotlin data class to represent this object:

[code]

You can use gson or moshi to convert the json response to that object class above. I assume you are able to do so.

The next step is to integrate Toro into your app and use this M

[2018-11-07 22:14] wvmoreira commented on #394
@eneim
I already did it here! I have already integrated with a Json return service.
:-)

One more question regarding the 3 AppCompatTextView:
fb_button_like
fb_button_comment
fb_button_share

How and where can I place the click event? Clicking Share would like to download the video and share it through some social network.

Is it better to use a class to download or the videos? Are they cached? If

[2018-11-08 07:20] vikasgupta4190 commented on #393
Issue solve thank you very much .

[2018-11-08 18:59] wvmoreira commented on #394
@eneim
I made the listener .setOnClickListener (clickListener);

However when you click the like button it opens the MoreVideosFragment
Always execute the following button:
[code]

I would like to handle the different listener, where can I be wrong?

[2018-11-08 19:38] omidraha commented on #379
Java code:
[code]

[2018-11-09 12:57] eneim commented on #393
@vikasgupta4190 Sounds great. Will close the issue. If you find anything weird just let me know!

[2018-11-09 12:57] #393 closed

[2018-11-09 19:46] omidraha opened #395 "Home page video still playing in background while we are on the full screen"
Hi,

If `fullscreen` option on the demo application changed to the `ture`, exactly on this line:

https://github.com/eneim/toro/blob/dev-v3/app/src/main/java/im/ene/toro/sample/custom/CustomLayoutFragment.java#L147

Then if we click on the video on the home page, the page will switch to full screen and start playing the video, but also video on the home page still playing on the background (we can

[2018-11-10 18:40] omidraha commented on #395
Sorry, I'm blocked.
Any idea on first problem?

[2018-11-11 11:10] eneim commented on #395
@omidraha Hi sorry I was kinda full of work last week so your message was out of sight. Will take a look on this tomorrow (UTC +9). Please wait~

[2018-11-12 08:27] Mahmoud-S-Ali opened #396 "Initial deformed video height"
Hi @eneim. First of all I really like your library. Thanks for the great work.

I'm experiencing an issue with some video heights when being loaded for the first time. So if I have a list of videos and the first video turned out to have a large height. It starts with the min_height and then being resized to the proper height once the video starts which is expected. If I scroll down to another vide

[2018-11-12 09:53] Mahmoud-S-Ali commented on #396
Thanks a lot for the quick and detailed reply. Keep the awesome work man :)

[2018-11-21 16:55] maxbaldrighi commented on #263
Hello @eneim !
Any ETA about the issue we were talking about a few weeks ago?
Or do you have any temporary workaround in mind?

Thanks in advance!

[2018-11-23 06:30] creativecoderbee commented on #182
i have same issue

[2018-11-24 13:43] eneim commented on #263
Hi @maxbaldrighi , sorry for the wait. Can you try the 3.7.0.2901-SNAPSHOT and see if it helps. In this update I change some internal mechanism that include the place where ExoPlayer instance is created. This way, the Dispatcher will be dispatched correctly.

Please follow this code [link](https://github.com/eneim/toro/blob/nam/v3/370-r2901/app/src/main/java/im/ene/toro/sample/basic/BasicPlayerVie

[2018-11-25 05:05] eneim commented on #182
@creativecoderbee Hi, can you provide me more information about version you used, media Url to reproduce the issue and a screen record of what happened?

[2018-11-26 03:45] creativecoderbee commented on #182
`implementation 'im.ene.toro3:toro:3.6.1.2802'
  implementation 'im.ene.toro3:toro-ext-exoplayer:3.6.1.2802'`

Am using above version, and issues shows only on height large videos.

[2018-11-26 13:58] maxbaldrighi commented on #263
Thank you very much for your hard work.
I am very busy at work, right now, but as soon as I can try it, I will
report the results to you!

Massimo

On Sat, Nov 24, 2018 at 8:43 AM Nam Nguyen Hoai <notifications@github.com>
wrote:

[2018-11-27 12:30] Kimmidhingra opened #397 "Video state change from pause to play during scrolling"
Using Toro player with exoplayer. Pause Video, scroll, Video starts playing

[2018-11-27 14:12] iamkurtgoz commented on #390
Will it still be updated? @eneim

[2018-11-27 14:20] eneim commented on #390
On the way. If you can risk trying alpha, please try 3.7.0.2901-SNAPSHOT. It is still in my dev package (toro.v4), but the detail is quite close to final.

[2018-11-27 14:40] iamkurtgoz commented on #390
Do you think I should use another player from exoplayer @eneim

[2018-11-28 00:31] eneim commented on #390
@iamkurtgoz What do you mean by "another player from exoplayer"? You mean non-ExoPlayer library or something else? To support a Player API (either ExoPlayer or MediaPlayer) you will need a Helper implementation for it.

Depending on your business, I think using ExoPlayer is still good enough. Just that its update policy is not so friendly.

[2018-11-29 09:38] creativecoderbee commented on #360
How you seek ? @dokiKit

[2018-12-03 10:23] lohrasbi71 opened #398 "Fatal Exception: java.lang.RuntimeException Package manager has died"
I use toro in my application and set firebase crashlytics on this. I got this error on 11 devices and get 71 crashes.
8 device of 11 is galaxy J7.
android version : 5.1.1

[2018-12-03 10:42] javacl opened #399 "video not pause when hide fragment"
Hello. i use this lastest version of toro in my app for autoplayerRecyclerview

 implementation "im.ene.toro3:toro:3.6.1.2802"
 implementation "im.ene.toro3:toro-ext-exoplayer:3.6.1.2802"

i want to make application like instagram. now i have multi fragments when i play video for example in my homeFragment now i want go to ProfileFragment. i want pause video in my Home fragment but when i hide fra

[2018-12-03 11:16] eneim commented on #399
Can you try container.setPlayerSelector(PlayerSelector.NONE) when you change/switch the fragments?

[2018-12-03 11:17] eneim commented on #398
First time knowing about “Fatal Exception: java.lang.RuntimeException Package manager has died”, let me check this.

[2018-12-03 11:32] javacl commented on #399
thanks men you solved my life xD >3

[2018-12-03 11:38] #399 closed

[2018-12-04 09:59] javacl opened #400 "Show current video to video"
Hello.

i tell you last day this issue https://github.com/eneim/toro/issues/399 and you helped me to fix it.

now when i play video for Example in ProfileFragment and go to HomeFragment and play video again in HomeFragment show last video in this window

here is image this

![photo_2018-12-04_13-13-05](https://user-images.githubusercontent.com/45559398/49433893-43ee2300-f7c8-11e8-9d44-33afe3c5c65b

[2018-12-05 05:55] jongidal commented on #390
Thanks. 3.7.0.2901-SNAPSHOT works well with exoplayer 2.9.1.
However some classes are deprecated. Do you have any updated example with 3.7.0.2901-SNAPSHOT?

[2018-12-05 08:27] aderinto05 opened #401 "I get callback to error player"
What kind of issue is this?

- [x] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2018-12-06 02:45] eneim commented on #397
@Kimmidhingra You pause the Video manually? Can you show me the code?

[2018-12-06 02:47] eneim commented on #400
@javacl Try to use TextureView in the ProfileFragment maybe? I still need to think what we can do ...

[2018-12-06 02:48] eneim commented on #401
@aderinto05 The callback from ExoPlayer right? May need to check their implementation as well :(.

[2018-12-06 11:46] aderinto05 commented on #401
i got error callback from toroplayer @eneim

[2018-12-06 12:55] eneim commented on #401
@aderinto05 Can you try a debug and see from which the method is called? I do not manually call this, so it must be from ExoPlayer. But looking around the source code it doesn't have a null. I also find this on ExoPlayer: https://github.com/google/ExoPlayer/issues/4262, can you refer to it as well?

[2018-12-11 07:48] aderinto05 commented on #401
It's call this exception
com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: java.net.SocketTimeoutException: timeout
I'm using im.ene.toro3:toro:3.5.2

[2018-12-20 17:13] bheuju commented on #391
Any updates in this yet?

[2018-12-26 11:06] rohangoqii opened #406 "Support for Exoplayer 2.9"
I have tried to add the dependenncy to gradle for toro

implementation "im.ene.toro3:toro:3.7.0.2901-SNAPSHOT"
    implementation "im.ene.toro3:toro-ext-exoplayer:3.7.0.2901-SNAPSHOT"

I am looking for support for exoplayer version 2.9. However I keep getting the gradle error
**Failed to resolve: im.ene.toro3:toro:3.7.0.2901-SNAPSHOT**.  How do I resolve this?

What kind of issue is this?

- [x] Q

[2018-12-26 11:07] rohangoqii commented on #390
I have tried to add the dependenncy to gradle for toro

implementation "im.ene.toro3:toro:3.7.0.2901-SNAPSHOT"
implementation "im.ene.toro3:toro-ext-exoplayer:3.7.0.2901-SNAPSHOT"

I am looking for support for exoplayer version 2.9. However I keep getting the gradle error
Failed to resolve: im.ene.toro3:toro:3.7.0.2901-SNAPSHOT. How do I resolve this?

[2018-12-26 11:37] #406 closed

[2019-01-15 09:38] charlizesmith opened #407 "Video Scroll get stuck"
What kind of issue is this?
 **Activity screen is getting stuck after data binded and  user scroll the screen.**

Toro version: **3.6.2.2804**

Android version : **28**

Device name : **Moto C, Note 4, Gionee**

Source code :
In our Video Holder class, we have put following code to show poster on video. In your  demo app, you have not put any poster on video.

:::::::XML Layout of  Video Holder:::

[2019-01-15 09:52] charlizesmith opened #408 "Video got Black and SurfaceView Instead of TextureView"
What kind of issue is this?
**No Video is Shown. Video is getting black and only audio is played**

Toro version: 3.6.2.2804

Android version : 28

Device name : Mi Note 4

Source code :
I have integrated  toro library in our app Successfully. It working awesome on some devices. But, when i install the same app on redmi note 4 device for testing, video got black and only audio was coming. There wa

[2019-01-16 21:22] TomySm commented on #381
until @eneim does his magic, I used his suggested workaround combined with a mini custom button -

initialize the container with mute - true\false:
`                               mContainer.setPlayerInitializer(new Container.Initializer()
                                    {
                                        @NonNull
                                        @Override

[2019-01-17 07:48] RiteshTops opened #409 "Want to change scale type. Implement zoom effect"
Hello,

I want to add zoom effect on double click on video. how can I change scale type of particular surface.

I am waiting for your response.

[2019-01-18 07:33] eneim commented on #409
@RiteshTops Sorry but this really is not the scope of this library. Please figure it out by Stackoverflow or something else. If you successfully implement it, but Toro fails to work with your implementation, you can get back here.

[2019-01-18 07:34] eneim commented on #408
@charlizesmith

TextureView requires 'android:hardwareAccelerated' to be true.

I don't have a Mi Note so may not  be able to reproduce it successfully. If you can send me the logcat of the 'Out of memory error' it will be helpful.

[2019-01-18 07:38] eneim commented on #407
@charlizesmith

I doubt the following code cause some issues:

[code]

Can you comment it out first and try again?

If you can send me a screen record of how 'stuck' the scroll is, it will help me for trouble shooting.

[2019-01-21 11:19] imran-samed commented on #270
@Mahmoud-S-Ali Thnks bro. :)

[2019-01-25 17:55] jollz04 commented on #407
@eneim I am also experiencing the same issue. I just cloned the repo and ran the sample of demo-exoplayer. If I fling, scroll stucks. Here is the video explaining the issue - https://drive.google.com/open?id=1g9I9vR4s0vTltfilFo7DwFaAIodafVnd.  Toro version - 3.6.2.2903

[2019-01-28 09:34] omerGlobalBIt opened #413 "Playing videos from RTSP protocol"
@eneim Hi, I wanted to know if the library supports RTSP protocols. I have seen that support for this protocol is added to ExoPlayer ([https://github.com/google/ExoPlayer/pull/3854])
 but for some reason i cant play it and get url malformed exception from exoplayer:
`com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect to rtsp://104.196.130.249:1935/gabr

[2019-01-28 11:58] #409 closed

[2019-01-28 12:36] omerGlobalBIt commented on #413
Hi @eneim Thank for your quick reply.
Sorry but cant share workable url but the exception thrown says "unknown protocol rtsp" so i dont think its about the url. Furthermore, when i show it in regular videoview it works just fine do you want me to also test it in a regular exoPlayer?

[2019-01-28 12:40] eneim commented on #413
@omerGlobalBIt Oh I just check the PR you mention. It is not merged to ExoPlayer yet, which means that RSTP is not yet supported by ExoPlayer. I guess you need to wait a little bit more. You can file an issue to ExoPlayer to speed the up.

The error clearly says it doesn't acknowledge about the protocol 'rstp'.

[2019-01-28 13:13] omerGlobalBIt commented on #413
Oh ok my bad thank you @eneim

[2019-01-29 07:57] charlizesmith commented on #408
The issue was due to drawable which i used as default tumbnail image for video.
Thank you for the help.

[2019-01-29 07:58] charlizesmith commented on #407
The issue was due to drawable which i used as default tumbnail image for video.
Thank you for the help.

[2019-01-29 09:26] charlizesmith opened #414 "Proguard rules issue"
Hi,
  I have implemented Toro player with default controllers. Referred Toro-basic and Toro-facebook demo for the same.The code works fine with debug environment but creating release apk with applying proguard rules is giving trouble.

Toro version: **3.6.2.2804**.

Continuously facing the following issue :-

2019-01-29 13:10:08.548 9864-9864/com.otpdetection.example.torovideodemoproject E/Android

[2019-01-30 11:13] #413 closed

[2019-01-30 11:14] #408 closed

[2019-01-30 11:15] eneim commented on #414
@charlizesmith Replied you in gitter. Can you tell me which version of Android Studio you use to build? I tried on 3.3 and it builds my demo app successfully.

[2019-01-30 18:54] syedmumersajjad commented on #335
@hafiz013 Assalam o alikum i am looking for the toro exoplayer integration but didn't find the right solution for it can you please help me little so i'll be on path thanks

[2019-01-31 08:35] #407 closed

[2019-01-31 08:38] eneim commented on #335
@syedmumersajjad The "app" module contains many demos but each folder is isolated. You can clone the source code, cope the source of folder facebook and folder "common" (Base classes) only and it should be Ok. All the dependencies (in build.gradle) are not required, but please clean them up by yourself.

[2019-02-01 10:46] charlizesmith commented on #414
I have solved the issue by removing following proguard rules.

-repackageclasses ''
-allowaccessmodification

Thank you for help.

[2019-02-01 14:49] #414 closed

[2019-02-02 11:18] sonalpatel22 opened #415 "container.savePlaybackInfo( order, info ) not set playbackinfo to current playing video"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2019-02-03 13:40] tranquoctrungcntt commented on #246
i have the same issue , any solutions ?

[2019-02-03 13:48] tranquoctrungcntt opened #416 "java.lang.IllegalStateException: Player is playing while it is not in managed state"
i am using recyclerview, when i scroll list , this thing happen

java.lang.IllegalStateException: Player is playing while it is not in managed state: ViewHolder{f71e59c position=8 id=-1, oldPos=-1, pLpos:-1}
        at im.ene.toro.widget.Container.onChildDetachedFromWindow(Container.java:259)
        at android.support.v7.widget.RecyclerView.dispatchChildDetached(RecyclerView.java:7254)
        at

[2019-02-04 03:00] eneim commented on #415
@sonalpatel22 please follow the issue template. Cannot get the issue content just from your title.

[2019-02-05 09:06] ductranit opened #417 "Videos in viewholder are playing incorrect positions"
What kind of issue is this?
I tried this sample https://github.com/eneim/toro/blob/dev-v3/demo-exoplayer/src/main/java/toro/demo/exoplayer/basic/VideoViewHolder.kt and replace with my data (has multiple video urls)
Videos playing in adapter are incorrectly.
Lets say I have video urls like A,B,C...F,G,H
When I scroll the list from top -> bottom (A -> H), it works normally.
But then I scroll up from

[2019-02-05 09:50] sharmadev2506 commented on #246
above comments didn't work for you?

[2019-02-06 00:08] eneim commented on #417
@ductranit please set your helper to null on release()

Also, videoUri is lateinit so if your VH got rebound, and the item is null, your VH will hold the old URI. I would suggest to avoid using lateinit in reusable objects.

Please try this and let me know.

[2019-02-06 05:58] ductranit commented on #417
@eneim great, it works now.
I don't even think about the lateinit.
Thank you so much!

[2019-02-06 05:58] #417 closed

[2019-02-07 07:54] LeBronoMars commented on #270
Also encountering this issue.. I have a Tab that contains `2` fragments.. `Video` is playing from the `1st Fragment` when i move to `2nd Fragment` .. Video in `1st fragment` is still playing. I would like to pause the video when i switch to the other tab. I've tried the solution posted above by @Mahmoud-S-Ali to no avail... i'm using `version 3.4.2` btw.

[2019-02-08 20:20] syedmumersajjad commented on #335
@eneim thanks for your reply yeah it's work perfectly. I have implement all the demos separately Thanks a lot great work. I have one more question i didn't see the progress bar and caching video option. Can you help me little on these points?

[2019-02-13 03:03] jaytarub commented on #416
Also experiencing this issue.. were you able to fix this issue @tranquoctrungcntt ?

[2019-02-13 11:16] BuNny1123 opened #418 "how to allowCrossProtocolRedirects in exoplayer ?"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2019-02-13 12:07] #418 closed

[2019-02-16 06:21] tranquoctrungcntt commented on #416
not yet, hope @eneim helps us

[2019-02-16 06:37] eneim commented on #416
@tranquoctrungcntt @jaytarub Can you guys explain more about this issue? When it happens (scroll slowly or fast scrolling, Android version? Device model, library version?).

[2019-02-16 06:49] tranquoctrungcntt commented on #416
@eneim I used the lasted version of library, and when I scroll ( just scroll, even slow or fast ) , my app will crash . thanks for helping @eneim

[2019-02-16 07:08] eneim commented on #416
@tranquoctrungcntt Can you send me the code of your ViewHolder that implement ToroPlayer? It will be even better if you can extract your code to a small project that can still reproduce the issue.

[2019-02-16 07:12] tranquoctrungcntt commented on #416
sorry but now i am doing a new approach. i will do it again as soon as posible

[2019-02-16 07:17] eneim commented on #416
@tranquoctrungcntt Thanks and sorry for the inconvenience.

[2019-02-16 14:19] tranquoctrungcntt commented on #416
btw, i have 2 differece layout to inflat and i did exactly what you wrote in README.

[2019-02-18 12:36] BuNny1123 opened #419 "how to pause current video when fragment is changed , and playing it when we come back to fragment.?"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2019-02-19 07:45] ssung99 opened #420 "when I fling to the top or the bottom of the recycler the video that is visible prepares but doesn't start Play"

[2019-02-19 07:46] ssung99 commented on #420
"im.ene.toro3:toro:3.6.1.2802"
"im.ene.toro3:toro-ext-exoplayer:3.6.1.2802"

[2019-02-20 06:39] BuNny1123 opened #421 "Cache next videos before playback them"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2019-02-20 07:12] eneim commented on #419
@BuNny1123 How do you change the Fragments in detail?

[2019-02-20 07:13] eneim commented on #420
@ssung99 Will find time to look into this issue.

[2019-02-20 07:31] Dhwanidesai173 commented on #246
where i can use "player.seekTo()" because i can not find seekTo() in my toroplayer

[2019-02-20 10:09] BuNny1123 commented on #419
@eneim Hi. I am using a viewPager. And changing the fragments using viewPager.setCurrentItem();
I tried using container.setPlayerSelector(PlayerSelector.DEFAULT);  calling whenever I change the Fragment using a static Function in my fragment, this pause the videos but they dont resume when I come back on the Fragment Again.
I am using your Basic Sample with LoopingPlayerHelper.

ViewPagerAdapter-

[2019-02-25 07:11] string-areeb opened #422 "Remove ima extension from toro-exoplayer"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2019-02-25 13:51] pro-softs opened #423 "Video not getting streamed but getCurrentPosition() is changing"
I am using the ExoPlayerViewHelper class to stream video (.MP4) from urls inside recyclerview. In few videos, the video is not getting streamed but the value of getCurrentPosition() is getting updated. Also, I am able to play the video with external media players too without any issues.

Let me know if anyone can help and point to the right direction as there aren't any relevant logcat data for th

[2019-02-26 02:55] eneim commented on #422
This is reasonable, will consider this real quick.

[2019-03-07 14:59] android4canada opened #424 "Item taking too long to load"
Hello,
I followed the BasicDemo and I have URLs for 2 videos on the server. I am using Toro with Exo player
I noticed that the recycler view takes long time show the contents (upon start). And when it shows the content, the video starts playing.

1) Is it trying to download the whole video before playing it? Can I change that?
2) Shouldn't the contents such as texts  and thumbnail be shown right a

[2019-03-08 05:19] android4canada opened #425 "Restarting video and reference to exoplayer"
Hey man
This is more of a question.
1)How can I play the video again after it has been completed?
2)Is there anyway I can get a reference to the Exoplayer? The helper method does not return a reference. If I get a reference then I can do seek(0) and I can add gestures

Thank you

[2019-03-08 05:51] eneim commented on #425
@android4canada (1) You can use the LoopingMediaSource (yeah it is old, I know, thinking about a way to change to repeatMode now). (2) After you setup the helper and your PlayerView, ExoPlayer instance  = playerView.getPlayer(). Not so neat, but it works.

[2019-03-08 13:59] android4canada commented on #424
Figured it out. I need to use values for LoadControl to enable buffering

[2019-03-08 13:59] #424 closed

[2019-03-08 14:06] android4canada commented on #425
@eneim thank you very much. I will try that. When you say: LoopingMediaSource, you mean to use it as part of my Config setup in the initialize method, right?

[2019-03-09 09:13] aderinto05 opened #426 "settext"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [x] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2019-03-09 09:37] aderinto05 commented on #426
settext not working in multi column
![tempFileForShare_20190309-171133](https://user-images.githubusercontent.com/40485371/54069196-e7e3e080-4287-11e9-9f65-a7cc3a48d29e.jpg)

[2019-03-09 09:55] eneim commented on #425
@android4canada Yeah it is the MediaSource builder in the Config.

[2019-03-09 09:55] eneim commented on #426
@aderinto05 My lib has nothing to do with text.

[2019-03-09 09:55] #426 closed

[2019-03-10 13:26] yFotouh opened #427 "Using pierfrancescosoffritti instead of Google Youtube api"
As you know google's Youtube api is buggy and has issues that have been around for years , so i was wondering if i could integrate this library:
https://github.com/PierfrancescoSoffritti/android-youtube-player
with your toro "app-youtube" sample ?
Can you somehow in the future integrate this library with yours as a dependency ?

[2019-03-12 04:56] android4canada opened #428 "Going back to fragment with Toro makes Container disappered"
Hello
I have fragment 1 with Toro(Recycler view) and Fragment 2 that is a result of clicking on an item in Fragment 1.

When I am in Fragment 2 and  I click back button, it goes to fragment 1.  Fragment 1 will show the results like before for like a second then it becomes all empty!

Any idea how to solve this? I tried repopulating the list in OnResume but still no luck

Here is the code to go fro

[2019-03-12 14:34] mahesha2 opened #429 "Any budy fixed black screen issue??"
Any budy fixed black screen issue before playing video?? please help

[2019-03-16 14:41] shiv71 opened #430 "Video pause issue"
I am using snapshot release
     implementation 'im.ene.toro3:toro:3.7.0.2804-SNAPSHOT'
     implementation 'im.ene.toro3:toro-ext-exoplayer:3.6.0.2802'

I am displaying videos in recycler view with my own thumbnail and when I pause video from video controls its work fine but when I tap play and scroll the recyclerview pause event gets called again  automatically.

I am showing thumbnail on pause

[2019-03-28 00:58] eneim commented on #430
@shiv71 Can you share the code of ViewHolder that implements ToroPlayer?

[2019-03-28 00:59] eneim commented on #429
@mahesha2 If your Video is from the Internet, it requires some time to load and prepare. How long does the black screen appear?

[2019-03-28 01:00] eneim commented on #428
@android4canada doesn't sound to be a problem of Toro. Can you show me your code of Fragment1? I guess you wrongly update the RecyclerView Adapter somewhere.

[2019-03-28 01:02] eneim commented on #427
@yFotouh FYI I'm investigating this library lately and will consider to use it once I've finished it and I have a bit more time to revise the Youtube demo. Stay tune!

[2019-04-03 02:26] neerajkumarjarvis opened #431 "How to play video while scrolling without picking up the finger"
- [*] Feature request. Start by telling me what problem you’re trying to solve. Don’t send pull requests to implement new features without first getting my support. Sometimes I leave features out on purpose to keep the project small.
      I want to implement a functionality in which video get auto play while user is still scrolling (like facebook, instagram does).
      If this feature is already

[2019-04-03 04:08] android4canada opened #432 "Videos/itesm are repeating after the 3rd item"
Hello,
I am facing a weird behaviour. I have a list of 10 items/videos.  When you start the first item/video occupies the full screen. As you scroll, the second item is loaded, then the third item is loaded, but beyond 3rd items it is loading the 1st item in the list, then 2nd and so on. I am just just seeing the first 3 items duplicated until I hit the last position.

Why is this? I made a debug

[2019-04-03 21:35] iamareebjamal commented on #287
@eneim Any news about this issue, or any workaround?

[2019-04-04 22:36] semal259 opened #433 "Multiple ViewHolder in a RecyclerView along with ToroPlayer"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2019-04-04 22:37] semal259 commented on #433
How can I have multiple ViewHolders inside RecyclerView that also includes a ToroPlayer?

[2019-04-04 22:37] #433 closed

[2019-04-06 15:26] android4canada commented on #432
Any comments? I am really struggling with this issue :(

[2019-04-07 01:58] eneim commented on #432
@android4canada sorry did not see this issue.

[code]

Here you should only **create the helper** if it is not created yet.

[code]

Must be called outside of the creation. Thinking that: if the ViewHolder is reused, but the helper instance is there, it will never be initialized for new data.

// I have no idea why the onBindView is not called, but it is not implemented by toro ...

[2019-04-07 05:07] android4canada commented on #432
Thank you for your response. Since the onBindView is not called upon scroll, it is making me think that that something with layouting of Toro. OnBindView gets called when layout is updated and visibility is changed. I actually put a break point inside the Container on child attached  and noticed that that the break point is being hit on every scroll but something seems to be blocking onbindview fr

[2019-04-07 06:26] android4canada commented on #432
I found the reason. You are right, it is not due to your library. It is due to the fact that I used the sample code which has "set stable Id" and it was not refreshing views. By removing it, it worked!

[2019-04-07 06:26] #432 closed

[2019-04-07 06:27] eneim commented on #431
@neerajkumarjarvis which Toro version you are using?

[2019-04-07 06:27] eneim commented on #432
@android4canada good to hear that.

[2019-04-07 06:53] android4canada opened #434 "Listening to video restarting in autoplay"
Hello @eneim
I have 2 questions.
1) Let's say I am starting with selector.DEFAULT ( so auto play videos when visible). How can  I listen to when the video is restarted (  I am showing a timer that needs to restart). I added the listener  OnPlaying is only called when the first time the video starts and oncompleted never get's called.

2) I want to enable auto play dynamically depending on user cho

[2019-04-07 07:01] eneim commented on #434
@android4canada The second question content is the recommended way at the moment. The situation may change depends on how complicated your scenario is, but for now, please try that and see if it works for your case.

About the first question, using ExoPlayer means that there is no clarification between "first start" and "second start, or, restart". You can always listen to "onPlaying()/onPaused()"

[2019-04-07 07:39] neerajkumarjarvis commented on #431
@eneim thanks for your reply
I am using following toro version
**toro_version = '3.6.2.2903'**

[2019-04-07 15:52] android4canada commented on #434
@eneim Thank you. When you say onpaused, you mean these events on Exo player? Does Toro not provide any listener for such restart?
If not, Can you please tell me how can I get reference to ExoPlayer through helper/playerview?

[2019-04-11 09:33] bstillitano opened #435 "Rewind/Restart video when it is finished/ended"
What kind of issue is this?

- [x] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2019-04-19 11:19] eneim commented on #434
@android4canada there is other place for setting a EventListener, please use helper instead.

[2019-04-20 00:36] DSofter opened #436 "Video doesn't play on Android 4"
What kind of issue is this?

- [x] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [x] Toro version: 3.6.2.2804
  - [x] Android version: 4.3.1.
  - [x] Device name: Nexus 5X emulator
  - [ ] Source code that can reproduce the issue (a snapshot is expected).
  - [x] Logcat stack trace in case of fatal issue.

Log cat:
[code]

Video demo

[2019-04-20 18:50] neerajkumarjarvis commented on #431
@eneim please let me know how to enable auto play without lifting the finger

[2019-04-21 01:37] eneim commented on #436
@DSofter Hi. Thanks for the detail. Can you send me the video in your demo? If it should be private, email me is Ok: nam@ene.im

[2019-04-21 01:39] eneim commented on #435
@bstillitano in current version, you can listen to ``onCompleted`` event, and use your PlayerView to access the ``ExoPlayer`` instance and seek manually. It is a bit dirty trick, in next update I will add a method to the Helper to help you update the PlaybackInfo. Please try this suggestion first.

[2019-04-21 01:40] eneim commented on #431
@neerajkumarjarvis It seems that I added a functionality for this in some alpha, but it doesn't work so well and I have removed it. Will retry that in next update.

[2019-04-22 02:52] DSofter commented on #436
@eneim Sorry for the late response. Here is the link: https://s3.us-east-2.amazonaws.com/buzzbreak/video/096755235-1.mp4

[2019-04-22 07:42] eneim commented on #436
@DSofter Tried on my local but using same toro version. It does seem to work well :-/

https://drive.google.com/file/d/16ezydYpPG_qhaccjU1TTUsKwmGc_TF1O/view?usp=sharing

Your log says the state is updated to ``BuzzBreak: onPlayerStateChanged: true, 3`` which says your video is ready and has started playing.

Can you check your AS version, Emulator version, Network condition, etc? I'm using latest

[2019-04-23 02:10] RockyLin opened #437 "Get current video playing progress"
What kind of issue is this?
Toro version. latest_release = '3.6.2.2804'

@eneim
I'm implementing feature like facebook timeline.  How to get the playing progress while video is playing? Thanks a lot!
[code]

[2019-04-23 06:40] eneim commented on #437
@RockyLin you can set use_controller to true and I think you can customize the UI of the controller. Please take a look at PlayerView document (ExoPlayer library).

[2019-04-23 12:31] RockyLin commented on #437
@eneim Thanks a lot!

[2019-04-24 05:01] perusudroid opened #439 "Youtube App Video Auto Pause"
What kind of issue is this?

- In YouTube player app, if i place view above player the player i get Unauthorised overlay error message. After removing it, i have just the player alone in the layout removing all other views, am not getting the error message in toast but the player get paused.

Once the player is automatically paused, even after the activity or fragment destroyed and recreated also,

[2019-04-24 11:18] eneim commented on #439
Can you explain why you want to completely release the player? In my demo if the RecyclerView that use Youtube player is detached, everything will be released.

Still not get all your issue. Please explain it in steps: what do you want to archive, what is the trouble now? what is the “thing” that is the main issue in your app?

[2019-04-25 00:20] maxbaldrighi opened #440 "Error when updating Android Gradle plugin to 3.4.0"
What kind of issue is this?

- [x ] Question.

I this as a question because I really don't know if this is a bug.

Toro version: 3.6.2.2903

Right after updating Android Studio to version 3.4, Android Gradle plugin to version 3.4.0 and gradle wrapper to version 5.1.1, I cannot compile my project because of this error issued by the Java compiler:
`Caused by: java.lang.AssertionError: annotation tre

[2019-04-25 05:41] perusudroid commented on #439
Hi, here is the link to my app,
https://play.google.com/store/apps/details?id=com.perusudroid.myhero

I have used your Demo for Playing YouTube videos in RecyclerView, Thanks for sharing such a wonderful demo app. Without which i might not able to used it in my app. Please see in the app, after scrolling down, somewhere the app stops playing the video and then actually it never release at all. I m

[2019-04-25 05:55] #437 closed

[2019-04-25 05:59] eneim commented on #440
@maxbaldrighi Sounds weird. Let me try clone the tag 3.6.2.2903 and check on AS 3.4.

[2019-04-25 06:18] eneim commented on #439
@perusudroid I cannot reproduce the issue. Can you take a record of your screen and send me?

[2019-04-25 06:38] perusudroid commented on #439
Please look at the video i have attached.
If it is an Un-Authorized overlay toast will popup. But when i scroll and switch to next video, video autopauses.
https://drive.google.com/file/d/13hWpV3FdaUKIOQZmr1qigXj460Ab3cxt/view?usp=sharing

[2019-04-25 08:01] eneim commented on #440
@maxbaldrighi Do you happen to update the gradle version manually?

I try to download source code from 3.6.2.2903, open it in AS 3.4.0 using the "Open existing ...", wait for AS to do the first sync. It will then ask you to update gradle plugin to 3.4.0 and gradle version to 5.something. Instead of manually doing anything I just click the button and wait for AS to update again ... Below is my step

[2019-04-25 13:42] maxbaldrighi commented on #440
Thank you very much for your response.
I am gonna try again for sure!
Just a question: is updating to exoplayer 2.4.4 necessary even if I don't use toro-mopub?

[2019-04-25 13:48] eneim commented on #440
@maxbaldrighi If you are trying to work with the source code, it is necessary. As the first sync will also try to compile all modules I suppose. Long ago the artifact for all exoplayer extension exists, but it seems to be gone lately. You can copy paste here:

[code]

[2019-04-25 14:12] maxbaldrighi commented on #440
Sorry, I don't understand: if with `work with the source code` you mean using directly ExoPlayer, I do it only through the dependencies provided by Toro.
And the other thing I don't get is why you write 2.4.4 when ExoPlayer library is now at 2.9.6 ...

[2019-04-25 14:16] eneim commented on #440
@maxbaldrighi Think this way:

toro-core is independent from ExoPlayer
toro-exoplayer depends on toro-core and ExoPlayer, and support ExoPlayer 2.9.3 at that version
toro-mopub 's purpose is to support mopub 4.x (which depends on ExoPlayer r2.4.4), so it cannot share the same dependency with toro-exoplayer. I make it a separated module for that reason.

So, if you just use the toro-exoplayer via j

[2019-04-25 14:20] eneim commented on #440
Because latest mopub library now depends on ExoPlayer 2.9.5, I will soon deprecate toro-mopub and remove it from the repository. It will fix this issue as well.

[2019-04-25 14:23] maxbaldrighi commented on #440
Oh, I'm sorry, I get what you meant now. Thanks.

BTW I tried the "automatic" way leaving to AS the update (like anyway I did a few days ago when I first updated everything) but nothing, I still get that strange kotlin-metadata-related AssertionError I pasted before.

`It will fix this issue as well`: you mean my current question? So you think in the end it's related to this mopub issue?

[2019-04-25 14:26] eneim commented on #440
@maxbaldrighi Oh I mean it just fix the dependency stuff. I will take a look at your error :( maybe it is the kotlin compiler and gradle kind of thing.

[2019-04-25 14:27] maxbaldrighi commented on #440
Sorry again for misunderstanding.

Thank you, very much!

[2019-04-27 10:15] bstillitano commented on #435
@eneim what what I set the onCompleted event on? The playerView or the ExoPlayerViewHelper?

[2019-04-27 11:03] bstillitano commented on #435
@eneim nevermind, I figured it out. Thanks for the advice and looking forward to the update that makes this a little easier.

Example below:

[code]

[2019-04-27 11:03] #435 closed

[2019-05-02 14:20] anonym2 opened #441 "Pause all video"
HI I'm using your library for  my custom Story player like Instagram , Now I need to pause video when user press the screen and play it when he left  ,  what is the method for doi that ?

[2019-05-07 12:50] mahesha2 commented on #429
four to 5 seconds

[2019-05-09 18:16] maxbaldrighi commented on #440
Hello @eneim!

I know that my issue has a very low priority, but did you have the chance to try and check if the error might come from the library?

[2019-05-12 05:56] eneim commented on #440
@maxbaldrighi Hi, sorry. As I cannot reproduce this, I guess it is kind of machine specific.

Please try to clone this branch: [https://github.com/eneim/toro/tree/nam/v3/repackage](https://github.com/eneim/toro/tree/nam/v3/repackage) and instead of opening it by Android Studio, try ``./gradlew clean build`` from terminal first.

After that, please try to install a clean Android Studio 3.4 (also do

[2019-05-17 07:09] mahesha2 opened #442 "how to set video pre-loading system"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2019-05-20 00:44] eneim commented on #442
@mahesha2 As mentioned in the chat, need to clarify.

For your information, currently Toro relies on RecyclerView behaviour, so the ViewHolder (ToroPlayer) need to be bound and attached to be prepared. It doesn't support preparing Video before that event.

[2019-05-20 00:48] eneim commented on #441
@anonym2 You can pause all Video by [setting the PlayerSelector](https://github.com/eneim/toro/blob/release/v3.6.2.2903/toro-core/src/main/java/im/ene/toro/widget/Container.java#L354) to something that [selects nothing](https://github.com/eneim/toro/blob/release/v3.6.2.2903/toro-core/src/main/java/im/ene/toro/PlayerSelector.java#L139).

[2019-05-20 06:22] san-android opened #443 "Cannot resolve symbol 'PlayerView'"
I have implemented toro player dependances

implementation "im.ene.toro3:toro:3.6.2.2804"
implementation "im.ene.toro3:toro-ext-exoplayer:3.6.2.2804"

This was working properly but it has been showing the error for a few days that it can not resolve PlayerView.

In that activity it also showing error with

import com.google.android.exoplayer2.ui.PlayerView;

[2019-05-20 16:11] anonym2 commented on #441
Thanks

[2019-05-20 16:11] #441 closed

[2019-05-21 08:19] eneim commented on #443
@san-android Where does it shows the issue? Do you also have exoplayer in gradle dependency?

[2019-05-21 08:51] san-android commented on #443
Error showing in my Recyclerview Adapter

My dependencies are

dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar'])
    implementation 'com.android.support:appcompat-v7:28.0.0'
    implementation 'com.android.support:design:28.0.0'
    implementation 'com.android.support:cardview-v7:28.0.0'
    implementation 'com.android.support:recyclerview-v7:28.0.0'
    implementation 'c

[2019-05-21 08:57] eneim commented on #443
@san-android please add this and try again

[code]

[2019-05-21 09:07] san-android commented on #443
It solves PlayerView but for using it, this methods are not valid

    player.setControlDispatcher(new ExoPlayerDispatcher(selector, this));
    player.getPlayer().seekTo(0);
    player.getPlayer().setPlayWhenReady(false);

[2019-05-21 09:16] eneim commented on #443
@san-android it seems that you lack of all ExoPlayer dependencies. Please try this setup: [this line](https://github.com/eneim/toro/blob/dev-v3/app/build.gradle#L101)

[2019-05-21 09:17] eneim commented on #443
Note that it will add all exoplayer package.

[2019-05-21 09:24] san-android commented on #443
Great. Thanks a lot, it works fine now...

[2019-05-21 09:25] #443 closed

[2019-05-23 04:45] yongju-jin opened #445 "Error when play. surfaceSizeChanged"
[code]
i using
[code]

my xml is
[code]

and video url is not invalid.

[2019-05-25 15:11] anubhavmalik commented on #383
I have the same problem.. However, doing hardwareAccelerated = true doesn't solve my problem.

I'm looking into it further, in case any other solution is found. Could you discuss it here?

[2019-05-26 07:41] eneim commented on #383
@anubhavmalik You should create a new issue and describe the behaviour a bit more. I would like to know your current behaviour and your expected behaviour. Also your device you are using for testing, Android version, Toro version, log cat/stack trace if it is available.

[2019-06-03 06:17] venkateshimmidi commented on #439
@perusudroid is the issue solved?? Got any solution?? I am also facing the same issue, plz help me out if any solution.

[2019-06-03 06:22] perusudroid commented on #439
Hi there,

Nope. I am in search of other good library to replace it.

On Mon, Jun 3, 2019 at 11:47 AM venkateshimmidi <notifications@github.com>
wrote:

[2019-06-03 06:25] venkateshimmidi commented on #439
thanks for the quick response. Pls let me know if any thing found. I am also searching for other library.

[2019-06-03 06:32] perusudroid commented on #439
For which purpose you use this library?. Is your app @ playstore?

On Mon, Jun 3, 2019 at 11:55 AM venkateshimmidi <notifications@github.com>
wrote:

[2019-06-03 06:35] venkateshimmidi commented on #439
No not yet in playstore. Still in development. We have a requirement of playing youtube videos like youtube app.

[2019-06-03 14:02] Vitfer opened #446 "ToroPlayer.EventListener not working"
Hello, I'm trying to put thumbnails in my videos as in this [example](https://github.com/eneim/toro/blob/025b324237c780cdcf7d97d00899312f4af20086/demo-ads/src/main/java/toro/demo/ads/mopub/VideoViewHolder.java#L40). I'm using ToroPlayer.EventListener but it does not seem to be working. How to fix this?
Here is my ViewHolder code:

`   public class ViewHolderVideo extends RecyclerView.ViewHolder im

[2019-06-05 00:59] eneim commented on #446
Let me take a look. What toro version you are using? Do you have a sample videoUri that you can use to reproduce this issue?

[2019-06-05 01:00] eneim commented on #445
@yongju-jin Is this reproducable all the time?

[2019-06-05 04:19] eneim commented on #439
@perusudroid How often the issue happens to your app? Can you share the xml of the Card you put YouTube fragment to? I'm restarting the work with YouTube this week, maybe I can see a work around. As said, YouTube Player SDK is not friendly enough to have a fully working implementation.

[2019-06-05 12:29] Vitfer commented on #446
I'm using "im.ene.toro3: toro: 3.6.2.2903" and "im.ene.toro3: toro-ext-exoplayer: 3.6.2.2903"
videoUri are links to videos saved in Firebase Storage

[2019-06-06 06:50] venkateshimmidi commented on #439
can i use any other player instead of Exoplayer and youtube player with toro??

[2019-06-06 07:03] eneim commented on #439
@venkateshimmidi What do you mean by other player?

If you want to play YouTube videos, you need either YouTube Android Player API or its IFrame API (there is a wrapper for Android).

If you want to play normal Video using player other than ExoPlayer, it is Ok. You will need to write your own version of Helper for it. Check my legacy demo to see how I build it for Android's MediaPlayer API.

[2019-06-09 14:03] VikasChauhanNVC commented on #252
Hey guys,
I'm trying to get data from firebase to multiple recycler view (here I'm using two views of recycler view vertical and horizontal inside the same activity ). But while I'm trying to fetch all data the recycler view activity adapter is called very fastly even data still under the process of fetching due to which there is passing empty ArrayList<>() to the recycler view adapter. And recycl

[2019-06-10 05:55] eneim commented on #252
@VikasChauhanNVC It is not what Toro can help.

[2019-06-20 13:14] venkateshimmidi commented on #439
On scrolling the page top to bottom and from bottom to top, continuously, then on playing the youtube video then video video gets started after 1 sec it stops and  gets the error msg in logcat like.."**YouTubeAndroidPlayerAPI: YouTube video playback stopped due to the player's view being too small. The YouTubePlayerView is 0dp wide (minimum is 200dp) and 0dp high (minimum is 110dp).**"

[2019-06-21 10:11] anubhavmalik commented on #383
@eneim .. Sorry for replying late. Seems like my design was at fault and not the library. There was a part of the consecutive videos overlapping my current video and also while scrolling the player view seemed shaky..

However, it was because in I was having wrap content for height and match parent for width. So, my layout had to be drawn with wrap content at every point causing this issue.

Now,

[2019-06-21 11:24] anubhavmalik commented on #429
I have the same problem. I am covering it up with a thumbnail thought but still the black screen is quite noticeable. Happens right before video starts playing. I am caching videos beforehand so the black screen is not displayed for 3 - 4 seconds but for a shorter duration

[2019-06-21 11:33] anubhavmalik commented on #429
Hey hey hey!

I just fixed the issue. But still I wonder why the library's play method caused this issue for me in the first place.

![Screenshot 2019-06-21 at 5 01 02 PM](https://user-images.githubusercontent.com/26330940/59919911-5ff4a180-9446-11e9-8f10-b14d022db203.png)

[2019-06-21 13:34] #383 closed

[2019-06-21 13:40] eneim commented on #439
@venkateshimmidi Please try to set a fix height (big enough) for your ``android:id="@+id/player_view"`` and also remove the ImageView on top of it and retry.

[2019-06-22 12:32] anubhavmalik commented on #429
@mahesha2 .. You can try to solve this problem just the way I did, see the code snippet.
@eneim .. you can dig into this whenever you have some time :)

amazing library by the way, saved me a lot of time. Would really like to contribute too.

[2019-06-23 05:50] hasanmohdkhan commented on #427
@eneim did u done with your investigation.
currently, I am using it this -> https://github.com/PierfrancescoSoffritti/android-youtube-player
but it plays the second video in the list  (i am having three videos per screen and only one is fully visible and I am snapping video in the center).
please provide your guidance

[2019-06-24 07:01] venkateshimmidi commented on #439
yes i have tried with the given suggestion but still it is showing the same
error.

On Fri, Jun 21, 2019 at 7:10 PM Nam Nguyen Hoai <notifications@github.com>
wrote:

[2019-06-28 06:49] venkateshimmidi commented on #439
I think there is a problem with the progress bar(but not sure). But there
is no option to hide it, it is internally coming from the library. Can you
help me with this?

On Mon, Jun 24, 2019 at 12:31 PM immidi venkatesh <
immidi.venkatesh@gmail.com> wrote:

[2019-06-28 19:34] vsevolod-sp opened #447 "How to scroll the container?"
Default methods
`container.scrollToPosition(0);`
 `container.smoothScrollToPosition(0);`
is not work

[2019-06-29 11:08] eneim commented on #447
@vsevolod-sp What do you want to do? Scroll it to specific position? What is your LayoutManager? When you call the method?

[2019-06-29 13:45] vsevolod-sp commented on #447
@eneim

My xml struct:
[code]

Container setup
[code]

[2019-06-30 03:40] eneim commented on #447
@vsevolod-sp Does it work if you replace the Container by a normal RecyclerView? Can you share the code where you call the method?

-- For your information, if you call container.scrollToPosition(pos) right after setting the Adapter or LayoutManager, it may not work, because the RecyclerView need to be laid out first. You can try to put the call inside a block like this:

[code]

[2019-06-30 15:32] vsevolod-sp commented on #447
@thiagoricieri It worked, thank you!

[2019-06-30 16:21] #447 closed

[2019-07-02 00:03] eneim commented on #427
@hasanmohdkhan In fact I'm testing it in my other library [here](https://github.com/eneim/kohii/tree/dev-v1/kohii-sample/src/main/java/kohii/v1/yta) (as it has different concept and implementation, you may not find any interesting information there). Current result is quite good, but it is not obvious as adding the View and things will just work. The work for that lib is my current focus (cannot s

[2019-07-02 06:27] hasanmohdkhan commented on #427
thanks for the reply. I using https://github.com/PierfrancescoSoffritti/android-youtube-player without helper class. in your lib. What I am going implement with helper classes.

[2019-07-13 13:26] amitsharma492 opened #448 "@kodlayanzi Have you read this article: https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6"
@kodlayanzi Have you read this article: https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6

Hope this give you a solution. If it doesn't, please let me know.

_Originally posted by @eneim in https://github.com/eneim/toro/issues/290#issuecomment-359357614_

How can we implement this in toro with pre-fetch 100Kb of upcoming videos in recycler vi

[2019-07-26 10:25] charlizesmith opened #450 "Need To play single Video and Multiple GIF"
Hello Nam,

I am using Toro version :
 latest_release = '3.6.2.2804'

In Recycleview, Autoplay and Autopause with Gif and Video is working fine. I am using LinearLayout manager with Toro Container and its working awesome.

Now, I want to use Staggeredgridlayoutmanager with ToroContainer for loading 1 video and 4 gif in screen. As per your documentaion in advance Topic, ** Playing multiple Videos a

[2019-08-07 04:24] eneim commented on #450
@charlizesmith sorry for late reply, please find my answers below

(1) Once ViewHolder is detached, the player resource is cleared automatically.
(2) As a result, there should be no memory leaked or so. But if you find them please file issue.
(3) It is just to show you how you can set PlayerDispatcher for dynamic delay. What I mean is we may never see dynamic delay playback (i.e each player starts

[2019-08-07 09:10] sanketmthakare commented on #450
@eneim
**Thanks a lot eneim for your reply.**
**NOW The ISSUE IS**
- Whenever i try to load  multiple gif and video, app became **little slow.**  I am loading video and gif  with streaming url.  Is it the issue because of loading video and gif at the same time or some other thing?

[2019-08-07 11:07] eneim commented on #450
@sanketmthakare as said, playing multiple items at a time is power consuming. To ensure, you can configure it to play only one or no items and see how it changes.

[2019-08-07 11:32] charlizesmith commented on #450
@eneim
Thanks eneim.
above, you said playing multiple items at a time is power consuming. But, I want to use Staggeredgridlayoutmanager with ToroContainer.

**How can i play single video with Staggeredgridlayout?**
**Is there any optimize solution to avoid  power consuming while playing multiple video?**

In your complicated grid sample , you are playing both video at a time.

[2019-08-07 12:11] eneim commented on #450
@charlizesmith I think by default Toro will play only one at a time, regardless of which LayoutManager you use. You just don't need to provide any PlayerSelector.

[2019-08-07 13:04] charlizesmith commented on #450
@eneim
ok
will check it. Thanks for reply

[2019-08-09 08:31] shahidgeek commented on #391
Any updates in this yet?

[2019-08-09 08:31] shahidgeek commented on #391
Any update ?

[2019-08-10 09:24] vijayakumarksv opened #451 "New Issue"
When i added
**implementation 'im.ene.toro3:toro:3.6.2.2804'
implementation 'im.ene.toro3:toro-ext-exoplayer:3.6.2.2804'**
those library to got this below error,
class file for com.google.android.gms.internal.zzbgl not found

[2019-08-11 03:58] eneim commented on #451
@vijayakumarksv You will need exoplayer as dependency as well.

[2019-08-12 01:34] vijayakumarksv commented on #451
I need more clarification about this. Because I couldn't implement your plugin in my project.

[2019-08-12 01:39] eneim commented on #451
@vijayakumarksv Currently toro-exoplayer depends on ExoPlayer library (full package, but on production the unnecessary things will be stripped out by R8/Proguard). So you also need to include them in the build.gradle.

[2019-08-12 01:41] vijayakumarksv commented on #451
For toro exoplayer build.gradle right?

[2019-08-12 01:44] eneim commented on #391
@shahidgeek @bheuju I did try the library, even change the source code myself to meet Toro's implementation but it is too complicated at that time. Since then no further effort yet. I'm busy at the moment I may get back to it in early September.

[2019-08-12 12:53] eneim commented on #451
@vijayakumarksv Yes. It use ExoPlayer so it requires exoplayer as dependency.

[2019-08-14 13:26] Black4guy opened #452 "Video not Pausing/Playing in NestedScrollView parent"
What kind of issue is this?
 I am using NestedScrollView as a parent layout of recyclerview video not playing/pausing properly

[2019-09-02 07:48] saeid130 opened #453 "videos not resume."
my project works correctly but when videos off from screen did not resume start again.

[2019-09-03 04:12] sharan-wednesday commented on #429
In PlayerView You can do something like this, though there will be a shutter.
`app:shutter_background_color="@android:color/transparent"
`

[2019-09-04 07:32] eneim commented on #453
@saeid130 can you share the source code that can reproduce the issue?

[2019-09-05 16:06] saeid130 commented on #453
that's my adapter code and VideoViewHolder that holder i'm using Toro:
`public class PostAdapter extends RecyclerView.Adapter {

    ArrayList<Integer> types = new ArrayList<Integer>();
    ArrayList<String> names = new ArrayList<String>();
    ArrayList<Boolean> likes = new ArrayList<Boolean>();
    ArrayList<Boolean> tags = new ArrayList<Boolean>();
    ArrayList<Boolean> extend = new ArrayList<

[2019-09-09 06:35] li2 commented on #290
@eneim Thanks for such great lib.
I did a few hours research on this and was stuck on topic `exoplayer cache video` like CacheDataSourceFactory, finally, I found it's just simply one line to fix this issue mentioned in your comment.
It will be much more appreciated if you can put video cache solution in the README `Advance topics` then new guys come to this lib can easily resolve this issue.
Thank

[2019-09-09 06:46] #453 closed

[2019-09-09 06:56] saeid130 opened #454 "animation is restart the videos"
I'm using toro in recyclerView everything is great but when any animation loads in item view video are restart. my animation like this:

`private void expandTextView(TextView tv){
        ObjectAnimator animation = ObjectAnimator.ofInt(tv, "maxLines", tv.getLineCount());
        animation.setDuration(200).start();
    }`

anybody have an idea

[2019-09-10 05:03] eneim commented on #454
@saeid130 can you share a screen record of the behavior? Cannot imagine how animating a TextView affect the Video playback.

[2019-09-10 05:03] #451 closed

[2019-09-10 05:05] eneim commented on #290
@li2 Sounds fine to me, I will find time to improve the README.

[2019-09-10 06:34] saeid130 commented on #454
I have notifyDataSetChanged(); after my animation and that's causing video restart. It solved thank you.

[2019-09-10 06:35] #454 closed

[2019-09-10 07:31] li2 commented on #415
@sonalpatel22 Before you start your full screen video player, did you call the following function?
    container.setPlayerSelector(PlayerSelector.NONE);
I just  found that without this function savePlaybackInfo won't work

[2019-09-10 20:35] Vitfer opened #455 "Black Background after removing thumbnail"
Hello. In my adapter I set up an ImageView in front of the player to be used as a thumbnail and remove it when the video starts playing. However after hiding the thumbnail, the video takes a few seconds to load and turns black and only then starts playing.
How can I make a smoother transition?
Thanks in advance and thanks for this library.

[code]

[2019-09-17 04:08] imran-samed commented on #452
@Black4guy @eneim
I'm also facing same, have any solution for this ?

[2019-09-17 05:38] Black4guy commented on #452
Not yet.

[2019-09-17 06:35] imran-samed commented on #452
@Black4guy @thiagoricieri @eneim @fossabot
Then what are you using for now?

[2019-09-17 07:54] eneim commented on #452
@imran-samed @Black4guy I have not much experience using RV inside NestedScrollView. Still wondering why RV is used inside NestedScrollView, there are facts we need to face here: If a RV is nested inside a NestedScrollView, **either** it doesn't work well and the scroll is not smooth anymore, **or** you need to call setNestedScrollingEnabled to false to make things work well together (as far as I

[2019-09-17 08:30] Black4guy commented on #452
As @eneim suggested in one of answer to use one extra viewholder and put all the components which are inside nestedscrollivew to the Viewholder and remove Nestedscrollview.
This is how i managed that In my case.

[2019-09-17 08:31] Black4guy commented on #452
Yes,i am completely agree with your points

[2019-09-17 20:04] rtnlsltn opened #456 "YouTube example not functioning?"
It looks like the YouTube Recycler demo is not functioning, as it's not getting a data response. I changed the playlist and am receiving the same blank display. I've began looking into this, but if there's already a known-fix, please advise!

[2019-09-23 06:46] kslim1025 commented on #220
bintrayuser =""
bintraykey=""

[2019-10-06 17:44] manishh776 commented on #263
@maxbaldrighi Can you post the solution to this issue if you found it. Thanks in advance.

[2019-10-07 00:50] eneim commented on #456
@rtnlsltn maybe it is that your API key needs to be activated. Please double check the Google API Console.

[2019-10-14 13:07] lucazin opened #457 "Helper - Play Method Error - Not Play"
What kind of issue is this?

- [ ] Bug:  When start loading and play the video i have this error here, please help me..
i try everything.. change version.. look at demo.. and nothing

  - [ ] Toro version:

`  implementation 'im.ene.toro3:toro:3.6.2.2804'
    implementation 'im.ene.toro3:toro-ext-exoplayer:3.6.2.2804'
    implementation ("com.google.android.exoplayer:exoplayer:2.9.3") {
        ex

[2019-10-14 13:24] lucazin commented on #457
![aaa](https://user-images.githubusercontent.com/28266902/66754640-ce81c300-ee6c-11e9-8866-b4445384f564.jpeg)

[2019-10-14 16:44] #457 closed

[2019-10-14 17:13] lucazin commented on #279
i have a black screen too..but after load the video.. how can avoid the black screen ?

[2019-10-14 18:06] lucazin commented on #245
Hi @ghataa  i'm trying to set a listener like u said

toroPlayerEventListener = new EventListener() {

but not work..

only work this
`private final Playable.EventListener listener = new Playable.DefaultEventListener()
//        {
//            @Override public void onPlayerStateChanged(boolean playWhenReady, int playbackState)
//            {
//                super.onPlayerStateChanged(playWhenR

[2019-10-15 04:38] eneim commented on #457
@lucazin I think you have figure out the cause about ExoPlayer version. As ExoPlayer 2.10.x is out, i will update this library soon to meet the update.

[2019-10-15 16:21] lucazin commented on #457
Thanks!

Em ter, 15 de out de 2019 às 01:38, Nam Nguyen Hoai <
notifications@github.com> escreveu:

[2019-10-16 06:23] saadbzu opened #458 "how Initially hide playback controls ? holder.playerview.hideControls() not work"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2019-10-16 07:50] saadbzu opened #459 "How can i loop the video? Any Update in library?"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2019-10-18 13:44] eneim commented on #459
@saadbzu If you are using latest version, you can use [this config](https://github.com/eneim/toro/blob/dev-v3/app/src/main/java/im/ene/toro/sample/ToroDemo.java#L40) to have Video looped.

[2019-10-18 15:45] saadbzu commented on #459
@eneim Thank you for this update. I will try.

[2019-10-18 15:51] #459 closed

[2019-10-23 10:04] franrc commented on #455
Hi!

If your ViewHolder implements ToroPlayer.EventListener  you have a method to implement called onPlaying(), in this method you can hide your thumbnail.

To add the listener you need to call  **helper.addPlayerEventListener(this)** . on initialize Toro

Greetings!

[2019-10-24 11:01] Prachethan opened #461 "Unable to Implement Container#onScrollStateChanged(int)"
implementation 'im.ene.toro3:toro:3.6.2.2903'
    implementation 'im.ene.toro3:toro-ext-exoplayer:3.6.2.2903'

Container not automatically playing videos. If we pinch manually on the container then only the particular video is playing.. Im using collapsing toolbar. So i tried to implement the Container#onScrollStateChanged(int). but i ended up with the following error. Im using AndroidX

error: co

[2019-10-24 13:47] eneim commented on #461
There is a part in Readme addresses the issue with CollapsingToolbarLayout, please double check.

Also you can try latest alpha release as it is updated to use AndroidX without any function change.

[2019-10-24 14:00] Prachethan commented on #461
I followed the code from readme.. but no luck... So implemented the recyclerview (container)with multiple view type. But scrolling is not smooth with collapsing toolbar. I tried following
1. Applied behavior to (recycler view)container within coordinator layout.
2. Nestedscrolling set to false.

Guide to achieve my goal. Thanks in advance 😊

[2019-10-25 01:48] eneim commented on #461
@Prachethan Why do you need to "Nestedscrolling set to false"? Is your Container inside another NestedScrollView or anything? Do you have a chance to try the ``3.7.0.2905-A1`` release because it will work well with AndroidX?

[2019-10-26 07:47] #461 closed

[2019-10-30 17:12] lucazin commented on #270
how can change to public ?

[2019-10-30 17:42] lucazin opened #462 "Stop Player after change tab - viewpager"
Hello!
Someone can help me?

How can i stop de video when a change my tab on viewpager?

i used this..but not work

@Override
	public void setUserVisibleHint(boolean isVisibleToUser) {

		ListaFeed_Estabelecimento.this.setUserVisibleHint(isVisibleToUser);
		super.setUserVisibleHint(isVisibleToUser);
	}

i have fragment and load video list in recycleview.. how cani stop all when i change tab?

i us

[2019-11-02 16:13] Diegofr104 commented on #462
you can use [EventBus](https://github.com/greenrobot/EventBus) for that.
First on the adapter item where you have toroplayer you need to write the metod to get messages event from eventbus and instantiate too, inside that method you need to call pause() and other logic that you need to work.

[2019-11-02 16:25] lucazin commented on #462
i override the toro container and use visibility method to hide recycleview

Em sáb., 2 de nov. de 2019 às 13:13, Diegofr104 <notifications@github.com>
escreveu:

[2019-11-06 09:34] Terenfear commented on #258
One of possible solutions is to set a custom OnScrollChangeListener with debouncing capabilities on a NestedScrollView. Roughly it could work like that: if there are no events in, say, 50 ms then we pass a RecyclerView.SCROLL_STATE_IDLE into a Container, otherwise pass a RecyclerView.SCROLL_STATE_SETTLING. Plus you can filter out repetitive values to reduce an amount of processing.

[2019-11-11 13:07] yektasarioglu opened #463 "How can I auto-play without user interaction?"
Hi @eneim, toro does not play video automatically when a user does not interact with it. Is this can be caused because my single Viewholder fills the entire screen. My purpose is to auto-play without user scrolling. Is this possible or if it is possible, how? Thanks.

[2019-11-15 00:03] eneim commented on #463
Hi there, toro default behavior is to start the playback automatically. It should be a bug if not. Can you share with me your ViewHolder implementation? Do you use CoordinatorLayout with Behavior?

[2019-11-18 13:30] saadbzu commented on #424
android4canada I also face the same issue how you solve the problem please help

[2019-11-18 15:30] saadbzu opened #464 "Reduce Buffering of videos"
First of all thank you for this amazing library!

I face a problem the video take 3,4 second to load into player in recyclerview. I use URL of Video for loading videos in recyclerview.  In simple words it take a very long time to buffering and playing video. Please help how i reduce the buffering time and start video fast.

[2019-11-18 17:17] lucazin commented on #464
put in cache before start (DownloadVideo to cache file) and verify if have cache for that file.. load from cache ..else load from server

[2019-11-18 17:27] saadbzu commented on #464
@lucazin Thank you for your help. I'm very thankful to you if you show me the example code.

[2019-11-19 00:58] eneim commented on #464
It should depends on how the video is. How long will it take the Video to load using other players? Do you have an usable link for testing? Video from server relies a lot on the infra (CDN, Device band and network quality).

[2019-11-19 04:52] saadbzu commented on #464
@eneim I store video in my own server in .mp4 format. Once i try Media Player but its buffering is more than ExoPlayer. Here is an example links of my videos.
1) http://173.249.13.152:8123/appdata/harisnoor/media/191118061028145.mp4
2) http://173.249.13.152:8123/appdata/harisnoor/media/191118060352307.mp4
3) http://173.249.13.152:8123/appdata/harisnoor/media/191118055856634.mp4

I search on google

[2019-11-19 04:57] saadbzu commented on #464
@eneim <https://github.com/eneim> I store video in my own server in .mp4
format. Once i try Media Player but its buffering is more than ExoPlayer.
Here is an example links of my videos.

   1. http://173.249.13.152:8123/appdata/harisnoor/media/191118061028145.mp4
   2. http://173.249.13.152:8123/appdata/harisnoor/media/191118060352307.mp4
   3. http://173.249.13.152:8123/appdata/harisnoor/media/19

[2019-11-19 09:33] eneim commented on #464
Assume that you are using latest version. When constructing new ExoPlayerViewHelper, there is a constructor that allows you to pass in a ExoCreator or a Config. These object allows you to use custom LoadControl and other ExoPlayer’s component. You can have a global ExoCreator or Config object and pass around. Please try that.

Also, mp4 is not the optimized format if you want fast streaming. Inves

[2019-11-20 04:44] saadbzu commented on #464
@eneim Here is the code where i use new ExoPlayerViewHelper:

@Override
    public void initialize(@NonNull Container container, @NonNull PlaybackInfo playbackInfo) {
        if (helper == null) {
            //  helper = new ExoPlayerViewHelper(container, this, mediaUri);
            helper = new ExoPlayerViewHelper(this, mediaUri, null, FollowingFragment.config);
        }
        helper.initial

[2019-11-21 02:33] eneim commented on #464
@saadbzu

In this line:

[code]

There is ``FollowingFragment.config``, you can use custom ``LoadControl`` with it:

[code]

[2019-11-21 05:17] W3ondemand-Rise opened #465 "No direct method <init>(Lcom/google/android/exoplayer2/RenderersFactory;"
Getting No such method error ,here is the whole crash report .

java.lang.NoSuchMethodError: No direct method <init>(Lcom/google/android/exoplayer2/RenderersFactory;Lcom/google/android/exoplayer2/trackselection/TrackSelector;Lcom/google/android/exoplayer2/LoadControl;Lcom/google/android/exoplayer2/drm/DrmSessionManager;)V in class Lcom/google/android/exoplayer2/SimpleExoPlayer; or its super classe

[2019-11-21 05:17] #465 closed

[2019-11-21 05:21] hibittushah opened #466 "Getting NoSuchMethodError while using this libraray"
Here is whole crash report .Please tell me what i am doing wrong here and why it is not playing videos
Am using these library version

java.lang.NoSuchMethodError: No direct method <init>(Lcom/google/android/exoplayer2/RenderersFactory;Lcom/google/android/exoplayer2/trackselection/TrackSelector;Lcom/google/android/exoplayer2/LoadControl;Lcom/google/android/exoplayer2/drm/DrmSessionManager;)V in cl

[2019-11-21 10:20] saadbzu commented on #464
@eneim I set custom LoadControl and the the performance increase a little bit now 2,3 second buffering occur Still the performance not satisfied because 2,3 second are add delay in video play. Here is my server response time,status etc:
-- Time: 380ms
-- Size: 4.18 KB

@eneim can we compress the video with any method?

OR

How i change the video format from .mp4 to HLS or DASH?

[2019-11-21 12:43] eneim commented on #464
If you are serious about delay and want to adopt HLS/DASH, you’d better research yourself using those keywords. It involves not only encoding config, but also CDN and other infrastructures as well. It’s worth investing your time and money in long term.

You should also check your video codec setting (if you own the content). For example VP9 would save you many bytes which results in faster downloa

[2019-11-22 03:12] eneim commented on #466
@hibittushah You use 2 different verions of ExoPlayer

[code]

I also suggest to use latest version available.

[2019-11-22 05:13] hibittushah commented on #466
Thank you so much for this .
I have solved this by using same version .

[2019-11-22 08:39] yektasarioglu commented on #463
Sorry for the late response. Here it is the viewholder.xml and its implementation;

[code]

Viewholder implementation;

[code]

[2019-11-25 05:23] saadbzu opened #467 "Check duration of video during video playing"
During a video playing, how i check how much video is played? For example if a video of length 20 second is playing, i want to trigger an even when video complete its 5 seconds.

[2019-11-25 09:10] eneim commented on #467
@saadbzu The Helper class has this [method](https://github.com/eneim/toro/blob/dev-v3/toro-core/src/main/java/im/ene/toro/helper/ToroPlayerHelper.java#L189). You can get the PlaybackInfo and use its position for your purpose.

[2019-11-26 05:30] PushparajKannan opened #468 "Recyclerview hanging"
RecyclerView hanging because of dynamic item view height...

my_itemview.xml file-->

[code]

[2019-11-26 14:01] jayachandrak commented on #431
@eneim Did you get a chance to look into it?

[2019-11-27 09:15] saadbzu commented on #467
@eneim I need the listener while video playing. PlaybackInfo  calls only once when video play. Please give me some example code

[2019-11-27 09:57] eneim commented on #467
@saadbzu There is no such listener, because no one would tell you every second about things you can always get. You can do it yourself using Handler with postDelayed.

[2019-11-27 10:31] saadbzu commented on #467
@eneim i use timer of 10 second in onPlaying() listener and then check the response in log. When 1st video in recyclerview play it works fine but when i scroll to 2nd video it run 2 time.
for 3rd,4th,5th.... it work fine but only for 2nd video this method play two time.

 helper.initialize(container, playbackInfo);
        helper.addPlayerEventListener(new EventListener() {
            @Override

[2019-11-28 04:56] #464 closed

[2019-12-02 00:45] eneim commented on #468
@PushparajKannan I think this is not toro's issue. Please consider to estimate the height before hand. It is suggested for any application, not just toro.

[2019-12-02 00:45] #468 closed

[2019-12-12 10:33] devmanishjoshi opened #470 "Video not retaining the play state and volume state once scrolled back to the top of the list."
Video starts playing as expected and volume is set to off by default.
Scroll to 5th-6th item -> video starts playing, turn volume on.
Once you scroll list back to top and come back to same video which was playing earlier, video starts streaming from the beginning and volume is set to default.
Expected result : Until Activity is recreated or the list is refreshed video should retain the state.
It i

[2019-12-19 12:56] faisalvv opened #471 "How can i load hls file using exoplayer with hls cache"
Can i play hls  files[m3u8] without delay. how can i use HLS cache mechanism.

[2019-12-21 10:24] faisalvv commented on #429
private final Playable.EventListener listener = new Playable.DefaultEventListener() {
        @Override public void onPlayerStateChanged(boolean playWhenReady, int playbackState) {
            super.onPlayerStateChanged(playWhenReady, playbackState);
            Log.d("faisal",format(Locale.getDefault(), "STATE: %d・PWR: %s", playbackState, playWhenReady));
            if (playbackState==3) {

[2019-12-24 08:55] FOUADFAISAL opened #472 "ImaVideoViewHolder.kt"
Dear ,
can you share me ImaVideoViewHolder.kt as java source code file please ?
i did not know kitlon source code
please ASAP.

[2019-12-24 20:06] yankelandroid opened #473 "crash SimpleExoPlayerViewHelper.initialize"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

there is a crash in the SimpleExoPlayerViewHelper initialization

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [3.2.0 ] Toro version.
  - [9 ] Android version (can be found in De

[2019-12-25 05:06] eneim commented on #473
@yankelandroid You may use a different version that 3.2.0 compiles with. Please use latest version of Toro with ExoPlayer 2.9.5 OR use ExoPlayer r2.5.4

[2019-12-25 18:41] yankelandroid commented on #473
what is the latest version of toro ?

[2019-12-25 19:37] yankelandroid commented on #473
i update with last version and get this error :
java.lang.NoSuchMethodError: No direct method <init>(Lcom/google/android/exoplayer2/RenderersFactory;Lcom/google/android/exoplayer2/trackselection/TrackSelector;Lcom/google/android/exoplayer2/LoadControl;Lcom/google/android/exoplayer2/drm/DrmSessionManager;)V in class Lcom/google/android/exoplayer2/SimpleExoPlayer; or its super classes (declaration o

[2019-12-26 01:05] eneim commented on #473
@yankelandroid What is ExoPlayer version you are using?

[2019-12-29 17:23] karanianandkumar commented on #464
I would like to know whether toro internally handling data source(RTMP,DASH or HLS) selection based on the file type or Should we handle manually? If we need to handle manually, Please provide steps to include it for toro config.

[2019-12-31 02:15] shiyingZhang90 commented on #446
Any feedback here? I also encounter same issue

[2019-12-31 06:23] eneim commented on #446
Hey so sorry to hear that. I can only check this out in next few weeks.

[2019-12-31 17:25] shiyingZhang90 commented on #446
Thanks! Happy New Year

[2020-01-01 12:48] faisalvv opened #474 "How to load preloaded cache"
i choose hls stream media playback. how can i use pre buffer for playing without delay.like facebook, instagram etc..

[2020-01-06 08:06] karanianandkumar commented on #251
@eneim if any update on this issue, please let us know

[2020-01-07 01:23] shiyingZhang90 commented on #106
Hi Eneim,

Is this implemented or on the plan right now?

[2020-01-09 06:42] eneim commented on #464
@karanianandkumar toro-exoplayer will internally handle the type for DASH, HLS (RTMP is not officially supported by ExoPlayer, but via an extension I believe).

[2020-01-13 12:56] anubhavmalik commented on #338
It is exo player's issue, I fixed it by using an image on top of player view but still there was a moment in between when black screen was visible. Check my answer [here](https://stackoverflow.com/a/59713444/8217279)

[2020-01-13 13:00] anubhavmalik commented on #471
[Here is a relevant Stack Overflow link](https://stackoverflow.com/a/43316626/8217279). But I still don't think this is an issue of this repository.

[2020-01-13 13:07] anubhavmalik commented on #279
I answered a similar query [here](https://github.com/eneim/toro/issues/338#issuecomment-573649934) which will lead you to my stack overflow answer [here](https://stackoverflow.com/a/59713444/8217279) ... Similar answer [here](https://github.com/eneim/toro/issues/429#issuecomment-504393847)

[2020-01-23 07:02] MahmoudMabrok opened #476 "demo not exist"
What kind of issue is this?
- [x] Other. Senseless issues are normally ignored. Please understand and cooperate.

README file contains label with YouTube Demo which is empty.

[2020-01-28 09:56] Prachethan opened #477 "java.lang.IndexOutOfBoundsException: in some phones"
java.lang.IndexOutOfBoundsException:
  at java.util.ArrayList.get (ArrayList.java:437)
  at e.d.a.g.q$b.a (Unknown Source:2)
  at im.ene.toro.widget.b.b (Unknown Source:20)
  at im.ene.toro.widget.b.a (Unknown Source:4)
  at im.ene.toro.widget.Container.h (Unknown Source:27)
  at androidx.recyclerview.widget.RecyclerView.a (Unknown Source:4)
  at androidx.recyclerview.widget.RecyclerView$e.a (Unkn

[2020-02-15 05:04] eneim commented on #477
@Prachethan Do you have the debuggable log? This is proguarded ...

[2020-02-21 11:30] saadbzu opened #481 "Get the duration of video"
Hi, i use URL .mp4 video play in toro. I want to get the duration of video when the player start. I following your tutorial and everything is fine but i want to find the method` .getDuration` in my holder class. The holder class have 2 options:
`PlayerView playerView;
    ExoPlayerViewHelper helper;`

but duration function not found.
I use 3.7.0.2905-A1 version of library

[2020-02-21 11:38] #467 closed

[2020-02-22 10:03] eneim commented on #481
@saadbzu current workaround is to use Player from `playerView.getPlayer()` and use it to get the duration.

[2020-03-04 21:49] NWApps opened #482 "[Feature Request] Video quality selector"
I'd like an option to always play the highest quality version, lowest quality versions and show a list of all the available options for the user to select.
As it stands, Toro seems to change the quality based on the user's bandwidth.

DASH url: https://v.redd.it/6xukfv2i2pk41/DASHPlaylist.mpd
HLS url: https://v.redd.it/6xukfv2i2pk41/HLSPlaylist.m3u8

[2020-03-06 05:24] bakhytk commented on #445
Have the same issue on the real device (LG), but tests on the simulator and Samsung were ok.

Is there any update about this or some thoughts how to fix it?

Thanks

[2020-03-08 05:11] rajkumarsavu opened #483 "Video In Adapter is playing from preivous video position please help me out"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2020-03-09 16:21] lglossman-ring commented on #445
@bakhytk Add the following line to your `gradle.properties` file:

```android.enableDexingArtifactTransform=false```

The problem resides in a new feature of the gradle build tools 3.5 where it tries to optimize external dependencies as well and it strips default method implementations from exoplayer.
According to the android team issue tracker this issue should be fixed by correctly declaring all

[2020-03-09 16:35] #483 closed, assigned to nobody

[2020-03-10 08:52] bakhytk commented on #445
Awesome! It fixes the problem.

Thank you, @lglossman-ring

[2020-03-11 14:59] abagusw commented on #466
`java.lang.NoSuchMethodError: No direct method <init>(Lcom/google/android/exoplayer2/RenderersFactory;Lcom/google/android/exoplayer2/trackselection/TrackSelector;Lcom/google/android/exoplayer2/LoadControl;Lcom/google/android/exoplayer2/drm/DrmSessionManager;)V in class Lcom/google/android/exoplayer2/SimpleExoPlayer; or its super classes (declaration of 'com.google.android.exoplayer2.SimpleExoPlaye

[2020-03-12 16:45] knowamit commented on #290
I am using toro version 3.5.2 and below is code for pre-fetch video in Recyclerview but its seems video is not playing from cache. Please help

[code]

[2020-03-15 04:30] faisalvv commented on #474
HI, any updates??

[2020-03-15 12:02] eneim commented on #474
@faisalvv For your requirement, I think you need to download the videos before hand. Toro is not supporting it out of the box now.

[2020-03-15 12:03] eneim commented on #466
@abagusw If you are using `toro:3.6.2.2804`, you need ExoPlayer `2.8.4`, not `2.10.3`

[2020-03-15 12:12] eneim commented on #482
Will consider this in next update. How do you plan to change the quality? Provider UI for user, or you create your logic for your app?

[2020-03-17 06:27] Sumit123rox opened #484 "Hls videos does not change its quality according to network bandwidth."
I'm using MediaSourceBuilder.DEFAULT to setMediaSourceBuilder in exoConfig. But when I play the video it plays on high resolution. It does not change its quality according to bandwidth.

`exoConfig = new im.ene.toro.exoplayer.Config.Builder(mInstance).setMediaSourceBuilder(MediaSourceBuilder.DEFAULT).setCache(cache)
                .setLoadControl(new DefaultLoadControl.Builder().setBufferDuration

[2020-03-20 19:47] knowamit commented on #474
@eneim  I have pre-fetched video using Exo Player Cache.utils, I can see the logs and cache folder for cached files, but the problem is toro is not playing already cached video. I am trying this in Recyclerview.

[2020-03-22 08:13] rajkumarsavu opened #485 "Viewpager with more video dialog fragment video not stopping after open more video fragment"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [x] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2020-03-30 08:25] Al-Hussein-96 commented on #482
@eneim first thank you
for change the quality maybe like facebook video is easy way to change quality

[2020-04-28 05:41] hafiz013 opened #486 "How to make playerview full screen button with seeker button for volume"
May i know this library can support for full screen button and seekbar button for volume control.tq

[2020-05-01 09:48] shivamsoods commented on #486
**No**
There is no generic solution in the library current to make the videos full screen but you can use a Dialog to create a full screen and add remove the player from main view and add it to the Dialog box.

**Initialize the Fullscreen Dialog**

[code]

**Open the Full Screen**
[code]

**Closing the full screen**
[code]

You can refer to this [link](https://github.com/GeoffLedak/ExoplayerFullsc

[2020-05-01 09:58] shivamsoods opened #487 "[Feature Request] Make Player attached to lifecycle"
**Feature Request**

Despite the player working seamlessly it still goes on playing in the background even when the screen is off. The toro widget container could be attached to the lifecycle of the activity/fragment.

The toro player lifecycle should be attached to the activity/fragment and lifecycle states should decide whether to play or pause or release the player.

I tried to control the play

[2020-05-04 07:46] trongtrong opened #488 "how to set player for a specific position in a container"
I want to set the player for some position (eg : position 0, 7, 12, 19..). How to achieve ?

[2020-05-23 08:45] androidvk commented on #301
@maravilhosinga Hey brother im facing the same issue. Can you tell why listeners are not getting called in ViewHolders.

[2020-05-23 09:15] androidvk opened #489 "Initialize() in VideoViewHolder is not getting called."
I am trying to implement video playing where screen orientation will always be fixed. I have tried a lot of ways. Finally, I copied the way you declared adapter and holders but initialize() or ToroPlayer listeners are not getting called.
I also used it on my default adapter where initialize was getting called before onBind() there I was unable to get URI.

Sample Video Link:: https://www.radiantme

[2020-05-23 11:54] #489 closed, assigned to nobody

[2020-05-24 10:07] androidvk commented on #484
@Sumit123rox Do you have different qualities of videos stored in the server??

[2020-05-27 11:53] androidvk opened #490 "Videos Start Playing onScroll even after pausing it manually in Container."
Thank you for the amazing library @eneim , Will surely buy a coffee if I succeed in my project.

Inside container videos start playing on scroll, even after pausing it through the controller.

I have checked toro facebook demo. It is also having same kind to issue.

  - [ 3.7.0.2010003] Toro version.

- [ ] Other. Senseless issues are normally ignored. Please understand and cooperate.

[2020-05-27 12:18] eneim commented on #490
@androidvk How deep you are integrating toro in your App? Manual playback is quite complicated. If you can switch to [this library, also created by me](https://github.com/eneim/kohii) I can assist you better. If you cannot change, please leave a comment and give me your current code (just the part you use toro) I will take a look.

[2020-05-27 12:22] eneim commented on #488
@trongtrong The `ToroPlayer` has a callback `wantsToPlay`. You can return a boolean value to exclude those position you do not want. A better practice is to set a `PlayerSelector` to your Container and exclude those players whose orders you do not want to play.

[2020-05-31 06:50] androidvk commented on #490
Hello @eneim my code is in java. that's why I won't be able to use the library you suggested.
Everything is working fine. But I don't know why paused video starts playing on scroll automatically.

[2020-06-07 15:22] froozesocial commented on #459
Sorry for opening this again, but where did you end up putting it? It didn't work in MainActivity for me. Do I need to put It in the Adapter? thanks.

[2020-06-10 21:38] thilojaeggi opened #491 "Loop video"
How can I make videos loop automatically? I've looked at previous issues but the solutions there we're either outdated or did not work.

- [x] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

[2020-06-15 22:46] froozesocial commented on #320
How can I achieve this in Java?

[2020-06-30 13:52] eneim commented on #491
@thilojaeggi Please find an example here: https://github.com/eneim/toro/blob/44dc625f413461ecfdb81f0d6ba9569f48863011/app/src/main/java/im/ene/toro/sample/facebook/timeline/TimelineVideoViewHolder.java#L96 . You can construct a Config instance that supports Looping and give it to the helper.

[2020-06-30 13:53] eneim commented on #490
@androidvk Please show me your current code if you still want to implement this.

[2020-06-30 13:54] #488 closed, assigned to nobody

[2020-06-30 13:56] eneim commented on #487
@shivamsoods You can archive the behavior by manually observing the lifecycle change, and then update the PlayerSelector accordingly: a PlayerSelector that selects nothing if the lifecycle is paused or stopped or anything of your choice, and a default PlayerSelector that selects one player otherwise.

[2020-06-30 14:00] eneim commented on #486
@hafiz013 To create fullscreen player, there is an existing sample in the Facebook demo: https://github.com/eneim/toro/blob/cb59d3a15053741c0ee1ae0a60e32719778aef02/app/src/main/java/im/ene/toro/sample/facebook/timeline/TimelineFragment.java#L145 It is not trivial, but you can follow that. This sample will automatically open full screen player if user rotates the device. You can modify the control

[2020-06-30 14:01] eneim commented on #485
@rajkumarsavu Please re-open this issue with more detail and better format the issue so that I could understand your issue and the objective. Thanks.

[2020-06-30 14:01] #485 closed, assigned to nobody

[2020-06-30 14:04] eneim commented on #484
@Sumit123rox can you share a video url that has this issue so I can test on my end?

[2020-06-30 19:35] wintermoon9 opened #492 "Using Toro + ExoPlayer in Dynamic Feature Module"
I'm trying to build these dependencies in my build.gradle file for a dynamic feature module.

[code]

I am getting this error:

`/Users/wintermoon9/Desktop/project/project-android/app/src/main/AndroidManifest.xml:22:5-25:65: AAPT: error: resource integer/google_play_services_version (aka life.company.project:integer/google_play_services_version) not found.
    `

I'm not using google play services

[2020-07-01 08:12] shivamsoods commented on #487
Okay. I'll try it out and see if i am able to implement it.
Thanks

[2020-07-07 12:58] #484 closed, assigned to nobody

[2020-07-07 17:26] faisalvv opened #493 "Pre-caching/Downloading progressive streams in ExoPlayer"
how can i use prefetching for video cache.

[2020-07-07 18:52] wintermoon9 commented on #492
Any ideas ?

[2020-07-11 11:46] sanjay147654 opened #494 "App is crashing with the following error"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2020-07-11 11:47] #494 closed, assigned to nobody

[2020-07-11 11:51] sanjay147654 opened #495 "App is crashing with the following error"
java.lang.NoSuchMethodError: No direct method <init>(Lcom/google/android/exoplayer2/RenderersFactory;Lcom/google/android/exoplayer2/trackselection/TrackSelector;Lcom/google/android/exoplayer2/LoadControl;Lcom/google/android/exoplayer2/drm/DrmSessionManager;)V in class Lcom/google/android/exoplayer2/SimpleExoPlayer; or its super classes (declaration of 'com.google.android.exoplayer2.SimpleExoPlayer

[2020-07-16 11:02] Aastha-dev opened #496 "How to use ToroExoplayer inside view pager which is inside a container?"
In first case I have already used this player inside container and it is working fine. But on second case there is a container i.e: Recyclerview inside that there is a Viewpager and inside this I have to use this player. So can anyone guide me how can I achieve this. Below code is the View holder of the adapter set inside view pager. Here I am not able to play the player as nothing seems to displa

[2020-07-19 21:15] SteveOye commented on #416
@eneim Am getting thesame error today

Below is my code

`public class ListAdapter extends RecyclerView.Adapter {
    @Nullable
    ExoPlayerViewHelper helper;

    Uri mediaUri;
    Context context;
    ArrayList<Item> item = new ArrayList<>();

    public ListAdapter(ArrayList<Item> item) {
        this.item = item;
    }

    @Override
    public int getItemViewType(int position) {
        if (

[2020-07-23 13:18] Sumit123rox opened #497 "Custom MediaSource"
Hi @eneim, I want to know there is any way to create custom MediaSource in toro, if yes then how? and if not then do you have any future plans about the same.

Thank you.

[2020-08-06 11:12] xyarim commented on #495
Found a solution?

[2020-08-07 10:17] rajkumarsavu commented on #431
@eneim Even I am also facing the same issue, Could you please solve this ASAP?

[2020-08-07 10:46] neerajkumarjarvis commented on #431
I solved this problem.

[2020-08-08 06:45] rajkumarsavu commented on #431
@neerajkumarjarvis could you please update how to solve this. thanks in advance

[2020-08-10 18:41] shukla147 commented on #445
Thank you man @lglossman-ring

[2020-08-11 04:53] rajkumarsavu commented on #431
@neerajkumarjarvis can you please tell us the solution.

[2020-08-21 08:30] #445 closed

[2020-08-26 04:47] rajkumarsavu commented on #431
@eneim @neerajkumarjarvis need a solution please help me. thank you

[2020-09-06 14:14] OhhhThisVarun commented on #495
Got anything on this?

[2020-09-08 11:17] anathefish commented on #495
Also having it

[2020-09-30 02:10] #47 closed

[2020-10-03 16:54] AppleNadhi commented on #465
@W3ondemand-Rise Could you please explain how did you fix this?

[2020-10-10 04:36] NaveenColourmoon opened #498 "Hi,"
What kind of issue is this?

- [ ] Question. If so, declare clearly your **target** and your current implementation with code formatted in markdown.

- [ ] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - [ ] Toro version.
  - [ ] Android version (can be found in Device info). **Rooted/Custom rom devices are not supported**.
  - [ ] Dev

[2020-10-10 04:42] NaveenColourmoon opened #499 "Video was playing continously in background even after opening bottom sheet"
Hi, Thanks for this **amazing** library. This fit my purpose.
1) The video was playing in recycler view even after opening bottom sheet.
  Solution - i was pausing the player whenever i try to open bottom sheet.
2) But there is an edit Text in bottom sheet. if i **open** and **close** keyboard, the player was starting **automatically**.
 I cant find any solution for this.
Please provide me if any

[2020-10-12 12:04] #498 closed, assigned to nobody

[2020-10-20 08:24] merchsquare-dev opened #500 "Audio is playing but video shows black screen"
I am using toro3 to play videos in my recyclerview( I am using toro Container). This is how my gradle looks like

     ...
    //Exo Video player
    implementation 'com.google.android.exoplayer:exoplayer:2.10.6'
    //toro player
    implementation 'im.ene.toro3:toro:3.7.0.2010003'
    implementation 'im.ene.toro3:toro-ext-exoplayer:3.7.0.2010003'
    .....

This is the link to one of my videos(a

[2020-10-20 08:55] #500 closed, assigned to nobody

[2020-10-20 09:02] merchsquare-dev commented on #500
Wierdly, It was due to my custom layout i.e., RoundedRelativeLayout. After I changed it to RelativeLayout, it worked well.

[2020-10-24 22:50] krhitesh commented on #245
Hey @eneim but onPaused is not called when scrolling with snap helper is enabled. Any ideas?

[2020-10-31 05:03] linhvnguyen9 commented on #465
@AppleNadhi probably late but reverting exoplayer to version 2.10.8 did it for me

[2020-11-10 07:32] talha01sayed commented on #496
same problem

[2020-11-10 09:47] shiv71 commented on #484
@Sumit123rox  did you find any soloution for this i am having same issue.

[2020-11-10 10:04] shiv71 commented on #290
Can you share your configuration ? I am having an issue where in an HLS stream only highest quality bitrate stream is played. It's not switching to lower bitrate.

[2020-11-10 12:42] shiv71 opened #501 "[Bug report] Hls videos always picks the Highest quality stream intially"
Toro Version - im.ene.toro3:toro:3.7.0.2804-SNAPSHOT
Android - Any
Device Name - Any

Issue - When I play an adaptive bit rate HLS stream in toro Recycler view it plays highest resolution stream on wifi, but it waits for 3-4 seconds before playing. How do I fix it to start immedietly ? The same video plays fine on iOS.

Please see videos for more clarification
Android - https://drive.google.com/fi

[2020-11-15 16:59] mehdishz11 commented on #495
It's because of exoPlayer version!
library not update by last version of Exoplayer.
by the way use these implementation :
[code]

[2020-11-18 05:12] rahulvyas commented on #501
@eneim any idea about this ?

[2020-11-19 05:21] rahulvyas commented on #501
@archie94 Do you have any idea for this issue ?

[2020-11-19 05:37] archie94 commented on #501
Hi @rahulvyas
I am afraid I do not.

[2020-11-20 05:55] rahulvyas commented on #501
Ah okay.

One thing I would like to confirm is that if we pass config when initialising ExoPlayerViewHelper it picks the proper HLS stream like (600k,1M,2M etc) but if we do not pass config explicitly then toro player directly picks 2M stream only. Do you have any idea about this behaviour ? Can you share your thoughts on how we can improve startup performance of videos in recyclerview ? We alread

[2020-11-20 06:27] rahulvyas commented on #501
@archie94 @thiagoricieri @eneim

I am trying to improve startup performance of videos in recycleriew. I found one article which suggests  to set **setAllowChunklessPreparation(true)**

From this medium article
[https://medium.com/google-exoplayer/faster-hls-preparation-f6611aa15ea6
](url)

**Sounds good, how do I opt-in?
Available today on our dev-v2 branch, and to be available from the 2.7 releas

[2020-11-20 08:43] Krutika-chotara commented on #457
I am still getting same error. Is there any solution ?

[2020-12-10 10:20] ajaasazeez commented on #493
@faisalvv have you found any solution yet?

[2021-01-05 10:59] itmanzzz opened #502 "[Bug report] Crashed app com.google.android.exoplayer2.trackselection.DefaultTrackSelector"
Toro version:  latest_release = '3.6.2.2804'
Gradle:
        **implementation "im.ene.toro3:toro:${latest_release}"
        implementation "im.ene.toro3:toro-ext-exoplayer:${latest_release}"  // to get ExoPlayer support**

- Exoplayer:
        **implementation("com.google.android.exoplayer:exoplayer:2.12.2")
        implementation 'com.google.android.exoplayer:exoplayer-ui:2.12.2'**

- Android Dev

[2021-01-05 16:55] itmanzzz commented on #495
Yeah, you saved my day ^^
Thank you!

[2021-03-31 11:54] EpariNigam opened #503 "Wiki update"
Hi,

Please update the Wiki to Version 3.

[2021-06-15 11:47] gitam2869 commented on #445
Thanks....!

[2021-06-28 07:57] ThomaHe commented on #251
I still have this same issue, the Exoplayer in a RecyclerView isn't displayed, either with match_parent or wrap_content, the only solution is to give it a fixed height in dp. I have been stumped by this for days now, and I don't have another solution.

[2021-06-30 15:30] shiv71 opened #504 "Getting errors when running the project."
Getting errors when running the project.

  I was using the below configuration in the project.

[code]

And it's working fine but today i am getting below error.

[code]

 After that i tired to replace maven { url  "http://dl.bintray.com/piasy/maven" } to         maven { url "https://oss.jfrog.org/artifactory/oss-snapshot-local" } and getting below error.

[code]

After that, i tried to replace

[2021-07-01 04:29] rahulvyas commented on #504
@archie94 @thiagoricieri @eneim @paraplo Please look into this issue.

[2021-07-05 07:04] shiv71 commented on #504
@eneim any update

[2021-07-20 07:52] rahulvyas commented on #504
Is this library alive? @archie94

[2021-07-20 07:59] archie94 commented on #504
@rahulvyas  I am not the maintainer of the project. Tagging me won't be of much benefit here.

[2021-07-20 08:01] rahulvyas commented on #504
Any help will be appreciated

[2021-07-20 08:02] rahulvyas commented on #504
@archie94 any idea how we can use the snapshot version? The steps provided in the readme doesn't works.

[2021-07-20 08:04] shiv71 commented on #504
@archie94      maven { url 'https://oss.jfrog.org/artifactory/oss-snapshot-local' }
not working, snapshot version does not find in this maven

[2021-07-20 08:05] archie94 commented on #504
Try using the latest tag instead of the snapshot version. I am just guessing here, only maintainer will be able to say why the artifact is not in its place.

[2021-07-23 15:59] Allan-Nava commented on #504
I got the same error!

[2021-08-17 13:36] ashwath20 commented on #502
same here

[2021-09-13 20:32] MartinSchaaf commented on #445
It really helped, thank you @lglossman-ring !

[2021-10-13 04:03] abhi2githubb commented on #47
hey deep can you please more explaination regarding this because i have same issue and i cant understood

[2021-11-26 10:00] AkhilrajNambiar commented on #502
Any solutions for this error?

[2022-01-16 14:32] sal0max opened #505 "com.google.android.exoplayer2.video.VideoListener was removed in ExoPlayer 2.16.0, making this library incompatible"
What kind of issue is this?

- [x] Bug report. If so, please supply the way to reproduce the issue, including addition information as follow:
  - Toro version: 3.7.0.2010003
  - ExoPlayer version: >= 2.16.0

`im.ene.toro.exoplayer.Playable` imports and uses `com.google.android.exoplayer2.video.VideoListener` ([link](https://github.com/eneim/toro/blob/cb59d3a15053741c0ee1ae0a60e32719778aef02/toro-e

[2022-01-19 02:32] hafiz013 opened #506 "How to autoplay video viewpager (contain image/video) inside recyclerview"
Hi i want to know how to implement autoplay video like instagram which contain single image, single video and viewpager (contain image and video). tq

[2022-02-07 08:39] yjin commented on #52
@eneim Should the `container.setPlayerSelector(PlayerSelector.NONE)` be called before the container is populated? Looks like `setPlayerSelecter` doesn't work when called after the container is already populated and scrolled.

[2022-02-14 19:32] manumuuv commented on #505
Any update on this?
Did you find any solution to this issue?
ExoPlayer 2.16.0+ is needed to target Android 12+, otherwise, the app will crash, so I think toro should support ExoPlayer version: >= 2.16.0 asap.

[2022-02-23 09:25] juliussss commented on #504
Anyone found a good alternative library given this one appears destined to die with JCenter?