[2016-02-02 23:21] eneim opened #4 "Single video playback"
Need to stop a video which doesn't want to play first, then look at the next one.

Now: check the next one first. If it wants to play, then save old video's state and pause playback --> this causes unexpected behavior in one-video list.

[2016-02-02 23:28] eneim opened #5 "Playback life cycle doesn't match RecyclerView's viewholder cycle"
ViewHolder at index **-1** won't be rebound but it is cached (scrapped) instead.

[2016-02-03 06:13] #5 closed, assigned to nobody

[2016-02-03 06:40] #4 closed, assigned to eneim

[2016-02-04 09:51] eneim opened #10 "Register timing will affect behavior"
If we register RecyclerView to Toro before it lays out its child, things work normally. But if we setup later, there would be unexpected behavior (Video doesn't play)

[2016-02-06 02:43] #10 closed, assigned to eneim

[2016-02-08 17:21] theostanton opened #12 "Multiple concurrent playing videos"
Apologies for a feature request in issues section. I can't seem to find the reddit I found the library in, if you have a link to that we could continue discussion there.

Would love to be able to have more than one video playing at a time by setting a max number in the strategy. Any prospect of implementing this ?

[2016-02-08 17:29] eneim commented on #12
Here is the link you want

```https://www.reddit.com/r/androiddev/comments/44fket/simple_solution_for_auto_playback_video_list_in/```

IMO, I try to avoid multiple video. Since I don't see it's useful. Can you give me a good reason?

[2016-02-08 19:03] theostanton commented on #12
Thanks. Have replied on reddit.

[2016-02-08 19:03] #12 closed

[2016-02-18 15:14] Apisov opened #13 "Loop"
Hello.
Is it possible to play a video in loop?

[2016-02-18 16:05] Apisov commented on #13
Looks like I found some solution:
calling "resume" of videoview in "onPlaybackStopped" method.

Not sure that this is correct way, but it works anyway.

[2016-02-18 20:03] rahulrj opened #14 "Lag in autoplay"
Isnt there a lag in autoplay(SINGLE VIDEO SIMPLE LIST) when i scroll up and then scroll again down to the video. I think because `prepare()` is called again on that `VideoView`  when i scroll back to it.

There is no case in which i just scroll back to the previous video and it plays without even a single millisecond delay. It always takes some time to prepare and resume the content.

[2016-02-19 02:08] eneim commented on #14
I would investigate this issue. But there is some points I could list out for the concern:

- If a ViewHolder is out of the viewport, there is a high chance it got recycled. In that case, when you see the video again, it need to be bound to the data again, therefore, the Video got prepared again.

- In single video list, I did not see the issue yet, so maybe it has something related to the Interne

[2016-02-19 02:11] eneim commented on #13
In Strategy I prepared a ```allowsImmediateReplay``` for that purpose (actually it is a bad method naming, and I will change it anyway, in the future release). For now, Toro doesn't support this method yet. Because it is not that straightaway to determine when a playback properly complete. Some new Player API may not follow current MediaPlayer API and then onCompletion may not be called. So I woul

[2016-02-19 07:45] rahulrj commented on #14
The first point is correct. It needs to be bound to data again.
I saw this issue in the sample app provided with this library running on WIFI. I will post the gif.
In a single video list also, this issue is bound to happen because the same recycling logic will happen if its a single or multiple video.

[2016-02-19 14:55] Apisov commented on #13
I see. Thank you for your reply.

If we started talking about future releases I have question:
Why you decided don't give access to Media Player from ToroVideoView?
In my case I was needed to mute sound or unmute. Or you have some another ways how to make it?

[2016-02-19 15:55] eneim commented on #13
@Apisov You mean the built-in ```im.ene.lab.toro.widget.ToroVideoView``` class? I think the story is opposite: you have control to the **MediaPlayer** (here: it is the *android.media.MediaPlayer*). In ```ToroVideoViewHolder``` class (which holds a ToroVideoView as its Video player widget), you can see that I implemented many callbacks from MediaPlayer's interfaces. From there, If you use my built-

[2016-02-21 15:44] rahulrj commented on #14
@eneim . It certainly performs better than the Android MediaPlayer. +1 for that.
But can you please let me know one thing? Using Toro, suppose i have a `ListView` and i have video at position 8 and 15.  Now i watch video at position 8 and scroll down to position from there. Now if i scroll back to position 8, its a high chance that the view that i get there is a recycled view. So for position 8, i

[2016-02-22 01:35] eneim commented on #14
@rahulrj I understand your need. As said, I try to keep Toro staying out of the core implementation of playback process. Playing video is hard, I can say. And there are many ways to do so (and each will give a slightly different cycle). In fact, I'm trying to research more about some popular bases to improve my playback cycle and implementation. It could turns out to be an extension of Toro which

[2016-02-22 13:41] Apisov commented on #13
Thank you a lot for such a detailed answer. I missed this possibility to control MediaPlayer. This is what I was looking, yes.

[2016-02-22 13:41] #13 closed

[2016-02-25 13:41] AmrMohammed89 commented on #13
@eneim hi , i have the same problem .. but the difference is that in my view holder the method "onPlaybackStopped" never called .. i don't know what is the problem ?

[2016-02-25 13:47] eneim commented on #13
@AmrMohammed89 Hey can you make this as a new issue? And if it is possible please post your part of code where you use the widget too. Thanks!

[2016-02-28 15:12] rahulrj opened #15 "TextureView in ToroVideoView destroys on opening another Activity"
Suppose i open another Activity from `ToroVideoView`, in its `onTouchEvent()` function,then the `TextureView` gets destroyed and created again automatically. I get both `onSurfaceTextureDestroyed` and `onSurfaceTextureAvailable` callbacks one after other immediately.

[2016-02-29 06:48] eneim commented on #15
@rahulrj I'll check it out. I think this surface should be destroyed if you move to another Activity. So the ```onSurfaceTextureAvailable``` is unexpected. Due to the issue title, I wonder what is your expected behavior actually?

[2016-03-01 09:57] rahulrj commented on #15
@eneim I was trying to make the player full screen when i tap onto it.

[2016-03-01 10:15] eneim commented on #15
@rahulrj I understand that. What I mean is "what would your expected behavior of that **Surface**" :D. Your issue title would tell me that you want it to be *alive* (not being destroyed), but IMO, I expected the Surface to be destroyed.

[2016-03-02 11:46] brittonjg opened #17 "Playback inconsistencies"
Hi,

Thanks for the great library. I have been trying to implement this on a recommendation from a different library (FastAdapter), but I have noticed a couple of issues. I can post these a separate issues if required.

1. **Playback off screen** with a ViewPager - I have managed to combat that before with `setUserVisibleHint` from the Fragment. Although I am not sure how you would do this with yo

[2016-03-02 13:37] eneim commented on #17
Hi @brittonjg . Thanks for your detailed issue. I would like to response each point :D

1. Yeah ViewPager is a pain. I'm thinking of using GlobalFocusChangedListener to catch the "in-screen" RecyclerView. There is 2 points here: first - it is said that the ViewTreeObserver retrieved from view.getViewTreeObserver() is not always alive. second - Google's Youtube Player API use the same thing in betw

[2016-03-02 13:45] brittonjg commented on #17
@eneim I only have the utmost respect for your library. I have tried my own implementations, other peoples and combinations of the above. This is just not a simple task, so I thank you for your work here!

Excellent news! Are you looking at days, weeks or longer for that release? I can always do some more investigation if it would help? The looping is definitely a must for me! :+1: Although it wou

[2016-03-02 14:41] brittonjg commented on #17
@eneim I have noticed that once a video plays, it is then triggered to play again when the user scrolls the list (as long as the bounds are still valid). This sometimes lags or doesn't render correctly.

Is the restarting of the content, the intended behavior?

[2016-03-02 14:45] eneim commented on #17
@brittonjg Thanks. For the later comment, I think I noticed it too and made a commit. I will release next one within 1 week or so, not too long :D. I'm reminding some minor fixes too, so please wait.

[2016-03-07 08:52] eneim commented on #17
hi @brittonjg , could you use this to test with your current issues?

```compile 'com.github.eneim:Toro:develop-SNAPSHOT'```

Except for the ViewPager issue, I tried to give a try on loop playback and some other tune up. Please take a look.

[2016-03-07 11:21] gouravd commented on #17
@eneim How to use the new Loop playback feature in 1.2.0?

[2016-03-07 11:47] brittonjg commented on #17
@gouravd I have only just started looking at the changes, but I think it should be something like the below.

![image](https://cloud.githubusercontent.com/assets/12110204/13568602/4803e490-e45a-11e5-919d-6049e6250e77.png)

[2016-03-07 11:53] eneim commented on #17
Forgot to tell. I updated the draft for 1.2.0 on CHANGELOG.md. Please take a look.

[2016-03-07 12:17] brittonjg commented on #17
@gouravd That seems to be working correctly for me. What is your issue?

@eneim Things I have noticed:

1. VideoViewHolderHelper - This is still private, so from what I can tell it's impossible to implement ToroPlayer directly.
2. Looping - Seems to be working great! It would still be good to have a callback to know when it has looped. `onPlaybackStopped` doesn't get fired and the position never q

[2016-03-07 12:39] eneim commented on #17
@brittonjg As said, ViewPager is a little bit more complicated and I **didn't** have good support for that. So your behavior is unchanged. For the 1st point, it maybe my fault again (It suppose to be public I guess). 2nd point by intended at the point I add the code, and would be improved in the future. Thanks.

[2016-03-07 12:43] brittonjg commented on #17
@eneim Your support is greatly appreciated.

Yes, setting it to public should be a good fix. Apart from those issues it is coming along nicely

[2016-03-07 13:06] brittonjg commented on #17
@eneim I tried setting an `setOnCompletionListener` that broke the looping, so I do not think that is quite the way to solve knowing when the looping occurs.

[2016-03-07 13:12] eneim commented on #17
@brittonjg Thanks again. Here is my latest fix on loop: fix a line to trigger onPlaybackStopped, then lookup the loop ability: [code](https://github.com/eneim/Toro/blob/feature/v1.2/fix-loop/toro/src/main/java/im/ene/lab/toro/Toro.java#L321).

So you mean that call setOnCompletionListener by yourself will broke the loop? That might because you didn't have the VideoViewHelper to get access back to

[2016-03-07 13:59] brittonjg commented on #17
@eneim I've got the code checked out, so I will build it from my machine and add the library in manually for now to save you having to upload. I'll check that change now!

[2016-03-07 14:04] brittonjg commented on #17
@eneim Is it best to discuss everything on here or shall we move to another messaging system?

`VideoViewHolderHelper `and `Toro.getHelper` need to be public in order for people to implement their own `ToroViewHolder`.

[2016-03-07 14:20] eneim commented on #17
@brittonjg From 1.2.0 I would open a **gitter** for this kind of discussion though. But for now, it would be Ok.

I will make ```VideoViewHolderHelper``` as a public class (not interface anymore. It must be typed) and remove ```Toro#getHelper()``` since this method's purpose is not so clear.

[2016-03-07 14:22] eneim commented on #17
FYI the Idea after ```VideoViewHolderHelper``` is learnt from ```NestedScrollViewParentHelper```, which allows platform to hook in to Client to provide its support.

[2016-03-07 18:16] gouravd opened #20 "Any callbacks for knowing when an item in Recyclerview is active"
Sorry if the answer is obvious as I just started testing this library today.

I am working with a fullscreen horizontal scrolling recyclerview where only 1 item is visible at any time. It can only be scrolled in one direction (from right to left). I would like to do few operations on items that have been scrolled past (i.e scrolled outside the visible area, like update db that it has been viewed,

[2016-03-07 18:20] brittonjg commented on #17
@eneim I have changed those to public in my version and that seems to work well.

I still have videos playing which are off screen for some reason, which seems to happen if I keep my finger held down when scrolling. I'm still trying to investigate this to see if it's my issue, although I'm not sure how it would be.

[2016-03-08 01:22] eneim commented on #20
For lightweight operations, Base ViewHolder has [onAttachedToParent](https://github.com/eneim/Toro/blob/develop/toro/src/main/java/im/ene/lab/toro/ToroAdapter.java#L82) and [onDetachedFromParent](https://github.com/eneim/Toro/blob/develop/toro/src/main/java/im/ene/lab/toro/ToroAdapter.java#L89) Which respectively response to [Adapter#onViewAttachedToWindow(ViewHolder)](https://github.com/eneim/Tor

[2016-03-08 01:23] eneim commented on #17
@brittonjg

They are working as before. ViewPager is not supported yet at the mean time. I'm finding a better way.

[2016-03-08 05:24] gouravd commented on #20
Thanks for the suggestion. I tried it but they are not reliable for my use case. What I think would suit best is to provide a method in Toro (that we can override), that is called when the any item becomes active and/or inactive.

Currently I am planning to use ListView-Visibility-Utils from danylovolokh/VideoPlayerManager which provides the methods that I would need. But if simillar calbacks are

[2016-03-08 05:36] eneim commented on #20
What do you mean by active/inactive ? The video is playing = active or the view holder is 100% visible = active (then 95% visible is considered inactive).

[2016-03-08 08:27] #20 closed

[2016-03-08 08:29] gouravd opened #21 "Support for autoplay and loop Audio"
I guess adding support for Audio would be not very difficult by extending current framework. Is it something that can be accomodated in 1.2.0?

Bonus points for adding Visualization for Audio. :+1:

[2016-03-08 08:35] eneim commented on #21
You mean ***only*** Audio? Like playing general music from your sdcard?. That is not considered now. Please keep in mind that Audio playback (no Surface) is totally different to Video playback (requires Surface).

[2016-03-08 10:19] brittonjg commented on #17
@eneim I mean playing off screen vertically/horizontally in the list. Not after swiping left/right. Although it is still in a view pager if that has an effect?

[2016-03-08 10:55] eneim commented on #17
Oh sorry I get your point. I focused to much on ViewPager :D. Well could you describe your off-screen issue in a new one and give me some detail: your Layout Manager and orientation, quantity of Videos (one or many), position of first Video (very first one of the list/grid or not). FYI I figured out once before and made a fix on 1.2.0, but let me double check that.

[2016-03-08 22:23] brittonjg commented on #17
Haha! Not a problem, I suppose it could be ViewPager related, it's awkward enough!

So, I have a recyclerview with "cards" which all have a video, they are all structured with video then text underneath that can be of varying height. Layoutmanager is just a LinearLayoutManager with one column with the orientation locked to portrait. Many videos as I am loading 30 cards at a time.

I'd be very grea

[2016-03-08 23:22] eneim commented on #17
Hmm i'm curious about the bug. Please add this: nam@ene.im .

[2016-03-09 03:16] eneim commented on #17
@brittonjg I add some new stuff to develop branch. It gonna be up and running by the time you online. Please checkout ```compile 'com.github.eneim:Toro:develop-SNAPSHOT'``` to see if it helps.

[2016-03-09 04:11] gouravd commented on #21
Right, but can we not use the same logic for audio. It should be easier as it does not require any surface, just requires MediaPlayer.

What I am doing currently is
1) Extending ToroVideoViewHolder, but not setting the videoview any url in the OnBind.
2) Extending wantsToPlay and setting MediaPlayer url for the audio. This way the audio starts playing according to the proper strategy.

But I am un

[2016-03-09 04:19] eneim commented on #21
You can have that from onDetachedFromParent callback. Let's give it a try.

[2016-03-09 15:19] brittonjg commented on #17
Opt in link is - https://play.google.com/apps/testing/com.fanatix.mobile

Notice how some videos don't play until they are quite far up the screen. It's because the previous off screen video is still playing. I usually find this by finding one with sound and playing about with the scrolling.

[2016-03-10 02:22] eneim commented on #17
Oh thanks. I can use it now. Yeah I could see weird behaviour sometime. I'm suspecting that the CoordinatorLayout takes part in the bug. Could you pull the latest develop branch (with new visibleOffset logic) and log out that offset value on your scroll? I will try my own later.

[2016-03-10 14:40] brittonjg commented on #17
The issue is quite visible in the logs, but the fix might not be so easy to understand.

VisibleAreaOffset for item0 = 1.0
VisibleAreaOffset for item0 = 1.0
VisibleAreaOffset for item1 = 1.0
VisibleAreaOffset for item0 = 1.0
VisibleAreaOffset for item0 = 1.0
VisibleAreaOffset for item1 = 1.0
VisibleAreaOffset for item0 = 1.0
VisibleAreaOffset for item0 = 1.0
VisibleAreaOffset for item1 = 0.1534653

[2016-03-11 01:14] eneim commented on #17
i see. There is one line above the offset calculation where I think it is the core issue. I will try to debug your view hierarchy to see if my rectangles work well or not :D

[2016-03-13 22:50] brittonjg commented on #17
@eneim I think I have it sorted for 23.2.1 with FastAdapter. I have taken my ViewAnimator out and that seems to have sorted things. At least with my testing this evening. I will work on it further tomorrow to make sure it is working.

Apart from that I just need to sort out the ViewPager stopping the the playback when the user moves to a new tab. Have you managed to get any further with that? I wi

[2016-03-14 02:12] eneim commented on #17
@brittonjg Thanks. I'm not really a fan of FastAdapter though, so Don't have many ideas how things work with that. If you have a ViewAnimator wrapped ViewHolder, I'm curious to see how, since It seems to be directly related to the issue.

About ViewPager stuff, there is a high chance I would use Global Focus Change to catch the current active RecyclerView(s). In most difficult case, where there ar

[2016-03-14 13:43] mahesh2015 opened #23 "Play more than one video simultaneously while scrolling down and top."
More than one video play simultaneously while scrolling from down to top and top to down.

It is unable to cancel last requested video from top position and  and previous top and current top both video play simultaneously.

This issue occur only when if request make to play and immediate scroll to another/next item/video in the list.

I have made changes in the library code to play video until 51%

[2016-03-14 13:50] eneim commented on #23
Thanks a lot. I'll work on this ASAP. At the mean time, please checkout develop-SNAPSHOT for a glance to see if it helps or improve your behaviour.

[2016-03-14 13:54] eneim commented on #17
@brittonjg There is slightly big change I would like to add to current develop SNAPSHOT: instead of asking client to set Toro's config and use it globally, I will add ```ToroPlayer#isLoopAble()``` and ask client to return proper boolean value for each ViewHolder. I hope that this way, people could have more control on how and when a Player could be able to loop (for example: too long video should

[2016-03-14 14:09] brittonjg commented on #17
@eneim I had the ViewAnimator wrapping the RecyclerView, to transition to a no connection layout. I have now taken that out, but still I get the same issues.

I still get the same issues, although playback does seem to be improving.

Another thing I have noticed is that you always display a "Can't play this video dialog". This happens because I can't return true for the Media Players onError metho

[2016-03-14 14:12] eneim commented on #17
I have noticed that "Can't play this video dialog". Actually, The official VideoView has that, and will show the dialog when your Video is failed to prepared. I would like to keep the custom implement as transparent with it as possible. But I agree that it is so annoying and gonna change it with a better way (a Toast or a callback).

[2016-03-14 14:29] mahesh2015 commented on #23
My Logcat.

`03-14 19:54:37.877 2791-2791/com.mpg.myapp D/MediaPlayer: setSubtitleAnchor in MediaPlayer
03-14 19:54:38.076 2791-5873/com.mpg.myapp W/MediaPlayer: info/warning (3, 0)
03-14 19:54:38.815 2791-2791/com.mpg.myapp D/MediaPlayer: setSubtitleAnchor in MediaPlayer
03-14 19:54:38.845 2791-3370/com.mpg.myapp I/MediaHTTPConnection: proxyName: 0.0.0.0 0
03-14 19:54:38.982 2791-5873/com.mpg.mya

[2016-03-14 14:29] brittonjg commented on #17
I was going to change it to a SnackBar (less intrusive to the user), it is because your onError always returns false I believe. Therefore the VideoView handles the error with its standard process i.e. the dialog message.

[code]

The below should have some way to effect the onError to say that error has been caught and handled appropriately.
[code]
At least that is my understanding of how the Vide

[2016-03-14 14:40] eneim commented on #17
Ha, got it.

[2016-03-14 15:03] brittonjg commented on #17
I have just released a new version with your latest changes. Unfortunately, it still seems to be susceptible to the scrolling issue.

I shall have a look at the ViewPager issue from my end as well now. As I would like to release it without that issue.

[2016-03-15 11:36] brittonjg commented on #17
I am solely looking into my playback issues today. I am struggling to understand why I have videos playing off screen. Especially when they give me values likes this (the video is now off screen). Is your `getRecyclerViewRect` meant to be the RecyclerView or the item within it? My itemView is of type CardView, but in your example yours is LinearLayout which seems to be in contrast to the name of t

[2016-03-15 13:14] brittonjg commented on #17
Okay, so something seems pretty strange here. It is definitely an issue within `visibleAreaOffset` It would seem that when the video goes off screen it causes the code to think that the height is back to full which triggers the method to return 1.0f. I noticed that if the video height between parentRect and videoRect aren't equal when the video is off screen. I am sure something else is incorrect,

[2016-03-15 14:26] eneim commented on #17
@brittonjg I'm reading your log and comments, but ***parentRect*** --> the ***RecyclerView's rect***. It supposes to be larger than videoRest in general, except for the case your Video is too big.

[2016-03-15 14:43] brittonjg commented on #17
@eneim That confused me as well. I did manage to replicate it on your sample app (as per my comments), so maybe it is worth having a further look into that? I think something strange happens when it isn't just the video in the holder effecting the height.

[2016-03-15 14:51] eneim commented on #17
I have 2 screenshots which could be easier to understand:

Note that the selected lines are the VideoView and its rectangle. And you can see its RecyclerView parent and its rect.

- **Screenshot 1**

<img width="550" alt="screenshot 2016-03-15 23 47 44" src="https://cloud.githubusercontent.com/assets/1776230/13781963/861de97e-eb08-11e5-863a-afbd408e2334.png">

- **Screenshot 2**

<img width="550"

[2016-03-15 14:54] brittonjg commented on #17
What happens if you added my change to your TextView? Does it act in the same way on "Deadly Simple Video List"?

[2016-03-15 14:55] eneim commented on #17
It'll just be fine. Since I will just care about the VideoView's rectangle.

[2016-03-15 14:57] eneim commented on #17
I setup a gitter channel for Toro. Not public yet, but let's have discussion there. Link is here: https://gitter.im/eneim/Toro

[2016-03-21 03:46] ngochuu90 opened #28 "ToroVideoViewHolder play video very slow on Xiaomi Redmi Note 2"

[2016-03-21 04:14] eneim commented on #28
What is your source? How slow is it? How it compares to other VideoView? This lib is completely UI components, I suspect it is your hardware or network problem.

[2016-03-21 09:02] ngochuu90 commented on #28
Thanks for your comment.
I tested on 3 devices : LG G3 , Samsung S2 , Xiaomi Note 2 redmi. LG and Samsung works well. Xiaomi play very slow, back screen delay a few minutes.

I see Facebook App use ExoPlayer very smooth. How to implement Exoplayer with ToroAdapter
Thank you.

Sorry, My English is poor.

[2016-03-21 10:34] eneim commented on #28
- If they are under same network condition, use the same content then I have no idea. But first, please check out sample app to see if there is any problem with it.

- I don't know that Facebook use ExoPlayer. If you have any article, please share. For implementation ExoPlayer, there is an open source: ```https://github.com/brianwernick/ExoMedia```. You can take a look. I'm trying to add an exampl

[2016-03-21 13:41] gouravd commented on #21
Yes, it works. Thanks

[2016-03-21 13:41] #21 closed

[2016-03-21 14:55] ngochuu90 commented on #28
Hi Mr Nam

Tôi test 3 thiết bị trên cùng 1 nội dung, 1 mạng. Con G3 vs S2 play tương đối tốt. Trên xiaomi ToroVideoPlayer quả thật có vấn đề, onPlaybackStarted() đã được gọi để ẩn Thumbnail, nhưng nó cứ màn hình đen, delay phải 1 vài phút mới phát video được . Phần cứng thì con này ok, auto play trên facebook hay instagram hoạt động mượt.

Tôi có decomplier thử Facebook App, thấy họ có implement E

[2016-03-21 15:27] eneim commented on #28
@ngochuu90 Nguồn Video của bạn như thế nào? Facebook hoặc Youtube dùng DASH để stream + tự họ encode nên việc gần như lập tức là tất nhiên (của nhà làm ra mà). Nếu bạn dùng video từ nguồn ngoài, ko kiểm soát được: bitrate, codec, resolution ... thì việc chơi nhanh/chậm, bị delay, thời gian để player chuẩn bị (ngay sau khi gọi MediaPlayer#setVideoPath() hay gì đó) sẽ không được đảm bảo.

Nếu có thể

[2016-03-21 15:41] ngochuu90 commented on #28
@eneim http://static.xink.vn/resources/img/upload/ngochuu/videos/09032016110513744.mp4
Nguồn Video của tôi là mình tự quay rồi up lên, dung lượng ~ 2MB. Mọi Bitrate, resolution có thể kiểm soát được

[2016-03-22 02:35] eneim commented on #28
@ngochuu90 In short: bạn nên xem qua [list này](http://developer.android.com/intl/ja/guide/appendix/media-formats.html#core). Cụ thể: mình thấy video của bạn đc encode theo profile: H264, Hight profile, level 4.1 --> về nguyên tắc sẽ không có full software support. Vì vậy khả năng chơi video bị ảnh hưởng bởi phần cứng là có thể xảy ra. Mình test trên nexus 5, Android 6.0.1 thì thấy lần play đầu ti

[2016-03-23 16:27] gouravd commented on #17
Has anything changed in the snapshot version regarding the loop? The videos are not playing in loop anymore

[2016-03-24 00:48] eneim commented on #17
Stay tune, I just change default behavior to not looping. Please check out latest code base. I'm gonna prepare a release on that soon.

[2016-03-29 13:41] #28 closed

[2016-03-29 15:18] ngochuu90 commented on #28
@eneim : Bạn cho mình hỏi, làm thế nào để hàm onPlaybackStarted được gọi khi Video được chuẩn bị xong, sẵn sàng Play. Hiện tại mình thấy gọi 1 lúc rồi, Video mới play

[2016-03-29 15:32] eneim commented on #28
@ngochuu90 Video được chuẩn bị xong sẽ gọi ```ToroPlayer#onVideoPrepared(MediaPlayer);```, trong đó ```MediaPlayer``` có thể null (trong trường hợp bạn không dùng thư viện MediaPlayer có sẵn).

[2016-03-30 08:05] gouravd commented on #17
The snapshot is not available now (as I am writing this). Could you suggest and alternative

[2016-03-30 11:41] gouravd opened #31 "Extend Toro to allow same functionality for Audio playing, pausing, looping as in Video"
Currently I am achieving the above by
1) In my ViewHolder view, I am placing a ToroVideoView with opacity 0.0 below an Custom View (the custom view is a custom Visualizer view). In future I may replace the custom view with ImageView for Album/song image/thumbnail
2) With opacity 0.0 and Visibility.VISIBLE, ToroVideoView acts as placeholder for Toro's calculation of strategies when to play video, p

[2016-04-06 01:22] eneim commented on #23
@mahesh2015 Hey there, are you still getting the issue? I have updated develop branch to latest code base. I believe that it could fix various issues including yours. But since I could not test all the case (which even UI testing couldn't), so it would be nice if you take a look and give some feedback. I would make a release base on current branch though.

You can get latest SNAPSHOT from develop

[2016-04-06 05:11] #15 closed

[2016-04-11 11:40] mahesh2015 commented on #23
Hello Nam,

I want to know one thing about your library. Is this library expired or
removed from Git-hub after sometime/ year?.  If Yes, then suggest me an
alternate solution/option for this library project.

Thanks
Mahesh.

-------------------
On 4/6/2016 6:52 AM, Nam Nguyen Hoai wrote:

--
----
Thanks & Warm Regards
Mahesh
Sr. App Developer,
Fusioni Technologies Pvt. Ltd.
Cont: +91 8010211159.

[2016-04-11 13:41] eneim commented on #23
@mahesh2015 As long as github stays alive and jitpack.io keeps running the service, I think everything will be fine. I'll consider to migrate this repo to a more mature host (like maven) for back up, but I think you don't need to worry about.

[2016-04-12 11:29] mahesh2015 commented on #23
Hi Nam,
I am facing one more problem in Toro Lib i,e.
 If i am using frame Layout and i have two or more view as shown in screen shot.( bottom of the page are tab Buttons after tapping on these buttons, views are changed (add/removed ) from Frame layout).
My problem is that
After start of the application.
1 .First time when View is opened it play wrong video(2nd item) as in screen shot .
2. And Se

[2016-04-12 11:40] eneim commented on #23
How you add/remove the View from FrameLayout? Are you using Fragments or just use a root FraneLayout and its dynamic Children?

[2016-04-12 11:44] mahesh2015 commented on #23
this is the code
[code]

[2016-04-12 12:11] eneim commented on #23
Why don't you use Fragment transaction instead? It could help your recyclerView to save a lot of useful information. Actually it could solve the 2-nd issue. Please reply if you need help.

[2016-04-12 13:23] mahesh2015 commented on #23
Hello Nam,
Sorry for delay. Actually the base code of my app is implemented with frame layout and
I have to change base code and I have limited time to deliver this app.
therefore i have to use frame layout.

[2016-04-12 13:26] eneim commented on #23
1. Did you re-add your RecyclerView to Toro after re-adding it to your FrameLayout?

2. Can you debug to see that after re-adding RecyclerView to FrameLayout, is your RecyclerView's ```onAttachedToWindow``` get called? You should go into RecyclerView.class and mark a checkpoint there.

[2016-04-12 13:36] mahesh2015 commented on #23
No,      ```
if (mRecyclerView.getAdapter() == null) {
            //add ItemDecoration
                 mRecyclerView.addItemDecoration(new VerticalSpaceItemDecoration(VERTICAL_ITEM_SPACE));
                 mRecyclerView.setAdapter(new MultiVideosListAdapter(HomeActivity.videoUrlListVideo));
        }
        else
            mRecyclerView.getAdapter().notifyDataSetChanged();

[code]

[2016-04-12 13:47] eneim commented on #23
No for which question?

There is one *trick* you can try now:  Call ```mRecyclerView.stopScroll();``` Please try this and see if things got better?

[2016-04-12 13:51] mahesh2015 commented on #23
onAttachedToWindow and onDetachedFromWindow is called after every add and remove of recyclerview.

[2016-04-12 14:36] eneim commented on #23
@mahesh2015 Consider to re-register your View to Toro after you add it to your FrameLayout. Sorry I'm not close to my PC for a while so could not reproduce the process.

[2016-04-13 07:09] mahesh2015 commented on #23
Hello Nam,

I have registered and unregistered as on add  and remove event in  frame layout.
But did not Resolved the issue.
Please let me know one this how can i play a video of a particular index in the list. without affecting other feature/functionality .

[2016-04-13 07:18] eneim commented on #23
@mahesh2015 , to be able to move further, let me explain how things work now:

- When you setup your RecyclerView, and bring it up and running, your Videos are prepared ***asynchronously***. (If not, I suspect a performance issue).

- After that prepare process finished, the callback ```ToroPlayer#onVideoPrepared()``` got called. From there, *Toro* will listen to that event and trigger the first p

[2016-04-13 07:45] mahesh2015 commented on #23
I have re-registered and unregistered as on re-add and remove event in frame layout every time when view is added or removed.

[2016-04-13 07:48] eneim commented on #23
@mahesh2015 I need to confirm 2 points:

**After re-registering the RecyclerView**:

- Video plays or not?

- Video plays in ***wrong*** order or not?

Thanks!

[2016-04-13 07:50] mahesh2015 commented on #23
Nam Sir,

It is not playing any video either right to wrong.

[2016-04-13 08:00] eneim commented on #23
Thanks. So for your first issue, the following snippet could improve the behaviour:

[code]

The trick is to return your preferred play order over ```ToroPlayer#getPlayOrder``` and listen to it to raise a flag indicate that your very First Video is prepared. (You should define your "First Video" yourself).

I'm using the default ```Toro.Strategies.FIRST_PLAYABLE_TOP_DOWN```, but surely you can rep

[2016-04-13 08:16] eneim commented on #23
@mahesh2015 Hm I try to: 1 - remove current RecyclerView from a FrameLayout root, 2 - add a dummy TextView to the root, 3 - remove the TextView (actually I call removeAllViews()), re-add RecyclerView to FrameLayout ***without re-registering it to Toro***, and thing works fine.

Please re-confirm your Toro setup, and if it's available, please send me more code (how you init your RecyclerView, your

[2016-04-13 09:21] mahesh2015 commented on #23
@eneim Sir on my code it is not playing/working i am unable to understand .I have debug my code but did not get any error.

Thank you!.

[2016-04-13 09:46] eneim commented on #23
Well I would like to know more if there is another component which prevent/disturb your View. That's why I want a little bit more about how you setup/implement things.

[2016-04-13 09:47] eneim commented on #23
And please confirm the snippet/work-around above works for you so I could improve current library code base :D.

[2016-04-13 10:35] mahesh2015 commented on #23
@eneim Above code snippet working fine thank you very much for your support.

Thanks
Mahesh.

[2016-04-13 10:41] eneim commented on #23
Good to hear. Can you close this issue? I would be easier for me to manager the issue by creating new ones for new issues though.

[2016-04-13 10:43] eneim commented on #23
I think you could confirm now, but the latest version 1.2.0 also fixes the issue of off-screen playback. If it happens to you again, please notify me. Thanks and sorry for any inconvenience.

[2016-04-13 12:17] mahesh2015 commented on #23
@eneim i am sorry but wrong video issue still exits. After testing 100 times it play 15 times wrong video.

[2016-04-13 13:49] eneim commented on #23
Ok let me take a look.

[2016-04-13 14:06] eneim commented on #23
@mahesh2015 I made a "small" tune up my current implementation as follow

[code]

The point is instead of setting the flag before evaluate it, I evaluate the player before changing the flag. So I force the player number 0 to be the first one to play.

Please try it again.

[2016-04-13 14:25] mahesh2015 commented on #23
What is **"backup"**?

[2016-04-13 14:30] eneim commented on #23
Just think it as ```Toro.Strategies.FIRST_PLAYABLE_TOP_DOWN``` above. Actually I backup old Strategy which is used in other place, and replace it with new one which is used in current place for testing only. You can safely change it with ```Toro.Strategies.FIRST_PLAYABLE_TOP_DOWN```.

[2016-04-14 07:46] eneim commented on #23
@mahesh2015 any good news?

[2016-04-14 09:16] GaurangShahaAppstute opened #36 "Unable to add Toro in android studio"
Followed the configuration steps provided but gradle is showing Error:(31, 13) Failed to resolve: com.github.eneim:Toro:1.2.0.

**Top level build.gradle is as below -**

[code]

**Module level build.gradle is as below -**

[code]

Hope I will get quick response. Thanks in advance. :)

[2016-04-14 09:25] eneim commented on #36
Thanks for your interest. I made a change on your comment to make your code looks better.

Can you provide me some following information:

- gradle version (from ```/gradle/gradle-wrapper.properties``` file)
- Android Studio version
- Which you prefer to use now: ```classpath 'com.android.tools.build:gradle:1.5.0'``` or ```classpath 'com.android.tools.build:gradle:2.0.0' ```.

- And please check y

[2016-04-14 09:36] GaurangShahaAppstute commented on #36
- gradle version (from /gradle/gradle-wrapper.properties file) is 2.8

`#Wed Oct 21 11:34:03 PDT 2015
distributionBase=GRADLE_USER_HOME
distributionPath=wrapper/dists
zipStoreBase=GRADLE_USER_HOME
zipStorePath=wrapper/dists
distributionUrl=https\://services.gradle.org/distributions/gradle-2.8-all.zip`

- Android Studio version is 1.5.1

- I can use any of `classpath 'com.android.tools.build:gradle

[2016-04-14 12:12] GaurangShahaAppstute commented on #36
For gradle lower than 2.11 I was getting  **peer not authenticated error when downloading with gradle**. Able to add the library after updating gradle to 2.11. To update the version I changed to distributionUrl=https\://services.gradle.org/distributions/gradle-2.11-all.zip in /gradle/gradle-wrapper.properties file.
Thanks @eneim for the direction and creating such great library. :+1:

[2016-04-14 12:12] #36 closed

[2016-04-17 03:04] eneim commented on #17
I close this issue as 1.2.0 could somehow full-fill the need. And new issue should be open for fresher discussions.

[2016-04-17 03:04] #17 closed

[2016-04-17 03:04] #23 closed

[2016-04-17 03:04] #14 closed

[2016-05-03 13:51] rajivenator opened #37 "Cannot Play video from url.. Though it played for the first time"
Hi,
I have tried to implement your library in my app as it resolves one of the pain points of videos in Recycler view.

This implementation ran for the first time. But later on whenever i run the same app the videos won't play.
I get the following in my crash log:

``05-03 19:15:12.898 31897-31897/com.playtm.android.lyfe_client D/ViewRootImpl: ViewPostImeInputStage processPointer 0
05-03 19:15:13.

[2016-05-04 09:46] iamlipan commented on #37
the same problem

[2016-05-05 14:50] rajivenator commented on #37
Well I tried implementing Exopllayer instead of Torovideo and it works now.

Did not test it with long list of videos but i guess it should work.
Also have used video cache plugin https://github.com/danikula/AndroidVideoCache
In my project.

following is my implementation
`
import android.media.MediaPlayer;
import android.net.Uri;
import android.support.annotation.NonNull;
import android.support.a

[2016-05-05 14:56] eneim commented on #37
Hi there, thanks for the issue. I'm away from keyboard for couple days so sorry for the late reply. I made an edit on your comments in code blocks. I will take a look in to your code ASAP.

[2016-05-06 19:04] kikin81 opened #38 "Add the ability for developers to request audio focus"
In my implementation I playback muted videos in a recycler view.
Unfortunately, if the user has another background music playing, the Toro video player will request focus automatically when the video is ready.

I would like the ability to not do this in order to provide auto playing muted videos without interrupting the user's music from another app.

[2016-05-08 13:07] gouravd opened #41 "Please reintroduce SCALE_MODE_FIT_INSIDE"
Please bring back the SCALE_MODE_FIT_INSIDE scale mode. Currently I have to extend ToroVideoView, with custom Styleable attributes to get this achieved.

[2016-05-10 05:21] eneim commented on #38
Hi @kikin81 , Would #40 solve your problem? I'm not really good at audio focusing and background video playback, so please take a look and give feedback. I will learn more and give my best effort to support.

[2016-05-10 05:22] eneim commented on #41
I will take a look. I disable it due to some shortage of time when I have to re-calculate the dimension. But originally I want the video to be nicely displayed. Stay tune.

[2016-05-11 18:18] kikin81 commented on #38
Hey @eneim, I work with @wemped and his PR satisfied my request.
Thanks for taking a look.

[2016-05-11 18:18] #38 closed

[2016-05-12 06:39] chetanurmaliya opened #42 "How to seek video in a recycler view to a specified position."
Using   **com.github.eneim:Toro:1.2.0**

We have a recycler view which auto displays videos. On list item click we go to another detail activity which continues to display the same video. Now when we close the detail activity and come back to list view, we want that video to resume from a specified video position (basically the position of video where the detailed activity stopped).
We are trying

[2016-05-12 06:53] eneim commented on #42
Can you give me your Video URL? There are some cases Video could not be seek.

[2016-05-12 07:48] chetanurmaliya commented on #42
Here is the video url :http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4
We are able to seek the video in detail page. Can you let us know at what point or in which method is the video started in recycler view? Basically at that point we want to use SeekTo method.

[2016-05-12 07:54] eneim commented on #42
Oh I guess that Toro just uses its own cached timestamp, so your effort to seek is not listened. I will take a look.

[2016-05-12 07:56] chetanurmaliya commented on #42
Thanks for the quick revert.
It would be great if you can let us know of a work around. We can override a method if required. We want the video playing feature similar to what is there in Facebook.

[2016-05-12 08:07] chetanurmaliya opened #43 "What is the best way for ToroVideoView to toggle full screen."
We have a scrollview which contains ToroVideoView and a MediaController (attached to ToroVideoView).
Now when we scroll, toroVideoView is scrolling where as the MediaController is not scrolling. We want the MediaController to scroll along with ToroVideoView, so that it gives the look and feel of one single view.

[2016-05-12 08:14] eneim commented on #43
So you question doesn't really match the title of 'toggle full screen'.

To answer your question, current built-in ToroVideoView doesn't come with a Video Controller. To have what you want, you can have a FrameLayout which will contain your ToroVideoView on the back and a Controller View on front. You can refer the way to implement that from official VideoView.

It may take me a while to add that

[2016-05-12 08:16] eneim commented on #42
Right now create a custom VideoPlayerManager (by implementing VideoPlayerManager interface to your Adapter) could be a work around. And update cached timestamp where you come back from the individual player. I will test my idea soon.

[2016-05-12 08:41] chetanurmaliya commented on #43
Thanks, I updated the title.

[2016-05-13 01:19] eneim commented on #42
@chetanurmaliya I made a sample on [this branch](https://github.com/eneim/Toro/tree/feature/resume-timestamp). It use the single Video list to demonstrate the action. There're still jobs to do to closely mimic Facebook's behaviour, but you can take a look and see if that's what you aim for. I'm updating another/better sample.

[2016-05-15 09:17] eneim commented on #42
@chetanurmaliya [Here is the latest update on your requirement](https://github.com/eneim/Toro/tree/feature/facebook-videolist). Unfortunately, current version of Toro need to improved (which I already made on this branch) so it's impossible for you to mimic the behaviour with official release. Please checkout the updated branch to see if it helps you. I will made some minor bug fixes and consider

[2016-05-17 05:22] chetanurmaliya opened #44 "How to provide max height to ToroVideoView"
I am using com.github.eneim:Toro:1.2.0

In side recycler view video can be in different dimension. So I don't want to restrict the ToroVideoView to particular height. I just want to specify the maximum height of the ToroVideoView.

[2016-05-25 11:39] chetanurmaliya opened #46 "Is ToroVideoView supports HTTP live streaming ?"
I am using com.github.eneim:Toro:1.2.0

It is loading entire video file before playing.

[2016-05-25 12:18] eneim commented on #46
@chetanurmaliya Well, Toro doesn't take much care about how you play the Video, but maybe my customized ToroVideoView. Actually, it uses the original MediaPlayer to play the media content, so it depends on how that MediaPlayer API works. Actually I don't think MediaPlayer eager to download your entire video, but if you can give me a cue for that, I can investigate the behavior.

In the mean time,

[2016-05-25 12:21] eneim commented on #44
@chetanurmaliya Sorry I didn't take a look at this issue. At the mean time, I suggest to try my another library which is a tiny implementation of Video view: [FloppyVideoView](https://github.com/eneim/FloppyVideoView). It has a fancy way to work with Video size, and give you ScaleType just like ImageView. I provide an example using Toro (a SNAPSHOT, sorry), so please give it a try and give feedbac

[2016-05-25 12:49] chetanurmaliya commented on #46
Thanks a lot.

[2016-05-25 16:59] deeppandya opened #47 "no content provider error"
I am having below error when i try to load video in recyclerview. Some times it works some times my screen is empty.

W/MediaPlayer: Couldn't open file on client side; trying server side: java.io.FileNotFoundException: No content provider: /data/user/0/com.example.test/files/media/m_4083661.mp4
05-25 12:56:41.841 22929-22929/com.example.test W/MediaPlayer: setScreenOnWhilePlaying(true) is ineffect

[2016-05-26 01:00] eneim commented on #47
So you are loading file from your app's file folder? I will reproduce the issue to see if I could help.

[2016-05-26 04:50] deeppandya commented on #47
Thanks for your quick response. i am having this problem since last week. and i checked everything in my code.
I can send you my code if it helps you to speed things up.

let me know.

Thanks again

[2016-05-26 04:57] eneim commented on #47
Thanks. It will be definitely helpful.

[2016-05-27 07:19] Saket89 opened #48 "Crashlytics developer tool error"
Log cat : - Error:Execution failed for task ':app:fabricGenerateResourcesDebug'.

Im getting the above error while building the project.

Please help me out

[2016-05-27 14:33] Saket89 opened #49 "Service Leak Connection for youtube list"
Logcat : - Activity demovideolist.com.demovideolist.MainActivity has leaked ServiceConnection com.google.android.youtube.player.internal.r$e@16ecdbfe that was originally bound here
                                                                                 android.app.ServiceConnectionLeaked: Activity demovideolist.com.demovideolist.MainActivity has leaked ServiceConnection com.google.android

[2016-05-28 09:35] pawankumar01 commented on #37
Hi @eneim Is playing from URL supported  or any plans till when can it be supported?

[2016-05-28 13:55] eneim commented on #49
I see that too, and wondering if Youtube won't release its resource from its Fragment. I'll try to release it myself, please wait.

[2016-05-28 13:56] eneim commented on #48
Hm do you have Fabric plugin installed in your Android Studio? If not, please install it, register an account (it's free and helpful), login to the plugin and re-build the App again. Comment here if the error re-appears.

[2016-05-28 13:59] eneim commented on #37
I'm working on a ExoPlayer-supported branch. Hopefully I could release it soon. At the mean time, please either use your ExoMedia implementation (I could have if you have any issue). FYI my implementation (with native MediaPlayer from Android) works well with Big Buck Bunny URL, so I still need some try with other sources to see what happens. Sorry I'm kind of time-shortage recently.

[2016-05-30 20:43] deeppandya commented on #47
Hello,

Any update regarding this problem ?
it's strange because some time it's working but sometimes i am having black screen. like i can see the video information like title,etc. but video is not playing and giving below error,

W/MediaPlayer: Couldn't open file on client side; trying server side: java.io.FileNotFoundException: No content provider: /data/user/0/com.example.test/files/media/m_408

[2016-06-03 13:45] eneim commented on #47
@deeppandya So sorry. I'm focusing on some new stuff mean while having so less of time. I will spend time investigating this weekend.

[2016-06-06 06:30] j3p0n opened #52 "How to disable auto play"
How to disable auto play, but user can still play/pause manualy? or disable auto play when network is on GPRS, and enabl auto play when on WIFI or 4G?

[2016-06-06 06:44] eneim commented on #52
@j3p0n You can have your own *Strategy* which do nothing, for example a *lazyStrategy*. So when you want to disable auto playback, just call *Toro.setStrategy(lazyStrategy)*. See how I implement *Toro.rest(boolean)* for more information.

[2016-06-07 15:13] deeppandya commented on #47
Hello,

I am having below error,

06-07 11:07:42.144 19711-19711/com.app.example W/MediaPlayer: Couldn't open file on client side; trying server side: java.io.FileNotFoundException: No content provider: /data/user/0/com.app.example/files/media/m_228753.mp4
06-07 11:07:42.146 19711-19711/com.app.example W/MediaPlayer: setScreenOnWhilePlaying(true) is ineffective without a SurfaceHolder
06-07 11:07:

[2016-06-07 16:56] pawankumar01 opened #54 "Nested Fragment is not playing"
Hi @eneim As suggested by you, I tried implementing using ExoMedia and ToroPlayer both.
I have activity which have tabs. In the first tab, I have Fragment1 which have toro video implementation and it works fine. However in my fifth tab, I have nested fragment which have toro video implementation. It does not trigger playback.

Any idea how to resolve issue nested fragment issue ?

Thanks,
Pawan

[2016-06-08 02:18] eneim commented on #47
@deeppandya Ok sorry. I will actively working on this from now. Please post here your Activity class which plays the Videos. I want to see your setup for Toro and looking at other life cycle implementation. Thanks and sorry.

[2016-06-09 01:46] eneim commented on #47
Could you try the following suggestions?

[This one](http://stackoverflow.com/questions/33434315/mediaplayer-fails-to-open-parsed-uri)

[And this one](https://groups.google.com/forum/m/#!topic/android-developers/I3L6-xvdcHQ).

It seems that this is either an issue of MediaPlayer class.

FYI I'm working on a new version which is built on top of ExoPlayer. So hopefully It could solve your problems b

[2016-06-09 12:02] eneim commented on #54
Are you using ViewPager with Fragments inside? Could you tell me more about your nested Fragments? @pawankumar01

[2016-06-10 08:52] pawankumar01 commented on #54
@eneim, Thanks for quick reply. I am not using ViewPager. I am actually showing and hiding the fragments(Fragment1, Fragment2, Fragment3, Fragment4, Fragment5) using FragmentManager. In my last tab I show a Fragment5 and hides rest of them on user action.
My Fragment5 contains Fragment1 as nested fragment as well.  So this nested fragment do not trigger playback. Hope my language is not so confusi

[2016-06-12 06:08] eneim opened #61 "Extension for Video Playback Controller UI"
UI for Video Player

- Single video
  - [ ] Portrait/Minimised view
  - [ ] Fullscreen

- Playlist in one view
  - [ ] Portrait/Minimised view
  - [ ] Fullscreen

[2016-06-12 06:10] eneim commented on #61
Ref:

- [https://dribbble.com/tags/player](https://dribbble.com/tags/player)

- [https://dribbble.com/tags/video_player](https://dribbble.com/tags/video_player)

[2016-06-20 14:55] chetanurmaliya opened #62 "UI hangs when network is slow (2G)"
I am using com.github.eneim:Toro:1.2.0

In side the RecycleView list we have the videos for auto play.
When network is slow (like in 2G) entire  RecycleView list UI hangs. I am not able to scroll the list.

I see lot of updates in repository. Is library has updated version.
Please let me know the best approach to handle it.

[2016-06-20 15:18] eneim commented on #62
@chetanurmaliya thanks for issue report. Sadly I could not test my lib under 2G connection, I will try it with some dev config later. One of the suggestion now is to disable the auto playback on low network connection. Please search for network state confirmation and then see how I temporary disable Toro or even permanently disable Toro. Hope this help.

I'm actively working on ver 2 of this lib,

[2016-06-23 14:11] jmartinez360 commented on #47
Hello I am having the same error with this:
Uri uri = Uri.parse(((Video) object).getUrl());
      mVideoView.setVideoURI(uri);

[2016-06-23 14:56] deeppandya commented on #47
hey,
try to create a content provider and instead of using Uri.parse, use content provider to get the files. it solved the issue for me.

[2016-06-23 14:56] deeppandya commented on #47
look at below link,
https://developer.android.com/reference/android/support/v4/content/FileProvider.html

[2016-06-24 02:23] eneim commented on #47
@deeppandya It's good to hear that. Generally, Uri can be used for online content too, so using FileProvider could not solve every issue. Using it for local file is the right way I guess. Hm using ```Uri.parse(someUrl)``` is used in various places, I will try to figure out how could it help me. Thanks again.

[2016-06-24 09:28] chetanurmaliya commented on #62
For the low network i used  Toro.setStrategy(REST);
After that auto play is stopped. But UI still hangs with log.

`D/MediaPlayer: setDataSource IOException happend :
                                                                   java.io.FileNotFoundException: No content provider: http://parentlane.s3.amazonaws.com/timeline/media/qa/videos/VID_01d45ba7-4b14-4498-85af-124fccc8c4a8_1466684966053

[2016-06-30 13:50] xylik opened #72 "Gradle sync wont pass"
Hi, today i cloned master branch and tried to start demo but gradle sync failed with this error:

Error:Could not find property 'bintray_user' on com.jfrog.bintray.gradle.BintrayExtension_Decorated@61eaae09.

have any suggestions how to resolve the issue ?

[2016-07-01 08:59] andrijans commented on #72
I'm having the same issue.

[2016-07-01 09:15] eneim commented on #72
Please wait, I'm finishing some clean up before final release so there may be some hidden flags ...

[2016-07-01 09:31] eneim commented on #72
@andrijans @xylik At the mean time, please add the following to your ```gradle.properties``` file:

[code]

If empty string doesn't work, please add some abitrary *one-character* String there (to prevent co-incident user/password, one-character is recommended since Bintray won't allow too short user name and password).

[2016-07-03 09:38] xylik commented on #72
Thanks it's working when I added

bintray_user=
bintray_apikey=
bintray_gpg_password=

[2016-07-04 02:09] #72 closed

[2016-07-31 22:55] EligijusStarinskas opened #78 "v2 release date"
Hey, realy nice library!!

Do you know when v2 will be released? Can't wait to try it out 👍

[2016-07-31 23:02] eneim commented on #78
Hi there, thanks for the interest. Actually this release is quite late since I have many thing to do. I may not be at good condition until the 3rd week of August, to FYI.

v2.0 will be taken a better care right after that, and I will try to release it at the end of August. Right now RC5 is safe to try, just need some tutorial :-s, but you are encouraged to see sample code first.

[2016-07-31 23:06] EligijusStarinskas commented on #78
Cool, I will try it, thanks !

[2016-07-31 23:06] #78 closed

[2016-08-13 00:10] LLin233 opened #80 "Can Toro support google's exoplayer, or other players?"
I would like to use Toro to support autoplay, etc, however, we are using exoplayer, does Toro support it?

[2016-08-13 00:22] eneim commented on #80
Hi there, thanks for your interest. Toro v1 is based on default MediaPlayer API and contains lots of not so good practices.

To fix that, Toro v2 is in development right now which will use ExoPlayer by default. Currently latest RC release is RC5 (see Changelog.md for more), I plan to have final release at the end of this month (end of August). You can check out latest commits from **develop** bran

[2016-08-13 00:23] LLin233 commented on #80
That's cool, thanks.

[2016-08-13 00:23] #80 closed

[2016-08-14 19:30] EligijusStarinskas opened #81 "Autoplay does not work when new Activity is started"
- the latest develop branch

- Lg nexus 5x (android 7)

I tried your library and everything works just fine when I have a single activity, but when I open a new Activity with same logic (RecyclerView filled with video list) autoplay does not work for the first time.

Lets say we have two activities : FirstActivity(FA) and SecondActivity(SA). When I'm in FA and I open SA here is a sequence of activ

[2016-08-16 02:17] eneim commented on #81
@EligijusStarinskas Thanks for the report. I will check it later. I guess I need to investigate how to deal well with Activity states for both API N and below.

[2016-08-24 04:28] adventurist opened #82 "Trying to Inflate in RecyclerView -> InflateException / ClassNotFoundException"
Greetings! I don't believe this is an issue with your library so much as a configuration issue for which you may be able to offer valuable advice. I am trying to inflate a layout for a viewholder in my recyclerview which contains your Toro view. Unfortunately, I keep receiving both an InflateException and a ClassNotFoundException.

Any ideas on how to best configure my project?

gradle-wrapper.pro

[2016-08-24 10:16] shikha7763 opened #83 "Gradle 'Toro-develop' project refresh failed"
Error:Could not find property 'bintray_user' on com.jfrog.bintray.gradle.BintrayExtension_Decorated@14f98d6. I am getting this error on gradle build.

[2016-08-24 11:27] langrenfengzi commented on #82
I had the same issue when I used the item layout of 'vh_toro_video_average_1.xml' in the demo.
I found 2 ToroVideoView. In the sample demo,  it was **im.ene.lab.toro.player.widget.ToroVideoView** and used with the **ExoPlayer**. But when I used with the **compile 'com.github.eneim:Toro:1.2.0'**, it became the **im.ene.lab.toro.widget.ToroVideoView**.

[2016-08-24 11:33] eneim commented on #82
Sorry for the late reply, the correct dependency definition for 2.0 is: ```im.ene.lab:toro```. Let's try again with this. The current change log is the closest documentation right now, check it out too:

I'm working on the final draft, so stay tune.

[2016-08-24 11:38] eneim commented on #83
Thanks for the interest. What gradle command did you use?

[2016-08-24 12:27] eneim commented on #83
I added placeholder for those account in gradle.properties, please try again.

[2016-08-24 14:05] WizardAdrian opened #84 "how to set mute, I didn't find this api"

[2016-08-25 02:32] eneim commented on #84
@WizardAdrian What version are you using? For Toro 1.x, It follows the design of native MediaPlayer's API, so please refer the MediaPlayer API and its usage too. Sadly I have no enough resource here to provide you immediate solution.

[2016-08-25 03:25] langrenfengzi commented on #82
Thanks for replying.
In 2.0-RC5, I found the widget of playing the video was **im.ene.lab.toro.player.widget.VideoPlayerView**, and in the latest demo you renamed it to **ToroVideoView** again.

[2016-08-25 05:12] eneim commented on #82
@langrenfengzi That's right, final release will have kind of many changes with RC5, so sorry for the inconvenient, but I would like to prevent future conflict with normal naming. For now, the spec is almost done (in me), I'm testing and reviewing to make sure everything works well.

[2016-08-25 06:16] WizardAdrian commented on #84
@eneim ok, I'll try it.  thx.

[2016-08-25 06:16] #84 closed

[2016-08-25 11:37] adventurist commented on #82
I have updated my code to use 2.0.0-RC4, which has fixed the multidex issue, but now I have a new issue when trying to inflate the VideoPlayerView.

In my viewholder's layout resource I am using:

`<im.ene.lab.toro.player.widget.VideoPlayerView
        android:id="@+id/video_view"
        android:layout_width="match_parent"
        android:layout_height="192dp"
        android:layout_centerInParen

[2016-08-25 13:43] eneim commented on #82
Hm, I will investigate your issue carefully this weekend. Please wait a little bit more :D

[2016-08-25 14:06] adventurist commented on #82
No problem. Hopefully I'll have more time to play with it tonight. If I learn anything, I will post updates here. Thanks!

[2016-08-26 06:03] shikha7763 commented on #83
Error:Failed to resolve: com.github.eneim:Toro:1.2.0
<a href="openFile:E:/VideoListPlayer-master/app/build.gradle">Open File</a><br><a href="open.dependency.in.project.structure">Show in Project Structure dialog</a>

IllegalArgumentException: Multiple entries with same key: Google Inc.:Google APIs:15=Google APIs (API 15) and Google Inc.:Google APIs:15=Google APIs (API 15) (moments ago)

now i am g

[2016-08-26 12:08] shikha7763 opened #85 "How to disable autoplay in 2g and 3g"
I want to disable autoplay feature in 2g and 3g and enable in 4g and wifi.
In 2g and 3g must play video on play click event and autoplay in other networks type.

[2016-08-29 03:53] adventurist commented on #82
Would you recommend this file as a good ToroViewViewHolder example?

[2016-08-29 04:49] eneim commented on #82
For short, the sample class extends this: > https://github.com/eneim/Toro/blob/develop/toro-ext/src/main/java/im/ene/lab/toro/ext/ToroVideoViewHolder.java

So hope you got the idea. I will take further look later today (i'm at GMT +9:00).

[2016-08-29 04:50] eneim commented on #82
Please refer the latest master branch though.

[2016-09-04 11:32] adventurist commented on #82
Strangely enough, though I tried basing my viewholder off of that example, the following always returns null in spite of accurately referencing the view in my layout file:

`(im.ene.lab.toro.player.widget.VideoPlayerView) mView.findViewById(R.id.video_view);`

[2016-09-04 14:42] eneim commented on #82
@adventurist Did you remove old dependency from your gradle.build? the ```com.github.eneim``` one. Just use only one dependency.

[2016-09-07 04:37] adventurist commented on #82
That worked, findViewById no longer returns null. Thank you.

I am still a bit confused about the implementation. Am I correct in understanding that videos play when scrolled to? Do I still need to implement a player or set the viewholder's "isPlayable" to "true"? I have been trying to do that, but it remains false. Any tips on troubleshooting?

[2016-09-07 05:16] eneim commented on #82
@adventurist Good to hear that. That's my bad actually. I think I will update some new on current 2.0 soon. But for now, [this](https://github.com/eneim/Toro/blob/develop/toro-sample/src/main/java/im/ene/lab/toro/sample/presentation/basic1/Basic1VideoViewHolder.java) is the least you need to do to make it works. At first time opening the list, it may not work due to another issue, so just scroll a

[2016-09-08 00:20] adventurist commented on #82
Thanks a lot for the direction! I have switched to trying to use an implementation similar to that of Basic1VideoViewHolder. I have been using the 2.0.0-RC4 version of your library. In the development repo, I see that ToroPlayer has the following method:

[code]

Is there an equivalent class to override in the 2.0.0-RC4 library?

[2016-09-08 00:38] eneim commented on #82
@adventurist I think it is safe to use it now. I don't want to provide more methods to prevent the 65K issue. I think it will make more sense to use something provided by ExoPlayer, but since I need to keep track of the ViewHolder's life-cycle, it is a bit more complicated. Right now controlling the playability is set to second highest priority in my list after the Activity Lifecycle issue, please

[2016-09-09 06:22] eneim commented on #85
@shikha7763 Sorry for my late response. Right now I won't add support for that, since the policy depends on various use case. Right now, there is a class named "Strategy" by which I control whether a Video could play or not. You can implement your own strategy, checking network connection there and decide the behaviour by your own.

[2016-09-09 06:22] #85 closed

[2016-09-09 06:23] eneim commented on #81
Fixed in #86

[2016-09-09 06:23] #81 closed

[2016-09-09 11:51] niravPercept opened #87 "How to change scale type in video view?"
How to change type in toro video view

[2016-09-10 14:11] adventurist commented on #82
@eneim Okay! I was going to try and work from the develop branch. May I ask for the correct method of importing it?

[code]

[2016-09-12 01:55] eneim commented on #87
@niravPercept Scale Type is now not supported. You can have custom implementation base on [my other library](https://github.com/eneim/FloppyVideoView). I'm figuring out how to add this feature into toro-player in the future.

[2016-09-12 01:55] #87 closed

[2016-09-14 02:28] eneim commented on #82
@adventurist Sorry for the late reply. I have push latest snapshot to sonatype, you can use it by as follow:

[code]

[2016-09-14 02:41] adventurist commented on #82
Hello! No problem.

I tried adding im.ene.lab:toro:2.0.0-SNAPSHOT to my gradle dependencies. Here's the error message I'm getting:

[code]

[2016-09-14 02:42] eneim commented on #82
@adventurist You need to add corresponding repository. Please refer to README again, I have just updated it.

[2016-09-15 04:38] adventurist commented on #82
Thank you!

Is the ToroViewHolder going to be part of the SNAPSHOT package?

[2016-09-15 15:31] adventurist commented on #82
Thank you! I have it added into my project and will now begin trying to develop a working implementation.

You have been very helpful, and I appreciate it.

[2016-09-16 04:15] adventurist commented on #82
Does 2.0.0-SNAPSHOT's ToroVideoViewHolder use something in place of "bind" to set the media URL on a ToroVideoView?

[2016-09-16 05:46] eneim commented on #82
@adventurist It's safe to call ```setMedia``` from bind method of ToroVideoViewHolder. You should to that actually.

[2016-09-16 07:16] vanthien2896 opened #88 "Please ask me how to config smart caching on Toro ?"

[2016-09-16 07:42] vanthien2896 commented on #88
@eneim help me thanks !

[2016-09-16 09:44] eneim commented on #88
What do you mean by smart caching? If it is from the readme, it is the "smart playback position cache" which automatically remember your videos' playback position to correctly return to playback state from that position. It is done underneath, you don't need to do anything.

If you want to cache the video files, I don't support it now.

[2016-09-16 10:56] adventurist commented on #82
Ah yes, I was hoping to do that. Have the method parameters changed? I can't seem to override the superclass when extending ToroVideoViewHolder.

In 2.0.0-RC4 I was using:

`@Override public void bind(@Nullable Object object) {
            Log.d("STAdapt", "attempting to bind");
            if (object != null && object instanceof StatusItem) {
                Log.d("STAdapt", "Setting media");

[2016-09-16 15:58] vanthien2896 commented on #88
Sorry, my mean is "Toro remembers last playback position and resume from where you left (note: in Android default Media Player, depend on Video's format and codec, the resume timestamp may varies).", On Default my video auto restart when my activity onResume and i want to resume video when resume activity

[2016-09-17 01:33] eneim commented on #88
@vanthien2896 It maybe a bug, please follow the ISSUE TEMPLATE and tell me the library version you are using, Android version, Device name and any Development setting you have that may clear Activity's state after resuming.

[2016-09-17 15:14] adventurist commented on #82
Ahh, yes, answer for above: It just needed to be passed a RecyclerView.Adapter

[2016-09-20 02:02] vanthien2896 commented on #88
Thanks you for sp, onResume i have a line " Toro.register(recyclerview);"

[2016-09-20 02:05] eneim commented on #88
@vanthien2896 Please tell me everything

[2016-09-20 02:07] eneim commented on #88
@vanthien2896 Please follow the following format:

<img width="719" alt="screen shot 2016-09-20 at 11 06 09 am" src="https://cloud.githubusercontent.com/assets/1776230/18655267/55f6976a-7f22-11e6-94f8-bf9751d64363.png">

Which can also be found here: [ISSUE_TEMPLATE](https://github.com/eneim/Toro/blob/develop/ISSUE_TEMPLATE.md)

[2016-09-23 12:51] chetanurmaliya opened #89 "How to play two videos in single holder ?"
I am using com.github.eneim:Toro:1.2.0
I want to auto play two videos in one holder.

[2016-09-25 17:27] mittalharsh54 opened #90 "Does it support Listview?"
Does it has support for listview with same feautures?.

[2016-09-26 07:29] eneim commented on #90
@mittalharsh54 No, this library suppose to support RecyclerView only.

[2016-09-26 07:29] #90 closed

[2016-10-02 12:56] eneim commented on #89
@chetanurmaliya This is not a good practice I suppose, so I won't support this.

[2016-10-02 12:56] #89 closed

[2016-10-05 08:15] ankitjain24x7 opened #95 "Play Video in Mute Mode"
Can we play video in mute mode using Toro?

[2016-10-05 08:44] eneim commented on #95
@ankitjain24x7 Basically yes, you will need to do some works for that. In next version (2.0, which I'm trying to push its speed up to release), there will be the method "setVolume()" for this.

[2016-10-05 11:50] ankitjain24x7 commented on #95
@eneim I try doing making video in mute mode using Toro in SimpleVideoObject class with one parameter as float value and video start playing in mute mode but whenever the list scroll the video start playing. If possible, please help me on this i will be very thankful to you.

[2016-10-05 12:48] eneim commented on #95
@ankitjain24x7 If you are using Toro 1.2.0, you can use the onPrepared(MediaPlayer) method, use the mediaPlayer from that callback and set its volume to 0. I will try to make a sample, but my priority for 2.0 is higher, and my time is pretty narrow now, so you can look around about setting Volume with MediaPlayer. It is the same thing.

[2016-10-06 04:07] ankitjain24x7 commented on #95
Thanks a lot @eneim. Yes its done. Thanks one more time.

[2016-10-06 09:41] ankitjain24x7 commented on #95
@eneim I try integrated ExoVideoView by taking classes from your library for integration in project then in xml it look like:
    <app.com.autovideosample.exoPlayer.ExoVideoView
        android:id="@+id/video"
        android:layout_width="match_parent"
        android:layout_height="192dp"
        android:layout_gravity="center"
        />
But it always crash with :
android.view.InflateException:

[2016-10-06 13:22] AndroidTechvalens opened #96 "Gradle configuration issue | Android studio"
Make sure to provide the following informations and check:

- [ ] Toro dependencies (Eg: ```com.github.eneim:Toro:develop-SNAPSHOT```)

- [ ] Android manifacture | product name | OS Version | rooted or clean (Eg: Sony | Z4 | 5.0 | clean)

- Logcat (if it was a fatal issue)

[2016-10-07 00:30] eneim commented on #95
@ankitjain24x7 The cause is "Exception Details java.lang.NullPointerException" somewhere in your code, please debug to figure what is null and comeback here again.

[2016-10-07 00:31] eneim commented on #96
@AndroidTechvalens Thanks. Please use v2 or v1 only, don't mix them up. Try to remove ```compile 'com.github.eneim:Toro:1.2.0'``` first and see if it works.

[2016-10-07 00:31] eneim commented on #96
Currently just use ```compile "im.ene.lab:toro-ext:2.0.0-SNAPSHOT"``` will include everything from Toro. You don't need the 1. and 2.

[2016-10-10 15:36] Nominalista opened #99 "im.ene.toro.exoplayer2.ExoVideoView is not visible"
What I should add to dependencies to see im.ene.toro.exoplayer2.ExoVideoView class like in toro-sample?

[2016-10-10 18:48] Nominalista commented on #99
It is impossible to first use your library, because wiki and read.me are inconsistent. Also it's sample is inconsistent with wiki, and read.me both.

[2016-10-10 23:51] eneim commented on #99
@Nominalista Yes that's right. As you can see I push a lot last weekend, which means that Ver 2 is on the go. I have no time to update Wiki right now so please pardon. Right now looking at toro-sapmle and follow it is the best way. Please just ask question here I will response as much as possible. Ver 2 will be out soon.

[2016-10-10 23:53] eneim commented on #99
@Nominalista About the first question, I didn't push the whole thing to neither maven nor jcenter yet. Right now forking the repo and use it as sub module or embed code is the only way. I don't want to mess up current SNAPSHOT since I made a big change on package name as well as project structure.

[2016-10-11 05:39] Nominalista commented on #99
Thank you for response, I will use it as sub module.

[2016-10-11 16:58] j-a-s-o-n commented on #52
I created own lazyStrategy and called Toro.setStrategy(lazyStrategy) playback was disabled, but how to pause/play video when user clicks on video?. In this case adapter.getPlayer() returns null.

[2016-10-12 04:42] eneim commented on #99
@Nominalista I have pushed my latest code base to sonatype SNAPSHOT repo, you can include it as follow:

[code]

Note 1: version name is ```2.1.0-SNAPSHOT``` but not 2.0.0.

Note 2: SNAPSHOT requires sonatype repository which you can find at my latest README.

Note 3: that I drop the 2.0.0 due to some internal changes which may make current users Unhappy, and I move directly to 2.1.0 instead. Some

[2016-10-12 06:53] Nominalista commented on #44
Is it added in 2.1 release?

[2016-10-12 07:18] eneim commented on #44
@Nominalista In ExoVideoView (2.1.0 SNAPSHOT), I learn from official SimpleExoVideoView to have the resize mode. So if you set your widget to be fixed height, and set the resize mode to FIXED_HEIGHT (please read the code for correct name), you can archive the fixed height behaviour.

[2016-10-12 07:31] Nominalista commented on #44
But the scaleType like in FloppyVideoView is not supported?

[2016-10-12 07:35] Nominalista commented on #99
Excellent, can we expect updated wiki and read.me in near future?

[2016-10-12 07:45] eneim commented on #99
@Nominalista Of course. I need to update it for next release.

[2016-10-12 07:47] eneim commented on #44
@Nominalista The idea of FloppyVideoView is to use TextureView. It support the animation --> it is floppy, and scaleType is meaningful. Latest update of Android suggest use to move on SurfaceView, and ultimately SurfaceView has more advantage on Video playback over TextureView, so I will skip that feature with no ETA for releasing it. It still make sense to have that, but I will put higher priorit

[2016-10-12 08:47] Nominalista opened #101 "Displaying video with transparent status bar"
I noticed bad behavior with setting transparent status bar.

I created sample [here](https://github.com/Nominalista/VideosFeed) and [here](https://github.com/Nominalista/VideosFeed/blob/master/sample_video.mp4) is video with problem.

Is it related to library or it's AppCompat bug?

[2016-10-12 10:39] Nominalista commented on #44
Where I can find information that Android suggest using SurfaceView? I thought that TextureView is recommended and your library is using TextureView.

[2016-10-12 11:04] eneim commented on #44
@Nominalista I will go through some latest update:

- [From Android N](https://developer.android.com/about/versions/nougat/android-7.0.html#surfaceview), SurfaceView is improved to fix the most significant issue that everyone claims about it before. On the other hand, SurfaceView doesn't require another layer of texture such as TextureView, which means that it consumes less power. So it is safe to

[2016-10-12 11:50] Nominalista commented on #44
Thank you for great explanation

[2016-10-12 13:51] eneim commented on #101
@Nominalista Without checking out your repo, what I'm thinking is the elevation of UI group on the top, and your Video components. I will confirm it later.

[2016-10-12 14:23] Nominalista commented on #101
Unfortunately changing elevations didn't helped.

[2016-10-13 11:35] initfusion opened #102 "How to cache video in local storage during playing video using toro library."
i want cache video like instagram so how to achieve functionality using toro library.

[2016-10-13 12:55] eneim commented on #102
@initfusion I don't control this. It relies on the Playback component, i.e MediaPlayer or ExoPlayer in this case. I suggest you to refer to them first.

[2016-10-13 12:55] #102 closed

[2016-10-17 01:59] dharmeshmp commented on #102
Thanks eneim for suggestion.

[2016-10-18 04:22] find-happiness opened #105 "NullPointerException"
FATAL EXCEPTION: ExoPlayerImplInternal:Handler
                                                                     Process: forked.app.id.debug, PID: 24128
                                                                     java.lang.NullPointerException
                                                                         at com.google.android.exoplayer2.source.ExtractorMediaSource.onSourceI

[2016-10-18 04:24] eneim commented on #105
This relates to [this issue from ExoPlayer](https://github.com/google/ExoPlayer/issues/1914). I didn't push the update with 2.0.3, but you can exclude it from Toro, and add Exo 2.0.3 again.

[2016-10-18 04:24] #105 closed

[2016-10-18 09:58] find-happiness opened #106 "how to goto fullscreen when click the item of the recyclerview?"
how to goto fullscreen when click the item of the recyclerview?

[2016-10-18 11:14] eneim commented on #106
Hi, thanks. I thought about that, but it is not in scope now. You can manually setup the item click event (see facebook sample) and save/restore the playback timestamp in new fullscreen Activity too, remember to use startAciticyForResult so you can obtain the playback state back to original list.

I want to add a better transition (like Youtube), but it is not in the priority list now.

[2016-10-18 12:01] chetanurmaliya commented on #89
In one holder I have two ToroVideoView views but at a time one video will play.
video_player_view1
video_player_view2
Inside bind() only I can identify which view has to used.

@Override
    protected ToroVideoView findVideoView(View itemView) {
        return (ToroVideoView) itemView.findViewById(R.id.video_player_view1);
    }
But findVideoView() calls before bind().

What will be the best appro

[2016-10-18 13:03] eneim commented on #89
I don't support it. What is your use case?

[2016-10-20 10:58] initfusion opened #107 "looping video"
how to set looping on video using ExtVideoViewHolder or ExoVideoViewHolder?

[2016-10-20 13:24] eneim commented on #107
@initfusion Please take a look at this [sample](https://github.com/eneim/Toro/tree/develop/toro-sample/src/main/java/im/ene/toro/sample/feature/extended).

[2016-10-20 15:01] initfusion commented on #107
Thank you so much...

[2016-10-20 23:52] #107 closed

[2016-10-21 09:51] RockyLin opened #108 "Get the progress of video play back"
Hi, @eneim

Thanks for this great Lib!

I used it on a Recyclerview and it works perfectly!  However,  I'm trying to implement a progress bar indicating the progress of the video playback.

In your  README.md, Section 2.Toro in action, I notice that there is a digital progress note. But I can't find it when I run the project sample.

PS:
MyViewHolder extends **ToroVideoViewHolder,**
MyAdapter exte

[2016-10-21 11:11] rafa0809 commented on #108
Take a look at the class **ToroVideoViewHolder**. It contains this method:

[code]

So you can easily update the view elements to show the current progress!

[2016-10-21 11:31] RockyLin commented on #108
@rafa0809 Thanks for your reply!
I'm sorry! Are we talking about the same ToroVideoViewHolder? Cause I'm pretty sure that I cannot find the method you mentioned above in ToroVideoViewHolder.

Enlighten me if I'm wrong,please!  Much appreciated!

Thank you!
PS:I'm using Version 2.0.0 SNAPSHOT

[2016-10-21 11:41] rafa0809 commented on #108
@RockyLin I'm on version 1.2.0! Not sure about how to work on 2.0, sorry!

[2016-10-21 11:50] eneim commented on #108
Hi, sorry for the inconvenient. In 2.x, you can always get the progress by calling ```player.getCurrentPosition()```. To show it, you just need to place a TextView and run a handler to update the TextView. I will put this in sample App.

[2016-10-21 12:16] RockyLin commented on #108
@eneim Thanks a lot!

[2016-10-23 05:47] #108 closed

[2016-10-23 05:47] #99 closed

[2016-10-23 15:14] Nominalista commented on #107
I still don't know how to loop video. While extending ExtVideoViewHolder video is not looping.

[2016-10-23 15:38] eneim commented on #107
@Nominalista You need to override the method ```getNextTarget``` and return ```Target.THIS_PLAYER``` instead. Sorry for the lack of documentation.

[2016-10-28 09:28] trileduy opened #112 "how to pause/play video when click the item of the recyclerview?"
how to pause/play video when click the item of the recyclerview in FacebookTimelineActivity on feature facebook of sample. Currently when click that item to go to FacebookPlaylistFragment. Thanks you!

[2016-10-28 11:32] eneim commented on #112
@trileduy The implementation might varies due to the use case. In FacebookTimelineActivity, after clicking to a Video item, it open the "Related Videos list" which is a DialogFragment. I setup the callback pattern so that after the DialogFragment is attached, I will unregister the RecyclerView in "FacebookTimelineActivity", and re-register the RecyclerView after the DialogFragment dismiss.

See [t

[2016-10-29 08:22] trileduy commented on #112
@eneim Thanks for your answer, i got it.
- But in my use case. I want pause/resume play video when click to a Video item. I can pause video but can' resume it. Please help me what is the solution!
- Case : open the "Related Videos list". I want to do it when click to a other item.

[2016-10-30 07:57] eneim commented on #112
@trileduy Hi there, you can see how I handle the "long click" [here](https://github.com/eneim/Toro/blob/develop/toro-extended/src/main/java/im/ene/toro/extended/LongClickableViewHelper.java#L38) with your expected behaviour.

Regarding your second point, I didn't get what you wanted to mention here. If your requirement is the same with my FacebookTimelineSample here, you can use its idea, other th

[2016-10-30 18:39] rafa0809 commented on #108
Hi again @eneim !
Will this feature be available again like in 1.2?

[2016-10-31 00:01] eneim commented on #108
@rafa0809 You can always call "player.getCurrentPosition" because it is a part of both API version. Anyway it is highly recommended to use ver 2. It saves you some method counts in extra FYI.

[2016-10-31 00:02] eneim commented on #80
@LLin233 FYI Toro 2.1.0 is out for you.

[2016-10-31 10:33] rafa0809 commented on #108
Yes @eneim , I'm aware of this. But, is more elegant to implement the method ''void onPlaybackProgress(int position, int duration)'' in the ViewHolder like in 1.2. instead of implement my own thread that checks for ''player.getCurrentPosition()'' every time to update the video progress.

Otherwise, which is the best way to update a progressbar for the video progress?

[2016-10-31 12:09] eneim commented on #108
@rafa0809 Ah I got it. I thought you want the getCurrentPosition feature into 1.2.0 :D. Actually in 1.2, I also used a handler to make it happen. So you can always to the same thing. I can provide a sample in a day or two, but the idea maybe extending the ToroPlayer interface, and build an extension on top of it. It maybe a over-kill, but that's the straightforward way I'm thinking about now.

[2016-10-31 20:38] LLin233 commented on #80
@eneim Thanks for the noticing, I would definitely look into it.

[2016-11-03 14:34] Nominalista opened #113 "Performance improvements in Facebook sample"
I was facing with issue which is visible in Facebook feature from sample app. As you certainly noticed sometimes elements in RecyclerView are jumping, because height of items is not fixed.

Because my goal is to create feed like in Facebook, some of videos are different sizes. So my solution was getting from my video objects info about aspect ratio. Then I set fixed height for video view and becau

[2016-11-04 00:46] eneim commented on #113
@Nominalista You are right, loading Video is a huge task, optimized it is expected. I will investigate and update the Facebook Sample to be a more product level sample :D.

[2016-11-05 00:06] LLin233 commented on #80
@eneim quick question..the lib is using custom ExoVideoview...do we need to implement our own if we need to use our player?

[2016-11-05 01:37] eneim commented on #80
@LLin233 You mean a player API other than ExoPlayer or MediaPlayer? Yeah you should have your own way to add your API into the View which is expected to be a custom VideoView.

[2016-11-05 11:24] shikha7763 opened #114 "How to go fullscreen on orientation change like facebook"
I want to make video fullscreen on orientation change just like facebook in the Toro facebook. The playing video must go full screen on screen in landscape mode.

[2016-11-05 12:23] rafa0809 commented on #108
Hi @eneim ! Any new about this sample?

[2016-11-05 19:02] Nominalista commented on #113
I created sample app which shows my first idea. I set video view height as fixed and everytime I adjust video view height depending on video aspect ratio. [Here](https://github.com/Nominalista/MediaFeed) you can find very simple source code.

I also added the same list but without videos, only thumbnails to see if setting height everytime causes problems (fortunately not, the problem is visible on

[2016-11-05 19:03] Nominalista commented on #101
This is not issue related to library.

[2016-11-05 19:03] #101 closed

[2016-11-07 04:20] eneim commented on #114
@shikha7763 I saw the behaviour of Facebook app. I think they put another layer of View (start new Activity for example) for that. I will think about how I could easily gain that UX.

[2016-11-07 04:23] eneim commented on #113
@Nominalista thanks a lot for your effort. I think it's caused by the preparation of ExoPlayer everytime the View get attached. At first I try to catch as close as Facebook's performance (they have pretty the same issue actually), but yes it doesn't feel right. I will try to figure out some tune up, or even a better implementation in next update :D.

[2016-11-07 04:24] eneim commented on #113
@Nominalista Right now can you take time to try this sample: https://github.com/google/ExoPlayer/pull/2021, it has a same idea but less abstract, but it provide a potential implementation that I may want to adapt :D.

[2016-11-07 07:35] Nominalista commented on #113
@eneim thank you for response, I've just tested this example and performance looks a little better, but still it's not FB performance :D Are you able to estimate when you want to work on performance?

[2016-11-07 10:04] eneim commented on #113
I may try to put 1 or 2 hours for it each day, right now it gonna be the experiment test. Still have not many ideas :D.

[2016-11-07 10:17] Nominalista commented on #113
While looking at demo from ExoPlayer, I noticed one interesting comment, I didn't check if you are doing the same but:

[code]

[2016-11-07 10:32] eneim commented on #113
If you see the PlayerViewHelper class, then there I release and prepare the Player for proper playback.

[2016-11-07 11:08] Nominalista commented on #113
I've just changed implementation [here]https://github.com/Nominalista/MediaFeed) using Toro to implementation from sample, which you sent. You can see if it is working faster. Imho it's faster, but Toro onScrollListener is better ;)

[2016-11-07 12:21] eneim commented on #113
I tried your repo. Yeah there are some reasons that I would not adapt that implementation (I think I came up with it a few time and gave up on it with same reason :D). I will try to reduce the main thread work load to see the room for improvement.

[2016-11-07 14:32] eneim commented on #113
@Nominalista can you checkout [this branch](https://github.com/eneim/Toro/tree/feature/perf-matter-1) and see how you feel. Pretty sure it's been improved, but cannot make sure if it's good practice or not :-?. I also remove the Picasso load to save some main thread resource.

[2016-11-07 14:34] Nominalista commented on #113
I am so happy to see news, cause every my solution fails! I will try in an hour, when I get to my computer.

[2016-11-07 15:09] Nominalista commented on #113
I noticed much better performance in Facebook sample, but everything cracks when you put in timeline only videos. I mean, I just replace method Factory.newItem() with return new VideoItem() and then you will notice bad performance.

[2016-11-07 15:52] Nominalista commented on #113
I don't know if you ever looked at BuzzFeed Video app. They have the best user experience I have ever seen, but something I noticed is that they have only videos in two formats - square and 16:9, so it looks like they have just two seperate view holders. It would only solution for displaying many videos - for every single format new view holder.

[2016-11-08 07:49] shikha7763 commented on #114
it will be great help if you add this feature...

[2016-11-11 10:28] iamnitesh commented on #36
me also unable to add toro dependency here is my both Gradle files

[code]

**and the second one is app level gradle

[code]

hoping for quick response comes, thank you

[2016-11-11 10:36] eneim commented on #36
You must include dependencies inside app-level gradle file. Please see my demo app for reference.

[2016-11-11 10:39] iamnitesh commented on #36
In demo point 3. HOW TO USE  you have said  Projects top level gradle. which is where I added dependency

[2016-11-11 13:16] eneim commented on #36
@iamnitesh Only add "jcenter()" there if you have not. The rest are added to module level dependencies.

[2016-11-11 13:41] iamnitesh commented on #36
thanks for your response.it is working.

[2016-11-11 13:43] eneim commented on #36
Good to hear that :D

[2016-11-12 09:04] iamnitesh opened #115 "how to use this library when compile and target sdk is 23."
Make sure to provide the following informations and check:

- [ ] Toro dependencies (Eg: ```com.github.eneim:Toro:develop-SNAPSHOT```)

- [ ] Android manifacture | product name | OS Version | rooted or clean (Eg: Sony | Z4 | 5.0 | clean)

- Logcat (if it was a fatal issue)

[2016-11-12 09:07] #115 closed

[2016-11-12 09:14] iamnitesh opened #116 "how to use this library in compile and trageted sdk 23."
Here is my app level gradle file.

[code]

Logcat give me this Error

[code]

[2016-11-12 09:23] eneim commented on #116
You made a typo in compile "im.ene.toro2:oro-ext-mediaplayer:${toroVersion}". It must be compile "im.ene.toro2:**t**oro-ext-mediaplayer:${toroVersion}".

For best practice you should always target latest SDK. Even if you set target to 23, User with Android 7 (level 25) can still use your App which can have bad effect.

To compile with API 25, you need to update your buildToolsVersion to 25.0.0 and

[2016-11-12 09:35] iamnitesh commented on #116
now i am getting only one error
`Error:Failed to resolve: im.ene.toro2:oro-ext-mediaplayer:2.1.0`

[2016-11-12 09:47] iamnitesh commented on #116
now i am getting this two Error above error are fixed.

Error-1
[code]
Error-2

[code]

[2016-11-12 09:57] eneim commented on #116
This issue is no longer Toro issue anymore. Please StackOverFlow for it.

[2016-11-12 10:05] iamnitesh commented on #116
Ok. Thanks for favourable reply.

[2016-11-12 10:19] #116 closed

[2016-11-12 12:53] RockyLin opened #117 "ANR: not in avi mode"
compile 'im.ene.lab:toro:2.0.0-SNAPSHOT'
compile 'im.ene.lab:toro-ext:2.0.0-SNAPSHOT'
Nexus5x|6.0.1|clean

Desciption:
This lib is used for streaming online videos(mp4 created by android devices). I works perfectly. But today, I noticed that it becomes ANR trying to stream a online video.
When I use android's default player to open the mp4 file(same video already downloaded in the android device),

[2016-11-14 05:18] iamnitesh opened #118 "how to implement simple recyclerview with your lib which have images and videos and when video is foucs then it will auto play .."
Hello , i am integrate your lib in my project but due to lot's of classes in your lib i don't getting idea how to implement in recyclerview for display images and play video with mute when focus and enable audio when tap on videoview.
please , help me..

[2016-11-14 08:29] Nominalista commented on #118
See sample app in repository.

[2016-11-14 10:02] iamnitesh commented on #118
is any way available to disable video auto play and set it manually when require ?

[2016-11-14 10:10] eneim commented on #118
What do you mean by "when required". Can you give an example?

[2016-11-14 11:13] iamnitesh commented on #118
from Toro Sample i have implement "extended" demo for display video and images but in "ExtendedAdapter", onBindViewHolder not available. so , how can i send images list  to "ExtendedNormalViewHolder" bind method.

when require means  ---> Need of  my application is user can set video auto play functionality from setting fragment whether they want video auto play functionality "on" or "off" for App

[2016-11-14 11:28] eneim commented on #118
Please take a look at this Wiki: https://github.com/eneim/Toro/wiki/3.-ToroStrategy:-the-Judgement

The idea is: create your own ToroStrategy which "does nothing", when you don't want to play, call Toro.setStrategy() to that strategy, otherwise, use a built-in one.

P/S: I have already answered the same question from you with the same solution using ToroStrategy, please take a look on that.

[2016-11-16 07:00] iamnitesh opened #119 "How to pass video_url to onBind when implement onBindViewHolder method ?"
Hello , i am working with Extended Sample from Samples of Toro Lib but i am facing one issue
here i have attach onBindViewHolder and ExtendedVideoViewHolder for your reference..

[code]

[code]

bind method throw InvalidObject Exception because i am passing videoViewHolder.bind(this,newsFeed); of type newsfeed and according to demo require type is  this.video = (SimpleVideoObject) item;
so , how c

[2016-11-16 08:30] Nominalista commented on #119
Your NewsFeed object should contain SimpleVideoObject, so whenever you calling onBind, you should pass newsFeed.getSimpleVideoObject().

[2016-11-16 08:40] iamnitesh commented on #119
you means to say put class SimpleVideoObject inside NewsFeed Pojo ?

[2016-11-16 08:57] Nominalista commented on #119
or NewsFeed can extends SimpleVideoObject but its weird.

[code]

This checks if item is SimpleVideoObject so you have to pass SimpleVideoObject or it child. NewsFeed can contain on its field SimpleVideoObject and it that way you have to call onBind(..., newsFeed.getSimpleVideoObject())

[2016-11-16 09:19] iamnitesh commented on #119
Hello , i do some stuff as you said but it still throw error

in, on BindViewHolder
videoViewHolder.bind(this,newsFeed.getSimpleVideoObject());

[code]
Exception throw here...
[code]

[2016-11-16 09:29] eneim commented on #119
In the example I use the check to enforce that my VideoViewHolder only accept that type of data. You can remove it by your will.

[2016-11-16 09:59] eneim commented on #119
Remove this from your implementation

[code]

[2016-11-16 10:13] iamnitesh commented on #119
thanks @eneim and @Nominalista  now it's work like charm..

[2016-11-16 11:41] iamnitesh commented on #119
Hello i face one more issue with my adapter here i am attach onBindViewHolder and getItem, problem is ExtendedNormalViewHolder not call but item is exact list.size() so, please tell me what is problem

[code]

[code]

[2016-11-16 11:48] eneim commented on #119
@iamnitesh I could not get the point from your question. Please tell me: what you have done, what is expected result, and what is the result you get.

P/S:

Don't do this

[code]

[2016-11-16 11:55] iamnitesh commented on #119
now i getting what i want..
Thank you for your help :)

[2016-11-16 12:43] iamnitesh commented on #118
can you tell me what kind of Strategy i need to set for stop video auto play and allow to play when touch on VideoItem ?
As Discussed above ,this is need of My Application so i complete my task as soon as possible by your help ..

[2016-11-16 13:01] #119 closed

[2016-11-17 11:42] iamnitesh commented on #118
how to prevent device sleep when video playing is running ?

[2016-11-17 12:38] eneim commented on #118
This is not a Toro issue. I suggest you to search for "Android View keep Screen on" keyword.

About the Strategy, take a look at this [Do nothing Strategy](https://github.com/eneim/Toro/blob/dev-v2/toro/src/main/java/im/ene/toro/Toro.java#L55) and this [Method](https://github.com/eneim/Toro/blob/dev-v2/toro/src/main/java/im/ene/toro/Toro.java#L147)

[2016-11-17 12:38] #118 closed

[2016-11-17 17:21] EzenwakaKaycee opened #120 "Video dublicate while scrolling the through the recyclerview"
Make sure to provide the following informations and check:

- [ ] Toro dependencies (Eg: ```com.github.eneim:Toro:1.2.0```)

- [ ] Android manifacture | samsumg GT-19152 | 4.2.2 | clean

- Logcat (if it was a fatal issue)

i really dont know if this is a bug from my code or not but while scrolling through the video list
a currently playing video repeats itself across some various viewholder where

[2016-11-17 23:28] eneim commented on #120
Can you give me your ViewHolde implementation?

[2016-11-18 05:50] Nominalista commented on #120
If you have more customized implementation, check if you are recycling things in onViewRecycled.

[2016-11-18 14:05] sudhasri17 opened #121 "Is it possible to play atleast 2 videos together in a list? planning to use toro2.1"
Make sure to provide the following informations and check:

- [ ] Toro dependencies (Eg: ```com.github.eneim:Toro:develop-SNAPSHOT```)

- [ ] Android manifacture | product name | OS Version | rooted or clean (Eg: Sony | Z4 | 5.0 | clean)

- Logcat (if it was a fatal issue)

[2016-11-18 15:13] eneim commented on #121
Currently no. And no support plan. I will need a strong motivation for that.

[2016-11-18 15:56] sudhasri17 commented on #121
Any direction or suggestion as i wish to implement this with toro would be great.

[2016-11-19 05:38] eneim commented on #121
@sudhasri17 My mind set for Toro is totally focus on Single Video, so there is no such suggestion here. As said I will prefer a strong motivation for that to think further about how you can do that. If you don't mind please give me the answer for: "Why you want to do that" and "How is the expected behaviour". If it is sensitive behaviour that should not be public, you can email me anytime.

[2016-11-21 10:05] sudhasri17 commented on #121
my recyclerview contains a few dynamic videoviews of which one is like a banner, so keep that in loop always. other videos ll play as it gets visible.

[2016-11-22 06:35] iamnitesh commented on #119
hello , can i get state when video is stop during play for display progressbar ?

[2016-11-22 07:06] eneim commented on #119
@iamnitesh This is not an issue. Please figure it by yourself. HINT: ExoPlayer implement has a close stuff with that. Please investigate their code base for more information.

[2016-11-22 07:10] eneim commented on #121
@sudhasri17 I understand the situation, but I will not provide anything like this by the library. One suggestion is to have a separated ScrollListener, ViewHolder type for the Video Ads, **MUST NOT** implement Toro's Player interface (or else it will be filtered out), and implement some same flow with Toro.

[2016-11-22 07:10] #121 closed

[2016-11-22 09:10] iamnitesh commented on #119
@eneim  i am not saying this is issue, i am just asking you is it possible to get that perticular state from exoplayer using your library?, thank you.

[2016-11-22 09:46] eneim commented on #119
I'm saying this request must be done by your investigation.

[2016-11-22 09:49] wuandy opened #122 "Can play video stream partially?"
Can this framework support play video stream by partial source?
For example, If I want play one video named ex, but the source from remote divide to ex1, ex2, ex3;
how can I play the video ex continuously by these clips in one content of recyclerView or listView?

[2016-11-22 10:10] eneim commented on #122
This can be done by ExoPlayer specification. Right now I didn't provide the hook into my Custom VideoView but you can always try to make the same one with ExoPlayer's SimpleExoVideoView. Take a look at their Composition MediaSource, it is the core point of this solution.

[2016-11-22 10:31] iamnitesh commented on #119
ok i wil try..

[2016-11-23 02:35] wuandy commented on #122
Thank You!

[2016-11-23 04:57] iamnitesh commented on #119
is there any way to restart playing when getback to perticular video after scroll ? i don't want to play from last point ..

[2016-11-23 05:17] eneim commented on #119
1. Create an Adapter and implement MediaPlayerManager like [this one](https://github.com/eneim/Toro/blob/dev-v2/toro-sample/src/main/java/im/ene/toro/sample/feature/facebook/timeline/TimelineAdapter.java#L37) (It use the Composition pattern).

2. In [This method](https://github.com/eneim/Toro/blob/dev-v2/toro-sample/src/main/java/im/ene/toro/sample/feature/facebook/timeline/TimelineAdapter.java#L1

[2016-11-23 09:31] UmeshAndroid opened #123 "Gradle 'ToroDemo' project refresh failed. Error:Could not get unknown property 'main' for SourceSet container"
I have added following depencies in gradle.

**Project.gradle**

[code]

**App.gradle**
[code]

Error: _Error:Could not get unknown property 'main' for SourceSet container._
What is wrong in above code. I have already lost 3 hrs. Please help.

[2016-11-23 09:42] #123 closed

[2016-11-24 10:39] viswakarmalovekush opened #124 "Toro Videoview play aduio only right side, it is not producing sound for both left and right side."
Make sure to provide the following informations and check:

- [ ] Toro dependencies (Eg: ```com.github.eneim:Toro:develop-SNAPSHOT```)

- [ ] Android manifacture | product name | OS Version | rooted or clean (Eg: Sony | Z4 | 5.0 | clean)

- Logcat (if it was a fatal issue)

[2016-11-24 10:41] viswakarmalovekush commented on #124
I am using toro player in my application but when i test application by playing one video on toro videoview
the sound is coming only right side not in both side. again i checked with some other videos but getting same problem.

[2016-11-25 12:49] iamnitesh commented on #119
hi @eneim , i have implement your library using **compile line** and as per discuss previous i want to show ProgressBar when **ExoPlayer.STATE_BUFFERING**  but i face one problem because you  set **onPlayerStateChanged****in **ExtPlayerViewHelper**. so, if i set **this.videoView.setPlayerCallback(...)** inside   **public void bind(RecyclerView.Adapter adapter, @Nullable Object item)** of my **publ

[2016-11-26 01:37] eneim commented on #124
Have you checked with other Player App with same Video? This supposes to be an issue of ExoPlayer, you'd better go there I think. I touch nothing to Media.

[2016-11-26 01:39] eneim commented on #124
@viswakarmalovekush I suggest you to update to latest version first. Sorry for the inconvenience.

[2016-11-28 11:00] iamnitesh commented on #119
hi @eneim  i am getting player object null

[code]
Please tell me what is issue my side ..

[2016-11-28 15:52] EzenwakaKaycee commented on #120
[CellFeedViewHolder.txt](https://github.com/eneim/Toro/files/616775/CellFeedViewHolder.txt)

[2016-11-29 02:02] eneim commented on #120
@EzenwakaKaycee I read the source code and could not see where you call "bindView" method. Meanwhile the "bind" method will be called by the Adapter if you extend ToroAdapter (which I expect that you did). Please confirm

[2016-11-29 05:47] iamnitesh opened #125 "Getting Player Object Null"
hello i am getting player object null

adapter.setOnItemClickListener(new ExFbAdapter.ItemClickListener() {
@Override
protected void onVideoClick(RecyclerView.ViewHolder viewHolder, View view, NewsFeed item) {
long duration = C.LENGTH_UNSET;
long position = C.POSITION_UNSET;
int order = viewHolder.getAdapterPosition();
**ToroPlayer player = adapter.getPlayer();**
if (player != null) {
duration = p

[2016-11-29 06:14] eneim commented on #125
I think I properly check for null here, meaning that the player **can** be null. So what is your expectation here?

[2016-11-29 07:17] iamnitesh commented on #125
i want to achive facebooktimeline fragment using your lib , and according to your code duration and position is require for fragment but i am getting player object null.

[2016-11-29 09:10] eneim commented on #125
**It can be null at some points**. Can you share your ViewHolder implementation?

[2016-11-29 12:20] iamnitesh commented on #125
yes , bellow is my onCreateViewHolder

[code]

[2016-11-29 22:46] eneim commented on #125
I need the **ViewHolder**

[2016-11-30 04:34] iamnitesh commented on #125
class VideoViewHolder extends ExoVideoViewHolder {

        private NewsFeed newsFeed;
        @BindView(R.id.state)
        TextView stateView;

        //private TimelineItem.VideoItem videoItem;

        public VideoViewHolder(View itemView) {
            super(itemView);
            ButterKnife.bind(this, itemView);

        }

        @Override
        protected ExoVideoView findVideoView(Vie

[2016-11-30 14:30] huxaiphaer commented on #17
What causes cannot resolve Toro library in Android studio

[2016-12-01 02:12] eneim commented on #17
@huxaiphaer I have read your email, I'm working on a simple example for that case. Can you bring your topic in a new issue? It will be easier for me to keep track of it. Also, please update Toro to latest version and report any kind of debug log/error log you have. Thanks.

[2016-12-01 04:26] huxaiphaer commented on #17
Thanks so much Nam,  fir your reply am going to create an issue

On 1 Dec 2016 05:12, "Nam Nguyen Hoai" <notifications@github.com> wrote:

[2016-12-01 05:10] iamnitesh commented on #125
hi @eneim  please give some responce about my ViewHolder

[2016-12-01 07:50] eneim commented on #125
@iamnitesh I will spend time for that later. I want to confirm this point: WHEN your Player get null? Always null? Or right after you start the Activity? Or at some scroll?

[2016-12-01 09:10] iamnitesh commented on #125
When video is in Playing mode and  i click on video at that time i am getting player null, but video is playing.

[2016-12-02 07:06] Tourenathan-G5organisation commented on #36
I followed the guide how to set the library, but i always have the following problem:

here is the structure of the the top level build.gradle file
`
// Top-level build file where you can add configuration options common to all sub-projects/modules.

buildscript {
    repositories {
        jcenter()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:2.2.2'
        classpat

[2016-12-02 07:10] Tourenathan-G5organisation commented on #36
Here is also the content of the app module build.gradle
`
apply plugin: 'com.android.application'

android {
    compileSdkVersion 25
    buildToolsVersion "23.0.3"

    defaultConfig {
        applicationId "com.toure.testingapp"
        minSdkVersion 16
        targetSdkVersion 25
        versionCode 1
        versionName "1.0"
        vectorDrawables.useSupportLibrary = true
    }
    buildType

[2016-12-02 07:12] Tourenathan-G5organisation commented on #36
Please @eneim , hope to hear from you as soon as possible.

[2016-12-02 08:40] eneim commented on #36
@Tourenathan-G5organisation please use only the dependencies you need. And Exo1 and Exo2 **CANNOT** be used together. Please carefully read my REAME.

[2016-12-02 09:51] Tourenathan-G5organisation commented on #36
Ok, thanks for your help @eneim

[2016-12-04 04:30] eneim commented on #125
@iamnitesh

Please clarify this really clearly next time. Just mentioning something is NULL makes no sense for me to fix. Thanks. I will investigate that case.

[2016-12-04 22:18] rafa0809 commented on #102
@dharmeshmp ExoPlayer implements caching by itself! Just include the ExoPlayer-okhttp extension in your project: compile 'com.google.android.exoplayer:extension-okhttp:r2.0.1'

Check the issue here: https://github.com/google/ExoPlayer/issues/1157

[2016-12-04 23:26] rafa0809 opened #126 "ExoVideoView - Set custom MediaSource"
Hi devs!
I'm dealing with the ExoVideoView. I'm trying to add a different DataSource.Factory (therefore a MediaSource). So I just need to override the `public final void preparePlayer(boolean shouldAutoPlay) ` but that's not possible.

Is there any way to add a different DataSource.Factory?

Thanks in advance.

[2016-12-05 02:01] wuandy commented on #122
Sorry about another question, but I really need play video stream in recyclerview.
Is Toro support MPEG-DASH streaming ? I just try play .mpd file but can't work, how can I use it?

[2016-12-06 01:35] eneim commented on #126
@rafa0809 I will have a better implementation of my custom VideoView in 2.2, but at the mean time, you can learn the implementation of a extension and make your own. It is not difficult FYI. Just see how many class an extension needs (see exoplayer2 extension for example), write your classes, apply it to your app. Will make some draft in near future.

[2016-12-06 06:22] iamnitesh commented on #125
i am getting null here...
[code]

[2016-12-08 21:27] rafa0809 commented on #126
@eneim Thanks for the info!

[2016-12-13 07:32] palmithor opened #127 "Multiple activities lifecycle issue"
Make sure to provide the following informations and check:

- [```im.ene.toro2:toro-extended:2.1.0``` ]

- [Any device I've tried it on ]

- Logcat (if it was a fatal issue) - Not applicable

I’ve debugged a lot and I am having an issue with the lifecycle.

In my case I have

MainActivity
	ViewPager
		Fragment w/ recycler view showing videos.

When I open another activity and go back, Toro.registe

[2016-12-13 09:51] eneim commented on #127
Thanks for the issue. I have applied the mechanism to check the correct closing/openning Activity, but it seems to not be good enough. Let me take a look again.

[2016-12-14 11:39] UmeshAndroid opened #128 "Doesn't auto play after calling adapter.notifyDataSetChanged()."
First time I am  setting blank arraylist to adapter. When I get data from server like video url I am calling adapter.notifyDataSetChanged(); after that when I scroll the recyclerview videos are not autoplaying.

I am using 'im.ene.toro2:toro-ext-exoplayer2:2.1.0' .

[2016-12-15 15:39] Maragues opened #129 "Multiple leaks on sample activity"
I installed LeakCanary on the sample app and had 3 memory leaks just by playing around. I don't know if it's library or implementation related, but it doesn't invite me to use Toro

**Leaks**

1. Basic1Activity

[code]

2. Basic2Activity

[code]

3. FacebookTimelineActivity

[code]

Running on Nexus 5x, Android 7.1.1

[2016-12-15 16:04] developerGM commented on #127
@eneim I have the same problem. When I close my activity and re-start it later, all videos are in pause mode. I need to close the app cleaning cache to reinitialize Toro.

[2016-12-16 03:20] RockyLin commented on #102
@dharmeshmp Before I use the extension, ToroVideoView was good to run. But it crashed when I use the extension saying:Cannot find ToroVideoView.

[2016-12-16 03:31] eneim commented on #102
you need to update your dependencies and change the internal. ver 1 and ver 2 is not compatible ...

[2016-12-16 03:37] eneim commented on #129
Thanks. From my observer, they can be ExoPlayer implementation issue, but I will investigate.

[2016-12-16 06:26] RockyLin commented on #102
@eneim Thank you for this awesome lib!

These are what I use:
compile 'im.ene.lab:toro:2.0.0-SNAPSHOT'
compile 'im.ene.lab:toro-ext:2.0.0-SNAPSHOT'

Which dependency needs to change?

[2016-12-16 16:52] Maragues commented on #129
@eneim today I integrated ExoPlayer in my app and there were no memory leaks, so I would say your code does create leaks.

[2016-12-17 03:12] eneim commented on #129
Thanks, it seems that I need to take more care to the sample app.

[2016-12-17 12:41] eneim commented on #102
@RockyLin please refer to Readme for latest version. It should be 2.1.0 with a bit different in the artifact Id.

[2016-12-21 10:11] mahesh2015 commented on #23
Can i use your library (https://github.com/danylovolokh/VideoPlayerManager)for one of my client's project or i have to purchase licence...

[2016-12-21 11:35] shailesh2208 opened #130 "Not auto play always first video when we set position of first visible item of Recyclerview."
Hi,
I am using Toro library with Recyclerview in fragment. I am using `mRecyclerView.scrollToPosition(HomeActivity.videoFirstVisiblePosition)` for visible first item of Recyclerview. My issue is that when we use above method for display first visible view of Recyclerview then FirstVideo is not always playing. Sometimes its start to play second or third video. When we remove these above method the

[2016-12-21 15:19] RockyLin commented on #42
@eneim This sample branch link you mentioned cannot be open.

[2016-12-22 13:10] btwarog opened #131 "Is it possible to force SSL only for Toro requests?"
Make sure to provide the following informations and check:

-Toro dependencies
    `compile "im.ene.toro2:toro-extended:$rootProject.ext.toroVersion"
    toroVersion = '2.1.0'
`
Is there any way using Toro to add SSL certificates for requesting media from urls and not setting those certificates as default for _HttpsURLConnection_ ?

[2016-12-23 10:45] hendraanggrian opened #132 "need sample/tutorial to play YouTube videos."
The [changelog](https://github.com/eneim/Toro/blob/dev-v2/CHANGELOG.md) confirms that this library is capable of playing YouTube videos, but then the sample module shows no example of it.

There are some YouTube video ids in [VideoSource.java](https://github.com/eneim/Toro/blob/dev-v2/toro-sample/src/main/java/im/ene/toro/sample/data/VideoSource.java), but the class is pretty much unused.

[2016-12-24 04:36] thanhbinh84 commented on #13
I am using im.ene.toro2:toro-extended:2.1.0. I cannot find neither onVideoPrepared(MediaPlayer) nor isLoopAble(). Finally, I need to extend ExtVideoViewHolder and override getNextTarget()
`@Override
        public Target getNextTarget() {
            return Target.THIS_PLAYER;
        }`

[2016-12-24 05:26] thanhbinh84 opened #133 "How to play all videos visible on screen"
(im.ene.toro2:toro-extended:2.1.0)
(Asus | nexus 7 2012 | 4.4.4 | root)
By default, there is only one video played at the time. Is it possible to play all videos visible on screen? I read on wiki about `ToroStrategy` and try to customize but no luck.

[2016-12-25 09:00] eneim commented on #133
No, currently Toro supports single Video playback only. NO future support plan until I have a reasonable motivation. I always consider playing many video at a time is a bad practice, please give me some better points.

[2016-12-25 19:29] jpage4500 opened #134 "Best way to play single video (no list/recyclerview)"
I connected up the Toro library for playing videos in a list (recyclerview) but now need to play the same video w/out the list when the user clicks on it (we show a 'detail' view with the video and some other details on a single Activity).

What's the best way to connect up Toro as a single use video player?

I have a <im.ene.toro.exoplayer2.ExoVideoView> defined in the xml and am calling setMedia

[2016-12-26 02:42] thanhbinh84 commented on #133
I am porting an iOS app into Android, that's a customer requirement. They said if iOS can do, so do Android. I have explained about performance, battery... but they insisted. It would be great if Toro could be open for this kind of feature with an warning about performance. Thanks.

[2016-12-26 03:03] eneim commented on #133
Well, since you are not the only one to request this feature, I will try to make it. But it will be time consuming. Will keep you update with the roadmap.

[2016-12-26 03:13] eneim commented on #134
You will start a new Playback Activity and there just use a normal playback widget (my custom View or ExoPlayer's SimpleExoPlayerView will work.)

[2016-12-26 03:14] thanhbinh84 commented on #133
That's great! such a good news.

[2016-12-26 03:23] eneim opened #135 "[Feature] 3.0.0 Roadmap"
Regarding current issues and requirement, I come up with the following Roadmap, which will define my workload for next update of Toro. New feature can be added regarding the discussion result.

## Improvement

- [x] Scroll/Playback performance. ( #113 and related)

- [x] Demo app code base, Documentation.

- [x] Lower level VideoView (close to ExoPlayer's SimpleExoVideoView).

- [ ] Better handlin

[2016-12-26 03:25] eneim commented on #132
@hendraanggrian So sorry, it was in 2.0 RC-4 and no longer work. Youtube playback API is really un-friendly so I need to hold it back. If you are capable of getting the stream URL, playing that stream is just the same with any other Video IMO. Further investigation on Youtube API TOS may need.

[2016-12-26 03:28] eneim commented on #131
@btwarog Originally it will be an ExoPlayer issue/request, but since I'm doing too much on my custom VideoView, you may not be able to restrict the Http source to Https only. IMO One thing you can to is to process that certification before passing it to VideoView.

[2016-12-26 06:44] UmeshAndroid commented on #128
@eneim Have you looked into the same?

[2016-12-27 08:29] btwarog commented on #131
@eneim I don't want to restrict only for Https calls only, I just want to add an certificate for those calls only.

[2016-12-27 09:51] hendraanggrian commented on #132
@eneim thank you for clarifying. I imagine it is possible to retrieve the stream url by loading the webpage in some WebView, parse the html with Jsoup to scrap the actual stream url. It is not a very efficient solution but it might be the only working one at least until YouTube is officially supported again.

Once again, thank you for this fantastic library!

[2016-12-27 16:29] jpage4500 opened #136 "zoom/crop video to fit the view"
Hi,

In our list (recyclerview) we want to make all video's the same width and height (basically full screen width and a fixed height).

We were using this library to help with center-cropping the video: https://github.com/yqritc/Android-ScalableVideoView

I worked on switching over to using Toro and so far am loving everything except for the fact that it seems like Toro will always 'fit' the enti

[2016-12-27 18:15] jpage4500 opened #137 "Android Studio: NullPointerException in Preview"
I think this is an easy one to fix but I get this Exception in Android Studio when viewing a layout with ExoVideoView in it

[code]

![image](https://cloud.githubusercontent.com/assets/1895553/21505561/0a08bd0c-cc2e-11e6-967f-34e3c547ae4c.png)

[2016-12-29 17:11] jpage4500 opened #138 "Video pauses when switching tabs (ViewPager)"
Hi, I'm using the latest library (toro-extended:2.1.0) and trying to figure out a workaround for the following issue:

I've got an Activity that has a ViewPager and each of the tabs contains a RecyclerView of video items.

When the Activity starts, the video on the first tab (displayed by default) starts playing. But, if I click on the second tab the video on it doesn't play *until* I scroll the R

[2016-12-29 20:46] jpage4500 commented on #127
@eneim - at quick glance it looks like someone fixed this issue (I'm having the same one too)

https://github.com/EligijusStarinskas/Toro/commit/6763e8f86984031012f34f9f0e0fa0eae6f59d43

Any chance you could pull this change into your library and publish? I can help test if you'd like

[2016-12-30 01:02] jpage4500 commented on #138
I don't think this is a great solution but I was able to get the video in the sample app to pause and resume when switching tabs. See this change:

https://github.com/jpage4500/Toro/commit/02df05c39b33862ca095d6707061061a35ac2d06

With this change it shows the same problem I'm having now actually.. the video on the second tab won't start until you scroll the screen a little.

[2016-12-30 07:57] shailesh2208 opened #139 "How to remain auto play top video till its visiblity is more than 50% during scrolling."
I connected to toro library to auto play top video of Recyclerview using `"compile 'com.github.eneim:Toro:1.2.0"` gradle. It is working fine. When we start scroll from down to top then second video is playing automatically. Now I want that When the visibility of top video is going to less that 50% then second video auto play start and during scrolling top to bottom when top video get visibility mo

[2016-12-30 16:52] jpage4500 commented on #127
I submitted my own fix for this issue here: https://github.com/jpage4500/Toro/commit/654097d6bac1f3d7244089545c619651ac144af5

The key change is in onActivityDestroyed() to just stop/clear out only State's which belong to the Activity being destroyed.

I tested this change by adding a new sample Activity in the sample app (Tabs Sample) which illustrates the problem.

To test, just open this Activi

[2016-12-30 19:34] jpage4500 commented on #138
I have a potential fix for this issue and have done testing on the new 'tab sample' that I added to the sample app. I'm not sure if it's the best solution - but I did try several other options and it was the only one that worked.. the only downside is it required being able to access ToroScrollListener so I could 'simulate' a scroll event.

https://github.com/jpage4500/Toro/commit/e6e0222d72c50a63

[2017-01-02 07:04] eneim commented on #138
Hi @jpage4500 , I had a temporary work for ViewPager, will bring it back for this issue soon, in few days maybe.

[2017-01-02 07:04] eneim commented on #137
Hi @jpage4500 , can you tell me more about which device you used for this test? Thanks.

[2017-01-02 07:06] eneim commented on #136
Hi @jpage4500 , scaling or animating over VideoView requires TextureView instead of SurfaceView, if you are Ok with this, I can give you some advice. Looking for your reply.

[2017-01-02 07:07] eneim commented on #127
@jpage4500 thanks a lot, currently I'm on the very last day of my year end vacation. I will back to Toro and take a look on you suggestion asap.

[2017-01-02 07:08] eneim commented on #131
@btwarog ExoPlayer itself has an okhttp support, you can give it a try too. I will figure out if it is easy to integrate them into Toro.

[2017-01-04 08:53] eneim commented on #132
@hendraanggrian Thanks. You'd better take care of Youtube TOS before any further implementation. They have strict requirement on the content. That is one factor that prevents me to go further.

[2017-01-04 09:07] eneim commented on #127
@jpage4500 Can you checkout my PR and see if it works? The idea is the same, but I make it work on View level (one Activity can have multiple RecyclerView in it).

[2017-01-04 09:11] eneim commented on #138
@jpage4500 Please try to add this [ToroViewPagerHelper.java](https://github.com/eneim/Toro/blob/dev-v3/toro/src/main/java/im/ene/toro/ToroViewPagerHelper.java#L40) as a "PageChangeListener" of your ViewPager to see if it works? Will spend some time on this if it doesn't.

[2017-01-06 09:15] shailesh-fusionitechnology opened #142 "How to display loader icon during prepare video"
Hi, I'm using toro library version 1.2.0  and trying to figure out a workaround for the following functionality:

I want to display loader on top video immediately when we open fragment that contains Recyclerview video list. it display loader but after waiting some time.

When we add loader on xml file then its display on all visible view and I  want to display only on view that is going to play.

[2017-01-09 05:28] iamnitesh commented on #142
ExoPlayer Having Diffrent State Like ExoPlayer.STATE_BUFFERING,ExoPlayer.STATE_READY ,ExoPlayer.STATE_ENDED and ExoPlayer.STATE_IDLE.. so you have to working with them for dislpay loader when video prepare..

[2017-01-11 15:11] jpage4500 commented on #138
sorry for the delay - I'll update my forked version with the latest changes and try ToroViewPagerHelper to see if that works.

[2017-01-11 15:14] jpage4500 commented on #127
Yep, I'll try this. I took a look and it seems like it'll work w/out having to add a new field to the SavedState class which is good.

[2017-01-11 16:13] jpage4500 commented on #127
@eneim - I'm trying to figure out how to use your new branch instead of the official maven repo version. I was using jitpack.io to include my forked version and that was working fine but this isn't working for your 'featurea/multi activity' branch.. any ideas how I can include it in my app?

Here's what I have now:

[code]

[2017-01-12 00:41] eneim commented on #139
@shailesh2208 Take a look at your ToroStrategy too. It may be the one that will prior the View with higher visibility. Use the first one for your expected behaviour. I also suggest you to move on Toro 2.1.0 for latest support. Thanks for using Toro.

[2017-01-12 00:41] #139 closed

[2017-01-12 00:45] eneim commented on #127
@jpage4500 I will find time to figure out a better way for feature-level update >.< it will be useful ...

[2017-01-13 11:18] cubatertech opened #144 "Video freezes, audio continue playing."
I'm using Toro 2.1 lib for auto playback video in Recycler view. Its working fine.
But face issue when app goes to onPause state & again resume from there. Then only hearing voice not showing video. Toro inside using ExoPlayer. Please provide some tips. Thanks.

[2017-01-13 18:29] tlind15 opened #145 "Play Video at the very bottom of the Recycler View"
My recycler view contains only videos and the built in MOST_VISIBLE_TOP_DOWN strategy works for all of them except the very last video in the recycler view. Is there a way to simply extend the MOST_VISIBLE_TOP_DOWN strategy so that when the recycler view is at the very bottom the last video plays instead?

[2017-01-18 08:57] eneim commented on #42
@RockyLin pardon me to not reply to this earlier, you can find the behaviour on current latest default branch, in Facebook Timeline Example. I'm finding time to improve current code base too.

[2017-01-19 05:12] RockyLin commented on #42
@eneim

Thanks very much!

[2017-01-19 09:23] sonvp opened #146 "App run slow when fast scroll down when use branch "release/v2.0.0-RC4" or crash app in branch "release/v2.1.0" with url special"
Hi eneim.
I meet bug below when change url
"http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4"
into
"http://playready.directtaps.net/smoothstreaming/SSWSS720H264/SuperSpeedway_720.ism"

My device
- Version 6.0.1
- Sony Z3+ Dual

[2017-01-19 09:25] eneim commented on #146
Hi, do you have the crash log? Can you confirm your link works well with ExoPlayer?

[2017-01-19 09:35] sonvp commented on #146
- "Can you confirm your link works well with ExoPlayer?"
==> Yes. I take link url from https://github.com/google/ExoPlayer/blob/release-v1/demo/src/main/java/com/google/android/exoplayer/demo/Samples.java and It works well in exoplayer
- In  ""release/v2.1.0" it show log error:

[code]

[2017-01-19 09:54] eneim commented on #146
if you are working on a fork, please take a look at ExoVideoView line 40x (in the crash log) and fix the IndexOutOfBoundException <- work around for now. I will fix it later on my ongoing branch.

[2017-01-19 15:09] eneim commented on #113
@Nominalista can you checkout new branch "https://github.com/eneim/Toro/tree/feature/update-video-view" to see if the performance is improved?

[2017-01-20 00:05] eneim commented on #144
@cubatertech Can you give more info about your case as follow:

- Gradle dependency that is related to Toro

- Device and Android version

- Video info: resolution, codec, audio spec, ...

- Video URL if possible.

[2017-01-20 00:07] eneim commented on #145
@tlind15 This case has been in my backlog for a while. To provide a good UX, it requires some tricks I think. Let me think a bit more about this case.

[2017-01-20 10:43] sonvp commented on #146
- Sorry, Bug log error above happen when I test in branch "dev-v2" and I deleting the wrong code when build app.
- But I still get an error as image below when fast scroll down or up with link url "http://playready.directtaps.net/smoothstreaming/SSWSS720H264/SuperSpeedway_720.ism" in branch "release/v2.0.0-RC4" and "release/v2.1.0"

![device-2017-01-20-173203](https://cloud.githubusercontent.com/a

[2017-01-21 18:34] eneim commented on #146
@sonvp Can you checkout branch **dev-v3** and try it again?

[2017-01-21 18:35] #132 closed

[2017-01-23 03:18] sonvp commented on #146
In branch "dev-v3" when I build app , I get error in class "ExoVideoView.java" .I have to change exoPlayer2Version = 'r2.1.1'==>  exoPlayer2Version = 'r2.0.4'. And run app, I get log error below when fast scroll down or up with link url "http://playready.directtaps.net/smoothstreaming/SSWSS720H264/SuperSpeedway_720.ism"

Log Error:
[code]

[2017-01-23 04:49] eneim commented on #146
Hmm, @sonvp it is weird, can you make a clean clone for dev-v3? I have updated ExoVideoView to match latest ExoPlayer update though. Please clear stuff and rebuild to prevent cache :D.

[2017-01-23 05:56] sonvp commented on #146
I had rebuild project but still not solve problem . If i not change exoPlayer2Version = 'r2.0.4' , it will show error :
- Class 'ComponentListener' must either be declared abstract or implement abstract method 'onTracksChanged(TrackGroupArray, TrackSelectionArray)' in 'EventListener
- Cannot resolve constructor 'DefaultTrackSelector(android.os.Handler, com.google.android.exoplayer2.trackselection.

[2017-01-23 07:37] eneim commented on #146
@sonvp here is server version of dev-v3 ExoVideoView: [link](https://github.com/eneim/Toro/blob/dev-v3/toro-ext-exoplayer2/src/main/java/im/ene/toro/exoplayer2/ExoVideoView.java#L117) which already has "onTracksChanged" implemented. Can you confirm the content? Please make sure you are on sync with origin or upstream **dev-v3** branch :-?

[2017-01-23 09:25] sonvp commented on #146
Thank @eneim . I think mistake something .I checkout again branch "dev-v3" and test app. I not see errors above.
Thank again.

[2017-01-30 10:03] shoebhoney commented on #134
@eneim  - I am trying to use - ToroVideoView as Simple Video Player, but somehow video is playing.

[2017-01-30 14:44] j-a-s-o-n opened #152 "java.lang.NoClassDefFoundError: im.ene.lab.toro.player.widget.ToroVideoView$1"
I has project which uses Toro V2.0. All worked fine, but few days ago I tried build new version of app and was surprised to see empty RecyclerView. I debugged app an got this issue on all my devices Nexus 5 and Lenovo K50. I'm sure that it wasn't few days ago. All apk files built before, works fine.

java.lang.NoClassDefFoundError: im.ene.lab.toro.player.widget.ToroVideoView$1

[2017-01-30 23:15] eneim commented on #152
Try update to Toro 2.1.0 and update your xml since the package name has changed.

[2017-02-07 17:00] iarczi opened #155 "Video don't start after return to activity"
Make sure to provide the following informations and check:

- [  compile "im.ene.toro2:toro-extended:2.1.0"] Toro dependencies

- [Samsung | G4 Active | 5.0.1 | clean ] Android manifacture | product name | OS Version | rooted or clean

- Logcat (if it was a fatal issue)

In Application class I have Toro.init

In Activty A I have recyclerView with videos
I first start Activty A and everything works

[2017-02-08 00:59] eneim commented on #155
@iarczi This is a known issue. I made a fixed but the SNAPSHOT contains some break changes. Let me push it to 2.1.1 in few days >.<

Right now one possible work around is: refer to Facebook example, instead of starting new Activity for Full screen player, you can show a DialogFragment on top of current Activity, using the mechanism I used in Facebook example to switch the RecyclerView ...

 I pers

[2017-02-13 12:34] iarczi commented on #155
I left it just it is, and can't wait for new version 2.1.1 :)

[2017-02-13 14:55] micHar commented on #155
Hi @eneim, thanks for a nice lib! Unfortunately I have the same problem. Changing Activity to DialogFragment is a little bit problematic for me, so I would rather use the proper fix. Any timeframe for the 2.1.1 version?

[2017-02-14 00:54] eneim commented on #155
I'm updating demo app with some good practice, and documentation. v2.2.0 is on plan to release next week with a few big change that needs migration, but not too much, only the Adapter I think (of course a migration guide will be added too).

[2017-02-14 04:40] sonvp opened #157 "Bug: Sometime app play two video in branch "dev-v3""
Hi @eneim. when i scroll down sometimes happen case app play two video. You can check video below.

![device-2017-02-14-102001-_4_](https://cloud.githubusercontent.com/assets/8717317/22915452/f12e92d2-f2a9-11e6-8441-3ba378135fa0.gif)

[2017-02-14 04:43] eneim commented on #157
@sonvp There was a commit that I prepare the player in onAttachedToWindow, can you check it in the ExtPlayerView? If it is still there, please update to latest dev-v3, or use 2.2.0-SNAPSHOT instead.

[2017-02-14 07:53] sonvp commented on #157
- @eneim I can't find class "ExtPlayerView" in "dev-v3" ,I see only "ExtPlayerViewHolder" and "ExtPlayerViewHelper"
- And I neither find branch "2.2.0-SNAPSHOT" in github

[2017-02-14 08:34] eneim commented on #157
@sonvp Just fixed my comment, it is 'ExoPlayerView' (please pull latest dev-v3 branch). SNAPSHOT is not a branch, it can be found on maven snapshot URL: "https://oss.sonatype.org/content/repositories/snapshots", you can use it as normal gradle dependency.

[2017-02-14 08:36] eneim commented on #157
See [this](https://github.com/eneim/Toro/blob/dev-v2/build.gradle#L36) for snapshot URL setting, and [this](https://github.com/eneim/Toro/blob/dev-v2/toro-sample/build.gradle#L109) for gradle SNAPSHOT dependency (change it to 2.2.0-SNAPSHOT and comment out the module dependency).

[2017-02-14 09:04] sonvp commented on #157
@eneim I pull latest dev-v3 branch and I check  'ExoPlayerView' , "onAttachedToWindow "  it wasn't there
and I change to 2.2.0-SNAPSHOT but I still see bug above

[2017-02-14 09:12] eneim commented on #157
Hmm, can you give me your adapter (can modify it if you have something sensitive). An email to nam@ene.im also works.

[2017-02-14 09:13] eneim commented on #157
ViewHolder too if possible @sonvp

[2017-02-14 09:27] sonvp commented on #157
@eneim . I only change code Basic4Adapter.class and run app. Below is the code I changed
[code]

[2017-02-14 09:34] eneim commented on #157
Hmm, got it. Let me check it too. Also you will get latest good state by 2.2.0-SNAPSHOT instead of dev-v3 (which suppose to be 2.2.0) :D.

[2017-02-14 10:10] micHar commented on #155
Just to make sure - so the fix for activity lifecycle comes next week with 2.2.0?

[2017-02-14 10:14] eneim commented on #155
Yes, right now you can check the current status on 2.2.0-SNAPSHOT and see if it works. Or check out branch dev-v3 and try the demo .

[2017-02-14 10:15] eneim commented on #155
2.20-SNAPSHOT requires some changes on your Adapter, so you are warned ...

[2017-02-15 06:57] eneim commented on #157
@sonvp Hey can you checkout branch **feature/demo-update** and see if it works?

[2017-02-16 03:55] sonvp commented on #157
@eneim I checkout branch feature/demo-update, but I still see bug above.

[2017-02-16 04:19] sonvp commented on #157
@eneim You can check video describe steps by steps happen bug with link below.
https://drive.google.com/file/d/0B_Q06qKRUkZGcGpWcFRJUFZ2NTQ/view?usp=sharing

[2017-02-16 05:09] eneim commented on #157
@sonvp Thanks a lot. I can now re-produce the issue and try to fix it soon.

[2017-02-17 14:42] eneim commented on #157
@sonvp Please check out branch "fix/duplicated" which is dedicated for this fix. I believe it works correctly now.

[2017-02-18 10:21] jonathansds opened #163 "Previous Image with SetShutterView?"
Hello,

First, let me say thanks for this great work!! So far the best lib I've found for this functionality! Thanks so much!

I'm using the Toro "toro-ext-exoplayer2:2.1.0" version and I'm trying figure out a way to instead of showing that black view before play the video, show an image took from the video. I noticed that this black view is the "shutterView" attribute in "ExoVideoVidew" component

[2017-02-18 12:46] eneim commented on #163
@jonathansds ExoVideoView is just another FrameLayout, you can always put your custom ImageView on top of it. You can check demo app, the "Facebook Timeline sample" and also take a look at its implementation [here](https://github.com/eneim/Toro/blob/dev-v2/toro-sample/src/main/java/im/ene/toro/sample/feature/facebook/timeline/VideoViewHolder.java).

[2017-02-19 05:55] eneim commented on #157
@sonvp 2.2.0-SNAPSHOT is now better handling your case, please check it out (see [releases](https://github.com/eneim/Toro/releases/tag/2.2.0-SNAPSHOT)) for more information.

[2017-02-19 05:57] eneim commented on #155
@micHar @iarczi Can you check out to see if [2.2.0-SNAPSHOT](https://github.com/eneim/Toro/releases/tag/2.2.0-SNAPSHOT) works for you? This is the closet to next major release. Feedback from you will be taken care for the final release if possible.

[2017-02-19 05:58] #144 closed

[2017-02-19 05:58] #146 closed

[2017-02-19 05:58] #152 closed

[2017-02-19 06:00] eneim commented on #134
@jpage4500 @shoebhoney In latest SNAPSHOT, I have included into toro-sample app an "Experiment" to show how you can click to a single Video and open a SinglePlayer for it, start from where it is clicked. Right now single player is in Portrait only I will see how I will make it horizontal (issue here: the orientation change ...). Please take a look at it in [2.2.0-SNAPSHOT](https://github.com/eneim

[2017-02-19 06:01] eneim commented on #129
[2.2.0-SNAPSHOT](https://github.com/eneim/Toro/releases/tag/2.2.0-SNAPSHOT) has improve the leaks.

[2017-02-19 06:01] #129 closed

[2017-02-19 06:02] eneim commented on #128
@UmeshAndroid I'm working on this, it needs more internal change to properly deal with data change from User. Right now you can see how it works in "Experiment" sample in toro-sample app. Please take a look at [2.2.0-SNAPSHOT](https://github.com/eneim/Toro/releases/tag/2.2.0-SNAPSHOT) or **dev-v2** branch.

[2017-02-19 06:03] eneim commented on #136
@jpage4500 [2.2.0-SNAPSHOT](https://github.com/eneim/Toro/releases/tag/2.2.0-SNAPSHOT) adds "ExoPlayerView" which internally use "SimpleExoPlayerView" that has the ability to fit Video surface. Can you take a look?

[2017-02-19 08:23] micHar commented on #155
In the snapshot, the issue with changing activities has been fixed but there are some other issues introduced unfortunately. Eg.sometimes the video doesn't start at all, it doesn't loop like it used to and sometimes two videos on the list start playing together.

[2017-02-19 08:31] eneim commented on #155
@micHar Can you provide more about your code that re-produces the issue?

[2017-02-19 08:47] micHar commented on #155
Not today unfortunately, I don't have access to my computer.

[2017-02-19 08:51] sonvp commented on #157
Thank @eneim . I will check it out ([releases](https://github.com/eneim/Toro/releases/tag/2.2.0-SNAPSHOT))

[2017-02-19 09:49] eneim commented on #155
@micHar FYI I also dealt with those issue in this snapshot (see other issues). So if they are still there for you, please tell me with your code I will take a look :D.

[2017-02-19 10:10] micHar commented on #155
So probably they are fixed and I tried an older version. Will try the new one as soon as possible, because as far as this specific issue is concerned, I think it was fixed. Thanks for your great work @eneim :-)

[2017-02-19 10:36] eneim commented on #155
I pushed latest one this afternoon, so probably it will fix the issue. But feedback is always welcome.

[2017-02-19 10:38] eneim commented on #155
I should have numbered the snapshot release as beta or something, but next time it will be better.

[2017-02-20 07:51] sonvp commented on #157
Hi @eneim . I checked your (releases) .
- I see issue in view Basic 4 (using ExoPlayerViewHolder) when I open view Basic 4. First video isn't playing, it only playing when I scroll RecycleView then I scroll down Third video and scroll up First video, it still isn't playing,
- I checked  in view Basic 1 (using ExoVideoViewHolder), It work well.
- You can check bug with link below
https://drive.goog

[2017-02-20 08:04] eneim commented on #157
@sonvp thanks for your quick feedback. Actually the first one is kind of expected behaviour: There are 5 or 6 Views/ViewHolders are attached at launch. On that event, the video will be prepared and the last one got prepared wins the auto playback behaviour. In this case, the one got triggered is hidden below because the height changes and so on.

This is not a nice UX, sadly. There is a work aroun

[2017-02-21 12:52] AmanChugh opened #165 "I am not able to access class "ExoPlayerViewHolder""
Make sure to provide the following informations and check:

- [ ] Toro dependencies ( compile "im.ene.toro2:toro:${toroVersion}"
    compile "im.ene.toro2:toro-extended:${toroVersion}"
    compile "im.ene.toro2:toro-ext-exoplayer:${toroVersion}"
    compile "im.ene.toro2:toro-ext-exoplayer2:${toroVersion}")

   toroVersion = '2.1.0'

[2017-02-21 12:54] eneim commented on #165
Which makes you try to use this class?

P/S: you use the wrong version ...

[2017-02-21 12:58] AmanChugh commented on #165
Can you please suggest me. I want to show Videos and photos on RecyclerView.

[2017-02-21 13:01] eneim commented on #165
@AmanChugh want to ask from where you end up using "ExoPlayerViewHolder"?

You can check this out for using this class:https://github.com/eneim/Toro/releases/tag/2.2.0-SNAPSHOT, but please read it carefully.

[2017-02-21 13:05] AmanChugh commented on #165
So Is 2.2.0 is beta version?

[2017-02-21 13:29] eneim commented on #165
Yes, if you want to use "ExoPlayerViewHolder". Otherwise you should use current "ExoVideoViewHolder" instead.

[2017-02-21 20:09] jonathansds commented on #163
Yup, I already implemented on that way. Just asking cause once it's already done (instead of a picture you put a black view) inside ExoVideoView and just a "set" method would need to be exposed, I thought it'd be better than just create another view and handle it outside the lib. Anyway, thanks so much for the reply, I did it and it worked.

Thanks.

[2017-02-23 02:34] #165 closed

[2017-02-23 02:36] eneim commented on #163
@jonathansds thanks for your comment. I actually try to mimic the behaviour of ExoPlayer default SimpleExoPlayerView (in 2.2.0 I also implement ExoPlayerView on top of it). The shutterView is part of its internal so I don't want to touch :D Instead I will put another view for my custom behaviour.

[2017-02-23 05:08] AmanChugh commented on #165
ok thanks :)

[2017-02-23 10:20] AmanChugh opened #166 "Getting NullPointerException when calling toro.register(RecylerViewInstance);"
java.lang.NullPointerException: Attempt to read from field 'java.util.Map im.ene.toro.Toro.mViews' on a null object reference
                                                                      at im.ene.toro.Toro.register(Toro.java:167)
                                                                      at com.vylt.andorid.fragments.FeaturedFragment.initViews(FeaturedFragment.java:59)

[2017-02-23 11:52] eneim commented on #166
@AmanChugh Please follow the template, provide more information.

[2017-02-23 11:59] AmanChugh commented on #166
Sorry, I did not init Toro in application class.

[2017-02-23 11:59] #166 closed

[2017-02-23 12:34] AmanChugh commented on #166
Can you please tell me how to add Sticky Headers with RecyclerView.

[2017-02-23 12:35] eneim commented on #166
@AmanChugh Sorry I could not do that, you can google it or ask on StackOverflow ...

[2017-02-23 12:36] AmanChugh commented on #166
ok. thanks.

[2017-02-23 20:20] jonathansds opened #167 "Video Only Play Once"
Hello, I'm using "im.ene.toro2:toro-ext-exoplayer2:2.1.0" and implementing a ToroAdapter for a list of media (images and/or video) just like Facebook.

I've noticed that most of the times (sometimes it does work) the video is played the first time, then I scroll down the list some items then when I scroll up again to the first video it shows a black view, start buffering but doesn't play again. It

[2017-02-25 11:20] jonathansds commented on #163
Yup, works great! Well, so you can considerate this issue closed. Thanks a lot!

[2017-02-25 15:35] RockyLin opened #168 "Disable auto stream"
toroVersion = '2.1.0'
compile "im.ene.toro2:toro:${toroVersion}"
compile "im.ene.toro2:toro-ext-exoplayer2:${toroVersion}"
compile "im.ene.toro2:toro-extended:${toroVersion}"

@eneim
Thanks for this great lib!

In order to reduce unnecessary video stream, I implement my own ToroStrategy

`Toro.setStrategy(new ToroStrategy() {
            @Override
            public String getDescription() {

[2017-02-26 06:09] eneim commented on #168
@RockyLin the Video got prepare when it is attached I think. Can you catch the network to see if further request is done? Also I improve it a bit and will push latest SNAPSHOT in few days.

[2017-02-26 12:13] RockyLin commented on #168
@eneim

I find at least three places that may lead to video stream while registering RecyclerView and scrolling recyclerview.
After scrolling, all the videos are streaming(I used Charles to analysis the network requests).

**Toro.java**

[code]

**OnScrollListenerImpl.java**

[code]

[2017-03-02 12:43] AmanChugh opened #169 "How to get and set Video Volume in ExoPlayer"
How to get current Volume status of ExoVideoPlay and set Current Volume of device to ExoVideoPlayer

[2017-03-05 13:11] #157 closed

[2017-03-05 20:31] tlind15 commented on #145
@eneim Thanks!!

[2017-03-05 20:35] jonathansds commented on #167
Please, any suggestion?

[2017-03-06 00:14] eneim commented on #167
@jonathansds sorry, just not have enough time. I just try this behaviour this morning with latest 2.2.0, seems to be fixed. Can you give it a try?

[2017-03-06 09:38] ketanahir commented on #167
@eneim I am trying to display video/images in using ToroAdapter. It works fine but following url is not working http://d147eb6egsk6ti.cloudfront.net/148878750758bd1833a6c16.mp4. Also I checked url and it's valid url.

[2017-03-06 09:42] jonathansds commented on #167
@eneim I noticed the same, some URLs are not working. I'm trying to figure out a pattern to see what is in common between the URLs to find a reason. I'll let you know if I find anything which could be the reason of this issue.
Anyway, it's happening with me as well.

[2017-03-06 12:05] eneim commented on #167
@jonathansds I will take a look into this case soon. Thanks for the report.

[2017-03-06 13:09] ketanahir commented on #167
In my case it works if I use resizeMode=auto. This may help you to get some idea.

[2017-03-06 13:49] jonathansds commented on #167
@eneim I've tested the version 2.2.0 as you said and the issue (only play once) seems to be fixed!! Thanks so much!!

@ketanahir I also tested the "resizeMode" attribute setted to "auto" and it looks like it fixed the problem with the URLs as well but not 100% sure cause most of the URLs weren't working I removed from the database so I'll perform more tests later and tell if it definitely fix the

[2017-03-06 13:59] eneim commented on #167
@jonathansds I prepared a BaseAdapter so that all necessary methods are implemented.

There are a few issues left I will fix them later. It is hard to say all the expected behaviour are done, because I don't even know how to effectively test this lib (wrote and deleted a bunch of Espresso code but it doesn't make sense, maybe I need to learn more). But good to know your code works.

[2017-03-06 19:14] crackTheCode commented on #145
@eneim I noticed that when I fling to the top or the bottom of the recycler the video that is visible prepares but doesn't start playback. Is there any fix

[2017-03-06 23:59] eneim commented on #145
Please create a separated issue for your question with more info

[2017-03-07 14:39] developerGM opened #172 "How to restart video when click on the button of the recyclerview's item?"
I have a `recyclerview ` and inside `onPlaybackCompleted` I ask to the user if he wants reload this video or go to the next.
If he clicks on button RELOAD, I am trying to call `start()`...

I am trying to use `Target.THIS_PLAYER` and `Target.NONE` too but nothing.
In the first case, the video restart automatically and in the second case the video never restart

I want to create a video timeline as

[2017-03-07 14:42] developerGM commented on #169
You can use `videoView.setVolume(float);`

[2017-03-07 20:16] jonathansds commented on #167
@eneim I got it working with the new version (2.2.0) just changing from "ToroAdapter" to "BaseAdapter" and adding the follow code so it starts playing automatically:

               videoPlayerView.setPlayerCallback(new PlayerCallback() {
                    @Override
                    public void onPlayerStateChanged(boolean playWhenReady, int playbackState) {
                        switch (pl

[2017-03-08 12:48] developerGM opened #173 "Toro.pause and Toro.resume"
Hi, using the new method:
[code]
I can't pause and resume my RecyclerView to play video...
In the 2.1.0 Toro version, using `Toro.rest(boolean);` all works fine

And if I set
[code]
I have this error:
`java.lang.RuntimeException: Adapter must be a PlayerManager`

[2017-03-08 14:14] developerGM commented on #172
I solved:
`Target.NONE`
[code]

[2017-03-12 01:33] RockyLin commented on #173
@developerGM

As the error said, your recyclerview's adapter is not implement interface **PlayerManager**.

[2017-03-12 05:48] eneim commented on #173
@RockyLin Thanks. @developerGM Please refer to Changelog for 2.2.0, it has some big changes that you may need to know. Thanks for using Toro. I will take a look at pause and resume, internally it calls ```Toro.rest``` so I am surprised it doesn't work.

[2017-03-12 05:52] eneim commented on #169
@AmanChugh The setter is as the second comment, while the getter is not public right now. If you are using ExoPlayerView (new Widget in 2.2.0) you can have it by the following call:

[code]

Note that getPlayer() can returns Null if your view has not been prepared.

[2017-03-12 05:54] eneim commented on #168
@RockyLin Will find a timeframe to look into this. Also please try to see if 2.2.0 resolves this. I changed the order of preparing the player (so it will not be called after you bind your ViewHolder, by which it can prevent the generation of network call I believe).

[2017-03-12 05:56] eneim commented on #167
@jonathansds Will update the sample soon. There is some rare case when the state of ExoPlayer changes across thread (which I cannot control now) that cause the unexpected behaviour. Let me deal with it first and it may fix this at once.

[2017-03-12 08:54] developerGM commented on #173
@RockyLin @eneim
Ok thanks, now I am using 2.2.0 and BaseAdapter (so this implements PlayerManager internally)
Now `Toro.pause()` and `Toro.resume()` works properly.
The problem is, using 2.2.0, when scroll down and than come up again, the player never play again but go to immediatly in `pause()`.

[2017-03-12 09:27] developerGM commented on #155
Using 2.2.0 the lifecycle problem is solved (in the old version, activity was destroyed and player set to null)
When I open a new Activity I use `Toro.pause()` and then on ActivityResult use `Toro.resume()`
The problem is that now, using 2.2.0, when scroll up, sometimes the previous videos doesn't play but stay in pause.

[2017-03-12 09:41] eneim commented on #155
@developerGM I have acknowledged that issue and working on a fix now. The cause is that I cannot control the way ExoPlayer fires the state change event so I need to think about a workaround.

[2017-03-12 10:22] developerGM commented on #155
@eneim yes understand. Thanks
But why with 2.1.0, this problems not happened ?

[2017-03-12 11:10] eneim commented on #155
The part problem of not playing after scrolling back to top is my fault after releasing 2.2.0 (on an atempt to fix the duplicated playback). After fixing it in current local branch, it turns out that the main issue is the state of "prepared" where ExoPlayer doesn't care about that while I want to have a checkpoint of when your video is ready to play. So in short: there is a state that cause the tr

[2017-03-12 11:11] eneim commented on #155
My current thinking is to forget the state of prepared and try to adapt the way ExoPlayer 2 thinks about a Media's state.

[2017-03-12 11:13] developerGM commented on #155
so how can solve ? wait a new release ?

[2017-03-12 11:15] eneim commented on #155
I'm thinking of pushing a snapshot to fix the scrollto top issue in a few hour.

[2017-03-12 11:16] developerGM commented on #155
this is TOP, thanks. So I can continue to use 2.2.0 that is really stable now. Thanks @eneim for this work

[2017-03-12 11:41] jonathansds commented on #167
Any update?

[2017-03-12 13:50] eneim opened #174 "[Memo] state == BUFFERING, playWhenReady == false"
Behaviour:

- At some special state, 2 players can play at the same time.

Reproduce the issue:

- Scroll to 2nd Player, wait for a blink so that: Manager call startPlayback for it (state: 3, playWhenReady: true), in moment it needs to buffer (**state -> 2**, playWhenReady: true).

- From that point, scroll up to 1st Player. Manager will switch to 1st Video and call startPlayback for 1st Player. T

[2017-03-12 14:10] eneim commented on #167
@jonathansds Not enough time this weekend, I may need more time investigating current issue #174 here though FYI.

[2017-03-12 14:21] eneim commented on #155
@developerGM You can try 2.2.1-SNAPSHOT now, it should fix the scroll to top issue. The issue #174 is my highest priority now for 2.x.

[2017-03-12 14:22] eneim commented on #167
@jonathansds @developerGM You can try 2.2.1-SNAPSHOT now, it should fix the scroll to top issue. The issue #174 is my highest priority now for 2.x. Your current issue will be added to my backlog for next fix.

[2017-03-12 14:26] developerGM commented on #155
sorry...this ?
`compile 'im.ene.toro2:toro-extended:2.2.1-SNAPSHOT'`

[2017-03-12 14:28] eneim commented on #155
One of the following:

[code]

You will need the snapshot repository in your project level gradle.build.

[2017-03-12 14:48] developerGM commented on #155
Ok, I have tested "2.2.1-SNAPSHOT" using ExoPlayerView

This is my Log:
[code]

[2017-03-12 15:43] developerGM commented on #155
@eneim
Now I am testing "2.2.1-SNAPSHOT" with ExoVideoView

in `STATE_READY `I always have `playWhenReady == false;`

My cicle is the follow:
[code]

When I slide up the panel where is `mRecyclerView`, all videos don't play.

[2017-03-12 22:59] developerGM commented on #155
@eneim any news ?

[2017-03-13 00:23] eneim commented on #155
@developerGM sorry it is GTM +9 here so let me warm up a little bit for Monday morning >.<

[2017-03-13 09:21] developerGM commented on #155
@eneim ehe yes of course, sorry.

[2017-03-14 08:36] dev-JE02 opened #177 "How can I implement Toro without using ToroAdapter?"
I am using the FlexibleAdapter library and it is impossible for me to extend another type of adapter as my models already work around the said library. Is there any way to implement Toro without extending from ToroAdapter?

[2017-03-14 08:46] eneim commented on #177
What does that "FlexibleAdapter" looks like?

[2017-03-14 09:04] dev-JE02 commented on #177
Sorry, here is the link to the library: https://github.com/davideas/FlexibleAdapter

And I am using it quite simply:

[code]

I am using it this way as everything else has been handled by FlexibleAdapter. I also plan on using the `HttpProxyCacheServer` from https://github.com/danikula/AndroidVideoCache/ so that I can cache the videos to be played.

The `SampleFlexible` class minimally looks like t

[2017-03-14 13:20] eneim commented on #155
@developerGM What do you mean by "This happen if I use PlayerCallback"?

[2017-03-14 13:22] eneim commented on #155
Also, it is not suggested to dynamically use PlayerCallback, I should have provide the "addCallback" instead of "setCallback" ... But right now if you want to have control to STATE_BUFFERING, you can extend the ExoPlayerViewHelper class, override the playstatechange method there. Also there is extra work need to be done on ViewHolder side too (to apply the change for your custom ViewHelper).

[2017-03-14 13:25] developerGM commented on #155
Ok, but I have always the problem that during slidingup my recyclerView, the video doesn't starts again...
I am testing "2.2.1-SNAPSHOT" using ExoPlayerView

[2017-03-14 13:29] eneim commented on #155
@developerGM Ok so let narrow down to your current use case. I will figure out if it is the issue of pause/resume or not. Literally I could not carefully test those, but I think the approach is simple.

[2017-03-14 13:32] developerGM commented on #155
Yes, This is the issue that I have using new 2.2.1-SNAPSHOT.
All others are solved now

[2017-03-14 14:43] eneim commented on #155
@developerGM Can you checkout branch "fix/pause-resume" and try the first Example? I can make it works though, but have no idea if it matches your idea.

[2017-03-14 14:53] developerGM commented on #155
@eneim In which folder ? I'm in "fix/pause-resume" branch now

[2017-03-14 14:54] eneim commented on #155
@developerGM [here](https://github.com/eneim/Toro/tree/fix/pause-resume/toro-sample/src/main/java/im/ene/toro/sample/feature/sheet) (I reuse some class from other places just to verify the behaviour. This contains no fix now).

[2017-03-14 15:04] developerGM commented on #155
@eneim Sorry, I think that my previous posts not are clear :)

With last 2.2.1-SNAPSHOT solved:
- if I COLLAPSE and EXPAND my panel I use Toro.pause() and Toro.resume() and works perfectly
- If I click on my Item (inside recyclerView), I use Toro.pause(), so I can open a new Activity and when come back using Toro.resume(), all works and player restarts

Now, the problem, with last ExoPlayerView is

[2017-03-14 15:07] eneim commented on #155
@developerGM Hmm, I think the issue of not start playing again is what I try to solve with this. You can try example Basic 4 which uses ExoPlayerView (see the list in Sample App).

[2017-03-14 15:13] developerGM commented on #155
Ok, I will test the 2 examples. Thanks

[2017-03-15 14:56] giovaniguerra opened #178 "How to load the video based in connectivity type"
- [ ] Toro dependencies (compile "im.ene.toro2:toro-ext-mediaplayer:${toroVersion}")
                                       compile "im.ene.toro2:toro-extended:${toroVersion}"`)
toroVersion = 2.2.0

Hello, I have two questions about toro.
First one...
I'm trying to prevent the user from download the video if his internet is a mobile type (2G,3G,4G...), I want to use autoplay only if his internet i

[2017-03-16 02:49] eneim commented on #178
To start preparing the Video base on your connectivity state, you can create custom ToroStrategy to control when you player can play.

The second one: you can always call player.getCurrentPosition().

[2017-03-16 02:49] #178 closed

[2017-03-21 10:55] deepikaopenxcell opened #179 "I have to pause video and mute sound"
i am using
ToroVideoview.setVolume(0f);
and
  ToroVideoview.stop();
but some time it is not stop

[2017-03-21 11:42] eneim commented on #179
@deepikaopenxcell You should not directly access videoView to stop it. The lib take higher priority of control. Call Toro.pause() to stop all the videos.

[2017-03-21 11:42] #179 closed

[2017-03-24 22:00] giovaniguerra opened #180 "Change default black background ExoPlayerView"
Hi!

I'm using the newer version 2.2.0. ("im.ene.toro2:toro-extended:2.2.0")...

How can I change the default black color ExoPlayerView uses before the player starts to play? I tried to change the background attr in xml but didn't work.

[2017-03-25 07:54] eneim commented on #180
@giovaniguerra I use SimpleExoPlayerView internally, so this background is actually its setup. You should go to ExoPlayer repo for this request. Cheer!

[2017-03-25 07:54] #180 closed

[2017-03-27 08:19] viswakarmalovekush commented on #124
Yea, Thanks its working now.

[2017-03-27 14:36] giovaniguerra commented on #180
@eneim Thanks!!! The solution was override the xml file (exo_simple_player_view.xml) and change the background color of shutter view. It's described in comments of SimpleExoPlayerView file in ExoPlayer repo.

[2017-03-27 23:36] dev-JE02 commented on #177
Hi Are there any updates?

[2017-03-28 01:31] eneim commented on #177
@dev-JE02 I'm afraid there is no way I can adapt that FlexibleAdapter (I have never written an Adapter that huge ...). My BaseAdapter need a few addition methods to correctly watch the ViewHolder when it is attached/detached/recycled an so on. In short: you may need a separated adapter ...

[2017-03-29 10:16] dayanithi06 opened #181 "cannot implement custom view no clear documentation"
cannot make custom view for eg: in recycler view holder.textview and here i cannot call like this . in this i can implement video only

[2017-03-30 00:52] eneim commented on #181
@dayanithi06 ViewHolder implementation is a part of original RecyclerView, please refer it else where. You only need to implement ToroPlayer or extend pre-define BaseViewHolder to get support from Toro.

[2017-03-30 00:53] eneim commented on #181
If you want to call field of ViewHolder like ```holder.mTextView``` then you need to have a public field of ```mTextView```, this is normal java constraint and not a part of Toro.

[2017-03-30 00:53] #181 closed

[2017-03-30 01:33] RockyLin opened #182 "UI Bug: Exoplayer in recyclerview leaves black block while scrolling up forward in Android 7.1.1"
Toro:2.1
Device: Nexus 5x, OS: Android 7.1.1, not rooted

Bug description: If you scroll the recyclerview  up forward while exoplayer is playing, chances are great that you may see exoplayer leaves a black block on the top over the status bar. If the exoplayer is not playing, scrolling the recyclerview won't cause such a bug.

Solution:in ExoVideoView.java, use TextureView instead of SurfaceView.

[2017-03-31 11:06] dayanithi06 commented on #181
Thank you @eneim  But if you make a documentation it will be useful

[2017-03-31 12:12] crackTheCode opened #183 "Extended getNextTarget not called, no looping done"
I cannot get video loop work properly, when the video ends it goes to a black screen, I checked the sample end it doesn't loop either

I am using compile "im.ene.toro2:toro-extended:2.2.0"

I run it on OnePlus One API 25 and to emuator api 23 also.

[2017-03-31 12:42] crackTheCode commented on #183
@eneim I imported as a module to do some debugging and I noticed that ExtPlayerViewHelper.onPlayerStateChanged is called when the video ends with playbackState == ExoPlayer.STATE_ENDED and playWhenReady == true so it doesn't enter to if statement block

[2017-04-02 23:44] bingbing720 opened #184 "a Simple bug"
Make sure to provide the following informations and check:

- [ ] Toro dependencies (Eg: ```com.github.eneim:Toro:develop-SNAPSHOT```)

- [ ] Android manifacture | product name | OS Version | rooted or clean (Eg: Sony | Z4 | 5.0 | clean)

- Logcat (if it was a fatal issue)

[2017-04-02 23:49] bingbing720 commented on #184
Good morning.
Thank you for your great code.
I want to tell you one your spelling bug on your document.
I am sorry for my bad english.
![capture](https://cloud.githubusercontent.com/assets/19614418/24592052/ee2ac3f4-1841-11e7-8276-cda002518ca0.PNG)

[2017-04-03 00:20] eneim commented on #184
@bingbing720 Ah, thanks for pointing it out. I'll take a look on it asap.

[2017-04-03 00:21] eneim commented on #183
@crackTheCode I see, thanks for the report. I will take a look on that soon.

[2017-04-05 06:01] RockyLin commented on #182
It seems that only happens in my project. The sample project works fine.

[2017-04-05 06:01] #182 closed

[2017-04-05 12:26] krupalagile opened #185 "Showing black video screen while scrolling."
Showing black screen while scrolling and until playback is not ready. It is also present in the sample. How to avoid showing that? I need to show some image thumb while video is not loaded.
Make sure to provide the following information and check:
- [x] Toro dependencies (Eg: ```com.github.eneim:Toro:develop-SNAPSHOT```)

- [x] Samsung | Galaxy S5 | Android 5.0 | Clean
- Logcat (if it was a fatal

[2017-04-05 12:45] eneim commented on #185
@krupalagile You didn't provide enough info. You can also put an imageview on top of your VideoView, show it while loading and hide it while playing.

[2017-04-05 12:45] #185 closed

[2017-04-05 12:51] HoomanHamzeh opened #186 "Video not started"
Video is not started when there is only 1 item in Adapter.

[2017-04-05 21:23] jpage4500 commented on #183
I also noticed video's aren't looping. I verified this in the sample app - basic sample 3.. after the video finishes it stops and doesn't restart.

When debugging this in my app, getNextTarget() was called and I returned `Target.THIS_PLAYER` but I didn't see anything else in the log (including from Toro)

[code]

[2017-04-05 21:26] jpage4500 commented on #183
I stepped through what's happening and here's what I noticed.

In ExtPlayerViewHelper `manager.startPlayback();` is called:
[code]

Then, in PlayerManagerImpl `player` is null
[code]

[2017-04-05 21:33] jpage4500 commented on #183
could this be the issue?

https://github.com/eneim/Toro/commit/decd7a5594a43f4e265df74c2af62780d20332ac#diff-61ccaf5ee8c292d3f874ee08a2df9d30

[2017-04-06 02:31] eneim commented on #183
Oh, maybe. Let me take a look at it.

[2017-04-06 05:09] krupalagile commented on #185
But how can I get the state of loading and playing?

[2017-04-10 15:21] cubatertech opened #187 "Play streaming video from local storage"
Hi dear.

I want to play much faster videos in recycler view.
An idea come in my mind that a video is stream competed once then next time not again stream play from local storage. How it is possible please give me some tips. Thanks

[2017-04-11 00:46] cubatertech opened #188 "Preload multiple videos"
Hi,

I need to be able to preload/prebuffer mutiple video streams (standard mp4 streams) before playing them so that they will start instantly. I need to be able to that while another Video is playing.
Is this possible? How do I do that?

Thanks a lot for this great library!

[2017-04-12 01:40] eneim commented on #188
@cubatertech This produces performance issue before, so I discourage it. If you really want to do that, you can manually call ```playerView.setMediaSource(mediaSource, false)``` in ViewHolder's bind method.

[2017-04-12 01:46] eneim commented on #183
@jpage4500 @crackTheCode Please try latest 2.2.1-SNAPSHOT to see if this has been fixed. Thanks.

[2017-04-12 08:44] crackTheCode commented on #183
@eneim how to import it?
compile "im.ene.toro2:toro-extended:2.2.1-SNAPSHOT"

doesn't work

[2017-04-12 09:06] eneim commented on #183
@crackTheCode Do you have the snapshot repository in your gradle file?

[2017-04-12 09:08] crackTheCode commented on #183
@eneim no I don't think so. How can I do it which is the repo

[2017-04-12 11:19] eneim commented on #183
@crackTheCode You cannot get the SNAPSHOT or the latest SNAPSHOT doesn't work? :-s

[2017-04-12 13:29] jpage4500 commented on #183
What's the snapshot repo URL? I don't think I have or know what this is - just have jcenter and mavenrepo. Are you using jitpack.io for pre-release builds?

[2017-04-12 13:32] jpage4500 commented on #187
I've been using https://github.com/danikula/AndroidVideoCache and it's worked pretty well

[2017-04-12 13:48] eneim commented on #183
@jpage4500 @crackTheCode Sorry, FYI

[code]

Put this into root build.gradle, inside

[code]

block.

[2017-04-13 16:39] crackTheCode commented on #183
@eneim I did it and I got the SNAPSHOT code but it doesn't work in my project? Your demo works?

[2017-04-14 01:12] eneim commented on #183
@crackTheCode Let me double check.

[2017-04-15 10:46] cubatertech commented on #187
Great Thanks. I use https://github.com/danikula/AndroidVideoCache getting cool results.

[2017-04-17 06:37] langrenfengzi opened #190 "NoClassDefFoundError for AdaptiveVideoTrackSelection$Factory"
When using ExoPlayerView in "im.ene.toro2:toro-extended:2.2.0", get this error:
[code]
And I found this, it was committed  on Mar 16   ╮（╯＿╰）╭
[Rename AdaptiveVideoTrackSelection to AdaptiveTrackSelection](https://github.com/google/ExoPlayer/commit/ce5c0c18f952caa19b863345252fd267804d7e83)

[2017-04-17 08:03] eneim commented on #190
@langrenfengzi Do you have manually add ExoPlayer to your dependencies? In latest one it has changed the name of that class ...

[2017-04-17 08:24] langrenfengzi commented on #190
Yes, I encountered this problem when used the latest exoplayer library r2.3.1.
Use the version  r2.2.0 and below should be ok.

[2017-04-20 07:43] rajanbhavsar001 commented on #183
I also had the same issue.

[2017-04-23 02:23] eneim commented on #190
I'm trying to add the support in next release. Please wait ...

[2017-04-23 04:37] gouravd opened #191 "Code typo"
Line 198 in Toro.java says

if (player.wantsToPlay() && player.wantsToPlay()

is this a mistake using wantsToPlay twice?

[2017-04-28 00:31] supes opened #193 "NPE when unregistering"
In some occasions I'm getting this NPE.

Fatal Exception: java.lang.NullPointerException: Attempt to invoke interface method 'buy bur.g()' on a null object reference
       at im.ene.toro.Toro.unregister(Toro.java:223)
       at my.package.fragment
       at android.support.v4.app.Fragment.performDestroyView(Fragment.java:2418)
       at android.support.v4.app.FragmentManagerImpl.moveToState(Fragm

[2017-04-29 22:18] bperin commented on #186
@HoomanHamzeh I found a workaround manually fire an onScrolled event on the scrollListener
`scrollListener.onScrolled(recyclerView,0,0);`

[2017-05-04 08:52] jyh149129 commented on #114
see the player  fullscreen behaviour https://github.com/lipangit/JieCaoVideoPlayer

[2017-05-04 08:59] jyh149129 opened #194 "like facebook fullscreen behan"
see the player fullscreen behaviour
https://github.com/lipangit/JieCaoVideoPlayer

[2017-05-08 07:01] eneim commented on #194
@jyh149129 thanks for the suggestion. This is not main purpose of Toro but I'm investigating a good way to implement it.

[2017-05-08 07:01] #194 closed

[2017-05-08 07:04] eneim commented on #193
@supes What version are you using? I think it was fixed in latest release (The error was a wrong way to get Manager instance from cache).

[2017-05-08 07:05] eneim commented on #183
I figured out the issue. The player will release on every completion. Will come up with a fix soon.

[2017-05-12 10:35] m7yank commented on #183
Is there any other way we can play video in loop ?

[2017-05-14 21:20] mohamadkhhalaf opened #198 "initialize toro library fail"
I cannot initialize toro library is there any soluation
pelase check attachment

Make sure to provide the following informations and check:

- [ ] Toro dependencies (Eg: ```com.github.eneim:Toro:develop-SNAPSHOT```)
ext {
    toroVersion = '2.2.0'
}
    compile "im.ene.toro2:toro:${toroVersion}"

    compile "im.ene.toro2:toro-extended:${toroVersion}"

    compile "im.ene.toro2:toro-ext-exoplayer2

[2017-05-14 21:25] #198 closed

[2017-05-16 03:07] mradzinski opened #199 "Update methods count badges in README"
Your badges are pretty old. Last method count reported 11319 lines of code just for Toro-core. The real count for the ExoPlayer 2 version (which as per your blog entry is the one you are actively developing) is of 17112 lines and 2383 Kb. All this information might be a show stopper for people who cares about library size and specially methods count given Android methods limit (which Toro will con

[2017-05-18 12:27] #187 closed

[2017-05-18 12:50] eneim commented on #191
Fix in 2.3.0

[2017-05-18 12:50] #191 closed

[2017-05-18 12:51] eneim commented on #193
Fixed in 2.3.0

[2017-05-18 12:51] #193 closed

[2017-05-18 12:52] eneim commented on #190
Fixed in 2.3.0. Note: always use latest ExoPlayer.

[2017-05-18 12:52] #190 closed

[2017-05-18 12:52] eneim commented on #186
Fixed in 2.3.0

[2017-05-18 12:52] #186 closed

[2017-05-18 12:52] eneim commented on #184
Fixed in 2.3.0

[2017-05-18 12:52] #184 closed

[2017-05-18 12:52] eneim commented on #183
@m7yank let see if 2.3.0 helps you. Already on jcenter.

[2017-05-18 12:52] #183 closed

[2017-05-18 12:53] eneim commented on #174
Fixed in 2.3.0

[2017-05-18 12:53] #174 closed

[2017-05-18 12:53] #169 closed

[2017-05-18 12:53] eneim commented on #173
Never happens to me. Reopen this if 2.3.0 doesn't serve you.

[2017-05-18 12:53] #173 closed

[2017-05-18 12:54] eneim commented on #177
Please wait to see if I can do something on Toro v3.

[2017-05-18 12:54] #177 closed

[2017-05-18 12:54] #163 closed

[2017-05-18 13:33] dev-JE02 commented on #177
Gosh thank you very much!

[2017-05-26 19:06] harikautilya opened #204 "detect video finish event"
How do i detect if the playing video has completed and restarted again.

[2017-05-27 12:25] eneim commented on #204
@harikautilya There is ```onCompleted()``` callback in ToroPlayer. I don't know what you mean by "restarted again"?

[2017-05-27 12:39] harikautilya commented on #204
@eneim finally thanks thats all i need

[2017-05-27 16:39] #204 closed

[2017-05-31 10:00] escamoteur commented on #188
I have actually the same need. Do you use more than one playerinstance?

[2017-06-02 02:50] #155 closed

[2017-06-02 02:51] eneim commented on #199
@mradzinski done :D.

[2017-06-02 02:51] #199 closed

[2017-06-02 02:52] eneim commented on #188
@escamoteur What I can say now is I'm re-designing Toro with this use case in mind. It is not easy though, since having multi player at once is not a good practice. So my problem to solve is to have a way to safely setup the preload and fallback for old devices. Any investigation is also welcome :D.

[2017-06-02 05:47] eneim commented on #114
@jyh149129 please checkout latest release code base, in facebook sample (release/v2.3.0 branch)

[2017-06-07 07:37] neenabastin opened #206 "not an issue"
I would like to get a solution,
I would like to insert dailymotion view along with the native player view in recyclerview, my current project have a requirement like this. Can you please help on this?

[2017-06-07 07:38] eneim commented on #206
@neenabastin What is the "dailymotion view"? They have an SDK with their own Player?

[2017-06-07 09:31] neenabastin commented on #206
Yes they have a dailymotion webview component which we can add in xml file and their own sdk also. I would like to inco-operate both together, Since I have to support dailymotion videos and bitgravity videos

[2017-06-11 20:16] harikautilya opened #207 "Hey i have been trying to use the toro for looping my video i faced the following issue"
Make sure to provide the following informations and check:

- [ ] Toro dependencies (Eg: ```com.github.eneim:Toro:develop-SNAPSHOT```)

- [ ] Android manifacture | product name | OS Version | rooted or clean (Eg: Sony | Z4 | 5.0 | clean)

- Logcat (if it was a fatal issue)

[2017-06-11 20:16] harikautilya opened #208 "Hey i have been trying to use the toro for looping my video i faced the following issue"
Make sure to provide the following informations and check:

- [ ] Toro dependencies (Eg: ```com.github.eneim:Toro:develop-SNAPSHOT```)

- [ ] Android manifacture | product name | OS Version | rooted or clean (Eg: Sony | Z4 | 5.0 | clean)

- Logcat (if it was a fatal issue)

[2017-06-11 20:21] harikautilya opened #209 "toro looping issues"
I have been try to loop my video playing in the toro player .
The structure i used is :
viewpager->frag1=>recyclerview loads 20 videos
                ->frag2=>recyclerview loads 20 videos
now the issue is one i was able to loop videos by calling onplaybackcompleted override and add seektoposition(0)
This raised issues like when i move from one fragment to another it doesnt cause a problem if the

[2017-06-11 20:21] #208 closed

[2017-06-11 20:21] #207 closed

[2017-06-12 10:06] harikautilya commented on #209
i found out that u are setting the manager.setplayer(null) on playback completion
but how can I avoid this?

[2017-06-12 14:33] eneim commented on #209
Sorry, Toro currently doesn't play well with ViewPager ... You might want to manually control which RecyclewView / Fragment you want to focus, and disable the rest.

[2017-06-12 14:46] harikautilya commented on #209
no i think fragment system is fine but after completion the player is being set to null only if we can avoid this the fragment system will work fine.
any suggestion on how to do this?

[2017-06-12 14:55] eneim commented on #209
@harikautilya If you are using the exoplayer 2 extension you can simply avoid this by using LoopMediaSource to wrap your original MediaSource. It works well with my library ... (using this will not trigger the complete event until you manually stop the player)

[2017-06-12 14:57] harikautilya commented on #209
@eneim can u show me related file?

[2017-06-12 14:58] harikautilya commented on #209
Currently i am using ExoPlayerViewHolder

[2017-06-12 15:04] harikautilya commented on #209
`return new LoopingMediaSource(ExoPlayerHelper.buildMediaSource(itemView.getContext(),
                Uri.parse(videoThumbUrl),
                new DefaultDataSourceFactory(itemView.getContext(),
                        Util.getUserAgent(itemView.getContext(), "song")),
                itemView.getHandler(), null), 1);
`
this is my get media source

[2017-06-12 15:10] harikautilya commented on #209
got it worked like a charm thanks

[2017-06-12 15:18] eneim commented on #209
@harikautilya good to hear. I will improve this in next major release. But using LoopingMediaSource will be a good solution since I want to use ExoPlayer2 as main playback backend.

[2017-06-12 15:25] harikautilya commented on #209
yes the issue i had is the put the loop count to 1
when i put it Integer.MAX_VALUE - 1 it worked fine

[2017-06-12 16:46] #209 closed

[2017-06-13 23:22] tlind15 opened #210 "release 2.3.0 plays two videos at once"
Hi,

Using the Basic1 code for the Exoplayer2 extension, the app plays two videos at once. I was running into the problem with some other code so I did a test using the exact sample Basic1 code, but the problem still remains.

The only differences that I have from the sample Basic1 code are that I setup the recyclerView in the activity instead of the fragment and that I also had the adapter return

[2017-06-14 00:48] eneim commented on #210
@tlind15 Thanks for the report. Let me take a look. FYI Android Studio has a cool feature to record screen, so you don't need bandicam for this :D.

[2017-06-14 07:19] vigneshr87 commented on #83
Help me! i am getting following error when i import the project in to Android Studio
Gradle 'Toro-dev-v2' project refresh failed
Error:Could not get unknown property 'bintray_user' for object of type com.jfrog.bintray.gradle.BintrayExtension.

[2017-06-14 07:26] eneim commented on #83
Hi @vigneshr87 what do you want to do? Just use the library or you want to contribute by modifying the code too?

[2017-06-14 07:36] vigneshr87 commented on #83
i just want to use the library

[2017-06-14 07:37] eneim commented on #83
@vigneshr87 if so, please see here (change the latest version to 2.3.0) for your setup.

https://github.com/eneim/Toro/tree/release/v2.3.0#3-how-to-use

[2017-06-14 07:40] vigneshr87 commented on #83
Thanks for your help...

[2017-06-14 07:50] #83 closed

[2017-06-14 09:26] vigneshr87 commented on #168
Hi how could i disable auto play video in recycler view

[2017-06-14 09:50] RockyLin commented on #168
@vigneshr87
You should look into ExoPlayerView.java, OnScrollListenerImpl.java and Toro.java

I did some modifications myself to achieve what I want, but my code is not elegant.

Thanks for this great lib @eneim 👍

[2017-06-14 19:30] tlind15 commented on #210
Thanks! Also thanks for the FYI!

[2017-06-16 10:34] vigneshr87 opened #211 "Video view lagging when scrolled up to ten or more video. I am Using Toro player in a RecyclerViewPager that extends recyclerview (ie single video view will be visible at a time ).The problem is after scrolling to more than 5 to 6 views the frame rate decreases and UI Hangs up. Kindly suggest me best way to implement video view as RecyclerViewpager such that it doesnt affect performance. I also try to play video on click but after trying what i could able to achieve is pause player on onPlaybackStarted() method and play it on video click. Kindly suggest possible solution."
Make sure to provide the following informations and check:

- [ ] Toro dependencies (Eg: ```com.github.eneim:Toro:develop-SNAPSHOT```)

- [ ] Android manifacture | product name | OS Version | rooted or clean (Eg: Sony | Z4 | 5.0 | clean)

- Logcat (if it was a fatal issue)

[2017-06-16 11:30] eneim commented on #211
Hi @vigneshr87 , can you put your title into the content and also clarify which Toro version and Android version and device you are using? Thanks.

[2017-06-18 12:09] neenabastin opened #212 "how to add play/pause/scroll view to a single player"
Make sure to provide the following informations and check:

- [ ] Toro dependencies (Eg: ```com.github.eneim:Toro:develop-SNAPSHOT```)

- [ ] Android manifacture | product name | OS Version | rooted or clean (Eg: Sony | Z4 | 5.0 | clean)

- Logcat (if it was a fatal issue)

[2017-06-18 12:27] eneim commented on #212
@neenabastin Please follow your format and bring your clear purpose. If it doesn't relate to Toro, please prefer StackOverflow for your question. Thanks.

[2017-06-18 12:44] neenabastin commented on #212
I need player controls to each video in the list so that user can track where he reached and can pause while playing

[2017-06-18 12:56] eneim commented on #211
Can you try latest version of Toro (2.3.0)? There are many updates there.

[2017-06-18 12:59] eneim commented on #212
If you use ExoPlayerView there is an xml attribution that exactly the same with SampleExoPlayerView. Or you can call playerView.setUseController() or something. Please refer to SimpleExoPlayerView doc for this. (sorry I'm on mobile at the moment).

[2017-06-24 14:27] rishabhcha opened #214 "Is there a way to know how many time video looped?"
Hello, my requirement is to count how many time video is viewed. As l'm looping video, so the function : **`onPlaybackCompleted()`** is never called. So, is there any way to know how many times video is watched by user, or can i get that user has watched the complete video at least once?
Any clue or help please. Thank you.

[2017-06-24 14:37] eneim commented on #214
@rishabhcha Hoping that you are using LoopingMediaSource, there is a callback for the loop count. Please refer to this document: https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/LoopingMediaSource.html

[2017-06-25 12:53] rishabhcha commented on #214
Okay got the solution, thank you very much!!

[2017-06-25 12:53] #214 closed

[2017-06-28 06:41] aakashy85 opened #216 "how to add pinch to zoom like insatgram"
I am using Toro videoview in multi list recycle view. we are done to zooming feature on imageview but not toro videoview.
i am trying  https://github.com/imablanco/Zoomy  to zoom image and text..

[2017-06-28 12:09] eneim commented on #216
please tell me more about toro version you are using, and what happen with using that Zoomy? it supports any view I suppose

[2017-06-28 22:31] davisoqt opened #217 "im.ene.toro3 android native code"
Could you publish an example of version 3.0.0 alpha1 using native android code and not kotlin? I would like to test the functionality of playback several videos in a GridLayoutManger. Thanks..

[2017-06-29 01:04] eneim commented on #217
Hi @davisoqt , I have put a few code in the App module, for example this [SimpleExoPlayerViewHolder.java](/app/src/main/java/im/ene/toro/sample/common/SimpleExoPlayerViewHolder.java). Can you take a look.

[2017-06-29 06:14] EzeroVivanco commented on #210
Hi, any update about this? I'm facing the same bug.

[2017-06-29 07:07] eneim commented on #210
@tlind15 @EzeroVivanco Can you try 3.0.0-alpha1? I made a huge internal change that ignore the state callback from ExoPlayer. So now It will guarantee the number of players --> will fix this. The migration is huge, but the new version requires less work, so I hope you understand this and try 3.0.0 at the moment.

[2017-06-29 07:08] eneim commented on #210
The **app** module is where all the sample code stays, and at the alpha state, I'm willing to answer any question about migration. So please try it. I may lack time for the careful documentation, but feel free to ask.

[2017-06-29 09:02] davisoqt commented on #217
Is there any way to playback 2 videos that are within the same viewholder? Thanks..

[2017-06-29 10:39] eneim commented on #217
I'm affraid it is not possible by now. You may want to have 2 ViewHolders for that, or you wrap them by a ViewGroup and then "tell lie" to the Container that it is your player view, and have a special setup for your Videos. I cannot provide a certain solution but please try it.

[2017-06-29 11:21] smithc42 opened #219 "NullPointerException when fast scroll videos"
I've implemented ToroPlayer in my ViewHolder (direct copy/paste from [here](https://github.com/eneim/toro/blob/dev-v3/app/src/main/java/im/ene/toro/sample/common/SimpleExoPlayerViewHolder.java)) and videos play/pause correctly when I scroll normally/slowly. I'm having an issue when I scroll fast (fling) through the recyclerview, I get a null pointer and the app crashes. Below is the stack trace:
[

[2017-06-29 12:58] eneim commented on #219
@smithc42 thanks a lot. I really don't expect this, because from your log I could see the NPE occurs for the playerView which should be created from a ViewHolder's constructor. So this can be a bug of system as well ... let me try to reproduce this. It can easily be "fixed" by a null check at allowsToPlay method, but it doesn't make sense though :D.

[2017-06-29 14:36] smithc42 commented on #219
@eneim No problem. Yeah, a null check is just hiding the issue. I'll try to reproduce in the demo app!

[2017-06-30 05:26] Sandeeppal1083 opened #220 "Error:Could not get unknown property 'bintray_user' for object of type com.novoda.gradle.release.PublishExtension"
When i am trying to build this project I am getting following error , Please help me in this:
Error:Could not get unknown property 'bintray_user' for object of type com.novoda.gradle.release.PublishExtension.

[2017-06-30 05:47] #220 closed

[2017-06-30 14:34] Sandeeppal1083 opened #221 "[Excluded] MainActivity leaked, i am getting this error"
I have downloaded this project but when i am trying to run it then it produces a different apk(Leak) apart from ToroPlayer, can you please help me what is this . is there any way to get rid of this one.

[2017-06-30 14:52] eneim commented on #221
@Sandeeppal1083 please follow issue template. Also include the leak message so that I can know the root cause.

[2017-07-01 13:40] #221 closed

[2017-07-02 10:01] toidv commented on #138
Any update on this issue please, I got the same problem when using with Viewpager, if the video lists are not the first screen it doesn't play automatically. (I'm using version 3.0.0-alpha2)

[2017-07-02 10:36] toidv commented on #138
For now I workaround by this way
[code]

[2017-07-02 13:10] eneim commented on #138
@toidv having notify data set changes all the time is bad. I have push some code to dev-v3 branch, it comes with example for ViewPager as well (hint: the default UI is a ViewPager). I also use setUserVisibleHint, but that method can be called even before onAttach, so it requires a bit tune up to be able to use in production. Please take a look and give feedback.

dev-v3 also has some changes in th

[2017-07-02 23:33] #135 closed

[2017-07-03 11:11] davisoqt opened #224 "Loop Video in toro v3"
How can I make the video play again once it is finished? Is available some function like
@Override
public Target getNextTarget () {
     Return Target.THIS_PLAYER;
   }
  Available in version 2.3.0? I'm using SimpleExoPlayerViewHolder.java

[2017-07-03 11:41] eneim commented on #224
@davisoqt v3 will closely tight to ExoPlayer 2, you can use its official LoopingMediaSource for loop playback.

[2017-07-05 02:51] #224 closed

[2017-07-05 02:51] eneim commented on #217
@davisoqt latest doc is using Java instead of Kotlin.

[2017-07-05 02:51] #217 closed

[2017-07-05 02:51] #216 closed

[2017-07-05 07:03] devtechvalens opened #225 "Enable/Disable Auto Play | Recycler view"
**Hey,

Great work!!!**

I am looking to disable the auto play feature, i have seen your posts for **Disable/Enable Auto play** feature but didn't get quite enough to achieve that.

I am using `Recycler View `to playing videos inside a list.

Please suggest  me like how can i do that.

Looking forward to hear from you.

**_NOTE - I am using `Recycler View` NOT USING Your `container`._**

**Thanks

[2017-07-06 04:23] eneim commented on #225
@devtechvalens I guess you are using Toro v2.x? Please give me more information following the ISSUE TEMPLATE so I can give you proper answer.

[2017-07-09 13:22] DroidVent opened #233 "Error: Could not get unknown property 'bintray_user' for object of type com.novoda.gradle.release.PublishExtension."
When i imported project it gives following error:
Error:Could not get unknown property 'bintray_user' for object of type com.novoda.gradle.release.PublishExtension.

[2017-07-09 14:34] eneim commented on #233
@DroidVent please make sure after you cloned the project, you rename "gradle.properties-sample" to "gradle.properties". See the "contribution" section in readme for more information.

[2017-07-11 10:26] DroidVent commented on #233
@eneim I renamed the file as you told but now error is changed as follows:

[2017-07-11 10:44] eneim commented on #233
@DroidVent sorry that means you should dev it on Android Studio 3 (currently I'm using 3 alpha 6 to have support for Android O). If you want to contribute there is no other way, so sorry.

[2017-07-11 10:45] eneim commented on #233
@DroidVent Or other wise: manually change the gradle plugin to 2.3.3 and try again ...

[2017-07-14 21:19] bperin commented on #233
you can set

`bintrayUser = ""
  bintrayKey = ""`

as a workaround

[2017-07-17 15:42] harikautilya opened #234 "Toro goes Blank Screen After Fragment Shifting"
I Have the system of my app as follows
Fragment A ->FragmentA1(Toro players in recycler view),FragmentA2(Toro players in recycler view)
Fragment B-> Information Page
Fragment C -> information Study

ViewPager on activity which has Fragement A,B,C
ViewPager on Fragment A which has A1,A2

I am currently getting two issues
The issue 1 is when i start the app both the fragments A1,A2 starts playing.
T

[2017-07-18 02:24] eneim commented on #234
@harikautilya Can you give Toro 3 a try? If you are at the starting point of your implementation. The Toro v2 could not smoothly support ViewPager as I mentioned in the release note of 2.3.0, so sorry for that.

[2017-07-18 07:52] harikautilya commented on #234
I have completed finished my app the only thing left out is this issue. Migrating it will cause me to change the entire system. Is there any work around please let me in the mean while i am going through the new version of toro. Thank you for your patience

[2017-07-20 08:06] eneim commented on #234
@harikautilya So sorry to hear that. I have tried to make it supports ViewPager well in 2.x but it turns out that current design is pretty tricky, which makes me to decide to have a rewrite for toro. At the moment, what I can think of is to register/unregister the RecyclerView those are on ViewPager (so: if your ViewPager contains FragmentA(RecyclerViewA), FragmentB(RecyclerViewB), FragmentC(Recyc

[2017-07-20 08:11] harikautilya commented on #234
@eneim  yes i have proceeded like that for the scene But the issue is all the fragments starts playing coz before the register could happen the un-register is called as per activity life-cycle of the android fragment.
So i decided to wait for a stable version of the toro that supports a view pager.

In mean while maybe i will experiment a little with a custom code using toro as basic import classe

[2017-07-20 08:14] eneim commented on #234
@harikautilya thank you. at the mean time you can checkout latest code of v3. the demo App has a beautiful (from my point of view) demonstration of using ViewPager. there still some tricky steps when using setUserVisibility, but so far so good it looks way better. please take a look if it helps. I'm just waiting for Android team to release their last preview before official launch to push my 3.0.0

[2017-07-20 08:16] harikautilya commented on #234
@eneim
Sure i will definetly have a look

[2017-07-20 08:23] harikautilya commented on #212
@neenabastin
I am sure whether u specially want this or not. I will go head and explain what i have done. There are 2

1. https://medium.com/google-exoplayer/customizing-exoplayers-ui-components-728cf55ee07a
2. Other is define a Custom listerner to ur holder as the viewholder extends ExoPlayerViewHolder u can do something like this

[code]

[2017-07-20 08:27] harikautilya commented on #225
One work-around is calling the viewholder.pause() funtion in on playBackStarted

[2017-07-24 04:34] #233 closed

[2017-07-25 09:08] toidv opened #235 "Video do not auto play inside Viewpager with getChildFragmentManager()"
I'm using toroVersion = '3.0.0-beta1' with Android Studio 3.0 Canary 8. But the first fragment inside viewpager doesn't play automatically

1. im.ene.toro.widget.Container inside Viewpager with childFragmentManger
[code]
2.  Setup each fragment item like this
[code]

Handle in `setUserVisibleHint`
[code]

The first screen video doesn't auto play.

Please help to investigate. Thank you!

[2017-07-25 14:38] JaydeepRathod opened #236 "Source error."
Unexpected exception loading stream
                                                         java.lang.IllegalStateException
                                                             at com.google.android.exoplayer2.util.Assertions.checkState(Assertions.java:79)
                                                             at com.google.android.exoplayer2.extractor.mp4.AtomParsers.parseStbl(Atom

[2017-07-26 01:20] eneim commented on #236
@JaydeepRathod This happens to be an error from your Video, please double check it, make sure it works with ExoPlayer demo app or MediaPlayer API first.

[2017-07-26 01:20] #236 closed

[2017-07-26 01:21] eneim commented on #235
@toidv thanks. Can you show me a snapshot of how your "VideoCategory" looks like. Let me take a look overall first.

[2017-07-26 03:23] toidv commented on #235
It is snapshot of `VideoCategory` @eneim
[code]

[2017-07-26 03:30] toidv commented on #235
Currently, The problem happened due to parent fragment did not dispatch `setUserVisibleHint` to child fragment in case of nested fragment inside `Viewpager` with `getChildFragmentManager`
My solution is
1. `setUserVisibleHint(false` on onCreate of fragment (default it is true)
[code]
2. Create a method to dispatch `setUserVisibleHint` in ViewPagerAdapter
[code]
3. Dispatch setVisibleHint to child

[2017-07-26 04:09] eneim commented on #235
@toidv this is interesting. My example uses the ViewPager directly in Activity. Let me investigate more on this behaviour. But it sounds great you have found a working solution.

[2017-07-26 06:04] eneim commented on #235
@toidv I create a sample project and can see that it is calling setUserVisibleHint. I wonder how you can reproduce your issue ...

[2017-07-26 06:52] toidv commented on #235
In my application, I have a menu (Tablayout) and each menu item has a sub menu by itself @eneim. For example
|NEW|-|Video|-|Board|
 		||
|NEW|-|HOT|-|FITNESS|-|HAIR MAKE|

[2017-07-26 07:00] eneim commented on #235
@toidv I see, so a big ViewPager whose each Page (which is a Fragment) is having another ViewPager right?

[2017-07-26 07:33] toidv commented on #235
Yes, it is @eneim

[2017-07-27 07:51] eneim commented on #235
@toidv I can reproduce your issue now. While I agree with your workaround, I have one comment: since ```setUserVisibleHint``` call doesn't follow the lifecycle, you should also check the case your Adapter is null and then update its when you create your Adapter. In detail: at launch, your ViewPager's second Fragment (call it Fragment1) will have userVisibility as ```false```, while its own ViewPag

[2017-07-29 06:15] m7yank opened #238 "I noticed that when I fling to the top or the bottom of the recycler the video that is visible prepares but doesn't start playback."

[2017-07-29 08:47] eneim commented on #238
Hi, can you give more information? Which version you used, how your code looks like? Android version, Device type, Video source, etc.

[2017-07-29 11:10] m7yank commented on #238
I mean when Video is partially visible on the screen, it is in preparing state (It show me in Log), But not played.
untill it fully visible after scrolled.

[2017-07-29 12:01] toidv opened #239 "Play youtube video"
Is it possible to play the video from youtube URL? For example `https://www.youtube.com/watch?v=XRVIk3josHI&feature=youtu.be`. I'm checking Youtube Player API but it seems we can't have multiple players in recycledview. It would be great if toro could support this feature?

[2017-07-29 14:21] eneim commented on #238
Any idea when it finish preparing? If you video cannot be prepared I can't help. Also please tell me which toro version you are using.

[2017-07-29 14:21] #238 closed

[2017-07-29 14:24] eneim commented on #239
I can give a suggestion on how to implement, but cannot provide first party support. The idea is to use the player API's fragment and attach/detach it dynamically.

[2017-07-30 13:42] toidv commented on #239
Currently, I using YouTubeThumbnailView to load the thumbnail to display as the place holder, each time user clicks on the thumbnail, we use a fragment/activity to display player. What do you mean about use player API's fragment attach/detach dynamically? Is it same with my approach?

[2017-08-01 04:10] eneim commented on #239
@toidv to make it able to play Youtube Video in list, you need to use its Fragment instead of ThumbnailView from what I have tried ... I will make an example to demonstrate *how I did it* in few days (sorry pretty busy at the moment).

[2017-08-01 06:53] toidv commented on #239
Thank you, waiting for the exciting thing

[2017-08-02 00:24] eneim commented on #239
@toidv I pushed a new module to dev-v3 branch. Take a look at **app-youtube** module (it must be in separated module to prevent 65K method issues in main sample and reduce build time, also I'm not officially support Youtube so this is for your information only). Make sure to provide your own youtube_apikey (see gradle.properties-sample for a reference, rename it to ``gradle.properties`` and put yo